<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row align-items-center">
      <!-- Back Button Column -->
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <button type="button" class="backbtn" (click)="BackOrder()">
          <img src="/assets/icons/arrow-button.png" alt="Back" class="backbtnimg" />
        </button>
      </div>

      <!-- Title Column -->
      <div class="col-10 col-md-11">
        <span class="detail_title text-truncate d-block">
          {{ DetailsFormTitle }}
        </span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
    </ng-template>
    <!-- If file not selected -->
    <ng-template #NoFile> No file selected </ng-template>

    <!-- Fallback: If file is missing entirely -->
    <ng-template #defaultImage>
      <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
    </ng-template>

    <!-- Fallback: If file is not an image (e.g., PDF/DOC) -->
    <ng-template #defaultDocImage>
      <img src="/assets/icons/doc-placeholder.png" alt="Document File" class="file-preview" />
    </ng-template>

    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-3">
          <label>Date</label>
          <input type="date" name="OrderDate" class="form-control date-input" id="OrderDate" [(ngModel)]="OrderDate"
            placeholder="Select Date" [min]="CurrentDate" #OrderDateCtrl="ngModel" required
            (blur)="OrderDateCtrl.control.markAsTouched()" />
          <div *ngIf="
              OrderDateCtrl.invalid &&
              (OrderDateCtrl.touched || OrderDateCtrl.dirty)">
            <span class="validation-text" *ngIf="OrderDateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <label><b>Site Name</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef">
            <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-3">
          <label>Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="LedgerRef" name="LedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.LedgerRef"
            (ngModelChange)="getSubLedgerListByLedgerRef(Entity.p.LedgerRef)">
            <nz-option *ngFor="let ledger of LedgerList" [nzValue]="ledger.p.Ref" [nzLabel]="ledger.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-3">
          <label>Sub Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SubLedgerRef" name="SubLedgerRef" [nzSize]="'large'"
            [(ngModel)]="Entity.p.SubLedgerRef">
            <nz-option *ngFor="let sub of SubLedgerList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <div>
              <label>Description</label>
              <input type="text" [(ngModel)]="Entity.p.Description" name="Description" class="form-control"
                id="Description" required placeholder="Enter Description" />
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label>Reason</label>
              <input type="text" [(ngModel)]="Entity.p.Reason" name="Reason" class="form-control" id="Reason" required
                placeholder="Enter Reason" />
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label>Narration</label>
              <input type="text" [(ngModel)]="Entity.p.Narration" name="Narration" class="form-control" id="Narration"
                required placeholder="Enter Narration" />
            </div>
          </div>
          <div class="col-md-4">
            <label><b>Vendor Name</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="VendorRef" name="VendorRef" [nzSize]="'large'" [(ngModel)]="Entity.p.VendorRef"
              (ngModelChange)="onVendorSelection(Entity.p.VendorRef)">
              <nz-option *ngFor="let Vendor of VendorList" [nzValue]="Vendor.p.Ref"
                [nzLabel]="Vendor.p.Name"></nz-option>
            </nz-select>
          </div>
          <div class="col-md-4">
            <label>Vendor Trade Name</label>
            <input type="text" name="VendorTradeName" class="form-control date-input" id="VendorTradeName"
              [(ngModel)]="Entity.p.VendorTradeName" placeholder="Trade Name" disabled />
          </div>
          <div class="col-md-4">
            <label>Address</label>
            <input type="text" name="AddressLine1" class="form-control date-input" id="AddressLine1"
              [(ngModel)]="Entity.p.AddressLine1" placeholder="Address" disabled />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <label>Invoice</label>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-between">
          <!-- Upload icon triggers file input -->
          <img src="/assets/icons/upload.png" alt="Invoice" title="Upload Invoice" class="Upload-Icon"
            (click)="triggerFileInput()" />

          <ng-container *ngIf="selectedFileName; else NoFile">
            <span style="cursor: pointer" (click)="fileNavigation(Entity.p.MaterialPurchaseInvoicePath)">
              {{ selectedFileName }}
            </span>
          </ng-container>

          <!-- Hidden File Input -->
          <input type="file" #fileInput accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
            (change)="onFileUpload($event)" />

          <!-- Invoice File Display -->
          <ng-container *ngIf="Entity.p.MaterialPurchaseInvoicePath; else AddDocImage">
            <img [src]="
                isImageFile(Entity.p.MaterialPurchaseInvoicePath)
                  ? imagePostView
                  : '/assets/icons/doc-placeholder.png'" alt="Invoice" title="Invoice"
              (click)="fileNavigation(Entity.p.MaterialPurchaseInvoicePath)" [class]="
                isImageFile(Entity.p.MaterialPurchaseInvoicePath)
                  ? 'img-preview'
                  : 'file-preview'" />
          </ng-container>

          <ng-template #AddDocImage>
            <ng-container *ngIf="imagePreView; else defaultImage">
              <img [src]="
                  isImageFile(selectedFileName)
                    ? imagePreView
                    : '/assets/icons/doc-placeholder.png'" alt="Invoice" title="Invoice"
                (click)="fileNavigation(this.Entity.p.MaterialPurchaseInvoicePath)" [class]="
                  isImageFile(selectedFileName) ? 'img-preview' : 'file-preview'" />
            </ng-container>
          </ng-template>
        </div>
      </div>
      <div class="row" style="margin-top: 2rem">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 d-flex align-items-end">
          <h5 style="color: black; align-self: self-end">
            <b>Order Material List</b>
          </h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container"
          style="display: flex; justify-content: end" routerLinkActive="active">
          <nz-button nz-button class="btn1" (click)="openModal('OrderMaterial')">Add Material</nz-button>
        </div>
      </div>

      <div class="table-wrapper tblcard_light"
        *ngIf="Entity.p.MaterialPurchaseOrderDetailsArray.length > 0">
        <div class="table-container">
          <!-- <div class="row">
            <div class="col-12">
              <h3 class="TableHeading">Order Material Details</h3>
            </div>
          </div> -->
          <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{ x: 'auto' }"
            nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.MaterialPurchaseOrderDetailsArray">
            <thead>
              <tr>
                <th *ngFor="let header of OrderMaterialheaders" class="tblheader">
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let material of Entity.p.MaterialPurchaseOrderDetailsArray;
                  let i = index">
                <td Class="tbldata">{{ i + 1 }}</td>
                <td Class="tbldata">{{ material.MaterialName }}</td>
                <td Class="tbldata">{{ material.UnitName }}</td>
                <td Class="tbldata">{{ material.RequisitionQty }}</td>
                <td Class="tbldata">{{ material.OrderedQty }}</td>
                <td Class="tbldata">
                  {{ material.RequisitionRemainingQty }}
                </td>
                <td Class="tbldata">{{ material.Rate | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.DiscountedRate | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.Gst }}</td>
                <td Class="tbldata">{{ material.DeliveryCharges | currency : "INR"}}</td>
                <td Class="tbldata">
                  {{
                  material.ExpectedDeliveryDate
                  ? formatDate(material.ExpectedDeliveryDate)
                  : "--"
                  }}
                </td>
                <td Class="tbldata">{{ material.DiscountOnNetAmount | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.NetAmount | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.TotalAmount | currency : "INR"}}</td>
                <td class="tbldata action-column">
                  <span *ngIf="material.MaterialPurchaseDetailStatus != MaterialOrderStatus.Ordered"
                    style="margin-left: 9px" (click)="editOrderMaterial(i)" class="action-btn edit">
                    <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
                  </span>
                  <span *ngIf="material.MaterialPurchaseDetailStatus != MaterialOrderStatus.Ordered"
                    style="margin-left: 9px" (click)="removeOrderMaterial(i)" class="action-btn delete">
                    <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" />
                  </span>
                  <span style="margin-left: 9px;"
                    *ngIf="material.MaterialPurchaseDetailStatus == MaterialOrderStatus.Ordered" class="action-btn edit">
                    <img src="/assets/icons/GrayEditIcon.png" alt="Edit" title="Disable Edit" width="20px"
                      height="20px" />
                  </span>
                  <span style="margin-left: 9px;"
                    *ngIf="material.MaterialPurchaseDetailStatus == MaterialOrderStatus.Ordered" class="action-btn delete">
                    <img src="/assets/icons/GreyDustbin.png" alt="Delete" title="Disable Delete" width="20px"
                      height="20px" />
                  </span>
                </td>
              </tr>
              <tr>
                <td class="tbldata" colspan="2"><b>Grand Total</b></td>
                <td class="tbldata" colspan="10"></td>
                <td class="tbldata">
                  <b>{{ getGrandTotal() | currency: 'INR'}}</b>
                </td>
                <td class="tbldata"><b></b></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div *ngIf="Entity.p.MaterialPurchaseOrderDetailsArray.length === 0" class="card-body_light">
        <div style="height: 20vh; background-color: white" class="d-flex align-items-center justify-content-center">
          <span class="title_light"> Data Not Found</span>
        </div>
      </div>
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;">
        <div>
          <button type="submit" class="btn" (click)="SaveOrder()" [disabled]="isSaveDisabled">Save</button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="BackOrder()">
            Cancel
          </nz-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isOrderMaterialModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5><b>{{ ModalEditable ? 'Edit Material' : 'Add Material'}}</b></h5>

      <button type="button" class="btn-close" (click)="closeModal('OrderMaterial')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row" style="margin-top: 1rem;">
          <div class="col-md-4 col-6 mb-1">
            <label for="MaterialRef"><b>Material</b></label>
            <nz-select *ngIf="!ModalEditable" class="nzSelect-light" nzShowSearch nzAllowClear
              [nzNotFoundContent]="noDataTpl" nzPlaceHolder="Select" [nzSize]="'large'" name="MaterialRef" required
              id="MaterialRef" [(ngModel)]="newOrderMaterial.MaterialRef" (ngModelChange)="
                onMaterialSelection(newOrderMaterial.MaterialRef)">
              <nz-option *ngFor="let material of MaterialRequisitionList" [nzLabel]="material.p.MaterialName"
                [nzValue]="material.p.MaterialRef"></nz-option>
            </nz-select>
            <input *ngIf="ModalEditable" type="text" name="MaterialName" class="form-control"
              [(ngModel)]="newOrderMaterial.MaterialName" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Unit</label>
            <input type="text" name="Unit" class="form-control" [(ngModel)]="newOrderMaterial.UnitName" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Requisition Quantity</label>
            <input type="text" appCommaFormat name="RequisitionQty" class="form-control"
              [(ngModel)]="newOrderMaterial.RequisitionQty" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Total Ordered Quantity</label>
            <input type="text" appCommaFormat name="TotalOrderedQty" class="form-control"
              [(ngModel)]="newOrderMaterial.TotalOrderedQty" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Ordered Quantity</label>
            <input type="text" appCommaFormat name="OrderedQty" class="form-control"
              [(ngModel)]="newOrderMaterial.OrderedQty" #OrderedQtyCtrl="ngModel" required
              (blur)="OrderedQtyCtrl.control.markAsTouched()" placeholder="Enter Ordered Quantity"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateNetAmountAndTotalAmount()" />
            <div *ngIf="
                OrderedQtyCtrl.invalid &&
                (OrderedQtyCtrl.touched || OrderedQtyCtrl.dirty)">
              <span class="validation-text" *ngIf="OrderedQtyCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Req. Remaining Quantity</label>
            <input type="text" appCommaFormat name="QuotationRemainingQty" class="form-control"
              [(ngModel)]="newOrderMaterial.RequisitionRemainingQty" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Extra Ordered Quantity</label>
            <input type="text" appCommaFormat name="ExtraOrderedQty" class="form-control"
              [(ngModel)]="newOrderMaterial.ExtraOrderedQty" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Rate</label>
            <input type="text" appCommaFormat name="Rate" class="form-control" [(ngModel)]="newOrderMaterial.Rate"
              #RateCtrl="ngModel" required (blur)="RateCtrl.control.markAsTouched()" placeholder="Enter Rate"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateNetAmountAndTotalAmount()" />
            <div *ngIf="RateCtrl.invalid && (RateCtrl.touched || RateCtrl.dirty)">
              <span class="validation-text" *ngIf="RateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Discount Rate</label>
            <input type="text" appCommaFormat name="DiscountedRate" class="form-control"
              [(ngModel)]="newOrderMaterial.DiscountedRate" (ngModelChange)="CalculateNetAmountAndTotalAmount()"
              #DiscountedRateCtrl="ngModel" required (blur)="DiscountedRateCtrl.control.markAsTouched()"
              placeholder="Enter Discount Rate" (click)="selectAllValue($event)" />
            <div *ngIf="
                DiscountedRateCtrl.invalid &&
                (DiscountedRateCtrl.touched || DiscountedRateCtrl.dirty)">
            </div>
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Net Discount</label>
            <input type="text" appCommaFormat name="DiscountOnNetAmount" class="form-control"
              [(ngModel)]="newOrderMaterial.DiscountOnNetAmount" placeholder="Enter Delivery Charges"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateNetAmountAndTotalAmount()" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Net Amount</label>
            <input type="text" appCommaFormat name="NetAmount" class="form-control"
              [(ngModel)]="newOrderMaterial.NetAmount" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <div>
              <label for="Gst"><b>GST</b></label>
              <nz-select class="nzSelect-light" nzShowSearch nzAllowClear [nzNotFoundContent]="noDataTpl"
                nzPlaceHolder="Select" [nzSize]="'large'" name="Gst" required id="Gst"
                [(ngModel)]="newOrderMaterial.Gst" (ngModelChange)="CalculateNetAmountAndTotalAmount()">
                <nz-option nzLabel="None" [nzValue]="0"></nz-option>
                <nz-option nzLabel="5%" [nzValue]="5"></nz-option>
                <nz-option nzLabel="9%" [nzValue]="9"></nz-option>
                <nz-option nzLabel="18%" [nzValue]="18"></nz-option>
                <nz-option nzLabel="27%" [nzValue]="27"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Delivery Charges</label>
            <input type="text" appCommaFormat name="DeliveryCharges" class="form-control"
              [(ngModel)]="newOrderMaterial.DeliveryCharges" placeholder="Enter Delivery Charges"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateNetAmountAndTotalAmount()" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Expected Delivery Date</label>
            <input type="date" name="ExpectedDeliveryDate" class="form-control" [(ngModel)]="ExpectedDeliveryDate"
              placeholder="Enter Date" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Total Amount</label>
            <input type="text" appCommaFormat name="TotalAmount" class="form-control"
              [(ngModel)]="newOrderMaterial.TotalAmount" disabled />
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 1rem;">
        <div>
          <button type="submit" class="btn" (click)="addOrderMaterial()" [disabled]="isSaveDisabled">Save</button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('OrderMaterial')">
            Cancel
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>
