<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackEmployeeOverTime()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off" #OvertimeForm="ngForm">
      <div class="row">
        <div class="col-md-6" style="margin-top: 1rem; ">
          <div>
            <label for="Date">Date</label>
            <input type="date" name="Date" required class="form-control" id="Date" [(ngModel)]="Date"
              placeholder="Enter From Time " #DateCtrl="ngModel" required (blur)="DateCtrl.control.markAsTouched()" />
            <div *ngIf="(DateCtrl.invalid && (DateCtrl.touched || DateCtrl.dirty))">
              <span class="validation-text" *ngIf="DateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 1rem; ">
          <div>
            <label for="EmployeeRef">Employee Name</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" [nzSize]="'large'" name="EmployeeRef" required id="EmployeeRef"
              [(ngModel)]="Entity.p.EmployeeRef">
              <nz-option *ngFor="let employee of EmployeeList" [nzLabel]="employee.p.Name"
                [nzValue]="employee.p.Ref"></nz-option>
            </nz-select>
          </div>
        </div>

        <div class="col-6">
          <label>From Time</label>
          <input type="time" [(ngModel)]="Entity.p.FromTime" (ngModelChange)="calculateOvertimeHours()" name="FromTime"
            class="form-control" id="FromTime" />
        </div>
        <div class="col-6">
          <label>To Time</label>
          <input type="time" [(ngModel)]="Entity.p.ToTime" (ngModelChange)="calculateOvertimeHours()" name="ToTime"
            class="form-control" id="ToTime" />
        </div>
        <div class="col-6 mb-1">
          <label>Total Over Time Hrs</label>
          <input type="text" name="WorkingHrs" readonly class="form-control" [(ngModel)]="Entity.p.DisplayOverTime" />
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveEmployeeOvertime()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackEmployeeOverTime()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
