.tbldata .ant-checkbox-checked .ant-checkbox-inner {
    background-color: blue !important; 
    border-color: blue !important;
  }

  .tbldata .ant-checkbox-inner {
    border-color: black; 
  }

  .custom-btn {
    padding: 4px 10px;
    width: 40%;
}

  