<div>
  <div class="row">
   <div class="col-4 mb-2">
      <h1 style="padding-top: 3px" class="title title_light">
        User Role Right
      </h1>
    </div>
    <div class="card-body" style="margin-left: 14px; margin-right: 14px;">
      <form autocomplete="off">
        <div class="row">
          <div class="col-md-4">
            <label for="DepartmentRef"><b>Select Department</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzPlaceHolder="Select Department" id="DepartmentRef"
              name="DepartmentRef" [nzSize]="'large'" [(ngModel)]="Entity.p.DepartmentRef" (ngModelChange)="
                getDesignationByDepartmentRefList(Entity.p.DepartmentRef)
              ">
              <nz-option *ngFor="let department of DepartmentList" [nzValue]="department.p.Ref"
                [nzLabel]="department.p.Name"></nz-option>
            </nz-select>
          </div>
          <div class="col-md-4">
            <label for="DesignationRef"><b>Select Designation</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzPlaceHolder="Select Designation" id="DesignationRef"
              name="DesignationRef" [nzSize]="'large'" [(ngModel)]="Entity.p.DesignationRef" (ngModelChange)="
                getUserRoleRights(
                  Entity.p.DepartmentRef,
                  Entity.p.DesignationRef
                )
              ">
              <nz-option *ngFor="let Designation of DesignationList" [nzValue]="Designation.p.Ref"
                [nzLabel]="Designation.p.Name"></nz-option>
            </nz-select>
          </div>
          <div class="col-md-4">
            <label for="FeatureGroupRef"><b>Select Feature Group</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzPlaceHolder="Select" id="FeatureGroupRef"
              name="FeatureGroupRef" [nzSize]="'large'" [(ngModel)]="FeatureGroupRef"
              (ngModelChange)="onFeatureGroupSelected(FeatureGroupRef)">
              <nz-option *ngFor="let featuregroup of FeatureGroupList" [nzValue]="featuregroup.Ref"
                [nzLabel]="featuregroup.Name"></nz-option>
            </nz-select>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- table start  -->
  <div class="table-wrapper tblcard_light" *ngIf="FeatureGroupRef > 0">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{ x: 'auto' }"
        nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="DisplayFeature">
        <thead>
          <tr>
            <th class="tblheader">Features</th>
            <th class="tblheader" *ngIf="!hideEditDelete">Add</th>
            <th class="tblheader" *ngIf="!hideEditDelete">Edit</th>
            <th class="tblheader" *ngIf="!hideEditDelete">Delete</th>
            <th class="tblheader" *ngIf="!hideEditDelete">View</th>
            <th class="tblheader">Print</th>
            <th class="tblheader">Exports</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feature of DisplayFeature; let i = index">
            <td Class="tbldata">{{ feature.FeatureName }}</td>
            <td Class="tbldata" *ngIf="!hideEditDelete">
              <label nz-checkbox class="labledt" [(ngModel)]="feature.CanAdd"></label>
            </td>
            <td Class="tbldata" *ngIf="!hideEditDelete">
              <label nz-checkbox [(ngModel)]="feature.CanEdit"></label>
            </td>
            <td Class="tbldata" *ngIf="!hideEditDelete">
              <label nz-checkbox [(ngModel)]="feature.CanDelete"></label>
            </td>
            <td Class="tbldata" *ngIf="!hideEditDelete">
              <label nz-checkbox [(ngModel)]="feature.CanView"></label>
            </td>
            <td Class="tbldata">
              <label nz-checkbox [(ngModel)]="feature.CanPrint"></label>
            </td>
            <td Class="tbldata">
              <label nz-checkbox [(ngModel)]="feature.CanExport"></label>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- table end -->
  <div class="row align-items-center justify-content-center" style="margin-top: 2rem">
    <nz-button nz-button class="btn1 btn-sm btn-primary custom-btn text-center" (click)='SaveUserRoleRights()'>
      Save
    </nz-button>
  </div>
</div>
