<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">User Role Rights</h5>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
        <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
      </div> -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1">
          Add Stages
        </nz-button>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4 mb-2">
        <label for="UserRoleRef"><b>User Role</b></label>
        <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="UserRoleRef"
          name="UserRoleRef" [nzSize]="'large'" [(ngModel)]="Entity.p.UserRoleRef">
          <nz-option *ngFor="let userrole of UserRoleList" [nzValue]="userrole.p.Ref" [nzLabel]="userrole.p.Name"></nz-option>
        </nz-select>
      </div>
      <div class="col-md-4 mb-2">
        <label for="ModuleTypeRef"><b>Select Module</b></label>
        <nz-select class="nzSelect-light" nzShowSearch nzPlaceHolder="Select" id="ModuleTypeRef" name="ModuleTypeRef"
          [nzSize]="'large'" [(ngModel)]="Entity.p.ModuleTypeRef" (ngModelChange)="onclick(Entity.p.ModuleTypeRef)">
          <nz-option *ngFor="let module of ModuleList" [nzValue]="module.Ref" [nzLabel]="module.Name"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>

  <!-- table start  -->
  <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{x:'auto' }"
        nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.Feature">
        <thead>
          <tr>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let module of modules; let i = index">
            <td Class="tbldata">{{ module.FeatureName }}</td>
            <td Class="tbldata"><label nz-checkbox class="labledt" [(ngModel)]="module.CanAdd"
                (ngModelChange)="updateRoleRights(i, 'CanAdd')"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="module.CanEdit"
                (ngModelChange)="updateRoleRights(i, 'CanEdit')"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="module.CanDelete"
                (ngModelChange)="updateRoleRights(i, 'CanDelete')"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="module.CanView"
                (ngModelChange)="updateRoleRights(i, 'CanView')"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="module.CanPrint"
                (ngModelChange)="updateRoleRights(i, 'CanPrint')"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="module.CanExport"
                (ngModelChange)="updateRoleRights(i, 'CanExport')"></label>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- table end -->
  <div class="row align-items-center justify-content-center" style="margin-top: 2rem">
    <button type="button" class="btn btn-sm btn-primary custom-btn" (click)="SaveUserRoleRights()">Save</button>
  </div>
</div>