<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">User Role Right</h5>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
        <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
      </div> -->
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1">
          Add Stages
        </nz-button>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4 mb-2">
        <label for="DepartmentRef"><b>Select Department</b></label>
        <nz-select class="nzSelect-light" nzShowSearch nzPlaceHolder="Select Department" id="DepartmentRef"
          name="DepartmentRef" [nzSize]="'large'" [(ngModel)]="Entity.p.DepartmentRef"
          (ngModelChange)="getDesignationByDepartmentRefList(Entity.p.DepartmentRef)">
          <nz-option *ngFor="let department of DepartmentList" [nzValue]="department.p.Ref"
            [nzLabel]="department.p.Name"></nz-option>
        </nz-select>
      </div>
      <div class="col-md-4 mb-2">
        <label for="DesignationRef"><b>Select Designation</b></label>
        <nz-select class="nzSelect-light" nzShowSearch nzPlaceHolder="Select Designation" id="DesignationRef"
          name="DesignationRef" [nzSize]="'large'" [(ngModel)]="Entity.p.DesignationRef"
          (ngModelChange)="getUserRoleRights(Entity.p.DepartmentRef,Entity.p.DesignationRef)">
          <nz-option *ngFor="let Designation of DesignationList" [nzValue]="Designation.p.Ref"
            [nzLabel]="Designation.p.Name"></nz-option>
        </nz-select>
      </div>
      <div class="col-md-4 mb-2">
        <label for="FeatureGroupRef"><b>Select Feature Group</b></label>
        <nz-select class="nzSelect-light" nzShowSearch nzPlaceHolder="Select" id="FeatureGroupRef"
          name="FeatureGroupRef" [nzSize]="'large'" [(ngModel)]="FeatureGroupRef"
          (ngModelChange)="onFeatureGroupSelected(FeatureGroupRef)">
          <nz-option *ngFor="let featuregroup of FeatureGroupList" [nzValue]="featuregroup.Ref"
            [nzLabel]="featuregroup.Name"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>


  <!-- table start  -->
  <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="FeatureGroupRef > 0">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{x:'auto' }"
        nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="DisplayFeature">
        <thead>
          <tr>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feature of DisplayFeature; let i = index">
            <td Class="tbldata">{{ feature.FeatureName }}</td>
            <td Class="tbldata"><label nz-checkbox class="labledt" [(ngModel)]="feature.CanAdd"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="feature.CanEdit"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="feature.CanDelete"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="feature.CanView"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="feature.CanPrint"></label>
            </td>
            <td Class="tbldata"><label nz-checkbox [(ngModel)]="feature.CanExport"></label>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- table end -->
  <div class="row align-items-center justify-content-center" style="margin-top: 2rem">
    <button type="button" class="btn btn-sm btn-primary custom-btn" (click)="SaveUserRoleRights()">Save</button>
  </div>
</div>