<div class="row">
  <div class="col-4 mb-2">
    <h1 style="padding-top: 3px" class="title title_light">Billing List</h1>
  </div>
  <div class="col-4 mb-2 search-container_light">
    <app-shared-filter [masterList]="MasterList"
      [filterFields]="['Date', 'InvoiceNo', 'SiteName','LedgerName','SubLedgerName','Description','RecipientName','InvoiceAmount']"
      (filteredList)="onFilteredList($event)"></app-shared-filter>
  </div>
  <div class="col-4 mb-2" routerLinkActive="active" *ngIf="access.canAdd(featureRef)">
    <nz-button nz-button class="btn1" (click)="AddInvoice()">
      Add Bill
    </nz-button>
  </div>
</div>
<ng-template #noDataTpl>
  <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
</ng-template>

<div class="row row-cols-1 row-cols-md-4 g-2 filter-row">
  <div class="col">
    <label for="StartDate"><b>From Date</b></label>
    <input type="date" [(ngModel)]="Entity.p.StartDate" name="StartDate" class="form-control" id="StartDate"
      placeholder="Enter Start Date" (ngModelChange)="FetchEntireListByFilters()" />
  </div>
  <div class="col">
    <label for="EndDate"><b>To Date</b></label>
    <input type="date" [(ngModel)]="Entity.p.EndDate" name="EndDate" class="form-control" id="EndDate"
      placeholder="Enter End Date" (ngModelChange)="FetchEntireListByFilters()" />
  </div>
  <div class="col">
    <label for="SiteRef"><b>Site</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      [nzSize]="'large'" name="SiteRef" [(ngModel)]="Entity.p.SiteRef" required id="SiteRef"
      (ngModelChange)="FetchEntireListByFilters(); ClearRef()">
      <nz-option nzLabel="All" [nzValue]="0"></nz-option>
      <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>Ledger</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="LedgerRef" name="LedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.LedgerRef"
      (ngModelChange)="getSubLedgerListByLedgerRef(Entity.p.LedgerRef)"
      (ngModelChange)="FetchEntireListByFilters(); ClearRef()">
      <nz-option *ngFor="let ledger of LedgerList" [nzValue]="ledger.p.Ref" [nzLabel]="ledger.p.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>Sub Ledger</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="SubLedgerRef" name="SubLedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SubLedgerRef"
      (ngModelChange)="FetchEntireListByFilters(); ClearRef()">
      <nz-option *ngFor="let sub of SubLedgerList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>To Whom Type</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="RecipientType" name="RecipientType" [nzSize]="'large'" [(ngModel)]="Entity.p.RecipientType"
      (ngModelChange)="getRecipientListByRecipientTypeRef(); Entity.p.RecipientRef = 0">
      <nz-option *ngFor=" let type of RecipientTypesList" [nzValue]="type.Ref" [nzLabel]="type.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>To Whom</b></label>
    <div class="d-flex align-items-center">
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        id="RecipientRef" name="RecipientRef" [nzSize]="'large'" [(ngModel)]="Entity.p.RecipientRef"
        (ngModelChange)="FetchEntireListByFilters(); ">
        <nz-option *ngFor="let recipient of RecipientList" [nzValue]="recipient.p.Ref"
          [nzLabel]="recipient.p.RecipientName | titleCase" nzCustomContent>
          <span [ngClass]="recipient.p.IsSiteRef == 1 ? 'site' : 'nonsite'">
            {{ recipient.p.RecipientName | titleCase }}
          </span>
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div class="col">
    <label><b>Reason</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="Ref" name="Ref" [nzSize]="'large'" [(ngModel)]="Reason" (ngModelChange)="filterByReason()">
      <nz-option *ngFor="let sub of AllList" [nzValue]="sub.p.Reason" [nzLabel]="sub.p.Reason">
      </nz-option>
    </nz-select>
  </div>
</div>

<div class="table-wrapper tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
      [nzScroll]="{ x: 'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th class="tblheader" nzLeft>{{ 'SR.NO.' }}</th>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Invoice of paginatedList(); index as i">
          <td Class="tbldata" nzLeft>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{ formatDate(Invoice.p.Date) }}</td>
          <td Class="tbldata">{{ Invoice.p.InvoiceNo }}</td>
          <td Class="tbldata">{{ Invoice.p.SiteName }}</td>
          <td Class="tbldata">{{ Invoice.p.LedgerName }}</td>
          <td Class="tbldata">{{ Invoice.p.SubLedgerName }}</td>
          <!-- <td Class="tbldata">{{ Invoice.p.Description }}</td> -->
          <td Class="tbldata">{{ Invoice.p.Reason }}</td>
          <td class="tbldata"> {{ Invoice.p.RecipientName }}</td>
          <td Class="tbldata">
            {{ Invoice.p.InvoiceAmount | currency : "INR" }}
          </td>
          <!-- <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(Invoice)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(Invoice)" />
            <span style="margin-left: 9px; cursor: pointer" (click)="navigateToPrint(Invoice)">
              <img src="\assets\icons\printer.png" alt="logo" title="Print" width="20px" height="20px" /></span>
          </td> -->
          <td class="tbldata action-column" *ngIf="showActionColumn">
            <Edit-Icon class="action-btn edit" (editClick)="onEditClicked(Invoice)" *ngIf="access.canEdit(featureRef)"/>
            <Delete-Icon class="action-btn delete" (deleteClicked)="onDeleteClicked(Invoice)"  *ngIf="access.canDelete(featureRef)"/>
            <span style="margin-left: 9px; cursor: pointer" (click)="navigateToPrint(Invoice)" *ngIf="access.canPrint(featureRef)">
              <img src="\assets\icons\printer.png" alt="logo" title="Print" width="20px" height="20px" /></span>
          </td>
        </tr>
        <tr>
          <td class="tbldata" nzLeft><b>Total Bill Amount</b></td>
          <td class="tbldata" colspan="7"></td>
          <td class="tbldata">
            <b>{{ getTotalInvoice() | currency : "INR" }}</b>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <Pagination [pageSize]="pageSize" [total]="total" [(currentPage)]="currentPage" (pageChange)="onPageChange($event)" />
</div>
<div *ngIf="DisplayMasterList.length === 0">
  <Data-Not-Found />
</div>