<app-header-with-back-handler title="{{ isEditMode ? 'Edit Task' : 'Add Task' }}"></app-header-with-back-handler>

<ion-content class="form-container ion-padding">
  <ion-list>
    <ion-item class="input-item">
      <ion-label position="floating">Task Name</ion-label>
      <ion-input [(ngModel)]="taskName" required></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Task Details</ion-label>
      <ion-textarea [(ngModel)]="taskDetails" rows="4" required></ion-textarea>
    </ion-item>

    <ion-item class="input-item" (click)="openSelectModal()">
      <ion-label position="floating">Select Site</ion-label>
      <ion-input type="text" [(ngModel)]="name" required disabled></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Priority</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="floating">Start Date</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="floating">Due Date</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="floating">Status</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <div class="button-row">
      <ion-button expand="block" (click)="save()" class="submit-button primary-button">
        {{ isEditMode ? 'Update' : 'Add' }}
      </ion-button>
      <ion-button expand="block" (click)="goBack()" class="submit-button cancel-button">
        Cancel
      </ion-button>
    </div>

  </ion-list>
</ion-content>