<app-header-with-back-handler title="Income"
  backRoute="mobile-app/tabs/dashboard/accounting"></app-header-with-back-handler>
<app-chip-filter-mobile-app [filters]="filters" (filtersChanged)="onFiltersChanged($event)">
</app-chip-filter-mobile-app>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="requisition-list" [lines]="'none'">
    <ion-item *ngFor="let Income of DisplayMasterList" class="requisition-item" button detail
      (click)="openModal(Income)">
      <ion-label>
        <h2>Site : {{ Income.p.SiteName || 'Unknown Site' }}</h2>
        <p class="date-label">Income Date : {{ formatDate(Income.p.Date) || '-' }}</p>
        <!-- <p class="date-label">Ledger : {{ Income.p.LedgerName || '-' }}</p>
        <p class="date-label">Sub Ledger : {{ Income.p.SubLedgerName || '-' }} -->
        <p class="date-label">Reason : {{ Income.p.Reason || '-' }}
        <p class="date-label">Income Amount : {{ Income.p.IncomeAmount| currency : "INR" }}
        </p>
      </ion-label>

      <div class="action-buttons" slot="end" (click)="$event.stopPropagation()">
        <ion-button fill="clear" size="small" color="primary" (click)="onEditClicked(Income)">
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" (click)="onDeleteClicked(Income)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <!-- <ion-button fill="clear" size="small" color="primary" (click)="navigateToPrint(Income)">
          <ion-icon name="print-outline" slot="icon-only"></ion-icon>
        </ion-button> -->
      </div>
    </ion-item>
  </ion-list>

  <!-- Show "Data not found" if list is empty -->
  <div *ngIf="DisplayMasterList.length === 0 && !loadingService.isLoaderActive()" class="no-data-mobile-app">
    <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
    <p>No Income records found.</p>
  </div>


  <!-- Modal -->
  <ion-modal [isOpen]="modalOpen" (didDismiss)="closeModal()" class="modal-card">
    <ng-template>
      <div class="modal-container">
        <!-- Header -->
        <ion-header>
          <ion-toolbar color="primary" class="modal-toolbar">
            <ion-title>Income Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <!-- Body -->
        <ion-content class="ion-padding modal-body" id="print-section">
          <!-- Info Rows -->
          <div class="info-row-of-model">
            <span class="label">Income Date:</span>
            <span class="value">{{ formatDate(SelectedIncome.p.Date) || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Site Name:</span>
            <span class="value">{{ SelectedIncome.p.SiteName || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Ledger Name :</span>
            <span class="value">{{ SelectedIncome.p.LedgerName || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Sub Ledger Name:</span>
            <span class="value">{{ SelectedIncome.p.SubLedgerName || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Reason :</span>
            <span class="value">{{ SelectedIncome.p.Reason || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Income Amount :</span>
            <span class="value">{{ SelectedIncome.p.IncomeAmount | currency : "INR" }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Shrees Balance :</span>
            <span class="value">{{ SelectedIncome.p.ShreesBalance | currency : "INR"  }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Mode Of Payment Name :</span>
            <span class="value">{{ SelectedIncome.p.ModeOfPaymentName || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Narration :</span>
            <span class="value">{{ SelectedIncome.p.Narration || '-' }}</span>
          </div>
        </ion-content>

        <!-- Footer -->
        <ion-footer class="modal-footer">
          <!-- <div class="action-buttons">
            <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
              Close
            </ion-button>
          </div> -->
          <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
            Close
          </ion-button>
        </ion-footer>
      </div>
    </ng-template>
  </ion-modal>


  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="handlePrintOrShare()">
        <ion-icon name="print-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="AddIncome()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button color="tertiary" (click)="AddIncome()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>

  <!-- Print Section with automatic page breaks -->
  <div id="print-section" style="display: none;" #PrintContainer>
    <h2>Income</h2>
    <table class="table table-bordered print-table">
      <thead>
        <tr>
          <th *ngFor="let header of printheaders" style="background-color: maroon; color: white;">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Income of DisplayMasterList; index as i">
          <td class="tbldata">{{ i + 1 }}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{formatDate(Income.p.Date)}}</td>
          <td Class="tbldata">{{Income.p.SiteName}}</td>
          <td Class="tbldata">{{Income.p.LedgerName }}</td>
          <td Class="tbldata">{{Income.p.SubLedgerName}}</td>
          <td Class="tbldata">{{Income.p.Reason}}</td>
          <td Class="tbldata"> {{Income.p.IncomeAmount | currency : "INR" }}</td>
          <td Class="tbldata"> {{Income.p.ShreesBalance | currency : "INR" }}</td>
          <td Class="tbldata">{{Income.p.ModeOfPaymentName}}</td>
          <!-- <td Class="tbldata">{{Income.p.Narration}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>