<app-loader *ngIf="isLoading"></app-loader>
<app-header-with-back-handler title="Actual Stage"
  backRoute="app_homepage/tabs/site-management"></app-header-with-back-handler>

<ion-content [fullscreen]="true" class="actual-stage-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- actual List -->
  <ion-list class="data-list">
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="FilteredActualStagesList.length > 0 ; else noData">
        <ion-card *ngFor="let item of FilteredActualStagesList" class="data-card">
          <ion-card-header>
            <ion-card-title class="info-row"><strong>Chalan No :</strong>{{ item.p.ChalanNo ?item.p.ChalanNo:'-'
              }}</ion-card-title>
            <ion-card-subtitle class="info-row"><strong>Site Name :</strong>{{ item.p.SiteName ? item.p.SiteName:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Date :</strong>{{item.p.Date
              ?formatDate(item.p.Date):'-'}}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Vendor Name :</strong>{{ item.p.VendorName ?item.p.VendorName:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Vendor Service :</strong>{{ item.p.VendorServiceName?item.p.VendorServiceName:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Expense Type :</strong>{{ item.p.ExpenseTypeName?item.p.ExpenseTypeName:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"
              *ngIf="TimeUnitRef != item.p.UnitRef && LabourExpenseRef != item.p.ExpenseTypeRef"><strong>Quantity
                :</strong>{{
              item.p.Quantity?item.p.Quantity:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"
              *ngIf="TimeUnitRef == item.p.UnitRef && LabourExpenseRef != item.p.ExpenseTypeRef"><strong>Worked Hours
                :</strong>{{
            item.p.TimeDetails ?getTotalWorkedHours(item.p.TimeDetails):'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row" *ngIf="ExpenseTypeRef == item.p.ExpenseTypeRef"><strong>Rate
                :</strong>{{ item.p.Rate?item.p.Rate:'-' }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Amount :</strong>{{ item.p.Amount ?item.p.Amount:'-'}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="btn-row">
              <ion-button fill="clear" size="small" color="primary" (click)="onViewClicked(item)">
                <ion-icon slot="start" name="eye-outline"></ion-icon> View
              </ion-button>
              <ion-button fill="clear" size="small" color="secondary" (click)="onEditClicked(item)">
                <ion-icon slot="start" name="create-outline"></ion-icon> Edit
              </ion-button>
              <ion-button fill="clear" size="small" color="danger" (click)="onDeleteClicked(item)">
                <ion-icon slot="start" name="trash-outline"></ion-icon> Delete
              </ion-button>
              <ion-button fill="clear" size="small" color="warning" (click)="onViewClicked(item)">
                <ion-icon slot="start" name="print-outline"></ion-icon> Print
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>

    <!-- No Data Template -->
    <ng-template #noData>
      <ion-card class="data-card">
        <ion-card-content class="text-center">
          <ion-icon name="information-circle-outline" size="large" color="medium"></ion-icon>
          <div>No Actual Stage data found.</div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-list>

  <!-- Modal -->
  <ion-modal [isOpen]="ModalOpen" (didDismiss)="closeModal()" class="modal-card">
    <ng-container *ngIf="SelectedActualStages">
      <ion-header>
        <ion-toolbar color="primary" class="modal-toolbar">
          <ion-title>Actual Stage Details</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content scroll-y="true" class="modal-scroll-content ion-padding">
        <div class="info-row-of-model">
          <strong class="label">Chalan No:</strong>
          <span class="value">{{ SelectedActualStages.p.ChalanNo?SelectedActualStages.p.ChalanNo:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Created By Name:</strong>
          <span class="value">{{ SelectedActualStages.p.CreatedByName ?
            SelectedActualStages.p.CreatedByName:'-'}}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Date:</strong>
          <span class="value">{{SelectedActualStages.p.Date?formatDate(SelectedActualStages.p.Date):'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Stage:</strong>
          <span class="value">{{ SelectedActualStages.p.StageName?SelectedActualStages.p.StageName:'-' }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.SubStageName">
          <strong class="label">Sub Stage:</strong>
          <span class="value">{{ SelectedActualStages.p.SubStageName?SelectedActualStages.p.SubStageName:'-' }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.GutterNaleUnitName">
          <strong class="label">Gutter Nale Unit:</strong>
          <span class="value">{{ SelectedActualStages.p.GutterNaleUnitName?SelectedActualStages.p.GutterNaleUnitName:'-'
            }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Expense Type:</strong>
          <span class="value">{{ SelectedActualStages.p.ExpenseTypeName?SelectedActualStages.p.ExpenseTypeName:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==ExpenseTypeRef">
          <strong class="label">Vehicle No:</strong>
          <span class="value">{{ SelectedActualStages.p.VehicleNo?SelectedActualStages.p.VehicleNo:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==ExpenseTypeRef">
          <strong class="label">Diesel Quantity:</strong>
          <span class="value">{{ SelectedActualStages.p.DieselQuantity?SelectedActualStages.p.DieselQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==ExpenseTypeRef">
          <strong class="label">Diesel Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.DieselRate?SelectedActualStages.p.DieselRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==ExpenseTypeRef">
          <strong class="label">Diesel Total :</strong>
          <span class="value">{{ SelectedActualStages.p.DieselTotalAmount?SelectedActualStages.p.DieselTotalAmount:'-'
            }}</span>
        </div>

        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">Skill Quantity :</strong>
          <span class="value">{{ SelectedActualStages.p.SkillQuantity?SelectedActualStages.p.SkillQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">Skill Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.SkillRate?SelectedActualStages.p.SkillRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">Skill Amount :</strong>
          <span class="value">{{ SelectedActualStages.p.SkillAmount?SelectedActualStages.p.SkillAmount:'-'
            }}</span>
        </div>

        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">Unskill Quantity :</strong>
          <span class="value">{{ SelectedActualStages.p.UnskillQuantity?SelectedActualStages.p.UnskillQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">Unskill Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.UnskillRate?SelectedActualStages.p.UnskillRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">Unskill Amount :</strong>
          <span class="value">{{ SelectedActualStages.p.UnskillAmount?SelectedActualStages.p.UnskillAmount:'-'
            }}</span>
        </div>

        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">women Quantity :</strong>
          <span class="value">{{ SelectedActualStages.p.LadiesQuantity?SelectedActualStages.p.LadiesQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">women Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.LadiesRate?SelectedActualStages.p.LadiesRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==LabourExpenseRef">
          <strong class="label">women Amount :</strong>
          <span class="value">{{ SelectedActualStages.p.LadiesAmount?SelectedActualStages.p.LadiesAmount:'-'
            }}</span>
        </div>

        <div class="info-row-of-model">
          <strong class="label">Vendor Name:</strong>
          <span class="value">{{ SelectedActualStages.p.VendorName?SelectedActualStages.p.VendorName:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Vendor Service:</strong>
          <span class="value">{{ SelectedActualStages.p.VendorServiceName?SelectedActualStages.p.VendorServiceName:'-'
            }}</span>
        </div>

        <div class="info-row-of-model">
          <strong class="label">Unit:</strong>
          <span class="value">{{ SelectedActualStages.p.UnitName?SelectedActualStages.p.UnitName:'-' }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="TimeUnitRef != SelectedActualStages.p.UnitRef">
          <strong class="label">Quantity:</strong>
          <span class="value">{{ SelectedActualStages.p.Quantity?SelectedActualStages.p.Quantity:'-' }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="TimeUnitRef == SelectedActualStages.p.UnitRef">
          <strong class="label">Worked Hours:</strong>
          <span class="value">{{
            SelectedActualStages.p.TimeDetails?getTotalWorkedHours(SelectedActualStages.p.TimeDetails):'-'}}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Rate:</strong>
          <span class="value">{{ SelectedActualStages.p.Rate?SelectedActualStages.p.Rate:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Amount:</strong>
          <span class="value">{{ SelectedActualStages.p.Amount?SelectedActualStages.p.Amount:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Description:</strong>
          <span class="value">{{ SelectedActualStages.p.Description?SelectedActualStages.p.Description:'-' }}</span>
        </div>
      </ion-content>
      <ion-footer class="modal-footer">
        <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
          Close
        </ion-button>
      </ion-footer>
    </ng-container>
  </ion-modal>
  <!-- Modal -->
  <ion-modal [isOpen]="false" (didDismiss)="''" class="modal-card">
    <ion-list>
      <div class="card-body container-fluid" #formContainer1>
        <div class="card p-3" id="print-section">
          <!-- Header Row: Back Button + Title -->
          <div class="row mb-3 align-items-center">
            <div class="col-md-1">
              <!-- <button type="button" class="backbtn" (click)="BackActualStage()">
                <img src="/assets/icons/arrow-button.png" alt="Back" width="34px" height="34px" />
              </button> -->
            </div>
            <div class="col-md-10 text-center">
              <span class="detail_title">Actual Stage</span>
            </div>
          </div>

          <!-- Receipt Content -->
          <div class="receipt-container px-3">
            <!-- Company & Receipt Info Spread Full Width -->
            <div class="row mb-3 d-flex align-items-start justify-content-between">
              <div class="col-md-6 col-6">
                <img src="/assets/logos/ShreeIcon.png" style="margin-left: 30px;" alt=" Company Logo" height="80"
                  class="mb-2" />
                <p class="mb-0"><strong>{{Entity.p.CompanyName}}</strong></p>
                <p class="mb-0">{{Entity.p.AddressLine1}}</p>
                <p class="mb-0">{{Entity.p.AddressLine1}}</p>
                <p class="mb-0">{{Entity.p.CityName}} - {{Entity.p.PinCode}}</p>
                <p>Phone: {{Entity.p.Contacts}}</p>
              </div>
              <!-- <div class="col-md-6 text-md-end text-start mt-3 mt-md-0"> -->
              <div class="col-md-6 col-6 text-end">
                <p><strong>DATE:</strong> {{ this.Entity.p.Date }}</p>
                <p><strong>Challan No:</strong> {{ Entity.p.ChalanNo }}</p>
              </div>
            </div>

            <!-- Bill To & Project Info -->
            <div class="row border mb-3 d-flex justify-content-between">
              <div class="col-md-6 col-6 border-end p-2">
                <h6 class="text-white p-1 MaroonBGHeading">BILL TO</h6>
                <p><strong>Vendor Name:</strong> {{ Entity.p.VendorName }}</p>
                <p><strong>Site Name:</strong> {{ Entity.p.SiteName }}</p>
                <!-- <p><strong>Phone:</strong> {{ receipt.phone }}</p>
                <p><strong>Address:</strong> {{ receipt.address }}</p> -->
              </div>
              <div class="col-md-6 col-6 p-2">
                <p><strong>Stage Name:</strong> {{ Entity.p.StageName }}</p>
                <p><strong>Service Type:</strong> {{ Entity.p.ExpenseTypeName }}</p>
                <p *ngIf="Entity.p.ExpenseTypeRef == ExpenseTypeRef"><strong>Vehicle No:</strong> {{ Entity.p.VehicleNo
                  }}</p>
              </div>
            </div>

            <!-- Items Table Full Width -->
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead class="text-white">
                  <tr>
                    <th style="width: 5%;" class="MaroonBGHeading">Sr.No</th>
                    <th style="width: 45%;" class="MaroonBGHeading">DESCRIPTION</th>
                    <th style="width: 10%;" class="MaroonBGHeading">Qty.</th>
                    <th *ngIf="Entity.p.ExpenseTypeRef == ExpenseTypeRef" style="width: 10%;" class="MaroonBGHeading">
                      UNIT</th>
                    <th style="width: 15%;" class="MaroonBGHeading">RATE</th>
                    <th style="width: 15%;" class="MaroonBGHeading">AMOUNT</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of receipt.items; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td class="text-start">{{ item.description }}</td>
                            <td>{{ item.qty }}</td>
                            <td>{{ item.unit }}</td>
                            <td>{{ item.rate | currency:'INR' }}</td>
                            <td>{{ item.amount | currency:'INR' }}</td>
                          </tr> -->
                  <tr *ngIf="Entity.p.ExpenseTypeRef == ExpenseTypeRef">
                    <td>1.</td>
                    <td>Disel</td>
                    <td>{{ Entity.p.DieselQuantity }}</td>
                    <td>{{ Entity.p.UnitName }}</td>
                    <td>{{ Entity.p.DieselRate }}</td>
                    <td>{{ Entity.p.DieselTotalAmount }}</td>
                  </tr>

                  <tr *ngIf="Entity.p.ExpenseTypeRef == LabourExpenseRef">
                    <td>1.</td>
                    <td>Skilled</td>
                    <td>{{ Entity.p.SkillQuantity }}</td>
                    <td>{{ Entity.p.SkillRate }}</td>
                    <td>{{ Entity.p.SkillAmount }}</td>
                  </tr>

                  <tr *ngIf="Entity.p.ExpenseTypeRef == LabourExpenseRef">
                    <td>2.</td>
                    <td>Unskilled</td>
                    <td>{{ Entity.p.UnskillQuantity }}</td>
                    <td>{{ Entity.p.UnskillRate }}</td>
                    <td>{{ Entity.p.UnskillAmount }}</td>
                  </tr>
                  <tr *ngIf="Entity.p.ExpenseTypeRef == LabourExpenseRef">
                    <td>3.</td>
                    <td>Ladies</td>
                    <td>{{ Entity.p.LadiesQuantity }}</td>
                    <td>{{ Entity.p.LadiesRate }}</td>
                    <td>{{ Entity.p.LadiesAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Totals -->
            <div class="row justify-content-end">
              <div class="col-md-6">
                <table class="table border">
                  <!-- <tr *ngFor="let row of receipt.totalRows">
                            <td class="text-end"><strong>{{ row.label }}</strong></td>
                            <td class="text-end">{{ row.value | currency:'INR' }}</td>
                          </tr> -->
                  <tr style="background-color: #e6b8af;">
                    <td class="text-start"><strong style="background-color: #e6b8af;">TOTAL</strong></td>
                    <td class="text-end text-danger fw-bold">{{ Entity.p.Amount| currency:'INR' }}</td>
                  </tr>
                  <tr>
                    <!-- <td colspan="2"><strong>Inwords:</strong> {{ receipt.inwords }}</td> -->
                  </tr>
                </table>
              </div>
            </div>

            <!-- Comments Section -->
            <div>
              <h6 class="FaintMaroonBGHeading"> <strong>OTHER COMMENTS</strong></h6>
              <ol>
                <li>वरील तपशिला प्रमाणे माल ताब्यात मिळाला.</li>
                <li>ही पावती सेवा पुरवठादाराच्या नोंदीसाठी प्रदान करण्यात आली आहे.</li>
                <li>ही पावती भविष्यातील लेखाजोखासाठी जतन करावी.</li>
              </ol>
            </div>
            <br><br>
            <div class="d-flex justify-content-between m-3">
              <p>Sign: {{ Entity.p.VendorName }}</p>
              <p>{{Entity.p.CompanyName}}</p>
            </div>

            <p class="text-center">If you have any questions about this invoice, please contact</p>
            <p class="text-center">{{Entity.p.CompanyName}},{{Entity.p.Contacts}} , E-mail</p>
            <p class="text-center" style="font-style: italic;">
              <strong>Thank You For Your Business!</strong>
            </p>
          </div>
        </div>
      </div>
      <ion-button expand="block" color="primary" (click)="makePdf()">
        print
      </ion-button>
    </ion-list>
  </ion-modal>
    <!-- FAB -->
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="AddActualStages()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="AddActualStages()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="openFilterSheet()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>