<app-loader *ngIf="isLoading"></app-loader>
<app-header-with-back-handler title="Actual Stage" backRoute="app_homepage/tabs/site-management/actual-stage"></app-header-with-back-handler>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Customer List -->
  <ion-list class="Data-list">
    <ng-container *ngIf="FilteredActualStagesList.length > 0; else noData">
      <ion-card *ngFor="let item of FilteredActualStagesList" class="Data-card">
        <ion-card-content>
          <div class="info-row"><strong>Chalan No:</strong> {{ item.p.ChalanNo }}</div>
          <div class="info-row">
            <strong>Site Name:</strong> {{ item.p.SiteName }}
          </div>
          <!-- <div class="info-row"><strong>Status:</strong> {{ item.p.CustomerStatusName }}</div> -->
          <div class="btn-row">
            <ion-button size="small" fill="outline" color="primary" (click)="onViewClicked(item)">
              <ion-icon name="eye-outline" slot="start"></ion-icon> View
            </ion-button>
            <ion-button size="small" fill="outline" color="secondary" (click)="onEditClicked(item)">
              <ion-icon name="create-outline" slot="start"></ion-icon> Edit
            </ion-button>
            <ion-button size="small" fill="outline" color="danger" (click)="onDeleteClicked(item)">
              <ion-icon name="trash-outline" slot="start"></ion-icon> Delete
            </ion-button>
            <ion-button size="small" fill="outline" color="danger" (click)="onDeleteClicked(item)">
              <ion-icon name="print-outline" slot="start"></ion-icon> Delete
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <!-- No Data Template -->
    <ng-template #noData>
      <ion-card class="Data-card">
        <ion-card-content class="text-center">
          <ion-icon name="information-circle-outline" size="large" color="medium"></ion-icon>
          <div class="info-row">No Actual Stage data found.</div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-list>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="AddActualStages()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal -->
  <ion-modal [isOpen]="ModalOpen" (didDismiss)="closeModal()" class="modal-card">
    <ng-container *ngIf="SelectedActualStages">
      <ion-header>
        <ion-toolbar color="primary" class="modal-toolbar">
          <ion-title>Actual Stage Details</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content scroll-y="true" class="modal-scroll-content ion-padding">
        <div class="info-row-of-model">
          <strong class="label">Chalan No:</strong>
          <span class="value">{{ SelectedActualStages.p.ChalanNo?SelectedActualStages.p.ChalanNo:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Created By Name:</strong>
          <span class="value">{{ SelectedActualStages.p.CreatedByName ?
            SelectedActualStages.p.CreatedByName:'-'}}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Date:</strong>
          <span class="value">{{SelectedActualStages.p.Date?formatDate(SelectedActualStages.p.Date):'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Stage:</strong>
          <span class="value">{{ SelectedActualStages.p.StageName?SelectedActualStages.p.StageName:'-' }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.SubStageName">
          <strong class="label">Sub Stage:</strong>
          <span class="value">{{ SelectedActualStages.p.SubStageName?SelectedActualStages.p.SubStageName:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Expense Type:</strong>
          <span class="value">{{ SelectedActualStages.p.ExpenseTypeName?SelectedActualStages.p.ExpenseTypeName:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==100">
          <strong class="label">Vehicle No:</strong>
          <span class="value">{{ SelectedActualStages.p.VehicleNo?SelectedActualStages.p.VehicleNo:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==100">
          <strong class="label">Diesel Quantity:</strong>
          <span class="value">{{ SelectedActualStages.p.DieselQuantity?SelectedActualStages.p.DieselQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==100">
          <strong class="label">Diesel Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.DieselRate?SelectedActualStages.p.DieselRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==100">
          <strong class="label">Diesel Total :</strong>
          <span class="value">{{ SelectedActualStages.p.DieselTotalAmount?SelectedActualStages.p.DieselTotalAmount:'-'
            }}</span>
        </div>

        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Skill Quantity :</strong>
          <span class="value">{{ SelectedActualStages.p.SkillQuantity?SelectedActualStages.p.SkillQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Skill Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.SkillRate?SelectedActualStages.p.SkillRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Skill Amount :</strong>
          <span class="value">{{ SelectedActualStages.p.SkillAmount?SelectedActualStages.p.SkillAmount:'-'
            }}</span>
        </div>

        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Unskill Quantity :</strong>
          <span class="value">{{ SelectedActualStages.p.UnskillQuantity?SelectedActualStages.p.UnskillQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Unskill Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.UnskillRate?SelectedActualStages.p.UnskillRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Unskill Amount :</strong>
          <span class="value">{{ SelectedActualStages.p.UnskillAmount?SelectedActualStages.p.UnskillAmount:'-'
            }}</span>
        </div>


        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Ladies Quantity :</strong>
          <span class="value">{{ SelectedActualStages.p.LadiesQuantity?SelectedActualStages.p.LadiesQuantity:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Ladies Rate :</strong>
          <span class="value">{{ SelectedActualStages.p.LadiesRate?SelectedActualStages.p.LadiesRate:'-'
            }}</span>
        </div>
        <div class="info-row-of-model" *ngIf="SelectedActualStages.p.ExpenseTypeRef==200">
          <strong class="label">Ladies Amount :</strong>
          <span class="value">{{ SelectedActualStages.p.LadiesAmount?SelectedActualStages.p.LadiesAmount:'-'
            }}</span>
        </div>

        <div class="info-row-of-model">
          <strong class="label">Vendor Name:</strong>
          <span class="value">{{ SelectedActualStages.p.VendorName?SelectedActualStages.p.VendorName:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Vendor Service:</strong>
          <span class="value">{{ SelectedActualStages.p.VendorServiceName?SelectedActualStages.p.VendorServiceName:'-'
            }}</span>
        </div>

        <div class="info-row-of-model">
          <strong class="label">Unit:</strong>
          <span class="value">{{ SelectedActualStages.p.UnitName?SelectedActualStages.p.UnitName:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Quantity:</strong>
          <span class="value">{{ SelectedActualStages.p.Quantity?SelectedActualStages.p.Quantity:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Rate:</strong>
          <span class="value">{{ SelectedActualStages.p.Rate?SelectedActualStages.p.Rate:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Amount:</strong>
          <span class="value">{{ SelectedActualStages.p.Amount?SelectedActualStages.p.Amount:'-' }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Description:</strong>
          <span class="value">{{ SelectedActualStages.p.Description?SelectedActualStages.p.Description:'-' }}</span>
        </div>
      </ion-content>
      <ion-footer class="modal-footer">
        <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
          Close
        </ion-button>
      </ion-footer>
    </ng-container>
  </ion-modal>
</ion-content>