<app-header title="Task Management"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="section-title">High Priority Tasks</div>
  <div class="high-priority-tasks">
    <ion-card *ngFor="let task of highPriorityTasks" class="high-priority-tasks-card">
      <ion-card-header>
        <div class="card-header-flex">
          <ion-card-title>{{ task.title }}</ion-card-title>
          <div class="button-group">
            <ion-button fill="clear" size="small" color="primary" (click)="editTask(task.id)">
              <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" color="secondary" (click)="editTask(task.id)">
              <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="task-details">
          <small>
            Start: {{ task.start_date }} | End: {{ task.end_date }} <br />
            <!-- End: {{ task.end_date }} <br /> -->
            Priority: {{ getPriorityLabel(task.priority) }}
          </small>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-segment [(ngModel)]="selectedTab" (ionChange)="filterTasks()" class="segment-tabs" scrollable>
    <ion-segment-button value="in_progress">
      <ion-icon name="walk-outline"></ion-icon>
      <ion-label>In Progress</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="not_started">
      <ion-icon name="pause-circle-outline"></ion-icon>
      <ion-label>Not Started</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cancelled">
      <ion-icon name="close-circle-outline"></ion-icon>
      <ion-label>Cancelled</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let task of filteredTasks" class="task-item">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <small>Due: {{ task.end_date }}</small>
      </ion-label>

      <div class="button-wrapper" slot="end">
        <div class="button-row">
          <ion-button fill="clear" (click)="editTask(task.id)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="editTask(task.id)">
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="button-row">
          <ion-button fill="clear" (click)="editTask(task.id)">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="editTask(task.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="addTask()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="openFilterModal()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>