<app-header-with-back-handler title={{DetailsFormTitle}}></app-header-with-back-handler>

<ion-content class="form-container" [scrollEvents]="true">
  <ion-list lines="none" class="ion-padding">
    <!--  Date -->
    <ion-item class="input-item">
      <ion-label>Select Date</ion-label>
      <ion-datetime-button id="TransferDate-modal" datetime="Date" trigger="TransferDate-modal">
      </ion-datetime-button>
      <ion-checkbox slot="end" [(ngModel)]="TransferDate" name="TransferDateCheckBox" [disabled]="true">
      </ion-checkbox>
    </ion-item>

    <ion-modal keepContentsMounted="true" trigger="TransferDate-modal">
      <ng-template>
        <ion-datetime id="Date" name="TransferDate" presentation="date" [(ngModel)]="TransferDate"
          show-default-buttons="true" (ionChange)="onTransferDateChange($event.detail.value)">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- Select From site -->
    <ion-item class="input-item" button detail (click)="selectFromSiteBottomsheet()" [disabled]="SiteList.length === 0">
      <ion-label>From Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ FromSiteName|| 'Select' }}
      </ion-text>
 </ion-item>

    <!-- Select To site -->
    <ion-item class="input-item" button detail (click)="selectToSiteBottomsheet()" [disabled]="SiteList.length === 0">
      <ion-label>To Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ ToSiteName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select Vendor -->
    <ion-item class="input-item" button detail (click)="selectMaterialBottomsheet()" [disabled]="MaterialList.length === 0">
      <ion-label>Material</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ MaterialName|| 'Select' }}
      </ion-text>
   </ion-item>

    <!-- Unit input-->
    <ion-item class="input-item">
      <ion-input label="Unit" labelPlacement="floating" placeholder="Enter Unit" [(ngModel)]="Entity.p.UnitName"
        [disabled]="'true'"></ion-input>
    </ion-item>

    <!-- Current Quantity input-->
    <ion-item class="input-item">
      <ion-input label="Current Quantity" labelPlacement="floating" placeholder="Enter Current Quantity"
        [(ngModel)]="Entity.p.CurrentQuantity" [disabled]="'true'"></ion-input>
    </ion-item>

    <!-- Transferred Quantity input-->
    <ion-item class="input-item">
      <ion-input label="Transferred Quantity" labelPlacement="floating" placeholder="Enter Transferred Quantity"
        [(ngModel)]="Entity.p.TransferredQuantity" (ngModelChange)="calculateRemainingQuantity()" [clearOnEdit]="true"
        [clearInput]="true" type="number"></ion-input>
    </ion-item>

    <!-- Remaining Quantity input-->
    <ion-item class="input-item">
      <ion-input label="Remaining Quantity" labelPlacement="floating" placeholder="Enter Remaining Quantity"
        [(ngModel)]="Entity.p.RemainingQuantity" [disabled]="'true'"></ion-input>
    </ion-item>

    <!-- Main Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="medium" shape="round" (click)="goBack()" >
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="primary" shape="round" (click)="SaveStockTransfer()">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>