<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div *ngFor="let group of ULCList">
      <h4 class="SiteWorkGroupNamestyle">{{ group.SiteWorkGroupName }}</h4>
      <ul style="margin-top: 1rem;">
        <ng-container *ngFor="let siteWork of group.SiteWorks">
          <div style="border: brown 2px solid; padding: 1rem; margin-top: 10px;border-radius: 5px;"
            *ngIf="siteWork.SiteWorkName.trim() !== 'Report NOC' && siteWork.SiteWorkName.trim() !== 'Airport NOC' || showReportNOCSection">

            <!-- Inline SiteWorkName + Checkbox/Radio -->
            <div class="row SiteWorkNameStyle" style="margin-bottom: 1rem;">
              <div class="col-md-9 col-sm-12 col-xs-12">
                <strong style="min-width: 200px; margin-right: 1rem;">
                  {{ siteWork.SiteWorkName }}:
                </strong>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12" style="justify-items: end;" *ngFor="let type of siteWork.ApplicableTypes; let i = index">
                <!-- Checkbox -->
                <div *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'checkbox'"
                  style="margin-right: 1.5rem;">
                  <label>
                    <input class="form-check-input dark-border" type="checkbox"
                      name="{{siteWork.SiteWorkName.trim() + '_' + i + 100}}" [(ngModel)]="type.Value"
                      [checked]="type.Value === 'true'">
                    {{ type.SiteWorkApplicableTypeName !== 'Yes No' ? type.SiteWorkApplicableTypeName : '' }}
                  </label>
                </div>

                <!-- Radio -->
                <div *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'radio'"
                  style="display: flex; align-items: center; gap: 1rem; margin-right: 1.5rem;">
                  <label *ngIf="type.SiteWorkApplicableTypeName !== 'Yes No'" style="margin-right: 0.5rem;">
                    {{ type.SiteWorkApplicableTypeName }}
                  </label>
                  <label>
                    <input type="radio" class="form-check-input dark-border" name="{{ siteWork.SiteWorkName }}"
                      [value]="true" [(ngModel)]="type.Value"
                      (ngModelChange)="IsYesNoStatus(type.Value, siteWork.SiteWorkName)"> Yes
                  </label>
                  <label>
                    <input type="radio" class="form-check-input dark-border" name="{{ siteWork.SiteWorkName }}"
                      [value]="false" [(ngModel)]="type.Value"
                      (ngModelChange)="IsYesNoStatus(type.Value, siteWork.SiteWorkName)"> No
                  </label>
                </div>
              </div>
              <!-- Inline Checkboxes and Radios -->
            </div>

            <!-- Grid layout for Date and Number Inputs -->
            <div class="row" style="margin-bottom: 1rem;">
              <ng-container *ngFor="let type of siteWork.ApplicableTypes; let i = index">
                <!-- Number Input -->
                <div class="col-md-6 col-sm-12 col-xs-12"
                  *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'number'"
                  style="margin-bottom: 1rem;">
                  <label>{{ type.SiteWorkApplicableTypeName }}</label>
                  <input class="form-control dark-border" name="{{siteWork.SiteWorkName.trim() + '_' + i + 100}}"
                    [(ngModel)]="type.Value" type="number">
                </div>

                <!-- Date Input -->
                <div class="col-md-6 col-sm-12 col-xs-12"
                  *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'date'"
                  style="margin-bottom: 1rem;">
                  <label>{{ type.SiteWorkApplicableTypeName }}</label>
                  <input class="form-control dark-border" name="{{siteWork.SiteWorkName.trim() + '_' + i + 100}}"
                    [(ngModel)]="type.Value" type="date">
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ul>
    </div>
    <div class="row">
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="submit" class="btn" (click)="onSave()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
