<div class="row">
  <div class="col-4 mb-2">
    <h1 style="padding-top: 3px;" class="title title_light">Quotation</h1>
  </div>
  <div class="col-4 mb-2 search-container_light">
    <!-- <app-shared-filter [masterList]="MasterList"
      [filterFields]="['Name']"
      (filteredList)="DisplayMasterList = $event"></app-shared-filter> -->
  </div>
  <div class="col-4 mb-2" routerLinkActive="active">
    <nz-button nz-button class="btn1" (click)='AddQuotation()'>
      Add Quotation
    </nz-button>
  </div>
</div>
