.tblheader td {
  text-align: center !important;
  font-weight: bold !important;
  background-color: var(--ion-color-primary-tint) !important;
  color: white !important;
  font-size: 14px !important;
  width: 50px;
}
