<div class="row">
  <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
    <button type="button" class="backbtn" (click)="onBack()">
      <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
    </button>
  </div>
  <div class="col-md-11">
    <span class="detail_title">{{DetailsFormTitle}}</span>
  </div>
</div>

<div class="row" style="margin-top: 2rem">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
    <nz-steps [nzCurrent]="i+1" nzDirection="vertical" class="custom-steps"
      *ngFor="let step of TransactionJsonArray;index as i">
      <nz-step nzTitle={{step.SiteWorkGroupName}} nzDescription=""
        (click)="getSiteWorkGroupName(step.SiteWorkGroupName)"></nz-step>
    </nz-steps>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">

  </div>
</div>
