<!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('T.P Office')">TP Office</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('परिशिष्ठ A(NA)')">NA Letter</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('Mojani')">Mojani</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('ULC')">ULC</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('Final Layout')">Final Layout</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('क जा पा')">क जा पा</span>
  </div>
  <div class="col-md-1"></div>
</div> -->

<div class="row" style="margin-top: 2rem">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
    <nz-steps nzDirection="vertical" class="custom-steps">
      <nz-step nzTitle="TP Office" nzDescription="" (click)="getSiteWorkGroupName('T.P Office')"></nz-step>
      <nz-step nzTitle="परिशिष्ठ A (NA)" nzDescription="" (click)="getSiteWorkGroupName('परिशिष्ठ A(NA)')"></nz-step>
      <nz-step nzTitle="मोजणी" nzDescription="" (click)="getSiteWorkGroupName('Mojani')"></nz-step>
      <nz-step nzTitle="ULC" nzDescription="" (click)="getSiteWorkGroupName('ULC')"></nz-step>
      <nz-step nzTitle="Final Layout" nzDescription="" (click)="getSiteWorkGroupName('Final Layout')"></nz-step>
      <nz-step nzTitle="क जा पा" nzDescription="" (click)="getSiteWorkGroupName('क जा पा')"></nz-step>
    </nz-steps>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
  </div>

</div>