<!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('T.P Office')">TP Office</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('परिशिष्ठ A(NA)')">NA Letter</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('Mojani')">Mojani</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('ULC')">ULC</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('Final Layout')">Final Layout</span>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('क जा पा')">क जा पा</span>
  </div>
  <div class="col-md-1"></div>
</div> -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 mb-2">
    <h5 style="padding-top: 3px;" class="title title_light">{{DetailsFormTitle}}</h5>
  </div>
</div>

<div class="row" style="margin-top: 2rem">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
    <nz-steps [nzCurrent]="i+1" nzDirection="vertical" class="custom-steps"
      *ngFor="let step of TransactionJson;index as i">
      <nz-step nzTitle={{step.SiteWorkGroupName}} nzDescription=""
        (click)="getSiteWorkGroupName(step.SiteWorkGroupName)"></nz-step>

      <!-- <nz-step nzTitle="परिशिष्ठ A (NA)" nzDescription="" (click)="getSiteWorkGroupName('परिशिष्ठ A(NA)')"></nz-step>
      <nz-step nzTitle="मोजणी" nzDescription="" (click)="getSiteWorkGroupName('Mojani')"></nz-step>
      <nz-step nzTitle="ULC" nzDescription="" (click)="getSiteWorkGroupName('ULC')"></nz-step>
      <nz-step nzTitle="Final Layout" nzDescription="" (click)="getSiteWorkGroupName('Final Layout')"></nz-step>
      <nz-step nzTitle="क जा पा" nzDescription="" (click)="getSiteWorkGroupName('क जा पा')"></nz-step> -->
    </nz-steps>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">

  </div>

</div>
<div class="row">
  <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
    <div>
      <button type="button" class="btn" (click)="onSave()">Save</button>
    </div>
    <div>
      <button type="button" class="btn" (click)="onCancel()">
        Back
      </button>
    </div>
  </div>
</div>