
:host ::ng-deep .custom-steps .ant-steps-item {
    font-size: 30px; /* Increase text size */
  }
  
  :host ::ng-deep .custom-steps .ant-steps-item-title {
    color: white !important; /* Change text color */
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(176, 91, 91);
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    text-align: center;
  }
  
  :host ::ng-deep .custom-steps .ant-steps-item-icon {
    font-size: 28px !important; /* Increase icon size */
    font-weight: 600;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    color: red !important; /* Change icon color */
    margin-bottom: 4vh; /* Reduce margin to properly align the line */
    background-color: brown;
    border-color: black;
  }
  
  :host ::ng-deep .custom-steps .ant-steps-item-icon > .ant-steps-icon {
    font-size: 28px !important; /* Increase step number size */
    color: white;
  }
  
  /* Fix line alignment */
  :host ::ng-deep .custom-steps .ant-steps-item-tail {
    top: 50% !important; /* Adjust line alignment */
    transform: translateY(-50%) !important; /* Center the line */
    height: calc(100% - 50px) !important; /* Adjust height dynamically */
  }