<div class="row">
 <div class="col-4 mb-2">
    <h1 style="padding-top: 3px;" class="title title_light">Stock Inward List</h1>
  </div>
   <div class="col-4 mb-2 search-container_light">
    <!-- <app-shared-filter [masterList]="MasterList" [filterFields]="['Date', 'Site name', 'SiteInchargeName', 'AddressLine2']"
      (filteredList)="DisplayMasterList = $event"></app-shared-filter> -->
  </div>
  <div class="col-4 mb-2" routerLinkActive="active">
    <nz-button nz-button class="btn1" (click)='AddInward()'>
      Add Inward
    </nz-button>
  </div>
</div>