.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.tblcardtitle {
    width: auto;
    vertical-align: text-top !important;
}

/* Responsive styles */
@media only screen and (max-width: 667px) {
    .modalbtn {
        text-align: left;
    }
}

