<div class="row" [ngSwitch]="SectionName">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <app-tp-office-details *ngSwitchCase="'TP Office'" [SelectedTransactionType]="SelectedTransactionType"
      (onEntitySaved)="onAddTransactionSubmit($event)"></app-tp-office-details>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <app-na-letter-details *ngSwitchCase="'परिशिष्ठ A(NA)'" [SelectedTransactionType]="SelectedTransactionType"
      (onEntitySaved)="onAddTransactionSubmit($event)"></app-na-letter-details>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <app-mojani-details *ngSwitchCase=" 'Mojani'" [SelectedTransactionType]="SelectedTransactionType"
      (onEntitySaved)="onAddTransactionSubmit($event)"></app-mojani-details>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <app-ulc-details *ngSwitchCase="'ULC'" [SelectedTransactionType]="SelectedTransactionType"
      (onEntitySaved)="onAddTransactionSubmit($event)"></app-ulc-details>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <app-final-layout-details *ngSwitchCase="'Final Layout'" [SelectedTransactionType]="SelectedTransactionType"
      (onEntitySaved)="onAddTransactionSubmit($event)"></app-final-layout-details>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <app-k-ja-pa-details *ngSwitchCase="'क जा पा'" [SelectedTransactionType]="SelectedTransactionType"
      (onEntitySaved)="onAddTransactionSubmit($event)"></app-k-ja-pa-details>
  </div>
  <div class="col-md-1"></div>
</div>