<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackActualStages()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Actual Stage</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6 mb-2">
          <label><b>Site Name</b></label>
          <input type="text" [(ngModel)]="Entity.p.SiteName" name="SiteName" class="form-control" id="SiteName" required
            placeholder="Enter Site Name" #SiteNameCtrl="ngModel" (blur)="SiteNameCtrl.control.markAsTouched()" />
          <div *ngIf="(SiteNameCtrl.invalid && (SiteNameCtrl.touched || SiteNameCtrl.dirty))">
            <span class="validation-text" *ngIf="SiteNameCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Date</b></label>
          <input type="date" [(ngModel)]="Entity.p.Date" name="Date" class="form-control" id="Date" required
            #DateCtrl="ngModel" (blur)="DateCtrl.control.markAsTouched()" />
          <div *ngIf="(DateCtrl.invalid && (DateCtrl.touched || DateCtrl.dirty))">
            <span class="validation-text" *ngIf="DateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Chalan No.</b></label>
          <input type="text" [(ngModel)]="Entity.p.ChalanNo" name="ChalanNo" class="form-control" id="ChalanNo" required
            placeholder="Enter Chalan No" [pattern]="NameWithNosAndSpace" #ChalanNoCtrl="ngModel"
            (blur)="ChalanNoCtrl.control.markAsTouched()" />
          <div *ngIf="(ChalanNoCtrl.invalid && (ChalanNoCtrl.touched || ChalanNoCtrl.dirty))">
            <span class="validation-text" *ngIf="ChalanNoCtrl.errors?.['pattern']">{{NameWithNosAndSpaceMsg}}</span>
            <span class="validation-text" *ngIf="ChalanNoCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Stage</b></label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="StageRef"
            name="StageRef" [nzSize]="'large'" [(ngModel)]="Entity.p.StageRef"
            (ngModelChange)="getStageTypeOnStageRef(Entity.p.StageRef)">
            <nz-option *ngFor="let Stage of StageList" [nzValue]="Stage.p.Ref" [nzLabel]="Stage.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Expense Type</b></label>
          <select type="text" name="Expensetype" class="form-control" id="Expensetype" required>
            <option>--Select Type--</option>
            <option>Machinary Expense</option>
            <option>Labour Expense</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div style="width: 100%;" class="d-flex justify-content-center">
        <hr style="border: 2px solid brown;" width="20%">
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-6 mb-2">
          <label>Vendor</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="VendorRef"
            name="VendorRef" [nzSize]="'large'" [(ngModel)]="Entity.p.VendorRef">
            <nz-option *ngFor="let Vendor of VendorList" [nzValue]="Vendor.p.Ref" [nzLabel]="Vendor.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-6 mb-2">
          <label>Vendor Services</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="VendorServiceRef"
            name="VendorServiceRef" [nzSize]="'large'" [(ngModel)]="Entity.p.VendorServiceRef">
            <nz-option *ngFor="let VendorServices of VendorServiceList" [nzValue]="VendorServices.p.Ref"
              [nzLabel]="VendorServices.p.Name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label>Sub Stage</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="SubStageRef"
            name="SubStageRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SubStageRef">
            <nz-option *ngFor="let SubStage of SubStageList" [nzValue]="SubStage.p.Ref"
              [nzLabel]="SubStage.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>Gutter Nale</b></label>
          <input type="number" [(ngModel)]="Entity.p.ExtraQuantity" name="ExtraQuantity" class="form-control"
            id="ExtraQuantity" required placeholder="Enter Extra Quantity" required [pattern]="NameWithNosAndSpace"
            #ExtraQuantityCtrl="ngModel" (blur)="ExtraQuantityCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)" />
          <div *ngIf="(ExtraQuantityCtrl.invalid && (ExtraQuantityCtrl.touched || ExtraQuantityCtrl.dirty))">
            <span class="validation-text" *ngIf="ExtraQuantityCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label>Unit</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="UnitRef" name="UnitRef"
            [nzSize]="'large'" [(ngModel)]="Entity.p.UnitRef">
            <nz-option *ngFor="let unit of UnitList" [nzValue]="unit.p.Ref" [nzLabel]="unit.p.Name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <label><b>Diesel Calculation</b></label>
        <div class="col-md-4  mb-2">
          <label>Diesel Ltr</label>
          <!-- Diesel Ltr. -->
          <input type="number" [(ngModel)]="Entity.p.DieselLtr" name="DieselLtr" class="form-control" id="DieselLtr"
            required placeholder="Enter Diesel Ltr" (input)="CalculateTotalOnDiselRateAndLtr()"
            [pattern]="NameWithNosAndSpace" #DieselLtrCtrl="ngModel" (blur)="DieselLtrCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)" />
          <div *ngIf="(DieselLtrCtrl.invalid && (DieselLtrCtrl.touched || DieselLtrCtrl.dirty))">
            <span class="validation-text" *ngIf="DieselLtrCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-4  mb-2">
          <label>Diesel Rate</label>
          <!-- Diesel Rate -->
          <input type="number" [(ngModel)]="Entity.p.DieselRate" name="DieselRate" class="form-control" id="DieselRate"
            required placeholder="Enter Diesel Rate" (input)="CalculateTotalOnDiselRateAndLtr()"
            [pattern]="NameWithNosAndSpace" #DieselRateCtrl="ngModel" (blur)="DieselRateCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)" />
          <div *ngIf="(DieselRateCtrl.invalid && (DieselRateCtrl.touched || DieselRateCtrl.dirty))">
            <span class="validation-text" *ngIf="DieselRateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-4  mb-2">
          <!-- Total Amount (Readonly) -->
          <label><b>Total Amount</b></label>
          <input type="number" [(ngModel)]="Entity.p.Amount" name="TotalAmount" class="form-control" id="TotalAmount"
            required placeholder="Enter Amount" #TotalAmountCtrl="ngModel"
            (blur)="TotalAmountCtrl.control.markAsTouched()" readonly />
          <div *ngIf="(TotalAmountCtrl.invalid && (TotalAmountCtrl.touched || TotalAmountCtrl.dirty))">
            <span class="validation-text" *ngIf="TotalAmountCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label>Unit</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="UnitRef" name="UnitRef"
            [nzSize]="'large'" [(ngModel)]="Entity.p.UnitRef">
            <nz-option *ngFor="let unit of UnitList" [nzValue]="unit.p.Ref" [nzLabel]="unit.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>Rate</b></label>
          <input type="number" [(ngModel)]="Entity.p.Rate" name="Rate" class="form-control" id="Rate" required
            placeholder="Enter Rate" required [pattern]="NameWithNosAndSpace" #RateCtrl="ngModel"
            (blur)="RateCtrl.control.markAsTouched()" (click)="selectAllValue($event)" />
          <div *ngIf="(RateCtrl.invalid && (RateCtrl.touched || RateCtrl.dirty))">
            <span class="validation-text" *ngIf="RateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>Quantity</b></label>
          <input type="number" [(ngModel)]="Entity.p.Quantity" name="Quantity" class="form-control" id="Quantity"
            required placeholder="Enter Quantity" required [pattern]="NameWithNosAndSpace" #QuantityCtrl="ngModel"
            (blur)="QuantityCtrl.control.markAsTouched()" (click)="selectAllValue($event)" />
          <div *ngIf="(QuantityCtrl.invalid && (QuantityCtrl.touched || QuantityCtrl.dirty))">
            <span class="validation-text" *ngIf="QuantityCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
      </div>
      <div style="width: 100%;" class="d-flex justify-content-center">
        <hr style="border: 2px solid brown;" width="20%">
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-6 mb-2">
          <label><b>Amount</b></label>
          <input type="number" [(ngModel)]="Entity.p.Amount" name="Amount" class="form-control" id="Amount" required
            placeholder="Enter Amount" required [pattern]="NameWithNosAndSpace" #AmountCtrl="ngModel"
            (blur)="AmountCtrl.control.markAsTouched()" (click)="selectAllValue($event)" />
          <div *ngIf="(AmountCtrl.invalid && (AmountCtrl.touched || AmountCtrl.dirty))">
            <span class="validation-text" *ngIf="AmountCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Sign</b></label>
          <input type="text" [(ngModel)]="Entity.p.CreatedByName" name="CreatedByName" class="form-control"
            id="CreatedByName" required placeholder="Enter Chalan No" [pattern]="NameWithNosAndSpace"
            #CreatedByNameCtrl="ngModel" (blur)="CreatedByNameCtrl.control.markAsTouched()" />
          <div *ngIf="(CreatedByNameCtrl.invalid && (CreatedByNameCtrl.touched || CreatedByNameCtrl.dirty))">
            <span class="validation-text"
              *ngIf="CreatedByNameCtrl.errors?.['pattern']">{{NameWithNosAndSpaceMsg}}</span>
            <span class="validation-text" *ngIf="CreatedByNameCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Description</b></label>
          <textarea type="text" [(ngModel)]="Entity.p.Description" name="Description" class="form-control"
            id="Description" rows="4" required placeholder="Enter Description" #DescriptionCtrl="ngModel"
            (blur)="DescriptionCtrl.control.markAsTouched()"></textarea>
          <div style="height: 25px;"
            *ngIf="(DescriptionCtrl.invalid && (DescriptionCtrl.touched || DescriptionCtrl.dirty))">
            <span class="validation-text" *ngIf="DescriptionCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <button type="button" class="btn">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackActualStages()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>
