<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackActualStages()">
          <img
            src="/assets/icons/arrow-button.png"
            alt=""
            width="34px"
            height="34px"
          />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Actual Stage</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-6 mb-2">
          <label><b>Site Name</b></label>
          <!-- <input type="text" [(ngModel)]="Entity.p.SiteName" name="SiteName" class="form-control" id="SiteName"
            placeholder="Enter Site Name" #SiteNameCtrl="ngModel" (blur)="SiteNameCtrl.control.markAsTouched()" />
          <div *ngIf="(SiteNameCtrl.invalid && (SiteNameCtrl.touched || SiteNameCtrl.dirty))">
            <span class="validation-text" *ngIf="SiteNameCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div> -->

          <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="SiteRef"
            name="SiteRef"
            [nzSize]="'large'"
            [(ngModel)]="Entity.p.SiteRef"
          >
            <nz-option
              *ngFor="let Site of SiteList"
              [nzValue]="Site.p.Ref"
              [nzLabel]="Site.p.Name"
            ></nz-option>
          </nz-select>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Date</b></label>
          <input
            type="date"
            [(ngModel)]="Entity.p.Date"
            name="Date"
            class="form-control"
            id="Date"
            #DateCtrl="ngModel"
            (blur)="DateCtrl.control.markAsTouched()"
          />
          <div *ngIf="DateCtrl.invalid && (DateCtrl.touched || DateCtrl.dirty)">
            <span
              class="validation-text"
              *ngIf="DateCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Chalan No.</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.ChalanNo"
            name="ChalanNo"
            class="form-control"
            id="ChalanNo"
            placeholder="Enter Chalan No"
            #ChalanNoCtrl="ngModel"
            (blur)="ChalanNoCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
            [disabled]="isChalanDisabled"
          />
          <div
            *ngIf="
              ChalanNoCtrl.invalid &&
              (ChalanNoCtrl.touched || ChalanNoCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="ChalanNoCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Stage</b></label>
          <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="StageRef"
            name="StageRef"
            [nzSize]="'large'"
            [(ngModel)]="Entity.p.StageRef"
            (ngModelChange)="OnStageChange(Entity.p.StageRef)"
          >
            <nz-option
              *ngFor="let Stage of StageList"
              [nzValue]="Stage.p.Ref"
              [nzLabel]="Stage.p.Name"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-6 mb-2">
          <label><b>Expense Type</b></label>
          <div class="d-flex align-items-center">
            <!-- Dropdown -->
            <!-- <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select"
              id="ExpenseTypeRef" name="ExpenseTypeRef" [nzSize]="'large'" (ngModelChange)="ClearInputsOnExpenseChange()"
              [(ngModel)]="Entity.p.ExpenseTypeRef">
              <nz-option *ngFor="let Expense of ExpenseTypeList" [nzValue]="Expense.p.Ref"
                [nzLabel]="Expense.p.Name"></nz-option>
            </nz-select> -->
            <nz-select
              *ngIf="!isAddingExpense"
              class="nzSelect-light"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select"
              id="ExpenseTypeRef"
              name="ExpenseTypeRef"
              [nzSize]="'large'"
              (ngModelChange)="ClearInputsOnExpenseChange()"
              [(ngModel)]="Entity.p.ExpenseTypeRef"
            >
              <nz-option
                *ngFor="let Expense of ExpenseTypeList"
                [nzValue]="Expense.p.ExpenseType"
                [nzLabel]="Expense.p.Name"
              ></nz-option>
            </nz-select>
            <!-- Input box for new expense -->
            <input
              *ngIf="isAddingExpense && isAdd"
              type="text"
              class="form-control flex-grow-1"
              name="Name"
              id="Name"
              placeholder="Enter new expense type"
              [(ngModel)]="ExpenseTypeEntity.p.Name"
            />

            <!-- Right icon/button -->
            <span
              *ngIf="!isAddingExpense && isAdd"
              (click)="toggleExpenseInput()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded"
              style="width: 36px; height: 36px; cursor: pointer"
            >
              <i class="fa-solid fa-plus"></i>
            </span>

            <!-- Save icon: CHECKMARK when input is visible -->
            <span
              *ngIf="isAddingExpense"
              (click)="saveNewExpenseType()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded text-success"
              style="width: 36px; height: 36px; cursor: pointer"
            >
              <i class="fa-solid fa-check"></i>
            </span>
          </div>
        </div>
      </div>
      <div style="width: 100%" class="d-flex justify-content-center">
        <hr style="border: 2px solid brown" width="20%" />
      </div>
      <div class="row" style="margin-top: 1rem">
        <div [ngClass]="{
          'col-lg-4 col-md-6 col-sm-12 mb-3': !Entity.p.ExpenseTypeRef || Entity.p.ExpenseTypeRef === 200,
          'col-lg-3 col-md-6 col-sm-12 mb-3': Entity.p.ExpenseTypeRef != 200,
          
        }">
          <label>Vendor</label>
          <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="VendorRef"
            name="VendorRef"
            [nzSize]="'large'"
            [(ngModel)]="Entity.p.VendorRef"
            (ngModelChange)="getVendorServiceListByVendorRef(Entity.p.VendorRef)"
          >
            <nz-option
              *ngFor="let Vendor of VendorList"
              [nzValue]="Vendor.p.Ref"
              [nzLabel]="Vendor.p.Name"
            ></nz-option>
          </nz-select>
        </div>
        <div [ngClass]="{
          'col-lg-4 col-md-6 col-sm-12 mb-3': !Entity.p.ExpenseTypeRef || Entity.p.ExpenseTypeRef === 200,
          'col-lg-3 col-md-6 col-sm-12 mb-3': Entity.p.ExpenseTypeRef != 200
        }">
          <label>Vendor Services</label>
          <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="VendorServiceRef"
            name="VendorServiceRef"
            [nzSize]="'large'"
            [(ngModel)]="Entity.p.VendorServiceRef"
          >
            <nz-option
              *ngFor="let VendorServices of VendorServiceList"
              [nzValue]="VendorServices.p.Ref"
              [nzLabel]="VendorServices.p.Name"
            ></nz-option>
          </nz-select>
        </div>
        <div class="col-md-3" *ngIf="Entity.p.ExpenseTypeRef == 100">
          <label><b>Vehical No.</b></label>
          <input
            type="text"
            [(ngModel)]="Entity.p.VehicleNo"
            name="VehicleNo"
            class="form-control"
            id="VehicleNo"
            placeholder="Enter Vehicle No"
            #VehicleNoCtrl="ngModel"
            (blur)="VehicleNoCtrl.control.markAsTouched()"
          />
          <div
            *ngIf="
              VehicleNoCtrl.invalid &&
              (VehicleNoCtrl.touched || VehicleNoCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="VehicleNoCtrl.errors?.['pattern']"
              >{{ NameWithNosAndSpaceMsg }}</span
            >
          </div>
        </div>
        <div [ngClass]="{
          'col-lg-4 col-md-6 col-sm-12 mb-3': !Entity.p.ExpenseTypeRef || Entity.p.ExpenseTypeRef === 200,
          'col-lg-3 col-md-6 col-sm-12 mb-3': Entity.p.ExpenseTypeRef != 200
        }">
          <label>Unit</label>
          <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="UnitRef"
            name="UnitRef"
            [nzSize]="'large'"
            [(ngModel)]="Entity.p.UnitRef"
          >
            <nz-option
              *ngFor="let unit of UnitList"
              [nzValue]="unit.p.Ref"
              [nzLabel]="unit.p.Name"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div
          *ngIf="IsStage && StageType != StageTypeEnum.OfficialExpenditure"
          [ngClass]="{
            'col-lg-4 col-md-6 col-sm-12 mb-3':
              StageType !== StageTypeEnum.Road &&
              StageType !== StageTypeEnum.SidePattiChira &&
              StageType !== StageTypeEnum.SolarStreetLight,
            'col-lg-6 col-md-6 col-sm-12 mb-3':
              StageType == StageTypeEnum.Road ||
              StageType == StageTypeEnum.SidePattiChira ||
              StageType == StageTypeEnum.SolarStreetLight
          }"
        >
          <label>Sub Stage</label>
          <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="SubStageRef"
            name="SubStageRef"
            [nzSize]="'large'"
            [(ngModel)]="Entity.p.SubStageRef"
          >
            <nz-option
              *ngFor="let SubStage of SubStageList"
              [nzValue]="SubStage.p.Ref"
              [nzLabel]="SubStage.p.Name"
            ></nz-option>
          </nz-select>
        </div>
        <div
          *ngIf="StageType == StageTypeEnum.OfficialExpenditure"
          class="col-md-6 col-md-4 col-sm-12"
          clss
        >
          <label for="SelectedMonths"><b>Months</b></label>
          <nz-select
            [(ngModel)]="Entity.p.SelectedMonths"
            nzMode="multiple"
            id="SelectedMonths"
            name="SelectedMonths"
            nzShowSearch
            nzAllowClear
            (ngModalChange)="onSelectedMonthsChange(Entity.p.SelectedMonths)"
            nzPlaceHolder="Select services"
          >
            <nz-option
              *ngFor="let SelectedMonths of MonthList"
              [nzValue]="SelectedMonths.Ref"
              [nzLabel]="SelectedMonths.Name"
            ></nz-option>
          </nz-select>
        </div>
        <div
          *ngIf="
            IsStage &&
            StageType !== StageTypeEnum.SolarStreetLight &&
            StageType !== StageTypeEnum.SidePattiChira
          "
          [ngClass]="{
            'col-lg-4 col-md-6 col-sm-12 mb-3':
              StageType !== StageTypeEnum.Road,
            'col-md-6 col-sm-12 mb-3': StageType === StageTypeEnum.Road
          }"
        >
          <label *ngIf="StageType == StageTypeEnum.HalfRoundGutterNale"
            ><b>Gutter Nale</b></label
          >
          <label *ngIf="StageType == StageTypeEnum.Road"><b>/m2</b></label>
          <div
            *ngIf="
              StageType == StageTypeEnum.HalfRoundGutterNale ||
              StageType == StageTypeEnum.Road
            "
          >
            <input
              type="number"
              [(ngModel)]="Entity.p.ExtraQuantity"
              name="ExtraQuantity"
              class="form-control"
              id="ExtraQuantity"
              placeholder="Enter Quantity"
              #ExtraQuantityCtrl="ngModel"
              (blur)="ExtraQuantityCtrl.control.markAsTouched()"
              (click)="selectAllValue($event)"
            />
            <div
              *ngIf="
                ExtraQuantityCtrl.invalid &&
                (ExtraQuantityCtrl.touched || ExtraQuantityCtrl.dirty)
              "
            >
              <span
                class="validation-text"
                *ngIf="ExtraQuantityCtrl.errors?.['required']"
                >{{ RequiredFieldMsg }}</span
              >
            </div>
          </div>
        </div>

        <div
          *ngIf="IsStage && StageType == StageTypeEnum.HalfRoundGutterNale"
          class="col-lg-4 col-md-6 col-sm-12 mb-3"
        >
          <label>Gutter Nale Unit</label>
          <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="GutterNaleUnitRef"
            name="GutterNaleUnitRef"
            [nzSize]="'large'"
            [(ngModel)]="Entity.p.GutterNaleUnitRef"
          >
            <nz-option
              *ngFor="let unit of UnitList"
              [nzValue]="unit.p.Ref"
              [nzLabel]="unit.p.Name"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <div
        *ngIf="Entity.p.ExpenseTypeRef == 100"
        class="row"
        style="margin-top: 1rem"
      >
        <label><b>Diesel Calculation</b></label>
        <div class="col-md-4 mb-2">
          <label>Diesel Ltr</label>
          <!-- Diesel Ltr. -->
          <input
            type="number"
            [(ngModel)]="Entity.p.DieselQuantity"
            name="DieselQuantity"
            class="form-control"
            id="DieselQuantity"
            placeholder="Enter Diesel Ltr"
            (input)="CalculateTotalOnDiselRateAndLtr()"
            #DieselQuantityCtrl="ngModel"
            (blur)="DieselQuantityCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              DieselQuantityCtrl.invalid &&
              (DieselQuantityCtrl.touched || DieselQuantityCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="DieselQuantityCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <label>Diesel Rate</label>
          <!-- Diesel Rate -->
          <input
            type="number"
            [(ngModel)]="Entity.p.DieselRate"
            name="DieselRate"
            class="form-control"
            id="DieselRate"
            placeholder="Enter Diesel Rate"
            (input)="CalculateTotalOnDiselRateAndLtr()"
            #DieselRateCtrl="ngModel"
            (blur)="DieselRateCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              DieselRateCtrl.invalid &&
              (DieselRateCtrl.touched || DieselRateCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="DieselRateCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <!-- Diesel Amount (Readonly) -->
          <label><b>Diesel Amount</b></label>
          <div class="row">
            <div class="col-8">
              <input
                type="number"
                [(ngModel)]="Entity.p.DieselTotalAmount"
                name="DieselTotalAmount"
                class="form-control"
                id="DieselTotalAmount"
                placeholder="Enter Amount"
                #DieselTotalCtrl="ngModel"
                (blur)="DieselTotalCtrl.control.markAsTouched()"
                readonly
              />
            </div>
            <div class="col-4">
              <input
                type="checkbox"
                id="IsDieselPaid"
                [(ngModel)]="Entity.p.IsDieselPaid"
                name="IsDieselPaid"
                (ngModelChange)="CalculateAmountOnRateAndQuantity()"
                class="form-check-input me-2 large-dark-checkbox"
                style="width: 20px; height: 20px"
              />
              <label for="IsDieselPaid" class="form-check-label mb-0"
                >Is  Paid</label
              >
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="Entity.p.ExpenseTypeRef != 200" class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="margin-top: 1rem">
          <label><b>Quantity</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.Quantity"
            name="Quantity"
            class="form-control"
            id="Quantity"
            placeholder="Enter Quantity"
            (ngModelChange)="CalculateAmountOnRateAndQuantity()"
            #QuantityCtrl="ngModel"
            (blur)="QuantityCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              QuantityCtrl.invalid &&
              (QuantityCtrl.touched || QuantityCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="QuantityCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="margin-top: 1rem">
          <label><b>Rate</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.Rate"
            name="Rate"
            class="form-control"
            id="Rate"
            placeholder="Enter Rate"
            (ngModelChange)="CalculateAmountOnRateAndQuantity()"
            #RateCtrl="ngModel"
            (blur)="RateCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div *ngIf="RateCtrl.invalid && (RateCtrl.touched || RateCtrl.dirty)">
            <span
              class="validation-text"
              *ngIf="RateCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Amount</b></label>
          <input
            type="number"
            class="form-control"
            placeholder="Amount"
            [value] ='Amount'
          />
          <div
            *ngIf="
              AmountCtrl.invalid && (AmountCtrl.touched || AmountCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="AmountCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
      </div>
      <div *ngIf="Entity.p.ExpenseTypeRef == 200" class="row">
        <!-- Skilled Section -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="margin-top: 1rem">
          <label><b>Skill Quantity</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.SkillQuantity"
            name="SkillQuantity"
            class="form-control"
            id="SkillQuantity"
            placeholder="Enter Skill Quantity"
            #SkillQuantityCtrl="ngModel"
            (blur)="SkillQuantityCtrl.control.markAsTouched()"
            (input)="CalculateAmountOnSkillRateAndQuantity()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              SkillQuantityCtrl.invalid &&
              (SkillQuantityCtrl.touched || SkillQuantityCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="SkillQuantityCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="margin-top: 1rem">
          <label><b>Skill Rate</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.SkillRate"
            name="SkillRate"
            class="form-control"
            id="SkillRate"
            placeholder="Enter Skill Rate"
            #SkillRateCtrl="ngModel"
            (blur)="SkillRateCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
            (input)="CalculateAmountOnSkillRateAndQuantity()"
          />
          <div
            *ngIf="
              SkillRateCtrl.invalid &&
              (SkillRateCtrl.touched || SkillRateCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="SkillRateCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="margin-top: 1rem">
          <label><b>Skill Amount</b></label>
          <input
            type="number"
            readonly
            [(ngModel)]="Entity.p.SkillAmount"
            name="SkillAmount"
            class="form-control"
            id="SkillAmount"
            placeholder="Enter Skill Amount"
            #SkillAmountCtrl="ngModel"
            (blur)="SkillAmountCtrl.control.markAsTouched()"
          />
          <div
            *ngIf="
              SkillAmountCtrl.invalid &&
              (SkillAmountCtrl.touched || SkillAmountCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="SkillAmountCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>

        <!-- UnSkilled Section -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>Unskill Quantity</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.UnskillQuantity"
            name="UnskillQuantity"
            class="form-control"
            id="UnskillQuantity"
            placeholder="Enter Skill Quantity"
            (input)="CalculateAmountOnUnSkillRateAndQuantity()"
            #UnskillQuantityCtrl="ngModel"
            (blur)="UnskillQuantityCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              UnskillQuantityCtrl.invalid &&
              (UnskillQuantityCtrl.touched || UnskillQuantityCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="UnskillQuantityCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>UnSkill Rate</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.UnskillRate"
            name="UnSkillRate"
            class="form-control"
            id="UnSkillRate"
            placeholder="Enter UnSkill Rate"
            #UnSkillRateCtrl="ngModel"
            (blur)="UnSkillRateCtrl.control.markAsTouched()"
            (input)="CalculateAmountOnUnSkillRateAndQuantity()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              UnSkillRateCtrl.invalid &&
              (UnSkillRateCtrl.touched || UnSkillRateCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="UnSkillRateCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>UnSkill Amount</b></label>
          <input
            type="number"
            readonly
            [(ngModel)]="Entity.p.UnskillAmount"
            name="UnSkillAmount"
            class="form-control"
            id="UnSkillAmount"
            placeholder="Enter UnSkill Amount"
            #UnSkillAmountCtrl="ngModel"
            (blur)="UnSkillAmountCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              UnSkillAmountCtrl.invalid &&
              (UnSkillAmountCtrl.touched || UnSkillAmountCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="UnSkillAmountCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>

        <!-- Ladies Section -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>Ladies Quantity</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.LadiesQuantity"
            name="LadiesQuantity"
            class="form-control"
            id="LadiesQuantity"
            placeholder="Enter Ladies Quantity"
            #LadiesQuantityCtrl="ngModel"
            (blur)="LadiesQuantityCtrl.control.markAsTouched()"
            (input)="CalculateAmountOnLadiesRateAndQuantity()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              LadiesQuantityCtrl.invalid &&
              (LadiesQuantityCtrl.touched || LadiesQuantityCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="LadiesQuantityCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>Ladies Rate</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.LadiesRate"
            name="LadiesRate"
            class="form-control"
            id="LadiesRate"
            placeholder="Enter Ladies Rate"
            #LadiesRateCtrl="ngModel"
            (blur)="LadiesRateCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
            (input)="CalculateAmountOnLadiesRateAndQuantity()"
          />
          <div
            *ngIf="
              LadiesRateCtrl.invalid &&
              (LadiesRateCtrl.touched || LadiesRateCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="LadiesRateCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <label><b>Ladies Amount</b></label>
          <input
            type="number"
            readonly
            [(ngModel)]="Entity.p.LadiesAmount"
            name="LadiesAmount"
            class="form-control"
            id="LadiesAmount"
            placeholder="Enter Ladies Amount"
            #LadiesAmountCtrl="ngModel"
            (blur)="LadiesAmountCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              LadiesAmountCtrl.invalid &&
              (LadiesAmountCtrl.touched || LadiesAmountCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="LadiesAmountCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
      </div>

      <!-- time table start -->

      <div class="row" style="margin-top: 2rem; padding: 1rem"   *ngIf="Entity.p.ExpenseTypeRef == 100 && Entity.p.UnitRef == 30179">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
          <h5 style="padding-top: 3px; color: black">
            <b>Machinary Details</b>
          </h5>
        </div>
        <div
          class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container"
          style="display: flex; justify-content: end"
          routerLinkActive="active"
        >
          <nz-button nz-button class="btn1" (click)="isModalOpen = true"
            >Add Machine Time </nz-button
          >
        </div>
      </div>

      <div
        class="table-wrapper"
        class="tblcard_light"
        style="margin-top: 2rem"
        *ngIf="Entity.p.TimeDetails.length > 0"
      >
        <div class="table-container" style="margin-top: 2rem">
          <div class="row">
            <div class="col-12">
              <label class="TableHeading"> Owner Details Table</label>
            </div>
          </div>
          <nz-table
            #basicTable
            nzSize="small"
            class="no-hover-table"
            Class="bgtable_light"
            [nzScroll]="{ x: 'auto' }"
            nzFrontPagination="false"
            [nzShowSizeChanger]="false"
            [nzData]="Entity.p.TimeDetails"
          >
            <thead>
              <tr>
                <th *ngFor="let header of timeheaders" class="tblheadersecond">
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let time of Entity.p.TimeDetails;
                  let i = index
                "
              >
                <td Class="tbldata">{{ i + 1 }}</td>
                <td Class="tbldata">{{ time.StartTime}}</td>
                <td Class="tbldata">{{ time.EndTime }}</td>
                <td Class="tbldata">{{ time.WorkedHours }}</td>
                <td class="tbldata">
                  <span style="margin-left: 9px" (click)="EditTime(i)">
                    <img
                      src="\assets\icons\edit.png"
                      alt="logo"
                      title="Edit"
                      width="20px"
                      height="20px"
                    />
                  </span>
                  <span style="margin-left: 9px" (click)="RemoveTime(i)">
                    <img
                      src="\assets\icons\delete.png"
                      alt="logo"
                      title="Delete"
                      width="20px"
                      height="20px"
                  /></span>
                </td>
              </tr>
              <tr>
                <td class="tbldata" colspan="2"></td>
                <td class="tbldata"><b>Total Hours</b></td>
                <td class="tbldata"><b>{{ getTotalWorkedHours() }}</b></td>
                <td class="tbldata"><b></b></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div> 
       <div
       *ngIf="Entity.p.TimeDetails.length === 0 && Entity.p.ExpenseTypeRef == 100 && Entity.p.UnitRef == 30179"
        class="card-body_light"
      >
        <div
          style="height: 200px; background-color: white"
          class="d-flex align-items-center justify-content-center"
        >
          <span class="title_light"> Data Not Found</span>
        </div>
      </div>

      <!-- time table -->

      <div style="width: 100%" class="d-flex justify-content-center">
        <hr style="border: 2px solid brown" width="20%" />
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-6 mb-2">
          <label><b>Grand Total</b></label>
          <input
            type="number"
            [(ngModel)]="Entity.p.Amount"
            name="Amount"
            class="form-control"
            id="Amount"
            placeholder="Enter Amount"
            #AmountCtrl="ngModel"
            (blur)="AmountCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)"
          />
          <div
            *ngIf="
              AmountCtrl.invalid && (AmountCtrl.touched || AmountCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="AmountCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Description</b></label>
          <textarea
            type="text"
            [(ngModel)]="Entity.p.Description"
            name="Description"
            class="form-control"
            id="Description"
            rows="1"
            placeholder="Enter Description"
            #DescriptionCtrl="ngModel"
            (blur)="DescriptionCtrl.control.markAsTouched()"
          ></textarea>
          <div
            style="height: 25px"
            *ngIf="
              DescriptionCtrl.invalid &&
              (DescriptionCtrl.touched || DescriptionCtrl.dirty)
            "
          >
            <span
              class="validation-text"
              *ngIf="DescriptionCtrl.errors?.['required']"
              >{{ RequiredFieldMsg }}</span
            >
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Sign</b></label>
          <input
            type="text"
            [(ngModel)]="Entity.p.CreatedByName"
            name="CreatedByName"
            class="form-control"
            id="CreatedByName"
            placeholder="Enter Sign"
            readonly
            [pattern]="NameWithNosAndSpace"
            #CreatedByNameCtrl="ngModel"
            (blur)="CreatedByNameCtrl.control.markAsTouched()"
          />
        </div>
      </div>
      <div
        style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        "
      >
        <div>
          <button type="button" class="btn" (click)="SaveStageMaster()">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackActualStages()">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>Add Machine Hours</h5>
      <button
        type="button"
        class="btn-close"
        (click)="isModalOpen = false"
      ></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-4">
            <div>
              <label for="StartTime">Start Time</label>
              <input
                type="time"
                name="StartTime"
                class="form-control"
                id="StartTime"
                [(ngModel)]="TimeEntity.StartTime"
                (ngModelChange)="calculateWorkedHours()"
                placeholder="Enter Start Time "
                #StartTimeCtrl="ngModel" required
                (blur)="StartTimeCtrl.control.markAsTouched()"
              />
              <div *ngIf="(StartTimeCtrl.invalid && (StartTimeCtrl.touched || StartTimeCtrl.dirty))">
                <span class="validation-text" *ngIf="StartTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="EndTime">End Time </label>
              <input
                type="time"
                name="EndTime"
                class="form-control"
                id="EndTime"
                [(ngModel)]="TimeEntity.EndTime"
                (ngModelChange)="calculateWorkedHours()"
                placeholder="Enter To Time"
                #EndTimeCtrl="ngModel" required
                (blur)="EndTimeCtrl.control.markAsTouched()"
              />
              <div *ngIf="(EndTimeCtrl.invalid && (EndTimeCtrl.touched || EndTimeCtrl.dirty))">
                <span class="validation-text" *ngIf="EndTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="WorkedHours">Total Working Hours</label>
              <input
                type="number"
                name="WorkedHours"
                class="form-control"
                id="WorkedHours"
                [(ngModel)]="TimeEntity.WorkedHours"
                placeholder="Total Working Hours"
                required
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div
        style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        "
      >
        <div>
          <nz-button nz-button class="btn1" (click)="SaveTime()"
            >Save</nz-button
          >
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('time')">
            Close
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>
