.filter-wrapper {
    display: flex;
    flex-direction: column;
    height: 45%;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    overflow: hidden;
}

.filter-categories,
.filter-options {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 0;

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.scrollable-categories,
.scrollable-options {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: var(--ion-background-color);
    // padding: 5px;
}

.scrollable-categories::-webkit-scrollbar,
.scrollable-options::-webkit-scrollbar {
    width: 6px;
}

.scrollable-categories::-webkit-scrollbar-thumb,
.scrollable-options::-webkit-scrollbar-thumb {
    background-color: var(--ion-background-color);
    border-radius: 10px;
}

ion-item {
    cursor: pointer;
    transition: var(--ion-background-color) 0.3s;
    border-radius: 10px;

    &:hover {
        background: #000;
    }

    &.selected {
        background: var(--ion-color-primary-shade);
        --color: var(--ion-color-primary);
    }

    &.selected-option {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary);
    }

    ion-badge {
        margin-left: auto;
        background-color: var(--ion-color-primary);
        color: var(--ion-background-color);
        font-size: 12px;
    }
}

.no-category-msg {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 10px;

    ion-button {
        flex: 1;
    }
}
