<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row align-items-center">
      <!-- Back Button Column -->
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <button type="button" class="backbtn" (click)="BackIncome()">
          <img src="/assets/icons/arrow-button.png" alt="Back" class="backbtnimg" />
        </button>
      </div>

      <!-- Title Column -->
      <div class="col-10 col-md-11">
        <span class="detail_title text-truncate d-block">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Date</label>
          <input type="date" [(ngModel)]="Date" name="Date" class="form-control" id="Date" required
            placeholder="Enter Date" #DateCtrl="ngModel" (blur)="DateCtrl.control.markAsTouched()" />
          <div *ngIf="(DateCtrl.invalid && (DateCtrl.touched || DateCtrl.dirty))">
            <span class="validation-text" *ngIf="DateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Site Name</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef"
            (ngModelChange)="getPayerListBySiteAndPayerType(); Entity.p.PayerRef = 0; Entity.p.LedgerRef = 0; Entity.p.SubLedgerRef = 0; Entity.p.PayerType = 0; Entity.p.PlotName = '';">
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="LedgerRef" name="LedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.LedgerRef"
            (ngModelChange)="getSubLedgerListByLedgerRef(Entity.p.LedgerRef)">
            <nz-option *ngFor="let ledger of LedgerList" [nzValue]="ledger.p.Ref" [nzLabel]="ledger.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Sub Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SubLedgerRef" name="SubLedgerRef" [nzSize]="'large'"
            [(ngModel)]="Entity.p.SubLedgerRef">
            <nz-option *ngFor="let sub of SubLedgerList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>From Whom Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="PayerType" name="PayerType" [nzSize]="'large'" [(ngModel)]="Entity.p.PayerType"
            (ngModelChange)="getPayerListBySiteAndPayerType(); onTypeChange()">
            <nz-option *ngFor="let type of PayerTypesList" [nzValue]="type.Ref" [nzLabel]="type.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Received By</label>
          <div class="d-flex align-items-center">
            <nz-select *ngIf="!PayerNameInput && !PayerNameReadOnly" class="nzSelect-light"
              [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="PayerRef"
              name="PayerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.PayerRef" (ngModelChange)="onPayerChange()">
              <nz-option *ngFor="let payer of PayerList" [nzValue]="payer.p.Ref"
                [nzLabel]="payer.p.PayerName + ' - ' + payer.p.PlotName | titleCase" nzCustomContent>
                <span *ngIf="Entity.p.PayerType == DealDoneCustomer"
                  [ngClass]="payer.p.IsRegisterCustomerRef == 1 ? 'sitecus' : 'nonsitecus'">
                  {{ payer.p.PayerName + ' - ' + payer.p.PlotName| titleCase }}
                </span>
                <span *ngIf="Entity.p.PayerType != DealDoneCustomer"
                  [ngClass]="payer.p.IsRegisterCustomerRef == 1 ? 'sitecus' : 'nonsitecus'">
                  {{ payer.p.PayerName| titleCase }}
                </span>
              </nz-option>
            </nz-select>
            <input *ngIf="PayerNameInput && !PayerNameReadOnly" type="text" [(ngModel)]="PayerEntity.p.Name" name="Name"
              class="form-control" id="Name" required placeholder="Enter Payer Name" />
            <span *ngIf="!PayerNameInput && !PayerNameReadOnly && Entity.p.PayerType == RecipientType"
              (click)="AddPayerName()"
              class="ms-2 mb-0.5 d-flex justify-content-center align-items-center border rounded"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-plus" style="color: blue;"></i>
            </span>
            <span *ngIf="PayerNameInput && !PayerNameReadOnly" (click)="SaveNewPayerName()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded text-success"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-check"></i>
            </span>
            <span *ngIf="PayerNameInput && !PayerNameReadOnly" (click)="cancelPayerName()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded text-danger"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;"
          *ngIf="Entity.p.PayerType == DealDoneCustomer && Entity.p.PayerRef != 0">
          <div>
            <label>Plot Name</label>
            <input type="text" [(ngModel)]="Entity.p.PlotName" name="PlotName" class="form-control" id="PlotName"
              disabled placeholder="Enter PlotName" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <div>
            <label>Reason</label>
            <input type="text" [(ngModel)]="Entity.p.Reason" name="Reason" class="form-control" id="Reason" required
              placeholder="Enter Reason" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <div>
            <label>Income Amount</label>
            <input type="number" [(ngModel)]="Entity.p.IncomeAmount" name="IncomeAmount" class="form-control"
              id="IncomeAmount" required placeholder="Enter Income Amount" #IncomeAmountCtrl="ngModel"
              (blur)="IncomeAmountCtrl.control.markAsTouched()" (click)="selectAllValue($event)"
              (ngModelChange)="CalculateShreeBalance()" />
            <div *ngIf="(IncomeAmountCtrl.invalid && (IncomeAmountCtrl.touched || IncomeAmountCtrl.dirty))">
              <span class="validation-text" *ngIf="IncomeAmountCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <div>
            <label>Shree Balance</label>
            <input type="number" [(ngModel)]="Entity.p.ShreesBalance" disabled name="ShreesBalance" class="form-control"
              id="ShreesBalance" required placeholder="Enter Shrees Balance" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Mode of Payment</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="IncomeModeOfPayment" name="IncomeModeOfPayment" [nzSize]="'large'"
            [(ngModel)]="Entity.p.IncomeModeOfPayment">
            <nz-option *ngFor="let mode of ModeofPaymentList" [nzValue]="mode.Ref" [nzLabel]="mode.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;"
          *ngIf="Entity.p.IncomeModeOfPayment != Cash && Entity.p.IncomeModeOfPayment">
          <div>
            <label>Bank Name</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="BankAccountRef" name="BankAccountRef" [nzSize]="'large'"
              [(ngModel)]="Entity.p.BankAccountRef">
              <nz-option *ngFor="let bank of BankList" [nzValue]="bank.p.BankAccountRef"
                [nzLabel]="bank.p.BankName"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <div>
            <label>Narration</label>
            <input type="text" [(ngModel)]="Entity.p.Narration" name="Narration" class="form-control" id="Narration"
              required placeholder="Enter Narration" />
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveIncome()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackIncome()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
