<app-header title="Home"></app-header>

<ion-content>
  <!-- Quick Actions Grid -->
  <div class="grid">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of gridItems" size="4">
          <div class="grid-item" routerLink={{item.routerPath}}>
            <ion-icon [name]="item.icon"></ion-icon>
            <p>{{ item.label }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="recent-activity">
    <h3>
      Recent Activity
      <span class="see-all" (click)="viewAllActivity()">See All</span>
    </h3>

    <div *ngFor="let activity of recentActivities" class="activity-item">
      <ion-icon [name]="activity.icon"></ion-icon>
      <p>{{ activity.title }}</p>
      <span class="activity-time">{{ activity.date }}</span>
      <span [class]="activity.cssClass + ' badge'" *ngIf="activity.badge">{{ activity.badge }}</span>
    </div>
  </div>
</ion-content>

