<app-header-with-back-handler title="Material Requisition" backRoute="mobile-app/tabs/dashboard/stock-management">
</app-header-with-back-handler>
<app-chip-filter-mobile-app [filters]="filters" (filtersChanged)="onFiltersChanged($event)">
</app-chip-filter-mobile-app>
<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="requisition-list" [lines]="'none'">
    <ion-item *ngFor="let requisition of DisplayMasterList" class="requisition-item" button detail
      (click)="openModal(requisition, requisition.p.MaterialRequisitionDetailsArray[0])">
      <ion-label>
        <h2>Site : {{ requisition.p.SiteName || 'Unknown Site' }}</h2>
        <p class="date-label">Date : {{ formatDate(requisition.p.Date) || 'Unknown Date' }}</p>
      </ion-label>

      <div class="action-buttons" slot="end" (click)="$event.stopPropagation()">
        <ion-button fill="clear" size="small" color="primary" (click)="onEditClicked(requisition)">
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" (click)="onDeleteClicked(requisition)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <!-- Show "Data not found" if list is empty -->
  <div *ngIf="DisplayMasterList.length === 0 && !loadingService.isLoaderActive()" class="no-data-mobile-app">
    <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
    <p>No Material Requisition records found.</p>
  </div>


  <!-- Modal -->
  <ion-modal [isOpen]="modalOpen" (didDismiss)="closeModal()" class="modal-card">
    <ng-template>
      <div class="modal-container">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Material Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding modal-body">
          <div class="info-row-of-model" *ngIf="SelectedMaterialRequisition">
            <strong class="label">Date:</strong>
            <span class="value">{{ formatDate(SelectedMaterialRequisition.p.Date) || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <strong class="label">Site:</strong>
            <span class="value">{{ SelectedMaterialRequisition.p.SiteName || '-' }}</span>
          </div>
          <div class="table-container">
            <div class="table-scroll">
              <table class="custom-table">
                <thead>
                  <tr>
                    <th class="sticky-col sticky-header">#</th>
                    <th *ngFor="let item of tableHeaderData" class="sticky-header">{{ item }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of SelectedMaterialRequisition.p.MaterialRequisitionDetailsArray; let i = index">
                    <td class="sticky-col">{{i + 1 }}</td>
                    <td>
                      {{ item.MaterialName || '-' }}
                    </td>
                    <td>
                      {{ item.UnitName || '-' }}
                    </td>
                    <td>
                      {{ item.RequisitionQty || '-' }}
                    </td>
                    <td>
                      <div class="status-badge" [ngClass]="getStatusClass(item.MaterialStatus)">
                        {{ getStatusText(item.MaterialStatus)}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ion-content>

        <ion-footer class="modal-footer">
          <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
            Close
          </ion-button>
        </ion-footer>
      </div>
    </ng-template>
  </ion-modal>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="AddMaterialRequisition()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>