<app-loader *ngIf="isLoading"></app-loader>
<app-header-with-back-handler title="Marketing Management"></app-header-with-back-handler>
<!-- <app-chip-filter-mobile-app [filters]="filters" (filtersChanged)="onFiltersChanged($event)">
</app-chip-filter-mobile-app> -->
<ion-content  class="actual-stage-content">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Marketing Data List -->
  <ion-list class="data-list">
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="DisplayMasterList.length > 0 ; else noData">
        <ion-card *ngFor="let item of DisplayMasterList" class="data-card">
          <ion-card-header>
            <ion-card-title class="info-row"><strong>Marketing Type :</strong>{{ item.p.MarketingTypeName
              ?item.p.MarketingTypeName:'-'
              }}</ion-card-title>
            <ion-card-subtitle class="info-row"><strong>Site Name :</strong>{{ item.p.SiteName ? item.p.SiteName:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Date :</strong>{{item.p.Date
              ?formatShortDate(item.p.Date):'-'}}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Vendor Name :</strong>{{ item.p.VendorName
              ?item.p.VendorName:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Vendor Service :</strong>{{
              item.p.VendorServiceName?item.p.VendorServiceName:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Rate :</strong>{{
              item.p.Rate?item.p.Rate:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Quantity :</strong>{{
              item.p.Quantity?item.p.Quantity:'-'
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Total :</strong>{{
              item.p.Total?item.p.Total:'-'
              }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="btn-row">
              <ion-button fill="clear" size="small" color="primary" (click)="onViewClicked(item)">
                <ion-icon slot="start" name="eye-outline"></ion-icon> View
              </ion-button>
              <ion-button fill="clear" size="small" color="secondary" (click)="onEditClicked(item)">
                <ion-icon slot="start" name="create-outline"></ion-icon> Edit
              </ion-button>
              <ion-button fill="clear" size="small" color="danger" (click)="onDeleteClicked(item)">
                <ion-icon slot="start" name="trash-outline"></ion-icon> Delete
              </ion-button>
              <!-- <ion-button fill="clear" size="small" color="warning" (click)="onViewClicked(item)">
                <ion-icon slot="start" name="print-outline"></ion-icon> Print
              </ion-button> -->
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>

    <!-- No Data Template -->
    <ng-template #noData>
      <ion-card class="data-card">
        <ion-card-content class="text-center">
          <ion-icon name="information-circle-outline" size="large" color="medium"></ion-icon>
          <div>No Marketing Management data found.</div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-list>

  <!-- FAB -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="AddMarketing()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="AddMarketing()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="openFilterSheet()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Modal -->
  <ion-modal [isOpen]="ModalOpen" (didDismiss)="closeModal()" class="modal-card">
    <ng-container *ngIf="SelectedMarketingManagement">
      <ion-header>
        <ion-toolbar color="primary" class="modal-toolbar">
          <ion-title>Details</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content scroll-y="true" class="modal-scroll-content ion-padding">
        <div class="info-row-of-model">
          <strong class="label">Site:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.SiteName }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Date:</strong>
          <span class="value">{{ formatShortDate(SelectedMarketingManagement.p.Date)}}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Marketing Type:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.MarketingTypeName }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Vendor Name:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.VendorName }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Service:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.VendorServiceName }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Place:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.Place }}</span>
        </div>
        <div class="info-row-of-model"
          *ngIf="SelectedMarketingManagement.p.MarketingType==MarketingModes.PrintingMedia">
          <strong class="label">Pages:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.Page }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Rate:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.Rate }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Quantity:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.Quantity }}</span>
        </div>
        <div class="info-row-of-model">
          <strong class="label">Total:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.Total }}</span>
        </div>
        <!-- <div class="info-row-of-model">
          <strong class="label">Name:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.Name }}</span>
        </div> -->
        <div class="info-row-of-model">
          <strong class="label">Narration:</strong>
          <span class="value">{{ SelectedMarketingManagement.p.Narration }}</span>
        </div>
      </ion-content>
      <ion-footer class="modal-footer">
        <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
          Close
        </ion-button>
      </ion-footer>
    </ng-container>
  </ion-modal>
</ion-content>