<div class="row d-flex justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
    <h5 style="padding-top: 3px;" class="title title_light">Unit Master</h5>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 search-container_light">
    <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus
      [(ngModel)]="SearchString" />
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 btn-container" routerLinkActive="active">
    <nz-button nz-button class="btn1" (click)='AddUnit()'>
      Add Unit
    </nz-button>
  </div>
</div>
<div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Unit of paginatedList(); index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{Unit.p.Name}}</td>
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(Unit)"  [class.disabled-icon]="Unit.p.Ref === TimeUnitRef" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(Unit)"  [class.disabled-icon]="Unit.p.Ref === TimeUnitRef"/>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="fixed-pagination">
    <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
    </nz-pagination>
  </div>
</div>

<div *ngIf="DisplayMasterList.length === 0">
  <Data-Not-Found />
</div>
