<div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
      <h5 style="padding-top: 3px;" class="title title_light">Material Master</h5>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 search-container_light">
      <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 btn-container" routerLinkActive="active">
      <nz-button nz-button class="btn1" (click)='AddMaterial()'>
        Add Material
      </nz-button>
    </div>
  </div>
  <div class="table-container" style="margin-top: 2rem;">
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of MasterList; index as i">
          <td Class="tbldata">{{i+1}}</td>
          <td Class="tbldata">{{material.p.Name}}</td>
          <td Class="tbldata">{{material.p.Unit}}</td>
          <td class="tbldata">
            <span style="margin-left: 9px;" (click)="onEditClicked(material);">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;" (click)="onDeleteClicked(material);">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="DisplayMasterList.length === 0" Class="card-body_light">
    <div style="height: 200px;" class="d-flex align-items-center justify-content-center">
      <span Class="title_light"> Data Not Found</span>
    </div>
  </div>
</div>