.swal2-popup {
    font-size: 16px !important;
    border-radius: 10px !important;
  }
  .swal2-title {
    color: red !important;
  }
  .swal2-confirm {
    background-color: #3085d6 !important;
  }
  