<div class="row">
   <div class="col-4 mb-2">
    <h1 style="padding-top: 3px;" class="title title_light">Material Master</h1>
  </div>
   <div class="col-4 mb-2 search-container_light">
    <app-shared-filter [masterList]="MasterList" [filterFields]="['Code', 'Name', 'UnitName']"
      (filteredList)="onFilteredList($event)"></app-shared-filter>
  </div>
  <div class="col-4 mb-2" routerLinkActive="active" *ngIf="access.canAdd(featureRef)">
    <nz-button nz-button class="btn1" (click)='AddMaterial()'>
      Add Material
    </nz-button>
  </div>
</div>
<div class="table-wrapper tblcard_light" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th class="tblheader" nzLeft>{{ "SR.NO." }}</th>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of paginatedList(); index as i">
          <td Class="tbldata" nzLeft>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{material.p.Name}}</td>
          <td Class="tbldata">{{material.p.UnitName}}</td>
          <td class="tbldata" *ngIf="showActionColumn">
            <Edit-Icon (editClick)="onEditClicked(material)" *ngIf="access.canEdit(featureRef)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(material)" *ngIf="access.canDelete(featureRef)"/>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <Pagination [pageSize]="pageSize" [total]="total" [(currentPage)]="currentPage" (pageChange)="onPageChange($event)" />
</div>

<div *ngIf="DisplayMasterList.length === 0">
  <Data-Not-Found />
</div>
