<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackEstimateStage()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Estimate stages</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6 col-sm-12 mb-3">
          <label for="SiteRef"><b>Site Name</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef">
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
          </nz-select>
        </div>
        <!-- <div class="col-md-6 col-sm-12 mb-3">
          <label for="TransDateTime">Transaction Date</label>
          <input type="date" [(ngModel)]="Entity.p.TransDateTime" name="TransDateTime" class="form-control" id="TransDateTime" required
            placeholder="Enter Date" #TransDateTimeCtrl="ngModel" required (blur)="TransDateTimeCtrl.control.markAsTouched()"/>
          <div *ngIf="(TransDateTimeCtrl.invalid && (TransDateTimeCtrl.touched || TransDateTimeCtrl.dirty))">
            <span class="validation-text" *ngIf="TransDateTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div> -->
        <div class="col-md-6 col-sm-12 mb-3">
          <label for="Amount">Amount</label>
          <input type="number" [(ngModel)]="Entity.p.Amount" name="Amount" class="form-control" id="Amount" required
            placeholder="Enter Display Order" #AmountCtrl="ngModel" required (blur)="AmountCtrl.control.markAsTouched()"
            (click)="selectAllValue($event)" />
          <div *ngIf="(AmountCtrl.invalid && (AmountCtrl.touched || AmountCtrl.dirty))">
            <span class="validation-text" *ngIf="AmountCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 mb-3">
          <label><b>Description</b></label>
          <textarea type="text" [(ngModel)]="Entity.p.Description" name="Description" class="form-control"
            id="Description" rows="3" required placeholder="Enter Description" #DescriptionCtrl="ngModel"
            (blur)="DescriptionCtrl.control.markAsTouched()"></textarea>
          <div style="height: 25px;"
            *ngIf="(DescriptionCtrl.invalid && (DescriptionCtrl.touched || DescriptionCtrl.dirty))">
            <span class="validation-text" *ngIf="DescriptionCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <button type="button" class="btn" (click)="SaveStageMaster()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackEstimateStage()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>
