<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackEstimateStage()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Estimate stages</span>
      </div>
    </div>
    <form>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6 mb-2">
          <label><b>Site Name</b></label>
          <input type="text" name="sitename" class="form-control" id="sitename" required
            placeholder="Enter Site Name" />
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Date</b></label>
          <input type="date" name="startdate" class="form-control date-input" id="startdate" required
            placeholder="Select Date" />
        </div>
        <div class="col-md-6 mb-2">
          <div>
            <label><b>Main Ledger</b></label>
            <select type="text" name="MainLedger" class="form-control" id="MainLedger" required>
              <option>--Select Type--</option>
              <option>Customer</option>
              <option>Loan</option>
              <option>Gov off Exp</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div>
            <label><b>Sub Ledger</b></label>
            <select type="text" name="SubLedger" class="form-control" id="SubLedger" required>
              <option>--Select Type--</option>
              <option>Customer</option>
              <option>Loan</option>
              <option>Gov off Exp</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Amount</b></label>
          <input type="number" name="Amount" class="form-control" id="Amount" required
            placeholder="Enter Plot Number" />
        </div>
        <div class="col-md-6 mb-2">
          <label><b>Description</b></label>
          <input type="number" name="Description" class="form-control" id="Description" required
            placeholder="Enter Plot Number" />
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <button type="button" class="btn">Save</button>
        </div>  
        <div>
          <button type="button" class="btn" (click)="BackEstimateStage()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>