<app-loader *ngIf="isLoading"></app-loader>

<app-header-with-back-handler [title]="DetailsFormTitle"></app-header-with-back-handler>

<ion-content class="form-container ">
  <ion-list lines="none" class="ion-padding">
    <!-- Select Site -->
    <ion-item class="input-item" button (click)="selectSiteBottomsheet()">
      <ion-label>Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ Entity.p.SiteName || 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Date -->
    <ion-item class="input-item">
      <ion-label>Select Date</ion-label>
      <ion-datetime-button datetime="EntryDate"></ion-datetime-button>
    </ion-item>

    <ion-modal keepContentsMounted="true">
      <ng-template>
        <ion-datetime id="EntryDate" presentation="date" [(ngModel)]="Date" (ngModelChange)="DateChange($event)"
          show-default-buttons="true">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- Chalan No -->
    <ion-item class="input-item">
      <ion-input type="number" label="Chalan No" labelPlacement="floating" placeholder="Enter Chalan No"
        [(ngModel)]="Entity.p.ChalanNo"></ion-input>
    </ion-item>

    <!-- Select Stage -->
    <ion-item class="input-item" button (click)="selectStageBottomsheet()">
      <ion-label>Stage</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ Entity.p.StageName || 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- SELECT or ADD EXPENSE TYPE -->
    <!-- Show Select Box -->
    <ion-item class="input-item" *ngIf="!isAddingExpense">
      <ion-label (click)="selectExpenseTypeBottomsheet()">Expense Type</ion-label>

      <!-- Selected Text -->
      <ion-text slot="end" class="status-text" (click)="selectExpenseTypeBottomsheet()">
        {{ Entity.p.ExpenseTypeName || 'Select' }}
      </ion-text>

      <!-- Dropdown Icon -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon" (click)="selectExpenseTypeBottomsheet()"
        style="margin-left: 4px;">
      </ion-icon>

      <!-- Inline Add Button -->
      <ion-button *ngIf="!isAddingExpense && isAdd" slot="end" fill="solid" size="small" (click)="toggleExpenseInput()"
        style="--background: var(--ion-color-primary); --border-radius: 8px; --padding-start: 6px; --padding-end: 6px; margin-left: 6px;">
        <ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Show Input Box -->
    <ion-item class="input-item" *ngIf="isAddingExpense && isAdd">
      <ion-input slot="start" label="Add Expense Type" labelPlacement="floating" placeholder="Enter Expense Type"
        [(ngModel)]="ExpenseTypeEntity.p.Name">
      </ion-input>

      <!-- Confirm Button -->
      <ion-button slot="end" fill="solid" size="small" *ngIf="isAddingExpense" (click)="saveNewExpenseType()"
        style="--background: var(--ion-color-primary); --border-radius: 8px; --padding-start: 6px; --padding-end: 6px;">
        <ion-icon slot="icon-only" name="checkmark-outline" color="light"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Select Vendor -->
    <ion-item class="input-item" button (click)="selectVendorBottomsheet()">
      <ion-label>Vendor</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ Entity.p.VendorName || 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Select Vendor Service -->
    <ion-item class="input-item" button (click)="selectVendorServicesBottomsheet()">
      <ion-label>Vendor Service</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ Entity.p.VendorServiceName || 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Select Sub Stage -->
    <ion-item class="input-item" button (click)="selectSubStageBottomsheet()"
      *ngIf="IsStage && StageType != StageTypeEnum.OfficialExpenditure">
      <ion-label>Sub Stage</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ Entity.p.SubStageName || 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Select Months -->
    <ion-item class="input-item" button (click)="selectMonthsBottomsheet()"
      *ngIf="StageType == StageTypeEnum.OfficialExpenditure">
      <ion-label slot="start">Select Months</ion-label>

      <!-- Text showing the selected status -->
      <div slot="end" class="chip-container">
        <ion-chip *ngFor="let item of Entity.p.SelectedMonthsName">
          <ion-label>{{ item }}</ion-label>
        </ion-chip>
      </div>
      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- ExtraQuantity -->
    <ion-item class="input-item" *ngIf="
            IsStage &&
            StageType !== StageTypeEnum.SolarStreetLight &&
            StageType !== StageTypeEnum.SidePattiChira
          ">
      <ion-input type="number" label="Gutter Nale" labelPlacement="floating" placeholder="Enter Quantity"
        [(ngModel)]="Entity.p.ExtraQuantity" *ngIf="StageType == StageTypeEnum.HalfRoundGutterNale"></ion-input>
      <ion-input type="number" label="/m2" labelPlacement="floating" placeholder="Enter Quantity"
        [(ngModel)]="Entity.p.ExtraQuantity" *ngIf="StageType == StageTypeEnum.Road"></ion-input>
    </ion-item>

    <!-- Select Gutter Nale Unit -->
    <ion-item class="input-item" button (click)="selectGutterNaleUnitBottomsheet()"
      *ngIf="IsStage && StageType == StageTypeEnum.HalfRoundGutterNale">
      <ion-label>Gutter Nale Unit</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ Entity.p.GutterNaleUnitName || 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Vehical No -->
    <ion-item class="input-item" *ngIf="Entity.p.ExpenseTypeRef == 100">
      <ion-input label="Vehical No" labelPlacement="floating" placeholder="Enter Vehical No"
        [(ngModel)]="Entity.p.VehicleNo"></ion-input>
    </ion-item>

    <!-- Diesel Calculation -->
    <ion-grid *ngIf="Entity.p.ExpenseTypeRef == 100">
      <ion-row>
        <ion-col size="12">
          <ion-checkbox [(ngModel)]="Entity.p.IsDieselPaid" (ionChange)="CalculateAmountOnRateAndQuantity()">Diesel
            Calculation</ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <!-- Diesel Ltr -->
          <ion-item class="input-item">
            <ion-input type="number" label="Ltr" labelPlacement="floating" placeholder="Enter Diesel Ltr"
              [(ngModel)]="Entity.p.DieselQuantity" (ngModelChange)="CalculateTotalOnDiselRateAndLtr()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Diesel Rate -->
          <ion-item class="input-item">
            <ion-input type="number" label="Rate" labelPlacement="floating" placeholder="Enter Diesel Rate"
              [(ngModel)]="Entity.p.DieselRate" (ngModelChange)="CalculateTotalOnDiselRateAndLtr()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Diesel Amount -->
          <ion-item class="input-item">
            <ion-input type="number" readonly label="Amount" labelPlacement="floating" placeholder="Enter Diesel Amount"
              [(ngModel)]="Entity.p.DieselTotalAmount"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Select Unit -->
    <ion-item class="input-item" button (click)="selectUnitBottomsheet()" *ngIf="Entity.p.ExpenseTypeRef != 200">
      <ion-label>Unit</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ Entity.p.UnitName || 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Rate -->
    <ion-item class="input-item" *ngIf="Entity.p.ExpenseTypeRef != 200">
      <ion-input type="number" label="Rate" labelPlacement="floating" placeholder="Enter Rate"
        [(ngModel)]="Entity.p.Rate" (ngModelChange)="CalculateAmountOnRateAndQuantity()"></ion-input>
    </ion-item>

    <!-- Quantity -->
    <ion-item class="input-item" *ngIf="Entity.p.ExpenseTypeRef != 200">
      <ion-input type="number" label="Quantity" labelPlacement="floating" placeholder="Enter Quantity"
        [(ngModel)]="Entity.p.Quantity" (ngModelChange)="CalculateAmountOnRateAndQuantity()"
        *ngIf="Entity.p.ExpenseTypeRef != 200"></ion-input>
    </ion-item>

    <ion-grid *ngIf="Entity.p.ExpenseTypeRef == 200">
      <ion-row>
        <ion-col size="4">
          <!-- Skill Quantity -->
          <ion-item class="input-item">
            <ion-input type="number" label="Skill Quantity" labelPlacement="floating" placeholder="Enter Skill Quantity"
              [(ngModel)]="Entity.p.SkillQuantity"
              (ngModelChange)="CalculateAmountOnSkillRateAndQuantity()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Skill Rate -->
          <ion-item class="input-item">
            <ion-input type="number" label="Skill Rate" labelPlacement="floating" placeholder="Enter Skill Rate"
              [(ngModel)]="Entity.p.SkillRate" (ngModelChange)="CalculateAmountOnSkillRateAndQuantity()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Skill Amount -->
          <ion-item class="input-item">
            <ion-input type="number" label="Skill Amount" labelPlacement="floating" placeholder="Enter Skill Amount"
              [(ngModel)]="Entity.p.SkillAmount" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="Entity.p.ExpenseTypeRef == 200">
      <ion-row>
        <ion-col size="4">
          <!-- unSkill Quantity -->
          <ion-item class="input-item">
            <ion-input type="number" label="UnSkill Quantity" labelPlacement="floating"
              placeholder="Enter UnSkill Quantity" [(ngModel)]="Entity.p.UnskillQuantity"
              (ngModelChange)="CalculateAmountOnUnSkillRateAndQuantity()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Skill Rate -->
          <ion-item class="input-item">
            <ion-input type="number" label="UnSkill Rate" labelPlacement="floating" placeholder="Enter UnSkill Rate"
              [(ngModel)]="Entity.p.UnskillRate"
              (ngModelChange)="CalculateAmountOnUnSkillRateAndQuantity()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Skill Amount -->
          <ion-item class="input-item">
            <ion-input type="number" label="UnSkill Amount" labelPlacement="floating" placeholder="Enter UnSkill Amount"
              [(ngModel)]="Entity.p.UnskillAmount" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="Entity.p.ExpenseTypeRef == 200">
      <ion-row>
        <ion-col size="4">
          <!-- Ladies Quantity -->
          <ion-item class="input-item">
            <ion-input type="number" label="Ladies Quantity" labelPlacement="floating"
              placeholder="Enter Ladies Quantity" [(ngModel)]="Entity.p.LadiesQuantity"
              (ngModelChange)="CalculateAmountOnLadiesRateAndQuantity()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Skill Rate -->
          <ion-item class="input-item">
            <ion-input type="number" label="Ladies Rate" labelPlacement="floating" placeholder="Enter Ladies Rate"
              [(ngModel)]="Entity.p.LadiesRate" (ngModelChange)="CalculateAmountOnLadiesRateAndQuantity()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Skill Amount -->
          <ion-item class="input-item">
            <ion-input type="number" label="Ladies Amount" labelPlacement="floating" placeholder="Enter Ladies Amount"
              [(ngModel)]="Entity.p.LadiesAmount" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--Table For site and Plot details -->
    <ion-list *ngIf="Entity.p.ExpenseTypeRef == 100 && Entity.p.UnitRef == 30179">
      <ion-item lines="none">
        <ion-label class="ion-text-center" style="font-weight: bold; font-size: 1.2rem;">
          Machinary Details
        </ion-label>
        <ion-button>add</ion-button>
      </ion-item>
      <ion-card *ngFor="let Time of Entity.p.TimeDetails; let i = index">
        <ion-card-header>
          <ion-card-title>{{ i }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label>Start Time</ion-label>
            <ion-text>{{ Time.StartTime }}</ion-text>
          </ion-item>

          <ion-item>
            <ion-label>End Time</ion-label>
            <ion-text>{{ Time.EndTime }}</ion-text>
          </ion-item>

          <ion-item>
            <ion-label>Total Time</ion-label>
            <ion-text>{{ Time.WorkedHours }}</ion-text>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <!-- grand total Amount -->
    <ion-item class="input-item">
      <ion-input type="number" label="Grand Total Amount" labelPlacement="floating"
        placeholder="Enter Grand Total Amount" [(ngModel)]="Entity.p.Amount" readonly></ion-input>
    </ion-item>

    <!-- Sign -->
    <ion-item class="input-item">
      <ion-input type="number" label="Sign" labelPlacement="floating" placeholder="Enter Sign"
        [(ngModel)]="Entity.p.CreatedByName" readonly></ion-input>
    </ion-item>

    <!-- Description -->
    <ion-item class="input-item">
      <ion-textarea type="number" label="Description" labelPlacement="floating" placeholder="Enter Description"
        [(ngModel)]="Entity.p.Description"></ion-textarea>
    </ion-item>


    <!-- Main Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="goBack()" class="submit-button cancel-button">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="SaveStageMaster()" class="submit-button primary-button">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>