<app-header-with-back-handler [title]="'Preview Print'"></app-header-with-back-handler>

<ion-content class="form-container"
  style="--padding-top:0; font-family:sans-serif; color:#000; font-size:10px; text-transform:capitalize;">

  <!-- Share Button -->
  <div style="display:flex; justify-content:flex-end; align-items:center; padding:12px 16px 0 16px;">
    <ion-button (click)="handlePrintOrShare()" size="small" fill="outline" color="primary">
      <ion-icon slot="start" name="share-outline"></ion-icon>
      Share
    </ion-button>
  </div>

  <!-- Print Container -->
  <div #PrintContainer id="PrintTemplate" style="margin:0; padding:10px;">
    <div style="max-width:100%; margin:auto; border:2px solid #000;">

      <!-- Header -->
      <div style="padding:10px 0; text-align:center;">
        <h2 style="color:maroon; margin:10px 0 0 0; font-weight:600;">Bill Receipt</h2>
      </div>

      <!-- Logo & Info -->
      <table style="width:100%; border-collapse:collapse;">
        <tr>
          <td style="vertical-align:top; text-align:left; width:40%; padding:5px;border:1px solid #000;">
            <strong>
              <div><i class="fa-solid fa-file-lines" style="color:maroon; margin-right:8px;"></i>पोहोच पावती</div>
              <div><i class="fa-solid fa-phone" style="color:maroon; margin-right:8px;"></i>{{Entity.p.Contacts}}</div>
            </strong>
          </td>
          <td style="width:20%; text-align:center; padding:5px; border:1px solid #000;">
            <img src="/assets/logos/ShreeIcon.png" alt="Company Logo" style="height:80px; margin-bottom:5px;" />
          </td>
          <td style="vertical-align:middle; text-align:left; padding:5px; border:1px solid #000;">
            <strong>ऑफिस पत्ता <br>
              {{Entity.p.AddressLine1}} <br>
              {{Entity.p.AddressLine2}}
            </strong>
          </td>
        </tr>
      </table>

      <!-- Bill To -->
      <table style="width:100%; border-collapse:collapse;margin-top: 0px;">
        <tr>
          <td style="width:40%; text-align:left; vertical-align:top; padding:5px;border:1px solid #000;">
            <div><strong>Site Name - {{Entity.p.SiteName}}</strong></div><br>
            <div><strong>Main Ledger - {{Entity.p.LedgerName}}</strong></div><br>
            <div><strong>Sub Ledger - {{Entity.p.SubLedgerName}}</strong></div>
          </td>
          <td style="text-align:left; vertical-align:top; padding:5px;border:1px solid #000;">
            <div><strong>Recipient Name - {{Entity.p.RecipientName}}</strong></div><br>
            <div><strong>Billing No. - {{Entity.p.InvoiceNo}}</strong></div><br>
            <div><strong>Date - {{formatDate(Entity.p.Date)}}</strong></div>
          </td>
        </tr>
      </table>
      <div style="width:100%;overflow-x:auto;margin-top:0px;">
        <!-- Expense Table -->
        <div *ngIf="!Entity.p.ExpenseTypeArray.includes(StockExpenseRef)">
          <table style="width:100%; border-collapse:collapse; text-align:center;">
            <thead *ngIf="!Entity.p.ExpenseTypeArray.includes(LabourExpenseRef)">
              <tr style="background-color:maroon; color:#fff;">
                <th style="padding:8px;">Sr.No</th>
                <th style="padding:8px;">Details</th>
                <th style="padding:8px;">Qty.</th>
                <th style="padding:8px;">Unit</th>
                <th style="padding:8px;">Rate</th>
                <th style="padding:8px;">Amount</th>
              </tr>
            </thead>
            <thead *ngIf="Entity.p.ExpenseTypeArray.includes(LabourExpenseRef)">
              <tr style="background-color:maroon; color:#fff;">
                <th style="padding:8px;">Sr.No</th>
                <th style="padding:8px;">Labour Type</th>
                <th style="padding:8px;">Days</th>
                <th style="padding:8px;">Qty.</th>
                <th style="padding:8px;">Rate</th>
                <th style="padding:8px;">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!Entity.p.ExpenseTypeArray.includes(LabourExpenseRef)">
                <td style="padding:8px;">1.</td>
                <td style="padding:8px;">{{Entity.p.Description}}</td>
                <td style="padding:8px;">{{Entity.p.Qty ? Entity.p.Qty : DisplayTotalWorkingHrs}}</td>
                <td style="padding:8px;">{{Entity.p.UnitName}}</td>
                <td style="padding:8px;">{{Entity.p.Rate | currency:'INR'}}</td>
                <td style="padding:8px;">
                  {{DisplayTotalWorkingHrs ?
                  ((Entity.p.InvoiceAmount + Entity.p.DieselAmount) | currency:'INR') :
                  ((Entity.p.Qty * Entity.p.Rate) | currency:'INR')}}
                </td>
              </tr>
              <tr *ngIf="Entity.p.DieselQty > 0">
                <td style="padding:8px;">2.</td>
                <td style="padding:8px;">Diesel Supplied by Shree</td>
                <td style="padding:8px;">{{Entity.p.DieselQty}}</td>
                <td style="padding:8px;">Liter</td>
                <td style="padding:8px;">{{Entity.p.DieselRate | currency:'INR'}}</td>
                <td style="padding:8px;">{{Entity.p.DieselAmount | currency:'INR'}}</td>
              </tr>
              <ng-container *ngIf="Entity.p.ExpenseTypeArray.includes(LabourExpenseRef)">
                <tr *ngFor="let time of Entity.p.LabourExpenseDetailsArray; let i = index">
                  <td style="padding:8px;">{{i+1}}</td>
                  <td style="padding:8px;">{{time.LabourTypeName}}</td>
                  <td style="padding:8px;">{{time.Days}}</td>
                  <td style="padding:8px;">{{time.LabourQty}}</td>
                  <td style="padding:8px;">{{time.LabourRate}}</td>
                  <td style="padding:8px;">{{time.LabourAmount}}</td>
                </tr>
              </ng-container>
              <tr>
                <td colspan="5" style="padding:8px; font-weight:bold; background-color:#fef4d4;">TOTAL</td>
                <td style="padding:8px; font-weight:bold; background-color:#fef4d4;">
                  {{Entity.p.InvoiceAmount | currency:'INR'}}
                </td>
              </tr>
              <tr>
                <td colspan="6" style="padding:8px; text-align:right;">
                  <strong>In Words - {{totalAmountInWords(Entity.p.InvoiceAmount)}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Stock Table -->
        <table *ngIf="Entity.p.ExpenseTypeArray.includes(StockExpenseRef)"
          style="width:100%; border-collapse:collapse; text-align:center;">
          <thead>
            <tr style="background-color:maroon; color:#fff;">
              <th *ngFor="let header of materialheaders" style="padding:8px;">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let material of Entity.p.MaterialInvoiceDetailsArray; let i=index">
              <td style="padding:8px;">{{i+1}}</td>
              <td style="padding:8px;">{{material.MaterialName}}</td>
              <td style="padding:8px;">{{material.UnitName}}</td>
              <td style="padding:8px;">{{material.Qty}}</td>
              <td style="padding:8px;">{{material.Rate | currency:'INR'}}</td>
              <td style="padding:8px;">{{material.DiscountedRate | currency:'INR'}}</td>
              <td style="padding:8px;">{{material.DeliveryCharges | currency:'INR'}}</td>
              <td style="padding:8px;">{{material.TotalAmount | currency:'INR'}}</td>
            </tr>
            <tr>
              <td colspan="7" style="padding:8px; font-weight:bold; background-color:#fef4d4;">TOTAL</td>
              <td style="padding:8px; font-weight:bold; background-color:#fef4d4;">
                {{Entity.p.InvoiceAmount | currency:'INR'}}
              </td>
            </tr>
            <tr>
              <td colspan="8" style="padding:8px; text-align:right;">
                <strong>In Words - {{totalAmountInWords(Entity.p.InvoiceAmount)}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Comments -->
      <div style="margin-top:10px;">
        <p style="background-color:#fef4d4; padding:10px 5%; font-weight:bold;">OTHER COMMENTS</p>
        <div style="margin-top:5px; padding-left:5%;">
          <p style="line-height:1.2;">1. वरील तपशिला प्रमाणे माल ताब्यात मिळाला.</p>
          <p style="line-height:1.2;">2. ही पावती सेवा पुरवठादाराच्या नोंदीसाठी प्रदान करण्यात आली आहे.</p>
          <p style="line-height:1.2;">3. ही पावती भविष्यातील लेखाजोखासाठी जतन करावी.</p>
        </div>
      </div>

      <!-- Footer -->
      <div style="margin-top:30px; display:flex; justify-content:space-between; font-weight:bold;">
        <p style="margin-left:5%;">Stamp : {{Entity.p.CompanyName}}</p>
        <p style="margin-right:5%;">Sign : {{Entity.p.CreatedByName}}</p>
      </div>

      <p style="text-align:center; line-height:1.2;">If you have any questions about this invoice, please contact</p>
      <p style="text-align:center; line-height:1.2;">{{Entity.p.CompanyName}} {{Entity.p.Contacts}}</p>
      <h5 style="text-align:center; margin-top:5px;"><strong><i>Thank You For Your Business!</i></strong></h5>
      <blockquote style="text-align:center; margin-top:10px; font-size:12px;">
        <i>Computer Generated Print</i>
      </blockquote>
    </div>
  </div>
</ion-content>
