<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackSalarySlipRequest()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <label>Name</label>
          <input type="text" [(ngModel)]="Entity.p.EmployeeName" readonly name="EmployeeName" class="form-control"
            id="EmployeeName" required #EmployeeNameCtrl="ngModel"
            (blur)="EmployeeNameCtrl.control.markAsTouched()" />
          <div style="height: 25px;"
            *ngIf="(EmployeeNameCtrl.invalid && (EmployeeNameCtrl.touched || EmployeeNameCtrl.dirty))">
            <span class="validation-text" *ngIf="EmployeeNameCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label>From Month</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="FromMonth"
            name="FromMonth" [nzSize]="'large'" [(ngModel)]="Entity.p.FromMonth">
            <nz-option *ngFor="let FromMonth of FromMonthList" [nzValue]="FromMonth.Ref"
              [nzLabel]="FromMonth.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label>From Year</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="FromYear"
            name="FromYear" [nzSize]="'large'" [(ngModel)]="Entity.p.FromYear">
            <nz-option *ngFor="let FromYear of FinancialYearList" [nzValue]="FromYear.FromDate"
              [nzLabel]="FromYear.FromDate"></nz-option>
          </nz-select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label>To Month</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="ToMonth" name="ToMonth"
            [nzSize]="'large'" [(ngModel)]="Entity.p.ToMonth">
            <nz-option *ngFor="let ToMonth of ToMonthList" [nzValue]="ToMonth.Ref" [nzLabel]="ToMonth.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
          <label>To Year</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="ToYear" name="ToYear"
            [nzSize]="'large'" [(ngModel)]="Entity.p.ToYear">
            <nz-option *ngFor="let ToYear of FinancialYearList" [nzValue]="ToYear.ToDate"
              [nzLabel]="ToYear.ToDate"></nz-option>
          </nz-select>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveSalarySlipRequest()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackSalarySlipRequest()">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
