<app-header-with-back-handler title={{DetailsFormTitle}}></app-header-with-back-handler>
<ion-content class="form-container" scrollY="true" [scrollEvents]="true" [fullscreen]="true">
  <ion-list lines="none" class="ion-padding">
    <!--  Date -->
    <ion-item class="input-item">
      <ion-label>Select Date</ion-label>
      <ion-datetime-button id="IncomeDate-trigger" datetime="IncomeDate"></ion-datetime-button>

      <ion-checkbox slot="end" [(ngModel)]="IncomeDate" name="IncomeDateCheckBox" [disabled]="true"></ion-checkbox>
    </ion-item>
    <ion-modal keepContentsMounted="true" trigger="IncomeDate-trigger">
      <ng-template>
        <ion-datetime id="IncomeDate" presentation="date" [(ngModel)]="IncomeDate" show-default-buttons="true"
          (ionChange)="onIncomeDateChange($event.detail.value)">
        </ion-datetime>
      </ng-template>
    </ion-modal>


    <!-- Select site -->
    <ion-item class="input-item" button detail (click)="selectSiteBottomsheet()" [disabled]="SiteList.length == 0">
      <ion-label>Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ SiteName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select Ledger -->
    <ion-item class="input-item" button detail (click)="selectLedgerBottomsheet()" [disabled]="LedgerList.length == 0">
      <ion-label>Ledger</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ LedgerName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select Sub Ledger -->
    <ion-item class="input-item" button detail (click)="selectSubLedgerBottomsheet()"
      [disabled]="SubLedgerList.length == 0">
      <ion-label>Sub Ledger</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ SubLedgerName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select To Whom Type -->
    <ion-item class="input-item" button detail (click)="selectFromWhomTypeBottomsheet()"
      [disabled]="PayerTypesList.length == 0">
      <ion-label>From Whom Type</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ PayerTypeName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select Payer Name -->
    <ion-item class="input-item" button detail *ngIf="!PayerNameInput && !PayerNameReadOnly">
      <ion-label (click)="selectPayerNameBottomsheet()">Received by</ion-label>

      <!-- Selected Text -->
      <ion-text slot="end" class="status-text" (click)="selectPayerNameBottomsheet()">
        {{ PayerName || 'Select' }}
      </ion-text>

      <!-- Inline Add Button -->
      <ion-button slot="end" fill="solid" size="small" (click)="AddPayerName()"
        style="--background: var(--ion-color-primary); --border-radius: 8px; --padding-start: 6px; --padding-end: 6px; margin-left: 6px;"
        *ngIf="Entity.p.PayerType == payerTypeRecipient">
        <!-- Entity.p.PayerType == DealDoneCustomer || -->
        <ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Add New Recipient Name Input and Action Buttons -->
    <ion-grid *ngIf="PayerNameInput && !PayerNameReadOnly">
      <ion-row class="ion-align-items-center ion-justify-content-between" style="gap: 8px;">
        <!-- Input Field -->
        <ion-col size="12">
          <ion-item class="input-item">
            <ion-input label="Payer Name" labelPlacement="floating" placeholder="Enter Payer Name"
              [(ngModel)]="PayerEntity.p.Name">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-between" style="gap: 8px;">
        <!-- Confirm Button -->
        <ion-col size="6" class="ion-text-start">
          <ion-button expand="block" fill="solid" size="small" (click)="SaveNewPayerName()"
            style="--background: var(--ion-color-primary); --border-radius: 8px;">
            <ion-icon slot="icon-only" name="checkmark-outline" color="light"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Cancel Button -->
        <ion-col size="6" class="ion-text-end">
          <ion-button expand="block" fill="solid" size="small" (click)="cancelPayerName()"
            style="--background: var(--ion-color-medium); --border-radius: 8px;">
            <ion-icon slot="icon-only" name="close-outline" color="light"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- Plot Name -->
    <ion-item class="input-item" *ngIf="Entity.p.PayerType == DealDoneCustomer && Entity.p.PayerRef != 0">
      <ion-input label="Plot Name" labelPlacement="floating" placeholder="Enter Plot Name"
        [(ngModel)]="Entity.p.PlotName" clearInput="true" [disabled]="'true'"></ion-input>
    </ion-item>

    <!-- Reason -->
    <ion-item class="input-item">
      <ion-input label="Reason" labelPlacement="floating" placeholder="Enter Reason" [(ngModel)]="Entity.p.Reason"
        clearInput="true"></ion-input>
    </ion-item>

    <!-- Income Amount -->
    <ion-item class="input-item">
      <ion-input label="Income Amount" labelPlacement="floating" placeholder="Enter Income Amount"
        [(ngModel)]="Entity.p.IncomeAmount" (ngModelChange)="CalculateShreeBalance()" type="number"></ion-input>
    </ion-item>

    <!-- Shree Balance -->
    <ion-item class="input-item">
      <ion-input label="Shree Balance" labelPlacement="floating" placeholder="Enter Shree Balance"
        [(ngModel)]="Entity.p.ShreesBalance" [disabled]="'true'"></ion-input>
    </ion-item>

    <!-- mode of payment -->
    <ion-item class="input-item" button detail (click)="selectModeOfPaymentBottomsheet()"
      [disabled]="ModeofPaymentList.length == 0">
      <ion-label>Mode of Payment</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ ModeOfPaymentName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Bank -->
    <ion-item class="input-item" button detail (click)="selectBankBottomsheet()"
      *ngIf="Entity.p.IncomeModeOfPayment != Cash && Entity.p.IncomeModeOfPayment" [disabled]="BankList.length == 0">
      <ion-label>Bank</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ BankName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Narration -->
    <ion-item class="input-item">
      <ion-input label="Narration" labelPlacement="floating" placeholder="Enter Narration"
        [(ngModel)]="Entity.p.Narration" clearInput="true" clearOnEdit="true"></ion-input>
    </ion-item>

    <!-- Main Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="medium" shape="round" (click)="goBack()">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="primary" shape="round" (click)="SaveIncome()">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>