<app-loader *ngIf="isLoading"></app-loader>

<app-header-with-back-handler [title]="DetailsFormTitle"></app-header-with-back-handler>

<ion-content class="form-container" [scrollEvents]="true">
  <ion-list lines="none" class="ion-padding">
    <!-- Select site -->
    <ion-item class="input-item" button (click)="selectSiteBottomsheet()">
      <ion-label>Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ SiteName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>
    <!--  Date -->
    <ion-item class="input-item">
      <ion-label>Select Date</ion-label>
      <ion-datetime-button datetime="FromDate" trigger="entry-date-modal"></ion-datetime-button>
    </ion-item>
    <ion-modal keepContentsMounted="true" trigger="entry-date-modal">
      <ng-template>
        <ion-datetime id="FromDate" presentation="date" [(ngModel)]="Date" show-default-buttons="true"></ion-datetime>
      </ng-template>
    </ion-modal>
    <!-- Select Marketing Type -->
    <ion-item class="input-item" button (click)="selectMarketingTypeBottomsheet()">
      <ion-label>Marketing Type</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ MarketingTypeName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Select Vendor -->
    <ion-item class="input-item" button (click)="selectVendorBottomsheet()">
      <ion-label>Vendor Name</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ VendorName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Select Vendor Service -->
    <ion-item class="input-item" button (click)="selectVendorServicesBottomsheet()">
      <ion-label>Vendor Service</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ VendorServiceName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Page -->
    <ion-item class="input-item" *ngIf="Entity.p.MarketingType == MarketingType.PrintingMedia">
      <ion-input label="Page" labelPlacement="floating" placeholder="Enter Page" [(ngModel)]="Entity.p.Page"
        type="number"></ion-input>
    </ion-item>


    <!-- Place -->
    <ion-item class="input-item">
      <ion-input label="Place" labelPlacement="floating" placeholder="Enter Place"
        [(ngModel)]="Entity.p.Place"></ion-input>
    </ion-item>

    <!-- Rate -->
    <ion-item class="input-item">
      <ion-input label="Rate" labelPlacement="floating" placeholder="Enter Rate" type="number"
        [(ngModel)]="Entity.p.Rate" (ngModelChange)="calculateTotal()"></ion-input>
    </ion-item>

    <!-- Quantity -->
    <ion-item class="input-item">
      <ion-input label="Quantity" labelPlacement="floating" placeholder="Enter Quantity" type="number"
        [(ngModel)]="Entity.p.Quantity" (ngModelChange)="calculateTotal()"></ion-input>
    </ion-item>

    <!-- Total -->
    <ion-item class="input-item">
      <ion-input label="Total" labelPlacement="floating" placeholder="Enter Total" type="number"
        [(ngModel)]="Entity.p.Total" readonly></ion-input>
    </ion-item>

    <!-- Name -->
    <!-- Select Vendor Service -->
    <ion-item class="input-item" button (click)="selectEmployeeBottomsheet()">
      <ion-label>Name</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ selectedEmployeeName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Narration -->
    <ion-item class="input-item">
      <ion-input label="Narration" labelPlacement="floating" placeholder="Enter Narration"
        [(ngModel)]="Entity.p.Narration"></ion-input>
    </ion-item>

    <!-- Main Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="goBack()" class="submit-button cancel-button">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="SaveMarketingManagementMaster()" class="submit-button primary-button">
            {{IsNewEntity ? "Save" : "Update"}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>