<div>
  <div class="row">
    <div class="col-4 mb-2">
      <h1 style="padding-top: 3px;" class="title title_light">Customer Enquiry</h1>
    </div>
    <div class="col-4 mb-2 search-container_light">
      <app-shared-filter [masterList]="MasterList" [filterFields]="['Name', 'ContactNos', 'CityName']"
        (filteredList)="onFilteredList($event)"></app-shared-filter>
    </div>
    <div class="col-4 mb-2" routerLinkActive="active">
      <nz-button nz-button class="btn1" (click)='AddCustomerEnquiryForm()'>
        Add Enquiry
      </nz-button>
    </div>
    <div>
    </div>
  </div>
  <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="paginatedList"
      (nzPageIndexChange)="onPageChange($event)">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerenquiry of paginatedList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{customerenquiry.p.Name}}</td>
          <td Class="tbldata">{{customerenquiry.p.ContactNos}}</td>
          <td Class="tbldata">{{customerenquiry.p.CityName}}</td>
          <td Class="tbldata">{{customerenquiry.p.PinCode}}</td>
          <td Class="tbldata">{{customerenquiry.p.Address}}</td>
          <td class="tbldata">
            <span style="margin-left: 9px;" (click)="onEditClicked(customerenquiry);">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>

          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="fixed-pagination">
    <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
    </nz-pagination>
  </div>
  <div *ngIf="DisplayMasterList.length === 0">
    <div style="height: 200px;" class="d-flex align-items-center justify-content-center">
      <span Class="title_light"> Data Not Found</span>
    </div>
  </div>
</div>
