<app-header title="Dashboard"></app-header>

<ion-content fullscreen>
  <div class="dashboard-wrapper">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of gridItems; let i = index" size="6" size-md="4" size-lg="3">
          <div class="dashboard-item" [routerLink]="item.routerPath" [ngClass]="{ active: i === selectedIndex }"
            (click)="selectItem(i)">
            <img [src]="item.icon" alt="{{ item.label }} icon" />
            <span>{{ item.label }}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>