<app-header title="dashboard"></app-header>
<ion-content>
  <!-- Quick Actions Grid -->
  <div class="grid-mobile-app">
    <ion-grid>
      <ion-row class="grid-row-mobile-app" [class.single-item-mobile-app]="gridItems.length === 1">
        <ion-col *ngFor="let item of gridItems; let i = index"
          [size]="gridItems.length === 1 ? '12' : gridItems.length === 2 ? '6' : '4'"
          class="grid-item-wrapper-mobile-app">
          <div class="grid-item-mobile-app" [routerLink]="item.routerPath" [ngClass]="{ active: i === selectedIndex }"
            (click)="selectItem(i)">
            <img [src]="item.icon" alt="{{item.label}} icon" />
          </div>
          <p class="grid-label-mobile-app">{{ item.label }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="recent-activity">
    <h3>
      Recent Activity
      <span class="see-all" (click)="viewAllActivity()">See All</span>
    </h3>

    <div *ngFor="let activity of recentActivities" class="activity-item">
      <ion-icon [name]="activity.icon"></ion-icon>
      <p>{{ activity.title }}</p>
      <span class="activity-time">{{ activity.date }}</span>
      <span [class]="activity.cssClass + ' badge'" *ngIf="activity.badge">{{ activity.badge }}</span>
    </div>
  </div>
</ion-content>