<div class="container-fluid">
  <div class="card-body">
    <div class="card" style="padding: 1rem">
      <form>
        <div class="row">
          <div class="col-md-4">
            <h5 class="title">Bank Master</h5>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
          <div class="col-md-4">
            <div>
              <label><b>Bank Name</b></label>
              <input
                type="text"
                name="bankname"
                class="form-control"
                id="bankname"
                required
                placeholder="Enter Bank Name"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label><b>Branch Name</b></label>
              <input
                type="text"
                name="branchname"
                class="form-control"
                id="branchname"
                required
                placeholder="Enter Branch Name"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label><b>Account No</b></label>
              <input
                type="text"
                name="accno"
                class="form-control"
                id="accno"
                required
                placeholder="Enter Account Number"
              />
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
          <div class="col-md-4">
            <div>
              <label><b>IFSC Code</b></label>
              <input
                type="text"
                name="ifsccode"
                class="form-control"
                id="ifsccode"
                required
                placeholder="Enter IFSC Code"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label><b>Opening Balance</b></label>
              <input
                type="text"
                name="openingbal"
                class="form-control"
                id="openingbal"
                required
                placeholder="Enter Opening Balance"
              />
            </div>
          </div>
        </div>
        <div style="justify-content: center; display: flex; gap: 2rem;"   >
            <div>
              <button type="button" class="btn">Save</button>
            </div>
            <div>
              <button type="button" class="btn" routerLink="/homepage/dashboard">Back</button>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-container" style="margin-top: 2rem;">
    <nz-table #basicTable nzSize="small" class="no-hover-table" 
      Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">IDBI BANK</td>
          <td Class="tbldata">Branch Name</td>
          <td Class="tbldata">0665104000151596</td>
          <td Class="tbldata">IBKL0000665</td>
          <td Class="tbldata">50,000</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px"/>
              </span>
            <span style="margin-left: 9px;">
              <img
                src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
