<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackBank()">
          <img
            src="/assets/icons/arrow-button.png"
            alt=""
            width="34px"
            height="34px"
          />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
           <label>Bank Name</label>
            <input
              type="text"
              [(ngModel)]="Entity.p.Name"
              name="Name"
              class="form-control"
              id="Name"
              required
              placeholder="Enter Bank Name"
            />
        </div>
        <div class="col-md-4">
           <label>Branch Name</label>
            <input
              type="text"
              [(ngModel)]="Entity.p.Branch"
              name="Branch"
              class="form-control"
              id="Branch"
              required
              placeholder="Enter Branch Name"
            />
        </div>
        <div class="col-md-4">
           <label>Account No</label>
            <input
              type="text"
              [(ngModel)]="Entity.p.AccountNo"
              name="AccountNo"
              class="form-control"
              id="AccountNo"
              required
              placeholder="Enter Account Number"
            />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
           <label>IFSC Code</label>
            <input
              type="text"
              [(ngModel)]="Entity.p.IFSCCode"
              name="IFSCCode"
              class="form-control"
              id="IFSCCode"
              required
              placeholder="Enter IFSC Code"
            />
        </div>
        <div class="col-md-4">
           <label>Opening Balance</label>
            <input
              type="text"
              [(ngModel)]="Entity.p.OpeningBalance"
              name="OpeningBalance"
              class="form-control"
              id="OpeningBalance"
              required
              placeholder="Enter Opening Balance"
            />
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
          <div>
            <button type="button" class="btn" (click)="SaveBankMaster()">Save</button>
          </div>
          <div>
            <button type="button" class="btn" (click)="BackBank()">Back</button>
          </div>
      </div>
    </form>
  </div>
</div>