<app-header-with-back-handler [title]="DetailsFormTitle"></app-header-with-back-handler>

<ion-content class="form-container" [scrollEvents]="true">
  <ion-list lines="none" class="ion-padding">

    <!-- Name -->
    <ion-item class="input-item">
      <ion-input label="Employee Name" labelPlacement="floating" placeholder="Enter Employee Name"
        [(ngModel)]="Entity.p.EmployeeName" readonly></ion-input>
    </ion-item>

    <!-- Request Type -->
    <app-chip-selector [items]="LeaveRequestTypeList" [selected]="preselectedRefs" [disabledItems]="disabledRefs"
      [singleSelection]="true" [maxSelection]="1" [label]="'Select Request Type'" [showClear]="true"
      (selectedChanged)="handleLeaveTypeSelection($event)"
      (validationError)="handleChipError($event)"></app-chip-selector>

    <!-- From Date -->
    <ion-item (click)="showFromPicker = true" class="input-item" *ngIf="!isHalfDay">
      <ion-label>From Date</ion-label>
      <ion-label slot="end">{{ fromDisplayDate || 'Please select...' }}</ion-label>
    </ion-item>
    <app-date-picker [show]="showFromPicker" [selectedDate]="fromDate" [defaultToday]="true"
      (dateChanged)="onFromDateChange($event)" (dateSelected)="fromDisplayDate = $event; showFromPicker = false"
      (modalDismissed)="showFromPicker = false" />

    <!-- To Date -->
    <ion-item (click)="showToPicker = true" class="input-item" *ngIf="!isHalfDay">
      <ion-label>To Date</ion-label>
      <ion-label slot="end">{{ toDisplayDate || 'Please select...' }}</ion-label>
    </ion-item>
    <app-date-picker [show]="showToPicker" [selectedDate]="toDate" [defaultToday]="true"
      (dateChanged)="onToDateChange($event)" (dateSelected)="toDisplayDate = $event; showToPicker = false"
      (modalDismissed)="showToPicker = false" />

    <!-- Half Day Date -->
    <ion-item (click)="showHalfPicker = true" class="input-item" *ngIf="isHalfDay">
      <ion-label>Half Day Date</ion-label>
      <ion-label slot="end">{{ halfDisplayDate || 'Please select...' }}</ion-label>
    </ion-item>
    <app-date-picker [show]="showHalfPicker" [selectedDate]="halfDayDate" [defaultToday]="true"
      (dateChanged)="onHalfDateChange($event)" (dateSelected)="halfDisplayDate = $event; showHalfPicker = false"
      (modalDismissed)="showHalfPicker = false" />


    <!-- Days -->
    <ion-item class="input-item" *ngIf="!isHalfDay">
      <ion-input label="Days" labelPlacement="floating" placeholder="Enter Days" [(ngModel)]="Entity.p.Days"
        readonly></ion-input>
    </ion-item>

    <!-- Leave Hours -->
    <ion-item class="input-item">
      <ion-input label="Leave Hours" labelPlacement="floating" placeholder="Enter Leave Hours"
        [(ngModel)]="Entity.p.LeaveHours" readonly></ion-input>
    </ion-item>

    <!-- Description -->
    <ion-item class="input-item">
      <ion-input label="Description" labelPlacement="floating" placeholder="Enter Description"
        [(ngModel)]="Entity.p.Description"></ion-input>
    </ion-item>

    <!-- Buttons -->
    <div class="button-row">
      <ion-button expand="block" (click)="goBack()" class="submit-button cancel-button">
        Cancel
      </ion-button>
      <ion-button expand="block" (click)="SaveLeaveRequest()" class="submit-button primary-button">
        Apply
      </ion-button>
    </div>

  </ion-list>
</ion-content>