<ion-content [fullscreen]="true" class="ion-padding new-password-content">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/logos/ShreeIcon.png" alt="Logo" />
  </div>

  <!-- Password Reset Form -->
  <form [formGroup]="passwordForm" (ngSubmit)="onUpdatePassword()">
    <div class="form-wrapper">
      <app-input-field label="Old Password" controlName="oldPassword" type="password" icon="lock-closed"
        [formGroup]="passwordForm" placeholder="Enter old password"></app-input-field>

      <app-input-field label="New Password" controlName="newPassword" type="password" icon="lock-closed"
        [formGroup]="passwordForm" placeholder="Enter new password"
        [pattern]="'^(?=.*[A-Za-z])(?=.*\d).{6,}$'"></app-input-field>

      <app-input-field label="Confirm Password" controlName="confirmPassword" type="password" icon="lock-closed"
        [formGroup]="passwordForm" placeholder="Confirm new password"></app-input-field>

      <app-custom-button label="Update" type="submit" [loading]="isUpdating" color="primary" icon="checkmark"
        iconPosition="end" shape="round" fill="solid" [disabled]="passwordForm.invalid"
        [customStyle]="{ 'margin-top': '16px', 'margin-bottom': '32px' }"></app-custom-button>
    </div>
  </form>
</ion-content>