<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row align-items-center">
      <!-- Back Button Column -->
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <button type="button" class="backbtn" (click)="BackCompany()">
          <img src="/assets/icons/arrow-button.png" alt="Back" class="backbtnimg" />
        </button>
      </div>

      <!-- Title Column -->
      <div class="col-10 col-md-11">
        <span class="detail_title text-truncate d-block">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4 col-6">
          <label for="Name">Company Name</label>
          <input type="text" [(ngModel)]="Entity.p.Name" name="Name" class="form-control" id="Name"
            placeholder="Enter Company Name" [pattern]="NameWithNosAndSpace" #NameCtrl="ngModel"
            (blur)="NameCtrl.control.markAsTouched()" />
          <div *ngIf="(NameCtrl.invalid && (NameCtrl.touched || NameCtrl.dirty))">
            <span class="validation-text" *ngIf="NameCtrl.errors?.['pattern']">{{NameWithNosAndSpaceMsg}}</span>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <label for="Contacts">Contact No</label>
          <input type="text" [(ngModel)]="Entity.p.Contacts" name="Contacts" class="form-control" id="Contacts"
            placeholder="Enter Contact No" pattern="{{INDPhoneNo}}" #ContactsCtrl="ngModel"
            (blur)="ContactsCtrl.control.markAsTouched()" />
          <div *ngIf="(ContactsCtrl.invalid && (ContactsCtrl.touched || ContactsCtrl.dirty))">
            <span class="validation-text" *ngIf="ContactsCtrl.errors?.['pattern']">{{INDPhoneNoMsg}}</span>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <label>Company Email Id </label>
          <input type="email" [(ngModel)]="Entity.p.EmailId" name="EmailId" class="form-control" id="EmailId"
            placeholder="Enter Company Email Id" [pattern]="Email" #EmailIdCtrl="ngModel"
            (blur)="EmailIdCtrl.control.markAsTouched()" />
          <div *ngIf="(EmailIdCtrl.invalid && (EmailIdCtrl.touched || EmailIdCtrl.dirty))">
            <span class="validation-text" *ngIf="EmailIdCtrl.errors?.['pattern']">{{EmailMsg}}</span>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <label>Company Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="CompanyTypeRef" name="CompanyTypeRef" [nzSize]="'large'"
            [(ngModel)]="Entity.p.CompanyType">
            <nz-option *ngFor="let company of CompanyTypeList" [nzValue]="company.Ref"
              [nzLabel]="company.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4 col-6">
          <label for="OwnerName">Owner Name</label>
          <input type="text" [(ngModel)]="Entity.p.OwnerName" name="OwnerName" class="form-control" id="OwnerName"
            placeholder="Enter Owner Name" [pattern]="NameWithNosAndSpace" #OwnerNameCtrl="ngModel"
            (blur)="OwnerNameCtrl.control.markAsTouched()" />
          <div *ngIf="(OwnerNameCtrl.invalid && (OwnerNameCtrl.touched || OwnerNameCtrl.dirty))">
            <span class="validation-text" *ngIf="OwnerNameCtrl.errors?.['pattern']">{{NameWithNosAndSpaceMsg}}</span>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <label>Pin Code</label>
          <input type="text" [(ngModel)]="Entity.p.PinCode" name="PinCode" class="form-control" id="PinCode"
            placeholder="Enter Pin Code" pattern="{{PinCode}}" #PinCodeCtrl="ngModel"
            (blur)="PinCodeCtrl.control.markAsTouched()" />
          <div *ngIf="(PinCodeCtrl.invalid && (PinCodeCtrl.touched || PinCodeCtrl.dirty))">
            <span class="validation-text" *ngIf="PinCodeCtrl.errors?.['pattern']">{{PinCodeMsg}}</span>
          </div>
        </div>
        <div class="col-6">
          <label for="AddressLine1">Address Line 1</label>
          <input type="text" [(ngModel)]="Entity.p.AddressLine1" name="AddressLine1" class="form-control"
            id="AddressLine1" placeholder="Enter Address Line 1" #AddressLine1Ctrl="ngModel"
            (blur)="AddressLine1Ctrl.control.markAsTouched()" />
          <div *ngIf="(AddressLine1Ctrl.invalid && (AddressLine1Ctrl.touched || AddressLine1Ctrl.dirty))">
          </div>
        </div>
        <div class="col-6">
          <label>Address Line 2</label>
          <input type="text" [(ngModel)]="Entity.p.AddressLine2" name="AddressLine2" class="form-control"
            id="AddressLine2" placeholder="Enter Address Line 2" />
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="CountryRef"><b>Country</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="CountryRef" id="CountryRef"
            [(ngModel)]="Entity.p.CountryRef" (ngModelChange)="getStateListByCountryRef(Entity.p.CountryRef)">
            <nz-option *ngFor="let country of CountryList" [nzLabel]="country.p.Name"
              [nzValue]="country.p.Ref"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="StateRef"><b>State</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="StateRef" name="StateRef" [nzSize]="'large'" [(ngModel)]="Entity.p.StateRef"
            (ngModelChange)="getCityListByStateRef(Entity.p.StateRef)">
            <nz-option *ngFor="let state of StateList" [nzValue]="state.p.Ref" [nzLabel]="state.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4 col-sm-12">
          <label for="CityRef"><b>City</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="CityRef" name="CityRef" [nzSize]="'large'" [(ngModel)]="Entity.p.CityRef">
            <nz-option *ngFor="let city of CityList" [nzValue]="city.p.Ref" [nzLabel]="city.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4 col-6">
          <label for="GSTIN">GSTIN</label>
          <input type="text" [(ngModel)]="Entity.p.GSTIN" name="GSTIN" class="form-control" id="GSTIN"
            placeholder="Enter GSTIN" pattern="{{GSTIN}}" #GSTINCtrl="ngModel"
            (blur)="GSTINCtrl.control.markAsTouched()" />
          <div *ngIf="(GSTINCtrl.invalid && (GSTINCtrl.touched || GSTINCtrl.dirty))">
            <span class="validation-text" *ngIf="GSTINCtrl.errors?.['pattern']">{{GSTINMsg}}</span>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <label for="Pan">PAN</label>
          <input type="text" [(ngModel)]="Entity.p.Pan" name="Pan" class="form-control" id="Pan" placeholder="Enter PAN"
            pattern="{{PAN}}" #PanCtrl="ngModel" (blur)="PanCtrl.control.markAsTouched()" />
          <div *ngIf="(PanCtrl.invalid && (PanCtrl.touched || PanCtrl.dirty))">
            <span class="validation-text" *ngIf="PanCtrl.errors?.['pattern']">{{PANMsg}}</span>
          </div>
        </div>

        <div class="col-md-6 col-12 ">
          <div class="col-md-12 mb-3">
            <label>Notes</label>
            <textarea type="text" [(ngModel)]="Entity.p.Notes" name="Notes" class="form-control" id="Notes" rows="2"
              placeholder="Enter Notes"></textarea>
          </div>
          <div class="col-md-12 mb-3">
            <label><b>Date Of Incorporation</b></label>
            <input type="date" name="DateOfInCorporation" [(ngModel)]="dateOfInCorporation"
              class="form-control date-input" id="DateOfInCorporation" placeholder="Select Date" />
          </div>
          <div class="col-md-12">
            <label><b>Last Date Of First Financial Year </b></label>
            <input type="date" name="LastDateOfFirstFinancialYear" [(ngModel)]="lastDateOfFirstFinancialYear"
              class="form-control date-input" id="LastDateOfFirstFinancialYear" placeholder="Select Date" />
          </div>
        </div>

        <div class="col-6" style="flex: content; justify-content: center; justify-items: center">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="text-align-center">
              <label><b>Company Logo </b></label>
            </div>

            <div class="Company-Logo-container">
              <!-- Image Preview -->
              <ng-container *ngIf="this.Entity.p.LogoPath ; else AddPreviewImage">
                <img [src]="imagePreviewUrl" alt="Company Logo" class="Company-Logo" />
              </ng-container>

              <ng-template #AddPreviewImage>
                <ng-container *ngIf="imagePreviewUrl ; else defaultImage">
                  <img [src]="imagePreviewUrl" alt="Company Logo" class="Company-Logo" />
                </ng-container>
              </ng-template>

              <ng-template #defaultImage>
                <img src="/assets/images/noimage.png" alt="No Image" class="Company-Logo" />
              </ng-template>

              <div class="row">
                <div class="col-4 d-flex align-items-center">
                  <!-- Upload icon triggers file input -->
                  <img src="/assets/icons/upload.png" alt="Upload" class="Upload-Icon" (click)="triggerFileInput()" />
                </div>
                <div class="col-8 d-flex align-items-center">
                  <div>
                    {{selectedFileName}}
                  </div>
                </div>
              </div>

              <!-- Hidden File Input -->
              <input type="file" #fileInput (change)="onImageUpload($event)" class="file-upload" name="image"
                accept=".jpg, .jpeg, .png, .gif" style="display: none" />

              <!-- Error Message -->
              <p *ngIf="errors.company_image" class="validation-error">
                {{ errors.company_image }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveCompanyMaster()">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackCompany()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
