/* Company image styling */
.Company-Logo-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  
  }
  
  .Company-Logo {
    width: 250px;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 10PX;
    // margin-top: 1rem;
  }
  
  .file-upload {
    width: 220px;
  }
  