<div class="row">
  <div class="col-4 mb-2">
    <h1 style="padding-top: 3px" class="title title_light">Registrar Office</h1>
  </div>
  <div class="col-4 mb-2 search-container_light">
    <app-shared-filter [masterList]="MasterList" [filterFields]="['CustomerName', 'PlotName']"
      (filteredList)="onFilteredList($event)"></app-shared-filter>
  </div>
  <ng-template #noDataTpl>
    <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
      No Data
    </div>
  </ng-template>
  <div class="row mt-3">
    <div class="col-md-4">
      <label for="SiteRef"><b>Site Name</b></label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef"
        (ngModelChange)="OnSiteChange(); getRegistrarOfficeListBySiteAndPlotRef()">
        <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
      </nz-select>
    </div>
    <div class="col-md-4">
      <label for="SiteRef"><b>Customer</b></label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="CustomerName"
        (ngModelChange)="getRegistrarOfficeListByCustomer()">
        <nz-option [nzValue]="''" [nzLabel]="'All'"></nz-option>
        <nz-option *ngFor="let site of CustomerList" [nzValue]="site.p.CustomerName"
          [nzLabel]="site.p.CustomerName"></nz-option>
      </nz-select>
    </div>
    <div class="col-md-4">
      <label for="PlotRef"><b>Plot No.</b></label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        id="PlotRef" name="PlotRef" [nzSize]="'large'" [(ngModel)]="Entity.p.PlotRef"
        (ngModelChange)="getRegistrarOfficeListBySiteAndPlotRef()">
        <nz-option [nzValue]="0" [nzLabel]="'All'"></nz-option>
        <nz-option *ngFor="let plot of PlotNoList" [nzValue]="plot.p.Ref" [nzLabel]="plot.p.PlotNo"></nz-option>
      </nz-select>
    </div>
  </div>
</div>
<div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList"
      [nzScroll]="{ x: 'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registraroffice of paginatedList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{ registraroffice.p.CustomerName }}</td>

          <td Class="tbldata">{{ registraroffice.p.RegistrationNameofPersonOne ?
            registraroffice.p.RegistrationNameofPersonOne : '--' }}</td>

          <td Class="tbldata">{{ registraroffice.p.RegistrationNameofPersonTwo ?
            registraroffice.p.RegistrationNameofPersonTwo : '--'}}</td>

          <td Class="tbldata">{{ registraroffice.p.PlotName }}</td>
          <td class="tbldata">
            <span class="status" [ngClass]="registraroffice.p.IsChequeSubmit ? 'completed' : 'pending' ">
              {{ registraroffice.p.IsChequeSubmit ? "Completed" : "Pending" }}
            </span>
          </td>
          <td class="tbldata">
            <span class="status" [ngClass]="isWitness1Completed(registraroffice) ? 'completed' : 'pending'">
              {{ isWitness1Completed(registraroffice) ? 'Completed' : 'Pending' }}
            </span>
          </td>

          <td class="tbldata">
            <span class="status" [ngClass]="isAgreementCompleted(registraroffice) ? 'completed' : 'pending'">
              {{ isAgreementCompleted(registraroffice) ? 'Completed' : 'Pending' }}
            </span>
          </td>

          <td class="tbldata">
            <span class="status" [ngClass]="isSaleDeedCompleted(registraroffice) ? 'completed' : 'pending'">
              {{ isSaleDeedCompleted(registraroffice) ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td class="tbldata">
            <span class="status" [ngClass]="isFerfarCompleted(registraroffice) ? 'completed' : 'pending'">
              {{ isFerfarCompleted(registraroffice) ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td class="tbldata">
            <span class="status" [ngClass]="registraroffice.p.IsFinalCustomer712Submit ? 'completed' : 'pending' ">
              {{ registraroffice.p.IsFinalCustomer712Submit ? "Completed" : "Pending" }}
            </span>
          </td>

          <td class="tbldata">
            <span class="status" [ngClass]="
                registraroffice.p.IsSpiral712Submit ? 'completed' : 'pending'
              ">
              {{ registraroffice.p.IsSpiral712Submit ? "Completed" : "Pending" }}
            </span>
          </td>
          <td class="tbldata">
            <span class="status" [ngClass]=" registraroffice.p.IsClientSubmit ? 'completed' : 'pending' ">
              {{ registraroffice.p.IsClientSubmit ? "Completed" : "Pending" }}
            </span>
          </td>

          <td class="tbldata">
            <span style="margin-left: 9px" (click)="onEditClicked(registraroffice)">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="fixed-pagination">
    <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
    </nz-pagination>
  </div>
</div>
<div *ngIf="DisplayMasterList.length === 0" class="card-body_light">
  <div style="height: 200px" class="d-flex align-items-center justify-content-center">
    <span class="title_light"> Data Not Found</span>
  </div>
</div>
