<app-header-with-back-handler title={{DetailsFormTitle}}></app-header-with-back-handler>

<ion-content class="form-container" scrollY="true" [scrollEvents]="true" [fullscreen]="true">
  <form>
    <ion-list lines="none" class="ion-padding">
      <!--  Date -->
      <ion-item class="input-item">
        <ion-label>Select Date</ion-label>
        <ion-datetime-button id="ConsumptionDate-modal" datetime="Date" trigger="ConsumptionDate-modal">
        </ion-datetime-button>
        <ion-checkbox slot="end" [(ngModel)]="ConsumptionDate" name="ConsumptionDateCheckBox" [disabled]="true">
        </ion-checkbox>
      </ion-item>

      <ion-modal keepContentsMounted="true" trigger="ConsumptionDate-modal">
        <ng-template>
          <ion-datetime id="Date" name="ConsumptionDate" presentation="date" [(ngModel)]="ConsumptionDate"
            show-default-buttons="true" (ionChange)="onConsumptionDateChange($event.detail.value)">
          </ion-datetime>
        </ng-template>
      </ion-modal>


      <!-- Select From site -->
      <ion-item class="input-item" button detail (click)="selectSiteBottomsheet()" [disabled]="SiteList.length === 0">
        <ion-label>Site</ion-label>

        <!-- Text showing the selected status -->
        <ion-text slot="end" class="status-text">
          {{ SiteName|| 'Select' }}
        </ion-text>
      </ion-item>

      <!-- Select To site -->
      <ion-item class="input-item" button detail (click)="selectStageBottomsheet()" [disabled]="StageList.length === 0">
        <ion-label>Stage</ion-label>

        <!-- Text showing the selected status -->
        <ion-text slot="end" class="status-text">
          {{ StageName|| 'Select' }}
        </ion-text>
      </ion-item>

      <!-- Select Vendor -->
      <ion-item class="input-item" button detail (click)="selectMaterialBottomsheet()"
        [disabled]="MaterialList.length === 0">
        <ion-label>Material</ion-label>

        <!-- Text showing the selected status -->
        <ion-text slot="end" class="status-text">
          {{ MaterialName|| 'Select' }}
        </ion-text>
      </ion-item>

      <!-- Unit input-->
      <ion-item class="input-item">
        <ion-input label="Unit" name="UnitName" labelPlacement="floating" placeholder="Enter Unit"
          [(ngModel)]="Entity.p.UnitName" [disabled]="'true'"></ion-input>
      </ion-item>

      <!-- Current Quantity input-->
      <ion-item class="input-item">
        <ion-input label="Current Quantity" name="CurrentQuantity" labelPlacement="floating"
          placeholder="Enter Current Quantity" [(ngModel)]="Entity.p.CurrentQuantity" [disabled]="'true'"></ion-input>
      </ion-item>

      <!-- Consumed Quantity input-->
      <ion-item class="input-item">
        <ion-input label="Consumed Quantity" name="ConsumedQuantity" labelPlacement="floating"
          placeholder="Enter Consumed Quantity" [(ngModel)]="Entity.p.ConsumedQuantity"
          (ngModelChange)="CalculateRemainingQty()" [clearOnEdit]="true" [clearInput]="true" type="number"></ion-input>
      </ion-item>

      <!-- Remaining Quantity input-->
      <ion-item class="input-item">
        <ion-input label="Remaining Quantity" name="RemainingQuantity" labelPlacement="floating"
          placeholder="Enter Remaining Quantity" [(ngModel)]="Entity.p.RemainingQuantity"
          [disabled]="'true'"></ion-input>
      </ion-item>

      <!-- Description -->
      <ion-item class="input-item">
        <ion-input label="Description" name="Description" labelPlacement="floating" placeholder="Enter Description"
          [(ngModel)]="Entity.p.Description"></ion-input>
      </ion-item>

      <!-- Remark -->
      <ion-item class="input-item">
        <ion-input label="Remark" name="Remark" labelPlacement="floating" placeholder="Enter Remark"
          [(ngModel)]="Entity.p.Remark"></ion-input>
      </ion-item>

      <!-- Main Buttons -->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="medium" shape="round" (click)="goBack()">
              Cancel
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="primary" shape="round" (click)="SaveStockConsumption()">
              Save
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>