<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('T.P Office')">TP Office</span>
    <!-- <app-tp-office-details>TP Office</app-tp-office-details> -->
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('परिशिष्ठ A(NA)')">NA Letter</span>
    <!-- <app-na-letter-details></app-na-letter-details> -->
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('Mojani')">Mojani</span>
    <!-- <app-mojani-details></app-mojani-details> -->
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('ULC')">ULC</span>
    <!-- <app-ulc-details></app-ulc-details> -->
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('Final Layout')">Final Layout</span>
    <!-- <app-final-layout-details></app-final-layout-details> -->
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <span class="title title_light" (click)="getSiteWorkGroupName('क जा पा')">क जा पा</span>
    <!-- <app-k-ja-pa-details></app-k-ja-pa-details> -->
  </div>
  <div class="col-md-1"></div>
</div>