:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

// .menu-sidebar {
//   position: relative;
//   z-index: 10;
//   min-height: 100vh;
//   box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
// }

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  // box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  background-color: #e5e7eb;
  // background-color: white;
  overflow-y: auto;
  scrollbar-width: none;
  /* Makes the scrollbar thinner */
}

.header-trigger_light {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
  color: black;
}

.sidebar-logo {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  background: white !important;
  transition: all .3s;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}


.ant-layout-header {
  background-color: white;
  box-shadow: 0 2px 2px rgba(18, 18, 18, 0.08);
}

.inner-content {
  padding: 16px;
  background-color: #e5e7eb;
  height: 100%;
  overflow-y: auto;
}

.scrollable-content {
  overflow-y: auto;
  max-height: calc(100vh - 64px);
  background-color: #fff5f5;
  scrollbar-width: none;
  /* Adjust the height as needed, subtracting any fixed header height */
}

.theme_logo {
  width: 40%;
  height: 100% !important;
}

.layout_light {
  background-color: white;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: white;
  transition: all .2s;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, .65);
  background: rgb(34, 34, 34);

  .ant-menu-item-selected,
  .ant-menu-item-selected a,
  .ant-menu-item-selected a:hover,
  .ant-menu-item>.ant-badge a:hover {
    color: white;
  }
}

.ant-menu-light .ant-menu-sub,
.ant-menu.ant-menu-light,
.ant-menu.ant-menu-light .ant-menu-sub {
  color: black;
  background-color: #e5e7eb;

  .ant-menu-item-selected,
  .ant-menu-item-selected a,
  .ant-menu-item-selected a:hover,
  .ant-menu-item>.ant-badge a:hover {
    color: black;
  }
}

.ant-menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 0;
  list-style: none;
  /* background: #fff; */
  outline: 0;
  transition: background .3s, width .3s cubic-bezier(.2, 0, 0, 1) 0s;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: black;
  border: 1px solid brown;
  color: brown;
  border-radius: 4px 4px 4px 4px;
}

.ant-menu-light.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-light .ant-menu-item-selected,
.ant-menu.ant-menu-light .ant-menu-item-selected {
  background-color: white;
  border: 1px solid brown;
  color: brown;
  border-radius: 4px 4px 4px 4px;
}

.sidebar-menu-item {
  width: 100%;
  /* Adjust this based on your sidebar width */
  white-space: normal;
  /* Allow text to wrap */
  word-wrap: break-word;
  line-height: 1vw;
  font-size: 90%;
}

.sidebar-submenu-item {
  width: 100%;
  /* Adjust this based on your sidebar width */
  white-space: normal;
  /* Allow text to wrap */
  word-wrap: break-word;
  line-height: 1vw;
  font-size: 80%;
}

.ant-menu-inline .ant-menu-item-selected::after,
.ant-menu-inline .ant-menu-selected::after {
  transform: scaleY(1);
  opacity: 0;
  transition: transform .15s cubic-bezier(.645, .045, .355, 1), opacity .15s cubic-bezier(.645, .045, .355, 1);
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
  color: white;
}

.ant-menu-light .ant-menu-item,
.ant-menu-light .ant-menu-item-group-title,
.ant-menu-light .ant-menu-item>a,
.ant-menu-light .ant-menu-item>span>a {
  color: black;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-vertical-right .ant-menu-submenu-title {
  height: 2.5vw;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  // overflow: hidden;
  line-height: 2px;
  // text-overflow:ellipsis;
  white-space: pre-wrap
}

.header-trigger.mobileModal {
  display: none;
  /* Hide on desktop */
}

.header-trigger.desktopsidebar {
  display: contents;
  /* Display on desktop */
}

@media only screen and (max-width: 767px) {
  .header-trigger.desktopsidebar {
    display: none;
    /* Hide on mobile */
  }

  .header-trigger.mobileModal {
    display: contents;
    margin-left: 10px;
    /* Display on mobile */
  }

  nz-sider {
    display: none;
  }
}

.dropdown-list {
  background-color: white;
  border-radius: 5px;
}

.options {
  color: black;
}

.options:hover {
  color: white;
  background-color: maroon;
}

.form-switch {
  margin-top: 1.5rem;
}

.form-check-input {
  margin-top: 1.3rem;
  width: 50px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  margin-right: 1rem;
}

.form-check-input:checked {
  background-color: rgb(35, 32, 32);
}

.togglebtn {
  color: black;
  font-size: 12px;
}

.collapselogo {
  width: 4rem;
  height: 30px;
  padding-right: 1rem;
}

/* Override Styles When Browser Back Event Occurs */
.browserBack {

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
  .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: white !important;
    border: none !important;
    color: inherit !important;
    border-radius: 0 !important;
  }

  .ant-menu-light.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-light .ant-menu-item-selected,
  .ant-menu.ant-menu-light .ant-menu-item-selected {
    background-color: transparent !important;
    border: none !important;
    color: inherit !important;
    border-radius: 0 !important;
  }
}


.mobile-sidebar_light ::ng-deep .nz-modal-content {
  background-color: #f0f0f0 !important;
  color: black;
  /* Your custom background */
}

/* Optional header and footer styling */
.mobile-sidebar_light ::ng-deep .nz-modal-header {
  background-color: #dfe6e9 !important;
  color: black;
}

.mobile-sidebar_light ::ng-deep .nz-modal-footer {
  background-color: #dfe6e9 !important;
  color: black;
}

.mobile-sidebar_dark ::ng-deep .nz-modal-content {
  background: rgb(34, 34, 34) !important;
  color: white;
  /* Your custom background */
}

/* Optional header and footer styling */
.mobile-sidebar_dark ::ng-deep .nz-modal-header {
  background: rgb(34, 34, 34) !important;
  color: white;

}

.mobile-sidebar_dark ::ng-deep .nz-modal-footer {
  background: rgb(34, 34, 34) !important;
  color: white;

}

// .active-menu-item {
//   background-color: black;
//   border: 1px solid orangered;
//   color: orangered;
//   border-radius: 5px 5px 5px 5px;
// }

// .active-submenu-item {
//   background-color: black;
//   border: 1px solid orangered;
//   color: orangered;
//   border-radius: 5px 5px 5px 5px;
// }


.modal-dialog ul {
  background-color: white;
}

.modal-dialog {
  z-index: 5;
}
