<nz-layout class="app-layout">
  <!-- class="menu-sidebar" -->
  <nz-sider Class="menu-sidebar" [nzCollapsible]="true" nzWidth="18vw" [nzBreakpoint]="'md'"
    [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="80" [nzZeroTrigger]="null" [nzTrigger]="null">
    <div Class="sidebar-logo">
      <img src="/assets/logos/ShreeIcon.png" alt="logo" *ngIf="!isCollapsed" class="theme_logo"
        (click)="navigatetodashboard()" />
      <img src="/assets/logos/ShreeIcon.png" alt="logo" *ngIf="isCollapsed" class="collapselogo"
        (click)="navigatetodashboard()" />
    </div>
    <!-- -------- Module list start ----------- -->
    <div class="scrollable-content">
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" style=" background-color: white; color: black; font-size: 1vw; font-weight: 600; padding-bottom: 60px;
        ">
        <div *ngFor="let module of ModuleList">
          <div style="display: flex" (click)="SideMenuHideShowForModule(module.Name, true)">
            <a style="margin-top: 12px; margin-left: 20px" (click)="NavigationFromLogo(module.RouterLink)"
              *ngIf="isCollapsed">
              <img [src]="module.WhiteLogo" [alt]="module.Name" [title]="module.Name"
                style="width: 25px; height: 25px" />
            </a>
            <li nz-menu-item *ngIf="!isCollapsed" nz-menu-item>
              <a style="margin-top: 12px; margin-right: 3%" (click)="NavigationFromLogo(module.RouterLink)">
                <img [src]="module.WhiteLogo" [alt]="module.Name" [title]="module.Name"
                  style="width: 12%; height: 12%" />
              </a>
              <a *ngIf="module.RouterLink !== ''" routerLink="{{ module.RouterLink }}"></a>
              <span class="sidebar-menu-item">{{ module.Name }}</span>
            </li>
          </div>
          <div *ngFor="let submodule of module.SubModuleList">
            <li *ngIf="module.Name === newModulename && isShow" nz-menu-item #menuDiv
              [ngClass]="{'ant-menu-item-selected': activeSubmodule === submodule.Name}">
              <ul>
                <div style="display: flex; align-items: center">
                  <!-- Collapse Sidebar View -->
                  <a title="{{ submodule.Name }}" style="  display: flex;  align-items: center;  justify-content: center;  margin-left: 10px;  height: 40px;  width: 40px;
                    " (click)="NavigationFromLogo(submodule.RouterLink)" *ngIf="isCollapsed">
                    <img [src]="submodule.LogoPath" [alt]="submodule.Name" [title]="submodule.Name"
                      style="width: 1.4vw; height: 1.4vw;" />
                  </a>
                  <!-- Full Sidebar View -->
                  <li nz-menu-item *ngIf="!isCollapsed" style="width: 100%;">
                    <div class="row g-1 align-items-center">
                      <div
                        style="display: flex; align-items: center; justify-content: center; height: 2vw; width: 2vw;">
                        <span (click)="NavigationFromLogo(submodule.RouterLink)">
                          <img [src]="submodule.LogoPath" [alt]="submodule.Name" [title]="submodule.Name"
                            style="width: 1.5vw; height: 1.5vw;" />
                        </span>
                      </div>
                      <div style="flex: 1; display: flex; align-items: center;">
                        <a *ngIf="submodule.RouterLink !== ''" [routerLink]="submodule.RouterLink"></a>
                        <span class="sidebar-submenu-item" (click)="onMenuItemClick(submodule.Name)">
                          {{ submodule.Name }}
                        </span>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </nz-sider>
  <!-- ----------- Module list end--------- -->

  <ng-template #noDataTpl>
    <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
      No Data
    </div>
  </ng-template>

  <nz-layout Class="layout_light">
    <nz-header class="container-fluid">
      <div class="row">
        <div class="col-3" style="display: flex; align-items: center;">
          <span>
            <img src="/assets/icons/menu.png" alt="logo" (click)="toggleCollapsed()"
              style="width: 2vw; height: 2vw; cursor: pointer" />
          </span>
          <span style="margin-left: 15px">
            <div>
              <span style="font-size: 90%;"><b>{{ myDay }}</b></span>
              <span style="margin-left: 5px; font-size: 90%;"><b>{{ myDate }}</b></span>
            </div>
          </span>
        </div>
        <div class="col-5"></div>
        <div class="col-3" style="display: flex; justify-content: space-between; align-items: center">
          <nz-select class="nzSelect-light" nzShowSearch [nzNotFoundContent]="noDataTpl" nzPlaceHolder="Select"
            [nzSize]="'large'" [(ngModel)]="CompanyRef" name="CompanyRef" required id="CompanyRef"
            (ngModelChange)="changecompany(CompanyRef)" [nzDropdownMatchSelectWidth]="true" [style.width.px]="300"
            [disabled]="appStateManagement.isDropdownDisabled()">
            <nz-option *ngFor="let company of CompnyList" [nzLabel]="company.p.Name"
              [nzValue]="company.p.Ref"></nz-option>
          </nz-select>
        </div>
        <div class="col-1 d-flex align-items-center">
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <img width="50px" class="img-thumbnail rounded-circle" height="40px" src="/assets/logos/ShreeIcon.png"
              alt="logo" />
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu" Class="profile_dropdwon_light">
            <ul class="dropdown-list" nz-menu Class="profile_dropdwon_light">
              <li class="options" nz-menu-item routerLinkActive="active" routerLink="/homepage/Website/Your_Profile">
                Your Profile
              </li>
              <li class="options" nz-menu-item routerLinkActive="active"
                routerLink="/homepage/Website/Change_Password/">
                Change Password
              </li>
              <li class="options" nz-menu-item routerLinkActive="active" (click)="logout()">
                Log Out
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content class="scrollable-content">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<div class="modal fade" id="sidebarModal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <ul nz-menu nzMode="inline">
        <!-- -------- Module list start ----------- -->
        <div *ngFor="let module of ModuleList">
          <div style="display: flex" (click)="SideMenuHideShowForModule(module.Name, true)">
            <li nz-menu-item>
              <a style="margin-top: 12px; margin-right: 12px" (click)="NavigationFromLogo(module.RouterLink)">
                <img [src]="module.WhiteLogo" alt="logo" style="width: 25px; height: 25px" />
              </a>
              <a *ngIf="module.RouterLink !== ''" routerLink="{{ module.RouterLink }}"></a>
              <span class="sidebar-menu-item">{{ module.Name }}</span>
            </li>
          </div>
          <div *ngFor="let submodule of module.SubModuleList">
            <li *ngIf="module.Name === newModulename && isShow">
              <ul>
                <div style="display: flex; margin-left: 19px" (click)="closeModal()">
                  <li nz-menu-item>
                    <div class="row g-1">
                      <div class="col-1">
                        <span style="margin-top: 16px; margin-right: 5px"
                          (click)="NavigationFromLogo(submodule.RouterLink)">
                          <img [src]="submodule.LogoPath" alt="Arrow" style="width: 18px; height: 17px" />
                        </span>
                      </div>
                      <div class="col-11">
                        <a *ngIf="submodule.RouterLink !== ''" routerLink="{{ submodule.RouterLink }}"></a>
                        <span class="sidebar-submenu-item">{{
                          submodule.Name
                          }}</span>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </li>
          </div>
        </div>
        <!-- ----------- Module list end--------- -->
      </ul>
    </div>
  </div>
</div>
