<app-header-with-back-handler title="Customer Enquiry"
  backRoute="mobile-app/tabs/dashboard/customer-relationship-management"></app-header-with-back-handler>
<!-- <app-chip-filter-mobile-app [filters]="filters" (filtersChanged)="onFiltersChanged($event)">
</app-chip-filter-mobile-app> -->
<ion-content class="customer-enquiry-content">

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Customer List -->
  <ion-list class="data-list">
    <ng-container *ngIf="FilteredCustomerEnquiryList.length > 0">
      <ion-card *ngFor="let item of FilteredCustomerEnquiryList" class="data-card">
        <ion-card-header>
          <ion-card-title>Customer Name: <span>{{ item.p.Name }}</span></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="info-row"><strong>Contact No:</strong><span>{{ item.p.ContactNos }}</span></div>
          <div class="info-row"><strong>Address:</strong><span>{{ item.p.Address }}</span></div>

          <div class="btn-row">
            <!-- <ion-button fill="outline" size="small" color="primary" (click)="onDeleteClicked(item)">
              <ion-icon slot="start" name="trash-outline"></ion-icon> Follow Up
            </ion-button> -->
            <ion-button fill="outline" size="small" color="primary" (click)="onEditClicked(item)">
              <ion-icon slot="start" name="create-outline"></ion-icon> Follow Up
            </ion-button>
            <ion-button fill="outline" size="small" color="primary" (click)="onViewClicked(item)">
              <ion-icon slot="start" name="eye-outline"></ion-icon> Follow Up
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- No Data -->
    <div *ngIf="FilteredCustomerEnquiryList.length === 0 && !loadingService.isLoaderActive()"
      class="no-data-mobile-app">
      <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
      <p>No Customer Enquiry records found.</p>
    </div>
  </ion-list>

  <!-- FAB Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="AddCustomerEnquiryForm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal -->
  <ion-modal [isOpen]="ModalOpen" (didDismiss)="closeModal()" class="custom-modal-mobile-app">
    <ng-container *ngIf="SelectedCustomerEnquiry">
      <ion-header class="modal-toolbar-mobile-app">
        <ion-toolbar color="primary">
          <ion-title>Customer Details</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <!-- { label: 'Status', value: SelectedCustomerEnquiry.p.CustomerStatusName }, -->

      <ion-content scroll-y="true" class="ion-padding modal-content-mobile-app">
        <div class="info-row-of-model-mobile-app" *ngFor="let field of [
          { label: 'Name', value: SelectedCustomerEnquiry.p.Name },
          { label: 'Contact No', value: SelectedCustomerEnquiry.p.ContactNos },
          { label: 'Address', value: SelectedCustomerEnquiry.p.Address },
          { label: 'City', value: SelectedCustomerEnquiry.p.CityName },
          { label: 'State', value: SelectedCustomerEnquiry.p.StateName },
          { label: 'Country', value: SelectedCustomerEnquiry.p.CountryName },
          { label: 'Pin Code', value: SelectedCustomerEnquiry.p.PinCode }
        ]">
          <strong class="label-mobile-app">{{ field.label }}:</strong>
          <span class="value-mobile-app">{{ field.value ? field.value : '-' }}</span>
        </div>
      </ion-content>
      <ion-footer class="modal-footer-mobile-app">
        <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">Close</ion-button>
      </ion-footer>
    </ng-container>
  </ion-modal>
</ion-content>