<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackMarketingManagement()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4" style="margin-top: 1rem;">
          <label for="SiteRef"><b>Site Name</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef">
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <div>
            <label>Date</label>
            <input type="date" [(ngModel)]="Entity.p.Date" name="Date" class="form-control" id="Date" required
              placeholder="Enter Date"  #DateCtrl="ngModel" (blur)="DateCtrl.control.markAsTouched()" />
          <div *ngIf="(DateCtrl.invalid && (DateCtrl.touched || DateCtrl.dirty))">
            <span class="validation-text" *ngIf="DateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Marketing Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="MarketingType" name="MarketingType" [nzSize]="'large'"
            [(ngModel)]="Entity.p.MarketingType" (ngModelChange)="ClearPage()">
            <nz-option *ngFor="let Mode of MarketingModesList" [nzValue]="Mode.Ref" [nzLabel]="Mode.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Vendor</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="VendorRef" name="VendorRef" [nzSize]="'large'" [(ngModel)]="Entity.p.VendorRef"
            (ngModelChange)="getVendorServiceListByVendorRef(Entity.p.VendorRef)">
            <nz-option *ngFor="let Vendor of VendorList" [nzValue]="Vendor.p.Ref" [nzLabel]="Vendor.p.Name"></nz-option>
          </nz-select>
        </div>
        <!-- <div class="col-md-4" style="margin-top: 1rem;">
          <label>Services</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="serviceNamesString"
            name="serviceNamesString"
            placeholder="Services"
          />
        </div> -->
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Vendor Service</label>
         <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" [disabled]="VendorServiceListByVendor.length == 0"
            nzShowSearch nzAllowClear nzPlaceHolder="Select" id="VendorServiceRef" name="VendorServiceRef"
            [nzSize]="'large'" [(ngModel)]="Entity.p.VendorServiceRef">
            <nz-option *ngFor="let VendorServices of VendorServiceListByVendor" [nzValue]="VendorServices.p.Ref"
              [nzLabel]="VendorServices.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;"
          *ngIf="Entity.p.MarketingType == MarketingType.PrintingMedia">
          <label>Page</label>
          <input type="text" appCommaFormat [(ngModel)]="Entity.p.Page" name="Page" class="form-control" id="Page" required
            placeholder="Enter Page" (click)="selectAllValue($event)"/>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Place</label>
          <input type="text" [(ngModel)]="Entity.p.Place" name="Place" class="form-control" id="Place" required
            placeholder="Enter Place"  #PlaceCtrl="ngModel" required
            (blur)="PlaceCtrl.control.markAsTouched()" />
          <div *ngIf="(PlaceCtrl.invalid && (PlaceCtrl.touched || PlaceCtrl.dirty))">
            <span class="validation-text" *ngIf="PlaceCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Rate</label>
          <input type="text" appCommaFormat [(ngModel)]="Entity.p.Rate" name="Rate" class="form-control" id="Rate" required
            (ngModelChange)="calculateTotal()" (click)="selectAllValue($event)" placeholder="Enter Rate"  #RateCtrl="ngModel"
            (blur)="RateCtrl.control.markAsTouched()" />
          <div *ngIf="(RateCtrl.invalid && (RateCtrl.touched || RateCtrl.dirty))">
            <span class="validation-text" *ngIf="RateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Quantity</label>
          <input type="text" appCommaFormat [(ngModel)]="Entity.p.Quantity" name="Quantity" class="form-control" id="Quantity" required
            (ngModelChange)="calculateTotal()" (click)="selectAllValue($event)" placeholder="Enter Quantity"  #QuantityCtrl="ngModel"
            (blur)="QuantityCtrl.control.markAsTouched()" />
          <div *ngIf="(QuantityCtrl.invalid && (QuantityCtrl.touched || QuantityCtrl.dirty))">
            <span class="validation-text" *ngIf="QuantityCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Total</label>
          <input type="text" appCommaFormat [(ngModel)]="Entity.p.Total" name="Total" class="form-control" id="Total" required
            placeholder="Total" disabled />
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Name</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="Name" name=" Name" [nzSize]="'large'" [(ngModel)]="Entity.p.Name">
            <nz-option *ngFor="let employee of EmployeeList" [nzValue]="employee.p.Ref"
              [nzLabel]="employee.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Description</label>
          <input type="text" [(ngModel)]="Entity.p.Narration" name="Narration" class="form-control" id="Narration"
            required placeholder="Enter Description" />
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveMarketingManagementMaster()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackMarketingManagement()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
