<app-header-with-back-handler title="Profile"></app-header-with-back-handler>

<ion-content class="ion-padding">
  <ion-grid class="h-100">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-col size="12" size-sm="10" size-md="6" size-lg="4" class="ion-text-center">

        <!-- Profile Picture -->
        <div class="profile-image-wrapper">
          <img *ngIf="imagePreviewUrl; else placeholderImage" [src]="imagePreviewUrl" class="profile-img" alt="Profile"
            loading="lazy" />
          <ng-template #placeholderImage>
            <ion-icon name="person-circle-outline" class="placeholder-icon profile-img" size="large"></ion-icon>
          </ng-template>
          <ion-button fill="clear" size="small" (click)="addImage()" *ngIf="isEditing">Change Photo</ion-button>
        </div>

        <!-- Profile Info -->
        <div class="profile-info">
          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Name</ion-label>
            <ng-container *ngIf="isEditing; else viewName">
              <ion-input *ngIf="IsEmployee" [(ngModel)]="Entity.p.Name" placeholder="Enter name"></ion-input>
              <ion-input *ngIf="IsAdmin" [(ngModel)]="AdminEntity.p.Name" placeholder="Enter name"></ion-input>
            </ng-container>
            <ng-template #viewName>
              <ion-text *ngIf="IsEmployee">{{ Entity.p.Name || 'N/A' }}</ion-text>
              <ion-text *ngIf="IsAdmin">{{ AdminEntity.p.Name || 'N/A' }}</ion-text>
            </ng-template>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Official Email Id</ion-label>
            <ng-container *ngIf="isEditing; else viewOfficialEmailId">
              <ion-input *ngIf="IsAdmin" [(ngModel)]="AdminEntity.p.EmailId" placeholder="Enter EmailId"></ion-input>
              <ion-input *ngIf="IsEmployee" [(ngModel)]="Entity.p.OfficialEmailId"
                placeholder="Enter Official EmailId"></ion-input>
            </ng-container>
            <ng-template #viewOfficialEmailId>
              <ion-text *ngIf="IsAdmin">{{ AdminEntity.p.EmailId || 'N/A' }}</ion-text>
              <ion-text *ngIf="IsEmployee">{{ Entity.p.OfficialEmailId || 'N/A' }}</ion-text>
            </ng-template>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Mobile</ion-label>
            <ng-container *ngIf="isEditing; else viewContactNos">
              <ion-input *ngIf="IsAdmin" [(ngModel)]="AdminEntity.p.Contacts"
                placeholder="Enter Mobile Nos"></ion-input>
              <ion-input *ngIf="IsEmployee" [(ngModel)]="Entity.p.ContactNos"
                placeholder="Enter Mobile Nos"></ion-input>
            </ng-container>
            <ng-template #viewContactNos>
              <ion-text *ngIf="IsAdmin">{{ AdminEntity.p.Contacts || 'N/A' }}</ion-text>
              <ion-text *ngIf="IsEmployee">{{ Entity.p.ContactNos || 'N/A' }}</ion-text>
            </ng-template>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Address</ion-label>
            <ng-container *ngIf="isEditing; else viewAddressLine1">
              <ion-input *ngIf="IsAdmin" [(ngModel)]="AdminEntity.p.Address" placeholder="Enter Address"></ion-input>
              <ion-input *ngIf="IsEmployee" [(ngModel)]="Entity.p.AddressLine1" placeholder="Enter Address"></ion-input>
            </ng-container>
            <ng-template #viewAddressLine1>
              <ion-text *ngIf="IsAdmin">{{ AdminEntity.p.Address || 'N/A' }}</ion-text>
              <ion-text *ngIf="IsEmployee">{{ Entity.p.AddressLine1 || 'N/A' }}</ion-text>
            </ng-template>
          </ion-item>

          <!-- <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Date of Birth</ion-label>
            <ng-container *ngIf="isEditing; else viewDOB">
              <ion-input [(ngModel)]="Entity.p.DOB" placeholder="Enter Date of Birth"></ion-input>
            </ng-container>
            <ng-template #viewDOB>
              <ion-text>{{ Entity.p.DOB || 'N/A' }}</ion-text>
            </ng-template>
          </ion-item> -->

          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Date of Birth</ion-label>

            <ng-container *ngIf="isEditing; else viewDOB">
              <ion-input readonly [value]="Entity.p.DOB" placeholder="Select Date"
                (click)="presentDOBPopover($event)"></ion-input>

              <ion-popover *ngIf="dobPopoverOpen" [event]="popoverEvent" [showBackdrop]="true"
                (ionPopoverDidDismiss)="dobPopoverOpen = false">
                <ng-template>
                  <ion-datetime presentation="date" [(ngModel)]="AdminEntity.p.DOB"
                    (ionChange)="dobPopoverOpen = false" *ngIf="IsAdmin"></ion-datetime>

                  <ion-datetime presentation="date" [(ngModel)]="Entity.p.DOB"
                    (ionChange)="dobPopoverOpen = false" *ngIf="IsEmployee"></ion-datetime>
                </ng-template>
              </ion-popover>
            </ng-container>

            <ng-template #viewDOB>
              <ion-text *ngIf="IsEmployee">{{ Entity.p.DOB || 'N/A' }}</ion-text>
              <ion-text *ngIf="IsAdmin">{{ AdminEntity.p.DOB || 'N/A' }}</ion-text>
            </ng-template>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="stacked">Gender</ion-label>

            <ng-container *ngIf="isEditing; else viewGender">
              <ion-select [(ngModel)]="Entity.p.Gender" interface="popover" placeholder="Select Gender" *ngIf="IsEmployee">
                <ion-select-option *ngFor="let gender of GenderList" [value]="gender.Ref">
                  {{ gender.Name }}
                </ion-select-option>
              </ion-select>
                <ion-select [(ngModel)]="AdminEntity.p.Gender" interface="popover" placeholder="Select Gender" *ngIf="IsAdmin">
                  <ion-select-option *ngFor="let gender of GenderList" [value]="gender.Ref">
                    {{ gender.Name }}
                  </ion-select-option>
                </ion-select>
            </ng-container>

            <ng-template #viewGender>
              <ion-text *ngIf="IsEmployee">{{ findGenderName(Entity.p.Gender) }}</ion-text>
              <ion-text *ngIf="IsAdmin">{{ findGenderName(Entity.p.Gender) }}</ion-text>
            </ng-template>
          </ion-item>
        </div>

        <!-- Action Buttons -->
        <ion-button *ngIf="!isEditing" expand="block" color="primary" (click)="editProfile()">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Edit Profile
        </ion-button>
        <ion-button *ngIf="isEditing" expand="block" color="success" (click)="SaveProfile()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Save Profile
        </ion-button>

        <ion-button *ngIf="isEditing" expand="block" fill="clear" color="medium" (click)="cancelEdit()">
          Cancel
        </ion-button>


        <ion-button fill="clear" expand="full" (click)="BackProfile()">
          Back to settings
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>