<app-header-with-back-handler title={{DetailsFormTitle}}></app-header-with-back-handler>

<ion-content class="form-container">
  <ion-list lines="none" class="ion-padding">
    <!-- Select From site -->
    <ion-item class="input-item" button (click)="selectSiteBottomsheet()">
      <ion-label>Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ SiteName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Select To site -->
    <ion-item class="input-item" button (click)="selectStageBottomsheet()">
      <ion-label>Stage</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ StageName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <ion-item (click)="showConsumptionDatePicker = true" class="input-item">
      <ion-label>Date</ion-label>
      <ion-label slot="end">{{ DisplayConsumptionDate || 'Select Date' }}</ion-label>
    </ion-item>
    <app-date-picker [show]="showConsumptionDatePicker" [selectedDate]="ConsumptionDate" [defaultToday]="true"
      (dateChanged)="onConsumptionDateChange($event)"
      (dateSelected)="onConsumptionDateChange($event); showConsumptionDatePicker = false"
      (modalDismissed)="showConsumptionDatePicker = false" />


    <!-- Select Vendor -->
    <ion-item class="input-item" button (click)="selectMaterialBottomsheet()">
      <ion-label>Material</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ MaterialName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Unit input-->
    <ion-item class="input-item">
      <ion-input label="Unit" labelPlacement="floating" placeholder="Enter Unit" [(ngModel)]="Entity.p.UnitName"
        readonly></ion-input>
    </ion-item>

    <!-- Current Quantity input-->
    <ion-item class="input-item">
      <ion-input label="Current Quantity" labelPlacement="floating" placeholder="Enter Current Quantity"
        [(ngModel)]="Entity.p.CurrentQuantity" readonly></ion-input>
    </ion-item>

    <!-- Consumed Quantity input-->
    <ion-item class="input-item">
      <ion-input label="Consumed Quantity" labelPlacement="floating" placeholder="Enter Consumed Quantity"
        [(ngModel)]="Entity.p.ConsumedQuantity" (ngModelChange)="CalculateRemainingQty()" [clearOnEdit]="true"
        [clearInput]="true" type="number"></ion-input>
    </ion-item>

    <!-- Remaining Quantity input-->
    <ion-item class="input-item">
      <ion-input label="Remaining Quantity" labelPlacement="floating" placeholder="Enter Remaining Quantity"
        [(ngModel)]="Entity.p.RemainingQuantity" readonly></ion-input>
    </ion-item>

    <!-- Main Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="goBack()" class="submit-button cancel-button">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="SaveStockConsumption()" class="submit-button primary-button">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>