<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row mb-3">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackRegistrarOffice()">
          <img src="/assets/icons/arrow-button.png" alt="Back" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <form autocomplete="off">
      <!----------------------------------------------------------------  Customer Box ------------------------------------------------>

      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Customer Details -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-around d-flex">
            <label> Customer Details</label>
          </div>
        </div>
        <!-- Plot No -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-4">
            <label>Plot No</label>
            <input type="text" [(ngModel)]="Entity.p.PlotName" name="PlotRef" class="form-control" id="PlotRef" required
              placeholder="Enter Plot No" (click)="selectAllValue($event)" disabled />
          </div>
          <!-- Name -->
          <div class="col-md-4">
            <label>Name</label>
            <input type="text" [(ngModel)]="Entity.p.CustomerName" name="CustomerName" class="form-control"
              id="CustomerName" required placeholder="Enter Name" disabled />
          </div>
          <!-- Contact No. -->
          <div class="col-md-4">
            <label>Contact No.</label>
            <input type="text" [(ngModel)]="Entity.p.PhoneNumber" name="PhoneNumber" class="form-control"
              id="PhoneNumber" required placeholder="Enter Contact No. " (click)="selectAllValue($event)" disabled />
          </div>
        </div>

        <!-- Cheque -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <label>Cheque</label>
            <input type="checkbox" id="IsChequeSubmit" [(ngModel)]="Entity.p.IsChequeSubmit" name="IsChequeSubmit"
              class="custom-checkbox" />
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Aadhar</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <!-- Upload icon triggers file input -->
            <img src="/assets/icons/upload.png" alt="Upload Aadhar" class="Upload-Icon"
              (click)="CustomerAadharFileInputRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['CustomerAadharFile'] || 'No file selected' }}
            </div>

            <!-- Hidden File Input -->
            <input type="file" #CustomerAadharFileInput accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'CustomerAadharFile')" />

            <p *ngIf="errors['CustomerAadharFile']" class="validation-error">
              {{ errors['CustomerAadharFile'] }}
            </p>

            <!-- <img *ngIf="filePreviews['CustomerAadharFile']" [src]="filePreviews['CustomerAadharFile']"
              class="img-preview" /> -->

            <ng-container *ngIf="filePreviews['CustomerAadharFile']; else defaultImage">
              <img [src]="filePreviews['CustomerAadharFile']" alt="Customer Aadhar" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>
          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsCustomerAadharSubmit">Submit</label>
            <input type="checkbox" id="IsCustomerAadharSubmit" [(ngModel)]="Entity.p.IsCustomerAadharSubmit"
              name="IsCustomerAadharSubmit" class="custom-checkbox" />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">

          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Pan</label>
          </div>

          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="Upload PAN" class="Upload-Icon"
              (click)="CustomerPanFileInputRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['CustomerPanFile'] || 'No file selected' }}
            </div>

            <input type="file" #CustomerPanFileInput accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'CustomerPanFile')" />

            <p *ngIf="errors['CustomerPanFile']" class="validation-error">
              {{ errors['CustomerPanFile'] }}
            </p>

            <!-- <img *ngIf="filePreviews['CustomerPanFile']" [src]="filePreviews['CustomerPanFile']" class="img-preview" /> -->

            <ng-container *ngIf="filePreviews['CustomerPanFile']; else defaultImage">
              <img [src]="filePreviews['CustomerPanFile']" alt="Customer Pan" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsCustomerPanSubmit">Submit</label>
            <input type="checkbox" id="IsCustomerPanSubmit" [(ngModel)]="Entity.p.IsCustomerPanSubmit"
              name="IsCustomerPanSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!----------------------------------------------------------------  Witness 1 Box ------------------------------------------------>
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Witness 1 -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="Witness1Submit"> Witness 1</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="Witness1Submit" name="Witness1Submit"
                [checked]="isWitness1Complete()" disabled />
            </div>
          </div>
        </div>
        <!-- Name -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" [(ngModel)]="Entity.p.Witness1Name" name="Witness1Name" class="form-control"
              id="Witness1Name" required placeholder="Enter Name" />
          </div>
          <!-- Contact No. -->
          <div class="col-md-6">
            <label>Contact No.</label>
            <input type="text" [(ngModel)]="Entity.p.Witness1ContactNo" name="Witness1ContactNo" class="form-control"
              id="Witness1ContactNo" maxlength="10" required placeholder="Enter Contact No."
              (click)="selectAllValue($event)" />
          </div>
        </div>

        <!-- Aadhar -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Aadhar</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="Upload Aadhar" class="Upload-Icon"
              (click)="Witness1IsAadharSubmitRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['Witness1AadharFile'] || 'No file selected' }}
            </div>

            <input type="file" #Witness1IsAadharSubmit accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'Witness1AadharFile')" />

            <p *ngIf="errors['Witness1AadharFile']" class="validation-error">
              {{ errors['Witness1AadharFile'] }}
            </p>

            <ng-container *ngIf="filePreviews['Witness1AadharFile']; else defaultImage">
              <img [src]="filePreviews['Witness1AadharFile']" alt="Witness 1 Aadhar" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness1IsAadharSubmit">Submit</label>
            <input type="checkbox" id="Witness1IsAadharSubmit" [(ngModel)]="Entity.p.Witness1IsAadharSubmit"
              name="Witness1IsAadharSubmit" class="custom-checkbox" />
          </div>
        </div>
        <!-- Pan -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Pan</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="Upload PAN" class="Upload-Icon"
              (click)="Witness1IsPanSubmitRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['Witness1PanFile'] || 'No file selected' }}
            </div>

            <input type="file" #Witness1IsPanSubmit accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'Witness1PanFile')" />

            <p *ngIf="errors['Witness1PanFile']" class="validation-error">
              {{ errors['Witness1PanFile'] }}
            </p>

            <ng-container *ngIf="filePreviews['Witness1PanFile']; else defaultImage">
              <img [src]="filePreviews['Witness1PanFile']" alt="Witness 1 Pan" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness1IsPanSubmit">Submit</label>
            <input type="checkbox" id="Witness1IsPanSubmit" [(ngModel)]="Entity.p.Witness1IsPanSubmit"
              name="Witness1IsPanSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!----------------------------------------------------------------  Witness 2 Box ---------------------------------------------------->
      <div style="border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;">
        <!-- Witness 2 -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-center d-flex">
            <label for="Witness2Submit"> Witness 2</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="Witness2Submit" name="Witness2Submit"
                [checked]="isWitness2Complete()" disabled />
            </div>
          </div>
        </div>
        <!-- Name -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" [(ngModel)]="Entity.p.Witness2Name" name="Witness2Name" class="form-control"
              id="Witness2Name" required placeholder="Enter Name" />
          </div>
          <!-- Contact No. -->
          <div class="col-md-6">
            <label>Contact No.</label>
            <input type="text" [(ngModel)]="Entity.p.Witness2ContactNo" name="Witness2ContactNo" class="form-control"
              id="Witness2ContactNo" required placeholder="Enter Contact No." (click)="selectAllValue($event)"
              maxlength="10" />
          </div>
        </div>

        <!-- Aadhar -->
        <!-- <div class="row mb-2">
          <div class="col-md-8 d-flex">
            <div class="col-md-4 d-flex justify-content-center">
              <label>Aadhar</label>
            </div>
            <div class="col-md-8 d-flex">
              <input type="file" [(ngModel)]="Entity.p.Witness2AadharPath" name="Aadhar" class="form-control"
                id="Aadhar" required placeholder="Enter Aadhar" />
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <label for="Witness2IsAadharSubmit">Submit</label>
            <input type="checkbox" id="Witness2IsAadharSubmit" [(ngModel)]="Entity.p.Witness2IsAadharSubmit"
              name="Witness2IsAadharSubmit" class="custom-checkbox" />
          </div>
        </div> -->

        <!-- Pan -->
        <!-- <div class="row mb-2">
          <div class="col-md-8 d-flex">
            <div class="col-md-4 d-flex justify-content-center">
              <label> Pan</label>
            </div>
            <div class="col-md-8 d-flex">
              <input type="file" [(ngModel)]="Entity.p.Witness2PanPath" name="Pan" class="form-control" id="Pan"
                required placeholder="Enter Pan" />
            </div>
          </div>
=          <div class="col-md-4 d-flex justify-content-center">
            <label for="Witness2IsPanSubmit">Submit</label>
            <input type="checkbox" id="Witness2IsPanSubmit" [(ngModel)]="Entity.p.Witness2IsPanSubmit"
              name="Witness2IsPanSubmit" class="custom-checkbox" />
          </div>
        </div> -->
        <!-- Aadhar -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Aadhar</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="Upload Aadhar" class="Upload-Icon"
              (click)="Witness2IsAadharSubmitRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['Witness2AadharFile'] || 'No file selected' }}
            </div>

            <input type="file" #Witness2IsAadharSubmit accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'Witness2AadharFile')" />

            <p *ngIf="errors['Witness2AadharFile']" class="validation-error">
              {{ errors['Witness2AadharFile'] }}
            </p>

            <ng-container *ngIf="filePreviews['Witness2AadharFile']; else defaultImage">
              <img [src]="filePreviews['Witness2AadharFile']" alt="Witness 2 Aadhar" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness2IsAadharSubmit">Submit</label>
            <input type="checkbox" id="Witness2IsAadharSubmit" [(ngModel)]="Entity.p.Witness2IsAadharSubmit"
              name="Witness2IsAadharSubmit" class="custom-checkbox" />
          </div>
        </div>
        <!-- Pan -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Pan</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="Upload PAN" class="Upload-Icon"
              (click)="Witness2IsPanSubmitRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['Witness2PanFile'] || 'No file selected' }}
            </div>

            <input type="file" #Witness2IsPanSubmit accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'Witness2PanFile')" />

            <p *ngIf="errors['Witness2PanFile']" class="validation-error">
              {{ errors['Witness2PanFile'] }}
            </p>

            <ng-container *ngIf="filePreviews['Witness2PanFile']; else defaultImage">
              <img [src]="filePreviews['Witness2PanFile']" alt="Witness 2 Pan" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness2IsPanSubmit">Submit</label>
            <input type="checkbox" id="Witness2IsPanSubmit" [(ngModel)]="Entity.p.Witness2IsPanSubmit"
              name="Witness2IsPanSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!-------------------------------------------------------------  Agreement to Sale Box ------------------------------------------------>
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="IsAgreementToSaleSubmit"> Agreement to Sale</label>
            <div style="margin-left: 25px">
              <input type="checkbox" class="custom-checkbox" id="IsAgreementToSaleSubmit" name="IsAgreementToSaleSubmit"
                [checked]="isAgreementtoSaleComplete()" disabled />
            </div>
          </div>

          <!-- <div class="col-md-4 d-flex">
            <input type="file" [(ngModel)]="Entity.p.AgreementDocumentPath" name="Name" class="form-control" id="Name"
              required placeholder="Enter Name" />
          </div> -->
          <div class="col-md-5 d-flex align-items-center justify-content-evenly mb-2">
            <img src="/assets/icons/upload.png" alt="Agreement Document" class="Upload-Icon"
              (click)="AgreementDocumentRef.nativeElement.click()" />
            <div>
              {{ selectedFileNames['AgreementDocumentFile'] || 'No file selected' }}
            </div>

            <input type="file" #AgreementDocument accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'AgreementDocumentFile')" />

            <p *ngIf="errors['AgreementDocumentFile']" class="validation-error">
              {{ errors['AgreementDocumentFile'] }}
            </p>

            <!-- <ng-container *ngIf="filePreviews['AgreementDocumentFile']; else defaultImage">
              <img [src]="filePreviews['AgreementDocumentFile']" alt="Agreement Document" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template> -->
          </div>
        </div>

        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Document</label>
            <input type="text" [(ngModel)]="Entity.p.AgreementDocumentNo" name="AgreementDocumentNo"
              class="form-control" id="AgreementDocumentNo" required placeholder="Enter Document No."
              pattern="^[a-zA-Z0-9]*$" pattern="{{ NameWithNos }}" #AgreementDocumentNoCtrl="ngModel" />
            <div *ngIf="
                AgreementDocumentNoCtrl.invalid &&
                (AgreementDocumentNoCtrl.touched ||
                  AgreementDocumentNoCtrl.dirty)
              ">
              <span class="validation-text" *ngIf="AgreementDocumentNoCtrl.errors?.['pattern']">{{ NameWithNosMsg
                }}</span>
            </div>
          </div>
          <!-- Date -->
          <div class="col-md-6">
            <label>Date</label>
            <input type="date" [(ngModel)]="localagreementdate" name="AgreementDate" class="form-control"
              id="AgreementDate" required placeholder="Enter Name" />
          </div>
        </div>
      </div>

      <!-------------------------------------------------------------  Sale Deed Box -------------------------------------------------------->
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Sale Deed -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-center d-flex align-items-center">
            <label for="IsSaledeedSubmit"> Sale Deed</label>
            <div style="margin-left: 25px">
              <input type="checkbox" class="custom-checkbox" id="IsSaledeedSubmit" name="IsSaledeedSubmit"
                [checked]="isSaleDeedComplete()" disabled />
            </div>
          </div>

          <div class="col-md-5 d-flex align-items-center justify-content-evenly mb-2">
            <img src="/assets/icons/upload.png" alt="Sale Deed Document" class="Upload-Icon"
              (click)="SaleDeedDocumentRef.nativeElement.click()" />
            <div>
              {{ selectedFileNames['SaleDeedDocumentFile'] || 'No file selected' }}
            </div>

            <input type="file" #SaleDeedDocument accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'SaleDeedDocumentFile')" />

            <p *ngIf="errors['SaleDeedDocumentFile']" class="validation-error">
              {{ errors['SaleDeedDocumentFile'] }}
            </p>

            <!-- <ng-container *ngIf="filePreviews['SaleDeedDocumentFile']; else defaultImage">
              <img [src]="filePreviews['SaleDeedDocumentFile']" alt="Sale Deed Document" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template> -->
          </div>

        </div>
        <!-- Document -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Document</label>
            <input type="text" [(ngModel)]="Entity.p.SaleDeedDocumentNo" name="SaleDeedDocumentNo" class="form-control"
              id="SaleDeedDocumentNo" required placeholder="Enter Document No." pattern="{{ NameWithNos }}"
              #SaleDeedDocumentNoCtrl="ngModel" />
            <div *ngIf="
                SaleDeedDocumentNoCtrl.invalid &&
                (SaleDeedDocumentNoCtrl.touched || SaleDeedDocumentNoCtrl.dirty)
              ">
              <span class="validation-text" *ngIf="SaleDeedDocumentNoCtrl.errors?.['pattern']">{{ NameWithNosMsg
                }}</span>
            </div>
          </div>
          <!-- Date -->
          <div class="col-md-6">
            <label>Date</label>
            <input type="date" [(ngModel)]="localsaledeeddate" name="SaleDeedDate" class="form-control"
              id="SaleDeedDate" required placeholder="Enter Name" />
          </div>
        </div>
      </div>

      <!------------------------------------------------------------- Talathi Box ----------------------------------------------------------->
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Talathi -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-center d-flex align-items-center">
            <label for="IsTalathiSubmit"> Talathi</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="IsAgreementToSaleSubmit" name="IsAgreementToSaleSubmit"
                [checked]="isTalathiComplete()" disabled />
            </div>
          </div>
        </div>

        <!-- Index Original -->
        <!-- <div class="row mb-2">
          <div class="col-md-8 d-flex">
            <div class="col-md-4 d-flex justify-content-center">
              <label>Index Original</label>
            </div>
            <div class="col-md-8 d-flex">
              <input type="file" [(ngModel)]="Entity.p.IndexOriginalDocumentPath" name="Index Original"
                class="form-control" id="Index Original" required placeholder="Enter Index Original" />
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <label for="IsIndexOriginalSubmit">Submit</label>
            <input type="checkbox" id="IsIndexOriginalSubmit" [(ngModel)]="Entity.p.IsIndexOriginalSubmit"
              name="IsIndexOriginalSubmit" class="custom-checkbox" />
          </div>
        </div> -->
        <!-- दस्त Zerox -->
        <!-- <div class="row mb-2">
          <div class="col-md-8 d-flex">
            <div class="col-md-4 d-flex justify-content-center">
              <label> दस्त Zerox</label>
            </div>
            <div class="col-md-8 d-flex">
              <input type="file" [(ngModel)]="Entity.p.DastZeroxDocumentPath" name="दस्त Zerox" class="form-control"
                id="दस्त Zerox" required placeholder="Enter दस्त Zerox" />
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <label for="IsDastZeroxSubmit">Submit</label>
            <input type="checkbox" id="IsDastZeroxSubmit" [(ngModel)]="Entity.p.IsDastZeroxSubmit"
              name="IsDastZeroxSubmit" class="custom-checkbox" />
          </div>
        </div> -->

        <!-- Index Original -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Index Original</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="Index Original" class="Upload-Icon"
              (click)="IndexOriginalDocumentRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['IndexOriginalDocumentFile'] || 'No file selected' }}
            </div>

            <input type="file" #IndexOriginalDocument accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'IndexOriginalDocumentFile')" />

            <p *ngIf="errors['IndexOriginalDocumentFile']" class="validation-error">
              {{ errors['IndexOriginalDocumentFile'] }}
            </p>

            <ng-container *ngIf="filePreviews['IndexOriginalDocumentFile']; else defaultImage">
              <img [src]="filePreviews['IndexOriginalDocumentFile']" alt="Index Original Document"
                class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsIndexOriginalSubmit">Submit</label>
            <input type="checkbox" id="IsIndexOriginalSubmit" [(ngModel)]="Entity.p.IsIndexOriginalSubmit"
              name="IsIndexOriginalSubmit" class="custom-checkbox" />
          </div>
        </div>
        <!--  दस्त Zerox -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>दस्त Zerox</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="दस्त Zerox" class="Upload-Icon"
              (click)="DastZeroxDocumentRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['DastZeroxDocumentFile'] || 'No file selected' }}
            </div>

            <input type="file" #DastZeroxDocument accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'DastZeroxDocumentFile')" />

            <p *ngIf="errors['DastZeroxDocumentFile']" class="validation-error">
              {{ errors['DastZeroxDocumentFile'] }}
            </p>

            <ng-container *ngIf="filePreviews['DastZeroxDocumentFile']; else defaultImage">
              <img [src]="filePreviews['DastZeroxDocumentFile']" alt="Dast Zerox Document" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsDastZeroxSubmit">Submit</label>
            <input type="checkbox" id="IsDastZeroxSubmit" [(ngModel)]="Entity.p.IsDastZeroxSubmit"
              name="IsDastZeroxSubmit" class="custom-checkbox" />
          </div>
        </div>

        <!-- Inward No: -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Inward No</label>
            <input type="text" [(ngModel)]="Entity.p.TalathiInwardNo" name="TalathiInwardNo" class="form-control"
              id="TalathiInwardNo" required placeholder="Enter Inward No" pattern="{{ NameWithNos }}"
              #TalathiInwardNoCtrl="ngModel" />
            <div *ngIf="
                TalathiInwardNoCtrl.invalid &&
                (TalathiInwardNoCtrl.touched || TalathiInwardNoCtrl.dirty)
              ">
              <span class="validation-text" *ngIf="TalathiInwardNoCtrl.errors?.['pattern']">{{ NameWithNosMsg
                }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <label>Date</label>
            <input type="date" [(ngModel)]="localtalathidate" name="TalathiDate" class="form-control" id="TalathiDate"
              required placeholder="Enter Date" />
          </div>
        </div>

        <!-- फेरफार Notice घेणे -->
        <!-- <div class="row mb-2">
          <div class="col-md-8 d-flex">
            <div class="col-md-4 d-flex justify-content-center">
              <label> फेरफार Notice घेणे</label>
            </div>
            <div class="col-md-8 d-flex">
              <input type="file" [(ngModel)]="Entity.p.Name" name="फेरफार Notice घेणे" class="form-control"
                id="फेरफार Notice घेणे" required placeholder="Enter फेरफार Notice घेणे" />
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <label for="IsFerfarNoticeSubmit">Submit</label>
            <input type="checkbox" id="IsFerfarNoticeSubmit" [(ngModel)]="Entity.p.IsFerfarNoticeSubmit"
              name="IsFerfarNoticeSubmit" class="custom-checkbox" />
          </div>
        </div> -->
        <!-- Final-Customer 7/12 -->
        <!-- <div class="row mb-2">
          <div class="col-md-8 d-flex">
            <div class="col-md-4 d-flex justify-content-center">
              <label> Final-Customer 7/12</label>
            </div>
            <div class="col-md-8 d-flex">
              <input type="file" [(ngModel)]="Entity.p.Name" name="Final-Customer 7/12" class="form-control"
                id="Final-Customer 7/12" required placeholder="Enter Final-Customer 7/12" />
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <label for="IsFinalCustomer712Submit">Submit</label>
            <input type="checkbox" id="IsFinalCustomer712Submit" [(ngModel)]="Entity.p.IsFinalCustomer712Submit"
              name="IsFinalCustomer712Submit" class="custom-checkbox" />
          </div>
        </div>-->

        <!-- फेरफार Notice घेणे -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>फेरफार Notice घेणे</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="फेरफार Notice घेणे" class="Upload-Icon"
              (click)="FerfarNoticeDocumentRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['FerfarNoticeDocumentFile'] || 'No file selected' }}
            </div>

            <input type="file" #FerfarNoticeDocument accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'FerfarNoticeDocumentFile')" />

            <p *ngIf="errors['FerfarNoticeDocumentFile']" class="validation-error">
              {{ errors['FerfarNoticeDocumentFile'] }}
            </p>

            <ng-container *ngIf="filePreviews['FerfarNoticeDocumentFile']; else defaultImage">
              <img [src]="filePreviews['FerfarNoticeDocumentFile']" alt="Ferfar Notice Document" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsFerfarNoticeSubmit">Submit</label>
            <input type="checkbox" id="IsFerfarNoticeSubmit" [(ngModel)]="Entity.p.IsFerfarNoticeSubmit"
              name="IsFerfarNoticeSubmit" class="custom-checkbox" />
          </div>
        </div>

        <!-- Final-Customer 7/12 -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Final-Customer 7/12</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-evenly">
            <img src="/assets/icons/upload.png" alt="Final-Customer 7/12" class="Upload-Icon"
              (click)="FinalCustomer712DocumentRef.nativeElement.click()" />

            <div>
              {{ selectedFileNames['FinalCustomer712DocumentFile'] || 'No file selected' }}
            </div>

            <input type="file" #FinalCustomer712Document accept=".jpg,.jpeg,.png,.gif" style="display: none"
              (change)="onFileUpload($event, 'FinalCustomer712DocumentFile')" />

            <p *ngIf="errors['FinalCustomer712DocumentFile']" class="validation-error">
              {{ errors['FinalCustomer712DocumentFile'] }}
            </p>
            <!-- <img *ngIf="filePreviews['FinalCustomer712DocumentFile']"
              [src]="filePreviews['FinalCustomer712DocumentFile']" class="img-preview" /> -->

            <ng-container *ngIf="filePreviews['FinalCustomer712DocumentFile']; else defaultImage">
              <img [src]="filePreviews['FinalCustomer712DocumentFile']" alt="Final Customer 7/12" class="img-preview" />
            </ng-container>
            <ng-template #defaultImage>
              <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsDastZeroxSubmit">Submit</label>
            <input type="checkbox" id="IsDastZeroxSubmit" [(ngModel)]="Entity.p.IsDastZeroxSubmit"
              name="IsDastZeroxSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;">
        <!-- Spiral 7/12 -->
        <div class="row mt-3">
          <div class="col-md-6 d-flex justify-content-center mb-3">
            <label for="IsSpiral712Submit"> Spiral 7/12</label>
            <input type="checkbox" id="IsSpiral712Submit" [(ngModel)]="Entity.p.IsSpiral712Submit"
              name="IsSpiral712Submit" class="custom-checkbox" />
          </div>

          <!-- Client Submit -->
          <div class="col-md-6 d-flex justify-content-center mb-3">
            <label for="IsClientSubmit">Client Submit</label>
            <input type="checkbox" id="IsClientSubmit" [(ngModel)]="Entity.p.IsClientSubmit" name="IsClientSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!-------------------------------------------------------------  Submit Box -------------------------------------------------------->
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button type="submit" class="btn" (click)="SaveRegistrarOfficeMaster()" [disabled]="isSaveDisabled">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackRegistrarOffice()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
