/* Custom checkbox styling */
.custom-checkbox {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
    accent-color: #2e62d3; /* Changes checkbox color */
    margin-top: 2px;


}
