<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row mb-3">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackRegistrarOffice()">
          <img src="/assets/icons/arrow-button.png" alt="Back" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{ DetailsFormTitle }}</span>
      </div>
    </div>

    <!-- If file not selected -->
    <ng-template #NoFile>
      No file selected
    </ng-template>

    <!-- Fallback: If file is missing entirely -->
    <ng-template #defaultImage>
      <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
    </ng-template>

    <!-- Fallback: If file is not an image (e.g., PDF/DOC) -->
    <ng-template #defaultDocImage>
      <img src="/assets/icons/doc-placeholder.png" alt="Document File" class="file-preview" />
    </ng-template>
    <form autocomplete="off">

      <!----------------------------------------------------------------  Customer Box ------------------------------------------------>

      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Customer Details -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-around d-flex">
            <label> Customer Details</label>
          </div>
        </div>
        <!-- Plot No -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-4">
            <label>Plot No</label>
            <input type="text" [(ngModel)]="Entity.p.PlotName" name="PlotRef" class="form-control" id="PlotRef" required
              placeholder="Enter Plot No" (click)="selectAllValue($event)" disabled />
          </div>
          <!-- Name -->
          <div class="col-md-4">
            <label>Name</label>
            <input type="text" [(ngModel)]="Entity.p.CustomerName" name="CustomerName" class="form-control"
              id="CustomerName" required placeholder="Enter Name" disabled />
          </div>
          <!-- Contact No. -->
          <div class="col-md-4">
            <label>Contact No.</label>
            <input type="text" [(ngModel)]="Entity.p.PhoneNumber" name="PhoneNumber" class="form-control"
              id="PhoneNumber" required placeholder="Enter Contact No." (click)="selectAllValue($event)" disabled />
          </div>
        </div>

        <!-- Cheque -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <label>Cheque</label>
            <input type="checkbox" id="IsChequeSubmit" [(ngModel)]="Entity.p.IsChequeSubmit" name="IsChequeSubmit"
              class="custom-checkbox" />
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Aadhar</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <!-- Upload icon triggers file input -->
            <img src="/assets/icons/upload.png" alt="Customer Aadhar" title="Upload Customer Aadhar" class="Upload-Icon"
              (click)="CustomerAadharFileInputRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['CustomerAadharFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.CustomerAadharPath, 'CustomerAadharFile')">
                {{ selectedFileNames['CustomerAadharFile']}}
              </span>
            </ng-container>

            <!-- Hidden File Input -->
            <input type="file" #CustomerAadharFileInput accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'CustomerAadharFile', 'CustomerAadharPath');" />

            <!-- Customer Aadhar Image Display -->
            <ng-container *ngIf="Entity.p.CustomerAadharPath; else AddDocImage">
              <img
                [src]="isImageFile(Entity.p.CustomerAadharPath) ? filePostViews['CustomerAadharFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Customer Aadhar" title="Customer Aadhar"
                (click)="fileNavigation(Entity.p.CustomerAadharPath, 'CustomerAadharFile')"
                [class]="isImageFile(Entity.p.CustomerAadharPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #AddDocImage>
              <ng-container *ngIf="filePrevViews['CustomerAadharFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['CustomerAadharFile']) ? filePrevViews['CustomerAadharFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Customer Aadhar" title="Customer Aadhar"
                  (click)="fileNavigation(Entity.p.CustomerAadharPath, 'CustomerAadharFile')"
                  [class]="isImageFile(selectedFileNames['CustomerAadharFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>

          </div>
          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsCustomerAadharSubmit">Submit</label>
            <input type="checkbox" id="IsCustomerAadharSubmit" [(ngModel)]="Entity.p.IsCustomerAadharSubmit"
              name="IsCustomerAadharSubmit" class="custom-checkbox" />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">

          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Pan</label>
          </div>

          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="Upload PAN" title="Upload Customer PAN" class="Upload-Icon"
              (click)="CustomerPanFileInputRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['CustomerPanFile']; else NoFile">
              <span style="cursor: pointer;" (click)="fileNavigation(Entity.p.CustomerPanPath, 'CustomerPanFile')">
                {{ selectedFileNames['CustomerPanFile']}}
              </span>
            </ng-container>

            <input type="file" #CustomerPanFileInput accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'CustomerPanFile', 'CustomerPanPath');" />

            <ng-container *ngIf="Entity.p.CustomerPanPath; else CustomerPanAddDocImage">
              <img
                [src]="isImageFile(Entity.p.CustomerPanPath) ? filePostViews['CustomerPanFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Customer Pan" title="Customer Pan"
                (click)="fileNavigation(Entity.p.CustomerPanPath, 'CustomerPanFile')"
                [class]="isImageFile(Entity.p.CustomerPanPath) ? 'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #CustomerPanAddDocImage>
              <ng-container *ngIf="filePrevViews['CustomerPanFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['CustomerPanFile']) ? filePrevViews['CustomerPanFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Customer Pan" title="Customer Pan"
                  (click)="fileNavigation(Entity.p.CustomerPanPath, 'CustomerPanFile')"
                  [class]="isImageFile(selectedFileNames['CustomerPanFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>

          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsCustomerPanSubmit">Submit</label>
            <input type="checkbox" id="IsCustomerPanSubmit" [(ngModel)]="Entity.p.IsCustomerPanSubmit"
              name="IsCustomerPanSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!----------------------------------------------------------------  Witness 1 Box ------------------------------------------------>
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Witness 1 -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="Witness1Submit"> Witness 1</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="Witness1Submit" name="Witness1Submit"
                [checked]="isWitness1Complete()" disabled />
            </div>
          </div>
        </div>
        <!-- Name -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" [(ngModel)]="Entity.p.Witness1Name" name="Witness1Name" class="form-control"
              id="Witness1Name" required placeholder="Enter Name" />
          </div>
          <!-- Contact No. -->
          <div class="col-md-6">
            <label>Contact No.</label>
            <input type="text" [(ngModel)]="Entity.p.Witness1ContactNo" name="Witness1ContactNo" class="form-control"
              id="Witness1ContactNo" maxlength="10" required placeholder="Enter Contact No."
              (click)="selectAllValue($event)" />
          </div>
        </div>

        <!-- Aadhar -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Aadhar</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="Upload Aadhar" title="Upload Witness 1 Aadhar" class="Upload-Icon"
              (click)="Witness1IsAadharSubmitRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['Witness1AadharFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.Witness1AadharPath, 'Witness1AadharFile')">
                {{ selectedFileNames['Witness1AadharFile']}}
              </span>
            </ng-container>

            <input type="file" #Witness1IsAadharSubmit accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'Witness1AadharFile', 'Witness1AadharPath');" />

            <ng-container *ngIf="Entity.p.Witness1AadharPath; else Witness1AadharAddDocImage">
              <img
                [src]="isImageFile(Entity.p.Witness1AadharPath) ? filePostViews['Witness1AadharFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Witness 1 Aadhar" title="Witness 1 Aadhar"
                (click)="fileNavigation(Entity.p.Witness1AadharPath, 'Witness1AadharFile')"
                [class]="isImageFile(Entity.p.Witness1AadharPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #Witness1AadharAddDocImage>
              <ng-container *ngIf="filePrevViews['Witness1AadharFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['Witness1AadharFile']) ? filePrevViews['Witness1AadharFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Witness 1 Aadhar" title="Witness 1 Aadhar"
                  (click)="fileNavigation(Entity.p.Witness1AadharPath, 'Witness1AadharFile')"
                  [class]="isImageFile(selectedFileNames['Witness1AadharFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness1IsAadharSubmit">Submit</label>
            <input type="checkbox" id="Witness1IsAadharSubmit" [(ngModel)]="Entity.p.Witness1IsAadharSubmit"
              name="Witness1IsAadharSubmit" class="custom-checkbox" />
          </div>
        </div>
        <!-- Pan -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Pan</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="Upload PAN" title="Upload Witness 1 Pan" class="Upload-Icon"
              (click)="Witness1IsPanSubmitRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['Witness1PanFile']; else NoFile">
              <span style="cursor: pointer;" (click)="fileNavigation(Entity.p.Witness1PanPath, 'Witness1PanFile')">
                {{ selectedFileNames['Witness1PanFile']}}
              </span>
            </ng-container>

            <input type="file" #Witness1IsPanSubmit accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'Witness1PanFile', 'Witness1PanPath')" />

            <ng-container *ngIf="Entity.p.Witness1PanPath; else Witness1PanAddDocImage">
              <img
                [src]="isImageFile(Entity.p.Witness1PanPath) ? filePostViews['Witness1PanFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Witness 1 Pan" title="Witness 1 Pan"
                (click)="fileNavigation(Entity.p.Witness1PanPath, 'Witness1PanFile')"
                [class]="isImageFile(Entity.p.Witness1PanPath) ? 'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #Witness1PanAddDocImage>
              <ng-container *ngIf="filePrevViews['Witness1PanFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['Witness1PanFile']) ? filePrevViews['Witness1PanFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Witness 1 Pan" title="Witness 1 Pan"
                  (click)="fileNavigation(Entity.p.Witness1PanPath, 'Witness1PanFile')"
                  [class]="isImageFile(selectedFileNames['Witness1PanFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness1IsPanSubmit">Submit</label>
            <input type="checkbox" id="Witness1IsPanSubmit" [(ngModel)]="Entity.p.Witness1IsPanSubmit"
              name="Witness1IsPanSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!----------------------------------------------------------------  Witness 2 Box ---------------------------------------------------->
      <div style="border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;">
        <!-- Witness 2 -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-center d-flex">
            <label for="Witness2Submit"> Witness 2</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="Witness2Submit" name="Witness2Submit"
                [checked]="isWitness2Complete()" disabled />
            </div>
          </div>
        </div>
        <!-- Name -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" [(ngModel)]="Entity.p.Witness2Name" name="Witness2Name" class="form-control"
              id="Witness2Name" required placeholder="Enter Name" />
          </div>
          <!-- Contact No. -->
          <div class="col-md-6">
            <label>Contact No.</label>
            <input type="text" [(ngModel)]="Entity.p.Witness2ContactNo" name="Witness2ContactNo" class="form-control"
              id="Witness2ContactNo" required placeholder="Enter Contact No." (click)="selectAllValue($event)"
              maxlength="10" />
          </div>
        </div>

        <!-- Aadhar -->
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Aadhar</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="Upload Aadhar" class="Upload-Icon" title="Upload Witness 2 Aadhar"
              (click)="Witness2IsAadharSubmitRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['Witness2AadharFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.Witness2AadharPath, 'Witness2AadharFile')">
                {{ selectedFileNames['Witness2AadharFile']}}
              </span>
            </ng-container>

            <input type="file" #Witness2IsAadharSubmit accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'Witness2AadharFile', 'Witness2AadharPath')" />

            <ng-container *ngIf="Entity.p.Witness2AadharPath; else Witness2AadharAddDocImage">
              <img
                [src]="isImageFile(Entity.p.Witness2AadharPath) ? filePostViews['Witness2AadharFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Witness 2 Aadhar" title="Witness 2 Aadhar"
                (click)="fileNavigation(Entity.p.Witness2AadharPath, 'Witness2AadharFile')"
                [class]="isImageFile(Entity.p.Witness2AadharPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #Witness2AadharAddDocImage>
              <ng-container *ngIf="filePrevViews['Witness2AadharFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['Witness2AadharFile']) ? filePrevViews['Witness2AadharFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Witness 2 Aadhar" title="Witness 2 Aadhar"
                  (click)="fileNavigation(Entity.p.Witness2AadharPath, 'Witness2AadharFile')"
                  [class]="isImageFile(selectedFileNames['Witness2AadharFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness2IsAadharSubmit">Submit</label>
            <input type="checkbox" id="Witness2IsAadharSubmit" [(ngModel)]="Entity.p.Witness2IsAadharSubmit"
              name="Witness2IsAadharSubmit" class="custom-checkbox" />
          </div>
        </div>
        <!-- Pan -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Pan</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="Upload PAN" class="Upload-Icon" title="Upload Witness 2 Pan"
              (click)="Witness2IsPanSubmitRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['Witness2PanFile']; else NoFile">
              <span style="cursor: pointer;" (click)="fileNavigation(Entity.p.Witness2PanPath, 'Witness2PanFile')">
                {{ selectedFileNames['Witness2PanFile']}}
              </span>
            </ng-container>

            <input type="file" #Witness2IsPanSubmit accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'Witness2PanFile', 'Witness2PanPath')" />

            <ng-container *ngIf="Entity.p.Witness2PanPath; else Witness2PanAddDocImage">
              <img
                [src]="isImageFile(Entity.p.Witness2PanPath) ? filePostViews['Witness2PanFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Witness 2 Pan" title="Witness 2 Pan"
                (click)="fileNavigation(Entity.p.Witness2PanPath, 'Witness2PanFile')"
                [class]="isImageFile(Entity.p.Witness2PanPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #Witness2PanAddDocImage>
              <ng-container *ngIf="filePrevViews['Witness2PanFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['Witness2PanFile']) ? filePrevViews['Witness2PanFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Witness 2 Pan" title="Witness 2 Pan"
                  (click)="fileNavigation(Entity.p.Witness2PanPath, 'Witness2PanFile')"
                  [class]="isImageFile(selectedFileNames['Witness2PanFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="Witness2IsPanSubmit">Submit</label>
            <input type="checkbox" id="Witness2IsPanSubmit" [(ngModel)]="Entity.p.Witness2IsPanSubmit"
              name="Witness2IsPanSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!-------------------------------------------------------------  Agreement to Sale Box ------------------------------------------------>
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="IsAgreementToSaleSubmit"> Agreement to Sale</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="IsAgreementToSaleSubmit" name="IsAgreementToSaleSubmit"
                [checked]="isAgreementtoSaleComplete()" disabled />
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-center justify-content-around mb-2">
            <img src="/assets/icons/upload.png" alt="Agreement Document" class="Upload-Icon"
              title="Upload Agreement Document" (click)="AgreementDocumentRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['AgreementDocumentFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.AgreementDocumentPath, 'AgreementDocumentFile')">
                {{ selectedFileNames['AgreementDocumentFile']}}
              </span>
            </ng-container>

            <input type="file" #AgreementDocument accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'AgreementDocumentFile', 'AgreementDocumentPath')" />
          </div>

          <div class="col-1 d-flex justify-content-end align-items-center">
            <label for="IsAgreementToSaleYes">Yes</label>
            <input type="checkbox" id="IsAgreementToSaleYes" [(ngModel)]="IsAgreementToSaleYes"
              (ngModelChange)="onAgreementToSaleYes()" name="IsAgreementToSaleYes" class="custom-checkbox" />
          </div>
          <div class="col-1 d-flex justify-content-end align-items-center">
            <label for="IsAgreementToSaleNo">No</label>
            <input type="checkbox" id="IsAgreementToSaleNo" [(ngModel)]="IsAgreementToSaleNo"
              (ngModelChange)="onAgreementToSaleNo()" name="IsAgreementToSaleNo" class="custom-checkbox" />
          </div>
        </div>

        <div class="row mb-2" *ngIf="IsAgreementToSaleYes" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Document</label>
            <input type="text" [(ngModel)]="Entity.p.AgreementDocumentNo" name="AgreementDocumentNo"
              class="form-control" id="AgreementDocumentNo" required placeholder="Enter Document No."
              pattern="^[a-zA-Z0-9]*$" pattern="{{ NameWithNos }}" #AgreementDocumentNoCtrl="ngModel" />
            <div *ngIf="
                AgreementDocumentNoCtrl.invalid &&
                (AgreementDocumentNoCtrl.touched ||
                  AgreementDocumentNoCtrl.dirty)
              ">
              <span class="validation-text" *ngIf="AgreementDocumentNoCtrl.errors?.['pattern']">{{ NameWithNosMsg
                }}</span>
            </div>
          </div>
          <!-- Date -->
          <div class="col-md-6">
            <label>Date</label>
            <input type="date" [(ngModel)]="localagreementdate" name="AgreementDate" class="form-control"
              id="AgreementDate" required placeholder="Enter Name" />
          </div>
        </div>
      </div>

      <!-------------------------------------------------------------  Sale Deed Box -------------------------------------------------------->
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Sale Deed -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-center d-flex align-items-center">
            <label for="IsSaledeedSubmit"> Sale Deed</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="IsSaledeedSubmit" name="IsSaledeedSubmit"
                [checked]="isSaleDeedComplete()" disabled />
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-center justify-content-around mb-2">
            <img src="/assets/icons/upload.png" alt="Sale Deed Document" class="Upload-Icon"
              title="Upload Sale Deed Document" (click)="SaleDeedDocumentRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['SaleDeedDocumentFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.SaleDeedDocumentPath, 'SaleDeedDocumentFile')">
                {{ selectedFileNames['SaleDeedDocumentFile']}}
              </span>
            </ng-container>

            <input type="file" #SaleDeedDocument accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'SaleDeedDocumentFile', 'SaleDeedDocumentPath')" />
          </div>

        </div>
        <!-- Document -->
        <div class="row mb-2" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Document</label>
            <input type="text" [(ngModel)]="Entity.p.SaleDeedDocumentNo" name="SaleDeedDocumentNo" class="form-control"
              id="SaleDeedDocumentNo" required placeholder="Enter Document No." pattern="{{ NameWithNos }}"
              #SaleDeedDocumentNoCtrl="ngModel" />
            <div *ngIf="
                SaleDeedDocumentNoCtrl.invalid &&
                (SaleDeedDocumentNoCtrl.touched || SaleDeedDocumentNoCtrl.dirty)
              ">
              <span class="validation-text" *ngIf="SaleDeedDocumentNoCtrl.errors?.['pattern']">{{ NameWithNosMsg
                }}</span>
            </div>
          </div>
          <!-- Date -->
          <div class="col-md-6">
            <label>Date</label>
            <input type="date" [(ngModel)]="localsaledeeddate" name="SaleDeedDate" class="form-control"
              id="SaleDeedDate" required placeholder="Enter Name" />
          </div>
        </div>
      </div>

      <!------------------------------------------------------------- Talathi Box ----------------------------------------------------------->
      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;
        ">
        <!-- Talathi -->
        <div class="row mb-2" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-md-4 justify-content-center d-flex align-items-center">
            <label for="IsTalathiSubmit"> Talathi</label>
            <div style="margin-left: 25px" class="justify-content-center d-flex align-items-center">
              <input type="checkbox" class="custom-checkbox" id="IsAgreementToSaleSubmit" name="IsAgreementToSaleSubmit"
                [checked]="isTalathiComplete()" disabled />
            </div>
          </div>
        </div>

        <!-- Index Original -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Index Original</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="Index Original" class="Upload-Icon" title="Upload Index Original"
              (click)="IndexOriginalDocumentRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['IndexOriginalDocumentFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.IndexOriginalDocumentPath, 'IndexOriginalDocumentFile')">
                {{ selectedFileNames['IndexOriginalDocumentFile']}}
              </span>
            </ng-container>

            <input type="file" #IndexOriginalDocument accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'IndexOriginalDocumentFile', 'IndexOriginalDocumentPath')" />

            <ng-container *ngIf="Entity.p.IndexOriginalDocumentPath; else IndexOriginalDocumentAddDocImage">
              <img
                [src]="isImageFile(Entity.p.IndexOriginalDocumentPath) ? filePostViews['IndexOriginalDocumentFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Index Original Document" title="Index Original Document"
                (click)="fileNavigation(Entity.p.IndexOriginalDocumentPath, 'IndexOriginalDocumentFile')"
                [class]="isImageFile(Entity.p.IndexOriginalDocumentPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #IndexOriginalDocumentAddDocImage>
              <ng-container *ngIf="filePrevViews['IndexOriginalDocumentFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['IndexOriginalDocumentFile']) ? filePrevViews['IndexOriginalDocumentFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Index Original Document" title="Index Original Document"
                  (click)="fileNavigation(Entity.p.IndexOriginalDocumentPath, 'IndexOriginalDocumentFile')"
                  [class]="isImageFile(selectedFileNames['IndexOriginalDocumentFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsIndexOriginalSubmit">Submit</label>
            <input type="checkbox" id="IsIndexOriginalSubmit" [(ngModel)]="Entity.p.IsIndexOriginalSubmit"
              name="IsIndexOriginalSubmit" class="custom-checkbox" />
          </div>
        </div>
        <!--  दस्त Zerox -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>दस्त Zerox</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="दस्त Zerox" class="Upload-Icon" title="Upload दस्त Zerox"
              (click)="DastZeroxDocumentRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['DastZeroxDocumentFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.DastZeroxDocumentPath, 'DastZeroxDocumentFile')">
                {{ selectedFileNames['DastZeroxDocumentFile']}}
              </span>
            </ng-container>

            <input type="file" #DastZeroxDocument accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'DastZeroxDocumentFile', 'DastZeroxDocumentPath')" />

            <ng-container *ngIf="Entity.p.DastZeroxDocumentPath; else DastZeroxDocumentAddDocImage">
              <img
                [src]="isImageFile(Entity.p.DastZeroxDocumentPath) ? filePostViews['DastZeroxDocumentFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Dast Zerox Document" title="Dast Zerox Document"
                (click)="fileNavigation(Entity.p.DastZeroxDocumentPath, 'DastZeroxDocumentFile')"
                [class]="isImageFile(Entity.p.DastZeroxDocumentPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #DastZeroxDocumentAddDocImage>
              <ng-container *ngIf="filePrevViews['DastZeroxDocumentFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['DastZeroxDocumentFile']) ? filePrevViews['DastZeroxDocumentFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Dast Zerox Document" title="Dast Zerox Document"
                  (click)="fileNavigation(Entity.p.DastZeroxDocumentPath, 'DastZeroxDocumentFile')"
                  [class]="isImageFile(selectedFileNames['DastZeroxDocumentFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsDastZeroxSubmit">Submit</label>
            <input type="checkbox" id="IsDastZeroxSubmit" [(ngModel)]="Entity.p.IsDastZeroxSubmit"
              name="IsDastZeroxSubmit" class="custom-checkbox" />
          </div>
        </div>

        <!-- Inward No: -->
        <div class="row mb-2" style="margin-top: 1rem">
          <!-- <div class="col-md-6">
            <label>Inward No</label>
            <input type="text" [(ngModel)]="Entity.p.TalathiInwardNo" name="TalathiInwardNo" class="form-control"
              id="TalathiInwardNo" required placeholder="Enter Inward No" pattern="{{ NameWithNos }}"
              #TalathiInwardNoCtrl="ngModel" />
            <div *ngIf="
                TalathiInwardNoCtrl.invalid &&
                (TalathiInwardNoCtrl.touched || TalathiInwardNoCtrl.dirty)
              ">
              <span class="validation-text" *ngIf="TalathiInwardNoCtrl.errors?.['pattern']">{{ NameWithNosMsg
                }}</span>
            </div>
          </div> -->
          <div class="col-md-6">
            <label>Date</label>
            <input type="date" [(ngModel)]="localtalathidate" name="TalathiDate" class="form-control" id="TalathiDate"
              required placeholder="Enter Date" />
          </div>
        </div>

        <!-- फेरफार Notice घेणे -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>फेरफार Notice घेणे</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="फेरफार Notice घेणे" class="Upload-Icon"
              title="Upload फेरफार Notice" (click)="FerfarNoticeDocumentRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['FerfarNoticeDocumentFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.FerfarNoticeDocumentPath, 'FerfarNoticeDocumentFile')">
                {{ selectedFileNames['FerfarNoticeDocumentFile']}}
              </span>
            </ng-container>

            <input type="file" #FerfarNoticeDocument accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'FerfarNoticeDocumentFile', 'FerfarNoticeDocumentPath')" />

            <ng-container *ngIf="Entity.p.FerfarNoticeDocumentPath; else FerfarNoticeDocumentAddDocImage">
              <img
                [src]="isImageFile(Entity.p.FerfarNoticeDocumentPath) ? filePostViews['FerfarNoticeDocumentFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Ferfar Notice" title="Ferfar Notice"
                (click)="fileNavigation(Entity.p.FerfarNoticeDocumentPath, 'FerfarNoticeDocumentFile')"
                [class]="isImageFile(Entity.p.FerfarNoticeDocumentPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #FerfarNoticeDocumentAddDocImage>
              <ng-container *ngIf="filePrevViews['FerfarNoticeDocumentFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['FerfarNoticeDocumentFile']) ? filePrevViews['FerfarNoticeDocumentFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Ferfar Notice" title="Ferfar Notice"
                  (click)="fileNavigation(Entity.p.FerfarNoticeDocumentPath, 'FerfarNoticeDocumentFile')"
                  [class]="isImageFile(selectedFileNames['FerfarNoticeDocumentFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsFerfarNoticeSubmit">Submit</label>
            <input type="checkbox" id="IsFerfarNoticeSubmit" [(ngModel)]="Entity.p.IsFerfarNoticeSubmit"
              name="IsFerfarNoticeSubmit" class="custom-checkbox" />
          </div>
        </div>

        <!-- Final-Customer 7/12 -->
        <div class="row mb-2">
          <div class="col-md-3 d-flex justify-content-center">
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label>Final-Customer 7/12</label>
          </div>
          <div class="col-md-5 d-flex align-items-center justify-content-between">
            <img src="/assets/icons/upload.png" alt="Final-Customer 7/12" class="Upload-Icon"
              title="Upload Final-Customer 7/12" (click)="FinalCustomer712DocumentRef.nativeElement.click()" />

            <ng-container *ngIf="selectedFileNames['FinalCustomer712DocumentFile']; else NoFile">
              <span style="cursor: pointer;"
                (click)="fileNavigation(Entity.p.FinalCustomer712DocumentPath, 'FinalCustomer712DocumentFile')">
                {{ selectedFileNames['FinalCustomer712DocumentFile']}}
              </span>
            </ng-container>

            <input type="file" #FinalCustomer712Document accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
              (change)="onFileUpload($event, 'FinalCustomer712DocumentFile', 'FinalCustomer712DocumentPath')" />

            <ng-container *ngIf="Entity.p.FinalCustomer712DocumentPath; else FinalCustomer712DocumentAddDocImage">
              <img
                [src]="isImageFile(Entity.p.FinalCustomer712DocumentPath) ? filePostViews['FinalCustomer712DocumentFile'] : '/assets/icons/doc-placeholder.png'"
                alt="Final Customer 7/12" title="Final Customer 7/12"
                (click)="fileNavigation(Entity.p.FinalCustomer712DocumentPath, 'FinalCustomer712DocumentFile')"
                [class]="isImageFile(Entity.p.FinalCustomer712DocumentPath) ?  'img-preview' : 'file-preview'" />
            </ng-container>

            <ng-template #FinalCustomer712DocumentAddDocImage>
              <ng-container *ngIf="filePrevViews['FinalCustomer712DocumentFile']; else defaultImage">
                <img
                  [src]="isImageFile(selectedFileNames['FinalCustomer712DocumentFile']) ? filePrevViews['FinalCustomer712DocumentFile'] : '/assets/icons/doc-placeholder.png'"
                  alt="Final Customer 7/12" title="Final Customer 7/12"
                  (click)="fileNavigation(Entity.p.FinalCustomer712DocumentPath, 'FinalCustomer712DocumentFile')"
                  [class]="isImageFile(selectedFileNames['FinalCustomer712DocumentFile']) ? 'img-preview' : 'file-preview'" />
              </ng-container>
            </ng-template>
          </div>

          <!-- Submit -->
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <label for="IsFinalCustomer712Submit">Submit</label>
            <input type="checkbox" id="IsFinalCustomer712Submit" [(ngModel)]="Entity.p.IsFinalCustomer712Submit"
              name="IsFinalCustomer712Submit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <div style="
          border: solid;
          border-color: brown;
          border-width: 1px;
          border-radius: 5px;
          margin-bottom: 2px;
          padding: 0px 12px;">
        <!-- Spiral 7/12 -->
        <div class="row mt-3">
          <div class="col-md-6 d-flex justify-content-center align-items-center mb-3">
            <label for="IsSpiral712Submit"> Spiral 7/12</label>
            <input type="checkbox" id="IsSpiral712Submit" [(ngModel)]="Entity.p.IsSpiral712Submit"
              name="IsSpiral712Submit" class="custom-checkbox" />
          </div>

          <!-- Client Submit -->
          <div class="col-md-6 d-flex justify-content-center align-items-center mb-3">
            <label for="IsClientSubmit">Client Submit</label>
            <input type="checkbox" id="IsClientSubmit" [(ngModel)]="Entity.p.IsClientSubmit" name="IsClientSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <!-------------------------------------------------------------  Submit Box -------------------------------------------------------->
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button type="submit" class="btn" (click)="SaveRegistrarOfficeMaster()" [disabled]="isSaveDisabled">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackRegistrarOffice()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
