/* Custom checkbox styling */
.custom-checkbox {
  width: 22px;
  height: 22px;
  margin-left: 20px;
  cursor: pointer;
  accent-color: white;
  /* White check color */
  background-color: white;
  /* Black background */
  border: 2px solid rgb(95, 86, 86);
  /* White border */
  appearance: none;
  /* Remove default styles */
  // margin-top: 8px;
  border-radius: 3px;
}

.custom-checkbox:checked {
  background-color: rgb(81, 79, 172);
  /* Ensures background stays black */
  border: 1px solid white;
  /* Keeps white border */
  border-radius: 5rem;
}

.custom-checkbox:checked::before {
  content: '✔';
  /* Checkmark */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* White tick */

}

form {
  label {
    margin-top: 0.30rem;
    margin-bottom: 0.30rem;
    font-weight: bold;
  }
}

.file-upload {
  width: 220px;
}

.Upload-Icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.img-preview {
  width: 5rem;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-preview {
  width: 4rem;
  margin-top: 10px;
  align-self: center;
}
