<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackRegistrarOffice()">
          <img
            src="/assets/icons/arrow-button.png"
            alt=""
            width="34px"
            height="34px"
          />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <form autocomplete="off">
      <!-- Plot No -->
      <div class="row mb-4" style="margin-top: 1rem; ">
        <div class="col-md-4">
           <label>Plot No</label>
            <input
              type="text"
              [(ngModel)]="Entity.p.PlotRef"
              name="PlotRef"
              class="form-control"
              id="PlotRef"
              required
              placeholder="Enter Plot No"
            />
        </div>
        <!-- Name -->
        <div class="col-md-4">
          <label>Name</label>
           <input
             type="text"
             [(ngModel)]="Entity.p.CustomerName"
             name="CustomerName"
             class="form-control"
             id="CustomerName"
             required
             placeholder="Enter Name"
           />
       </div>
       <!-- Contact No. -->
       <div class="col-md-4">
        <label>Contact No.</label>
         <input
           type="text"
           [(ngModel)]="Entity.p.ContactNo"
           name="ContactNo"
           class="form-control"
           id="ContactNo"
           required
           placeholder="Enter Contact No. "
         />
     </div>
      </div>

<!-- Cheque -->
       <div class="row ">
        <div class="col-md-4 d-flex justify-content-center ">
          <label>Cheque</label>
            <input type="checkbox" id="IsChequeSubmit"  [(ngModel)]="Entity.p.IsChequeSubmit" name="IsChequeSubmit" class="custom-checkbox">
      </div>
<!-- Aadhar -->
        <div class="col-md-8 d-flex mb-4">
          <div class="col-md-8 d-flex ">
            <div class="col-md-4 d-flex justify-content-center">
              <label>Aadhar</label>
            </div>
            <div class="col-md-8 d-flex">
              <input
                type="file"
                [(ngModel)]="Entity.p.Name"
                name="Name"
                class="form-control"
                id="Name"
                required
                placeholder="Enter Name"
              />
            </div>
          </div>
          <!-- Submit -->
          <div class="col-md-4 d-flex justify-content-center  ">
            <label for="IsCustomerAadharSubmit">Submit</label>
              <input type="checkbox" id="IsCustomerAadharSubmit"  [(ngModel)]="Entity.p.IsCustomerAadharSubmit" name="IsCustomerAadharSubmit" class="custom-checkbox">
          </div>
       </div>

       
       <div class="col-md-4"> </div>
       <!--  Pan   -->
  
          <div class="col-md-8 d-flex mb-4">
            <div class="col-md-8 d-flex ">
              <div class="col-md-4 d-flex justify-content-center">
                <label>Pan</label>
              </div>
              <div class="col-md-8 d-flex">
                <input
                  type="file"
                  [(ngModel)]="Entity.p.Name"
                  name="Name"
                  class="form-control"
                  id="Name"
                  required
                  placeholder="Enter Name"
                />
              </div>
              <!-- Submit -->
            </div>
            <!-- Submit -->
            <div class="col-md-4 d-flex justify-content-center  ">
              <label for="IsCustomerPanSubmit">Submit</label>
                <input type="checkbox" id="IsCustomerPanSubmit"  [(ngModel)]="Entity.p.IsCustomerPanSubmit" name="IsCustomerPanSubmit" class="custom-checkbox">
            </div>

        </div>

        <!-- Witness 1 Box -->

       <div style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px;">
      <!-- Witness 1 -->
       <div class="row mb-4" style="margin-top: 1rem; background-color: #fbe6e6; ">
        <div class="col-md-4 justify-content-center d-flex">
          <label  for="Witness1Submit"> Witness 1</label>
              <div style="margin-left: 25px;">
                <input
                  type="checkbox"
                  class="custom-checkbox"
                  [checked]="Entity.p.Witness1Submit"
                  id="Witness1Submit"
                  name="Witness1Submit"
                />
              </div>
        </div>
       </div>
<!-- Name -->
       <div class="row mb-4" style="margin-top: 1rem; ">
        <div class="col-md-6">
          <label>Name</label>
           <input
             type="text"
             [(ngModel)]="Entity.p.Witness1Name"
             name="Witness1Name"
             class="form-control"
             id="Witness1Name"
             required
             placeholder="Enter Name"
           />
       </div>
       <!-- Contact No. -->
       <div class="col-md-6">
        <label>Contact No.</label>
         <input
           type="text"
           [(ngModel)]="Entity.p.Witness1ContactNo"
           name="Witness1ContactNo"
           class="form-control"
           id="Witness1ContactNo"
           required
           placeholder="Enter Contact No."
         />
     </div>
      </div>

<!-- Aadhar -->
       <div class="row mb-4">
        <div class="col-md-8 d-flex ">
          <div class="col-md-4 d-flex justify-content-center">
            <label>Aadhar</label>
          </div>
          <div class="col-md-8 d-flex">
            <input
              type="file"
              [(ngModel)]="Entity.p.Name"
              name="Aadhar"
              class="form-control"
              id="Aadhar"
              required
              placeholder="Enter Aadhar"
            />
          </div>
        </div>
<!-- Submit -->
        <div class="col-md-4 d-flex justify-content-center  ">
          <label for="Witness1IsAadharSubmit">Submit</label>
            <input type="checkbox" id="Witness1IsAadharSubmit"  [(ngModel)]="Entity.p.Witness1IsAadharSubmit" name="Witness1IsAadharSubmit" class="custom-checkbox">
      </div>

      </div>
      <!-- Pan -->
      <div class="row mb-4 ">
        <div class="col-md-8 d-flex ">
          <div class="col-md-4 d-flex justify-content-center">
            <label> Pan</label>
          </div>
          <div class="col-md-8 d-flex">
            <input
              type="file"
              [(ngModel)]="Entity.p.Name"
              name="Pan"
              class="form-control"
              id="Pan"
              required
              placeholder="Enter Pan"
            />
          </div>
        </div>
<!-- Submit -->
        <div class="col-md-4 d-flex justify-content-center  ">
          <label for="Witness1IsPanSubmit">Submit</label>
            <input type="checkbox" id="Witness1IsPanSubmit"  [(ngModel)]="Entity.p.Witness1IsPanSubmit" name="Witness1IsPanSubmit" class="custom-checkbox">
      </div>
      </div>
    </div>

        <!--------------------- Witness 2 Box ------------------>
    
    <div style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px;">
      <!-- Witness 2 -->
      <div class="row mb-4" style="margin-top: 1rem; background-color: #fbe6e6; ">
       <div class="col-md-4 justify-content-center d-flex">
         <label  for="Witness2Submit"> Witness 2</label>
             <div style="margin-left: 25px;">
               <input
                 type="checkbox"
                 class="custom-checkbox"
                 [(ngModel)]="Entity.p.Witness2Submit"
                 id="Witness2Submit"
                 name="Witness2Submit"
               />
             </div>
       </div>
      </div>
<!-- Name -->
      <div class="row mb-4" style="margin-top: 1rem; ">
       <div class="col-md-6">
         <label>Name</label>
          <input
            type="text"
            [(ngModel)]="Entity.p.Witness2Name"
            name="Witness2Name"
            class="form-control"
            id="Witness2Name"
            required
            placeholder="Enter Name"
          />
      </div>
      <!-- Contact No. -->
      <div class="col-md-6">
       <label>Contact No.</label>
        <input
          type="text"
          [(ngModel)]="Entity.p.Witness2ContactNo"
          name="Witness2ContactNo"
          class="form-control"
          id="Witness2ContactNo"
          required
          placeholder="Enter Contact No."
        />
    </div>
     </div>

<!-- Aadhar -->
      <div class="row mb-4">
       <div class="col-md-8 d-flex ">
         <div class="col-md-4 d-flex justify-content-center">
           <label>Aadhar</label>
         </div>
         <div class="col-md-8 d-flex">
           <input
             type="file"
             [(ngModel)]="Entity.p.Name"
             name="Aadhar"
             class="form-control"
             id="Aadhar"
             required
             placeholder="Enter Aadhar"
           />
         </div>
       </div>

       <div class="col-md-4 d-flex justify-content-center  ">
         <label for="Witness2IsAadharSubmit">Submit</label>
           <input type="checkbox" id="Witness2IsAadharSubmit"  [(ngModel)]="Entity.p.Witness2IsAadharSubmit" name="Witness2IsAadharSubmit" class="custom-checkbox">
     </div>
     </div>
     <!-- Pan -->
     <div class="row mb-4 ">
       <div class="col-md-8 d-flex ">
         <div class="col-md-4 d-flex justify-content-center">
           <label> Pan</label>
         </div>
         <div class="col-md-8 d-flex">
           <input
             type="file"
             [(ngModel)]="Entity.p.Name"
             name="Pan"
             class="form-control"
             id="Pan"
             required
             placeholder="Enter Pan"
           />
         </div>
       </div>
<!-- Submit -->
       <div class="col-md-4 d-flex justify-content-center  ">
         <label for="Witness2IsPanSubmit">Submit</label>
           <input type="checkbox" id="Witness2IsPanSubmit"  [(ngModel)]="Entity.p.Witness2IsPanSubmit" name="Witness2IsPanSubmit" class="custom-checkbox">
     </div>
     </div>
   </div>

        <!--------------------- Agreement to Sale Box ------------------------>

   <div style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px;">
    <div class="row mb-4" style="margin-top: 1rem; background-color: #fbe6e6; ">
      <div class="col-md-4 justify-content-center d-flex">
        <label  for="IsAgreementToSaleSubmit"> Agreement to Sale</label>
            <div style="margin-left: 25px;">
              <input
                type="checkbox"
                class="custom-checkbox"
                id="IsAgreementToSaleSubmit"
                name="IsAgreementToSaleSubmit"
                />
                <!-- [(ngModel)]="Entity.p.IsAgreementToSaleSubmit" -->
            </div>
      </div>
     
       <div class="col-md-4 d-flex">
         <input
           type="file"
           [(ngModel)]="Entity.p.Name"
           name="Name"
           class="form-control"
           id="Name"
           required
           placeholder="Enter Name"
         />
       </div>
   </div> 
   
    <div class="row mb-4" style="margin-top: 1rem; ">
     <div class="col-md-6">
       <label>Document</label>
        <input
          type="text"
          [(ngModel)]="Entity.p.AgreementDocumentNo"
          name="AgreementDocumentNo"
          class="form-control"
          id="AgreementDocumentNo"
          required
          placeholder="Enter Document No."
        />
    </div>
    <!-- Date -->
    <div class="col-md-6">
     <label>Date</label>
      <input
        type="date"
        [(ngModel)]="Entity.p.AgreementDate"
        name="AgreementDate"
        class="form-control"
        id="AgreementDate"
        required
        placeholder="Enter Name"
      />
  </div>
   </div>
 </div>

        <!---------------------- Sale Deed Box  ----------------------------->

 <div style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px;">
      <!-- Sale Deed -->
  <div class="row mb-4" style="margin-top: 1rem; background-color: #fbe6e6; ">
   <div class="col-md-4 justify-content-center d-flex">
     <label  for="IsSaledeedSubmit"> Sale Deed</label>
         <div style="margin-left: 25px;">
           <input
             type="checkbox"
             class="custom-checkbox"
             id="IsSaledeedSubmit"
             name="IsSaledeedSubmit"
             />
             <!-- [(ngModel)]="Entity.p.IsSaledeedSubmit" -->
         </div>
   </div>
  <div class="col-md-4 d-flex ">
      <input
        type="file"
        [(ngModel)]="Entity.p.Name"
        name="Name"
        class="form-control"
        id="Name"
        required
        placeholder="Enter Name"
      />
    </div>
</div>
<!-- Document -->
  <div class="row mb-4" style="margin-top: 1rem; ">
   <div class="col-md-6">
     <label>Document</label>
      <input
        type="text"
        [(ngModel)]="Entity.p.SaleDeedDocumentNo"
        name="SaleDeedDocumentNo"
        class="form-control"
        id="SaleDeedDocumentNo"
        required
        placeholder="Enter Document No."
      />
  </div>
  <!-- Date -->
  <div class="col-md-6">
   <label>Date</label>
    <input
      type="date"
      [(ngModel)]="Entity.p.SaleDeedDate"
      name="SaleDeedDate"
      class="form-control"
      id="SaleDeedDate"
      required
      placeholder="Enter Name"
    />
</div>
 </div>
</div>

<!---------------------- Talathi Box ----------------->
<div style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px;">
      <!-- Talathi -->
  <div class="row mb-4" style="margin-top: 1rem; background-color: #fbe6e6; ">
   <div class="col-md-4 justify-content-center d-flex">
     <label  for="IsTalathiSubmit"> Talathi</label>
         <div style="margin-left: 25px;">
           <input
             type="checkbox"
             class="custom-checkbox"
             id="IsTalathiSubmit"
             name="IsTalathiSubmit"
             />
             <!-- [(ngModel)]="Entity.p.IsTalathiSubmit" -->
            </div>
   </div>
  </div>


<!-- Index Original -->
  <div class="row mb-4">
   <div class="col-md-8 d-flex ">
     <div class="col-md-4 d-flex justify-content-center">
       <label>Index Original</label>
     </div>
     <div class="col-md-8 d-flex">
       <input
         type="file"
         [(ngModel)]="Entity.p.Name"
         name="Index Original"
         class="form-control"
         id="Index Original"
         required
         placeholder="Enter Index Original"
       />
     </div>
   </div>

   <div class="col-md-4 d-flex justify-content-center  ">
     <label for="IsIndexOriginalSubmit">Submit</label>
       <input type="checkbox" id="IsIndexOriginalSubmit"  [(ngModel)]="Entity.p.IsIndexOriginalSubmit" name="IsIndexOriginalSubmit" class="custom-checkbox">
 </div>

 </div>
 <!-- दस्त Zerox -->
 <div class="row mb-4 ">
   <div class="col-md-8 d-flex ">
     <div class="col-md-4 d-flex justify-content-center">
       <label> दस्त Zerox</label>
     </div>
     <div class="col-md-8 d-flex">
       <input
         type="file"
         [(ngModel)]="Entity.p.Name"
         name="दस्त Zerox"
         class="form-control"
         id="दस्त Zerox"
         required
         placeholder="Enter दस्त Zerox"
       />
     </div>
   </div>

   <div class="col-md-4 d-flex justify-content-center  ">
     <label for="IsDastZeroxSubmit">Submit</label>
       <input type="checkbox" id="IsDastZeroxSubmit"  [(ngModel)]="Entity.p.IsDastZeroxSubmit" name="IsDastZeroxSubmit" class="custom-checkbox">
 </div>

 </div>


 <!-- Inward No: -->
 <div class="row mb-4" style="margin-top: 1rem; ">
  <div class="col-md-6">
    <label>Inward No</label>
     <input
       type="text"
       [(ngModel)]="Entity.p.TalathiInwardNo"
       name="TalathiInwardNo"
       class="form-control"
       id="TalathiInwardNo"
       required
       placeholder="Enter Inward No"
     />
 </div>
 <div class="col-md-6">
  <label>Date</label>
   <input
     type="date"
     [(ngModel)]="Entity.p.TalathiDate"
     name="TalathiDate"
     class="form-control"
     id="TalathiDate"
     required
     placeholder="Enter Date"
   />
</div>
</div>

<!-- फेरफार Notice घेणे -->
 <div class="row mb-4 ">
  <div class="col-md-8 d-flex ">
    <div class="col-md-4 d-flex justify-content-center">
      <label> फेरफार Notice घेणे</label>
    </div>
    <div class="col-md-8 d-flex">
      <input
        type="file"
        [(ngModel)]="Entity.p.Name"
        name="फेरफार Notice घेणे"
        class="form-control"
        id="फेरफार Notice घेणे"
        required
        placeholder="Enter फेरफार Notice घेणे"
      />
    </div>
  </div>

  <div class="col-md-4 d-flex justify-content-center  ">
    <label for="IsFerfarNoticeSubmit">Submit</label>
      <input type="checkbox" id="IsFerfarNoticeSubmit"  [(ngModel)]="Entity.p.IsFerfarNoticeSubmit" name="IsFerfarNoticeSubmit" class="custom-checkbox">
</div>

</div>
<!-- Final-Customer 7/12 -->
<div class="row mb-4 ">
  <div class="col-md-8 d-flex ">
    <div class="col-md-4 d-flex justify-content-center">
      <label> Final-Customer 7/12</label>
    </div>
    <div class="col-md-8 d-flex">
      <input
        type="file"
        [(ngModel)]="Entity.p.Name"
        name="Final-Customer 7/12"
        class="form-control"
        id="Final-Customer 7/12"
        required
        placeholder="Enter Final-Customer 7/12"
      />
    </div>
  </div>

  <div class="col-md-4 d-flex justify-content-center  ">
    <label for="IsFinalCustomer712Submit">Submit</label>
      <input type="checkbox" id="IsFinalCustomer712Submit"  [(ngModel)]="Entity.p.IsFinalCustomer712Submit" name="IsFinalCustomer712Submit" class="custom-checkbox">
</div>
</div>
</div>

<div style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px;">

<!-- Spiral 7/12 -->
 <div class="row mt-3">
  <div class="col-md-6 d-flex justify-content-center  ">
    <label for="IsSpiral712Submit"> Spiral 7/12</label>
    <input type="checkbox" id="IsSpiral712Submit"  [(ngModel)]="Entity.p.IsSpiral712Submit" name="IsSpiral712Submit" class="custom-checkbox">
</div>

<!-- Client Submit -->
  <div class="col-md-6 d-flex justify-content-center  mb-3 ">
    <label for="IsClientSubmit">Client Submit</label>
      <input type="checkbox" id="IsClientSubmit"  [(ngModel)]="Entity.p.IsClientSubmit" name="IsClientSubmit" class="custom-checkbox">
</div>
 </div>
  
</div>
      </div>
              <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
          <div>
            <button type="button" class="btn" (click)="SaveRegistrarOfficeMaster()">Save</button>
          </div>
          <div>
            <button type="button" class="btn"  (click)="BackRegistrarOffice()">Back</button>
          </div>
      </div>
    </form>
  </div>
</div>