<!-- <div style="text-align: center;">
  <p>
    login-page works!
  </p>
  <button style="padding: 10px;" (click)="Login()">Login</button>
</div> -->

<div style="background-color: #DBD8D8; height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="card">
    <div class="card-content">
      <div class="card-image">
        <img src="../../../assets/images/main_img.jpg" alt="Image" />
      </div>
      <div style="align-self: center; margin: 5%; ">
        <div class="card-input">
          <img src="../../../assets/images/shreelogo.png" alt="Image"
            style="height: 25%; width: 25%; align-self: center;margin-bottom: 3%;" />
          <h4 style="text-align: center; margin-bottom: 4%;">Login your account</h4>
          <form autocomplete="off">
            <input id="inputField" type="text" id="userId" name="UserId" placeholder="Enter your Mail Id" [(ngModel)]="UserId" />
            <input id="inputField" type="password" id="password" name="password" placeholder="Enter your Password" [(ngModel)]="Password" />
            <div>
              <button
                style="padding: 9px; margin-bottom: 3%; width: 100%;  border-radius: 8px; background-color: #781616; color: white;"
                (click)="Login()">Login</button>
            </div>
            <h6 style="margin-bottom: 4%;">Forgot Password ?</h6>
            <p>Don't have an account? <a href=""><u>Register here</u></a> <br>
              Note: Only <b>Admin</b> Can Register</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>