<!-- <div style="text-align: center;">
  <p>
    login-page works!
  </p>
  <button style="padding: 10px;" (click)="Login()">Login</button>
</div> -->

<div style="background-color: #DBD8D8; height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="card">
    <div class="card-content">
      <div class="card-image">
        <img src="../../../assets/images/main_img.jpg" alt="Image" />
      </div>
      <div style="align-self: center; margin: 5%; ">
        <div class="card-input">
          <img src="../../../assets/images/shreelogo.png" alt="Image"
            style="height: 25%; width: 25%; align-self: center;margin-bottom: 3%;" />
          <h4 style="text-align: center; margin-bottom: 4%;">Login your account</h4>
          <form autocomplete="off">


            <div>
              <label for="userId" class="input-label">User ID</label>
              <div style="display: flex;">
                <input type="text" id="inputField" type="text" id="userId" name="UserId" placeholder="Enter your Mail Id" required [(ngModel)]="UserId">
                <span class="input-icon" style="margin-top: 0.4rem; margin-left: 0.4rem; color: brown;">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>

            <!-- <input id="inputField" type="text" id="userId" name="UserId" placeholder="Enter your Mail Id" [(ngModel)]="UserId" /> -->
            <div>
              <label for="password">Password</label>
              <div style="display: flex">
                <input  id="inputField" type="password" id="password" [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" name="Password" placeholder="Enter your Password"  required
                  [(ngModel)]="Password" />
                <span (click)="togglePasswordVisibility()" class="input-icon"
                  style="margin-top: 0.4rem; margin-left: 0.2rem; color: brown; cursor: pointer;">
                  <i class="fas fa-eye" *ngIf="showPassword"></i>
                  <i class="fas fa-eye-slash" *ngIf="!showPassword"></i>
                </span>
              </div>
      
            </div>
            <!-- <input id="inputField" type="password" id="password" name="password" placeholder="Enter your Password" [(ngModel)]="Password" /> -->
            <div>
              <button type="button"
                style="padding: 9px; margin-bottom: 3%; width: 100%;  border-radius: 8px; background-color: #781616; color: white;"
                (click)="Login()">Login</button>
            </div>
            <h6 style="margin-bottom: 4%;">Forgot Password ?</h6>
            <p>Don't have an account? <a href=""><u>Register here</u></a> <br>
              Note: Only <b>Admin</b> Can Register</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>