
<app-header-with-back-handler title="Pending Customer Follow-Up" backRoute="mobile-app/tabs/dashboard/customer-relationship-management">
</app-header-with-back-handler>
<app-chip-filter-mobile-app [filters]="filters" (filtersChanged)="onFiltersChanged($event)">
</app-chip-filter-mobile-app>
<ion-content class="followup-content">

  <!-- Pull to Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Follow-Up List -->
  <ion-list class="followup-list">

  </ion-list>
  <!-- Customer List -->
  <ion-list class="data-list">
      <ng-container *ngIf="FilterFollowupList.length > 0">
        <ion-card *ngFor="let item of FilterFollowupList" class="data-card">
          <ion-card-header>
            <ion-card-title class="info-row"><strong>Customer Name : </strong>{{ item.p.CustomerName }}</ion-card-title>
            <ion-card-subtitle class="info-row"><strong>Contact No : </strong>{{ item.p.ContactNos
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Reminder Date : </strong>{{
              formatDate(item.p.ReminderDate)}}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Customer Status : </strong>{{
              item.p.CustomerStatusName}}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Requirement : </strong>{{
              item.p.CustomerRequirement}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="btn-row">
              <ion-button fill="clear" size="small" color="primary" (click)="onFollowUpClick(item)">
                <ion-icon slot="start" name="people-outline"></ion-icon> Follow up
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <!-- Show "Data not found" if list is empty -->
      <div *ngIf="FilterFollowupList.length === 0 && !loadingService.isLoaderActive()" class="no-data-mobile-app">
        <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
        <p>No Pending Follow up records found.</p>
      </div>
  </ion-list>

</ion-content>