<app-header-with-back-handler title="Attendance Details"></app-header-with-back-handler>

<ion-content [fullscreen]="true" class="attendance-content">
  <!-- Month Tabs -->
  <ion-segment scrollable [(ngModel)]="selectedMonth" (ionChange)="getDataByMonth($event.detail.value)"
    class="month-segment">
    <ion-segment-button *ngFor="let month of months" [value]="month.Ref">
      {{ month.Name }}
    </ion-segment-button>
  </ion-segment>

  <!-- Attendance List -->
  <ion-list *ngIf="filteredMonthlyAttendanceLogsList.length > 0; else noDataTemplate" class="attendance-list">
    <ion-item *ngFor="let day of filteredMonthlyAttendanceLogsList" lines="none"
      [class.no-data]="!day.p.FirstCheckInTime && !day.p.LastCheckOutTime && !day.p.OnLeave && !day.p.TotalWorkingHrs">

      <ion-grid class="attendance-grid">
        <ion-row>
          <!-- Date Column -->
          <ion-col size="3" class="day-column">
            <div class="date">{{ day.p.TransDateTime ? (day.p.TransDateTime | date:'dd') : '--' }}</div>
            <div class="day">{{ day.p.TransDateTime ? (day.p.TransDateTime | date:'EEE') : '--' }}</div>
          </ion-col>

          <!-- Details Column -->
          <ion-col size="9" class="info-column"
            [ngStyle]="{ 'background-color': day.p.OnLeave ? '#ffe0e0' : 'transparent' }">
            <div *ngIf="day.p.OnLeave" class="center-text">
              <ion-icon name="medkit-outline"></ion-icon>
              {{ day.p.OnLeave }}
            </div>

            <div *ngIf="!day.p.OnLeave && (day.p.FirstCheckInTime || day.p.LastCheckOutTime || day.p.TotalWorkingHrs)"
              class="timing-row" [ngStyle]="{ 'background-color': day.p.LeaveType ? '#ffe4e1' : '#e7f5ff' }">
              <div class="timing-box">
                <label>In</label>
                <span>{{ day.p.FirstCheckInTime || '--' }}</span>
              </div>
              <div class="timing-box">
                <label>Out</label>
                <span>{{ day.p.LastCheckOutTime || '--' }}</span>
              </div>
              <div class="timing-box">
                <label>Hours</label>
                <span>{{ day.p.TotalWorkingHrs || '--' }}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- No Data Template -->
  <ng-template #noDataTemplate>
    <div class="no-data-text">
      <ion-icon name="alert-circle-outline"></ion-icon>
      No attendance data found
    </div>
  </ng-template>
</ion-content>