<app-header-with-back-handler title="Attendance Details"></app-header-with-back-handler>

<ion-content [fullscreen]="true" class="attendance-content">
  <!-- Month Tabs -->
  <ion-segment scrollable [(ngModel)]="selectedMonth" (ionChange)="getDataByMonth($event.detail.value)"
    class="month-segment">
    <ion-segment-button *ngFor="let month of months" [value]="month.Ref">
      {{ month.Name }}
    </ion-segment-button>
  </ion-segment>

  <!-- Attendance List -->
  <ion-list style="background-color: var(--ion-background-color);"
    *ngIf="filteredMonthlyAttendanceLogsList.length > 0; else noDataTemplate">
    <ion-item *ngFor="let day of filteredMonthlyAttendanceLogsList" lines="none"
      [class.no-data]="!day.p.FirstCheckInTime && !day.p.LastCheckOutTime && !day.p.OnLeave && !day.p.TotalWorkingHrs">

      <ion-grid class="attendance-grid">
        <ion-row>
          <ion-col size="2" class="day-column">
            <div class="date">{{ day.p.TransDateTime ? (day.p.TransDateTime | date:'dd') : '--' }}</div>
            <div class="day">{{ day.p.TransDateTime ? (day.p.TransDateTime | date:'EEE') : '--' }}</div>
          </ion-col>

          <ion-col size="10" style="border-radius: 10px;"
            [ngStyle]="{ 'background-color': day.p.OnLeave ? '#ffe0e0' : 'transparent' }">
            <div *ngIf="day.p.OnLeave" class="center-text">
              <ion-icon name="medkit-outline"></ion-icon>
              {{ day.p.OnLeave }}
            </div>

            <div *ngIf="!day.p.OnLeave && (day.p.FirstCheckInTime || day.p.LastCheckOutTime || day.p.TotalWorkingHrs)"
              class="timing-row" [ngStyle]="{ 'background-color': day.p.LeaveType ? '#ffe4e1' : '#e7f5ff' }"
              style="border-radius: 10px;">
              <div class="clock-in-out">
                <strong>In:</strong> {{ day.p.FirstCheckInTime || '--' }}
              </div>
              <div class="clock-in-out">
                <strong>Out:</strong> {{ day.p.LastCheckOutTime || '--' }}
              </div>
              <div class="working-hours">
                <strong>Hours:</strong> {{ day.p.TotalWorkingHrs || '--' }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>

  <!-- Template to show when no data -->
  <ng-template #noDataTemplate style="background-color: var(--ion-background-color);">
    <div class="no-data-text">
      <ion-icon name="alert-circle-outline"></ion-icon>
      No attendance data found
    </div>
  </ng-template>
</ion-content>