<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackSalaryGenaration()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <label>Employee Name</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="EmployeeRef" required id="EmployeeRef"
            [(ngModel)]="Entity.p.EmployeeRef" (ngModelChange)="EmployeeData(Entity.p.EmployeeRef,Entity.p.Month)"
            [disabled]="isEmployeeDisabled">
            <nz-option *ngFor="let employee of EmployeeList" [nzValue]="employee.p.Ref"
              [nzLabel]="employee.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label>Month</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="Month" required id="Month" [(ngModel)]="Entity.p.Month"
            (ngModelChange)="EmployeeData(Entity.p.EmployeeRef,Entity.p.Month)">
            <nz-option *ngFor="let month of MonthList" [nzValue]="month.Ref" [nzLabel]="month.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label>Total Days</label>
          <input type="number" name="TotalDays" class="form-control" id="TotalDays" [(ngModel)]="Entity.p.TotalDays"
            placeholder="Enter TotalDays" readonly />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <label>Total Working Days</label>
          <input type="number" name="TotalWorkingDays" class="form-control" id="TotalWorkingDays"
            [(ngModel)]="Entity.p.TotalWorkingDays" placeholder="Total Working Days" required readonly />
        </div>
        <div class="col-md-4">
          <label>Total Leaves</label>
          <input type="number" name="TotalLeaves" class="form-control" id="TotalLeaves"
            [(ngModel)]="Entity.p.TotalLeaves" placeholder="Total Leaves" required readonly />
        </div>
        <div class="col-md-4">
          <label>Total Over Time Hours</label>
          <input type="number" name="TotalOverTimeHrs" class="form-control" id="TotalOverTimeHrs"
            [(ngModel)]="Entity.p.TotalOverTimeHrs" placeholder="Total Over Time Hours" required readonly />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <label>Total Working Hours</label>
          <input type="number" name="TotalWorkingHrs" class="form-control" id="TotalWorkingHrs"
            [(ngModel)]="Entity.p.TotalWorkingHrs" placeholder="Total Working Hours" required readonly />
        </div>
        <div class="col-md-4">
          <label>Total Leaves Hours</label>
          <input type="number" name="TotalLeavesHrs" class="form-control" id="TotalLeavesHrs"
            [(ngModel)]="Entity.p.TotalLeavesHrs" placeholder="Total Leaves Hours" required readonly />
        </div>
        <div class="col-md-4">
          <label>Overall Working Hours</label>
          <input type="number" name="OverallWorkingHrs" class="form-control" id="OverallWorkingHrs"
            [(ngModel)]="Entity.p.OverallWorkingHrs" placeholder="Overall Working Hours" required readonly />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <label>Basic Salary</label>
          <input type="number" name="BasicSalary" class="form-control" id="BasicSalary"
            [(ngModel)]="Entity.p.BasicSalary" placeholder="Basic Salary" required readonly
            (ngModelChange)="calculategrosstotal()" />
        </div>
        <div class="col-md-4">
          <label>Total Allowance</label>
          <input type="number" name="TotalAllowance" class="form-control" id="TotalAllowance"
            [(ngModel)]="Entity.p.TotalAllowance" placeholder="Enter Total Allowance" required
            (click)="selectAllValue($event)" (ngModelChange)="calculategrosstotal()" />
        </div>
        <div class="col-md-4">
          <label>Total Incentive</label>
          <input type="number" name="TotalIncentive" class="form-control" id="TotalIncentive"
            [(ngModel)]="Entity.p.TotalIncentive" placeholder="Enter Total Incentive" required
            (click)="selectAllValue($event)" (ngModelChange)="calculategrosstotal()" />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <label>Other</label>
          <input type="number" name="Other" class="form-control" id="Other" [(ngModel)]="Entity.p.Other"
            placeholder="Enter Other" required (click)="selectAllValue($event)"
            (ngModelChange)="calculategrosstotal()" />
        </div>
        <div class="col-md-4">
          <label>Gross Total</label>
          <input type="number" name="GrossTotal" class="form-control" id="GrossTotal" [(ngModel)]="Entity.p.GrossTotal"
            placeholder="Enter Gross Total" readonly />
        </div>
      </div>
      <div style="width: 100%" class="d-flex justify-content-center" style="margin-top: 1rem;">
        <hr style="border: 2px solid brown" width="20%" />
      </div>
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>TDS</label>
          <input type="number" name="TDS" class="form-control" id="TDS" [(ngModel)]="Entity.p.TDS"
            placeholder="Enter TDS" required (click)="selectAllValue($event)"
            (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>PF</label>
          <input type="number" name="PF" class="form-control" id="PF" [(ngModel)]="Entity.p.PF" placeholder="Enter PF"
            required (click)="selectAllValue($event)" (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Total Leave Deduction</label>
          <input type="number" name="TotalLeaveDeduction" class="form-control" id="TotalLeaveDeduction"
            [(ngModel)]="Entity.p.TotalLeaveDeduction" placeholder="Enter Total Leave Deduction" required
            (click)="selectAllValue($event)" (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Advance Payment</label>
          <input type="number" name="AdvancePayment" class="form-control" id="AdvancePayment"
            [(ngModel)]="Entity.p.AdvancePayment" placeholder="Enter Advance Payment" required
            (click)="selectAllValue($event)" (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Advance Deduction</label>
          <input type="number" name="AdvanceDeduction" class="form-control" id="AdvanceDeduction"
            [(ngModel)]="Entity.p.AdvanceDeduction" placeholder="Enter Advance Deduction" required
            (click)="selectAllValue($event)" (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Total Deduction</label>
          <input type="number" name="TotalDeduction" class="form-control" id="TotalDeduction"
            [(ngModel)]="Entity.p.TotalDeduction" placeholder="Enter Total Deduction" readonly />
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Net Salary</label>
          <input type="number" name="NetSalary" class="form-control" id="NetSalary" [(ngModel)]="Entity.p.NetSalary"
            placeholder="Enter Net Salary" readonly />
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveSalaryGeneration()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackSalaryGenaration()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
