<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackSalaryGenaration()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
          <label>Employee Name</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="EmployeeRef" required id="EmployeeRef"
            [(ngModel)]="Entity.p.EmployeeRef"
            (ngModelChange)="EmployeeData(Entity.p.EmployeeRef, Entity.p.Month); ClearValues()"
            [disabled]="isEmployeeDisabled">
            <nz-option *ngFor="let employee of EmployeeList" [nzValue]="employee.p.Ref"
              [nzLabel]="employee.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label>Month</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="Month" required id="Month" [(ngModel)]="Entity.p.Month"
            (ngModelChange)="EmployeeData(Entity.p.EmployeeRef, Entity.p.Month); ClearValues()">
            <nz-option *ngFor="let month of MonthList" [nzValue]="month.Ref" [nzLabel]="month.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label>Basic Salary</label>
          <input type="number" name="BasicSalary" class="form-control" id="BasicSalary"
            [(ngModel)]="Entity.p.BasicSalary" placeholder="Basic Salary" disabled />
        </div>
        <div class="col-md-4">
          <label>Total Month Days</label>
          <input type="number" name="TotalDays" class="form-control" id="TotalDays" [(ngModel)]="Entity.p.TotalDays"
            placeholder="Enter TotalDays" disabled />
        </div>
        <div class="col-md-4">
          <label>Total Working Days</label>
          <input type="number" name="TotalWorkingDays" class="form-control" id="TotalWorkingDays"
            [(ngModel)]="Entity.p.TotalWorkingDays" placeholder="Total Working Days" disabled />
        </div>
        <div class="col-md-4">
          <label>Total Worked Days</label>
          <input type="number" name="TotalWorkedDays" class="form-control" id="TotalWorkedDays"
            [(ngModel)]="Entity.p.TotalWorkedDays" placeholder="Total Working Days" disabled />
        </div>
        <div class="col-md-4">
          <label>Total Leaves</label>
          <input type="number" name="TotalFullDayLeavesWithAbsent" class="form-control"
            id="TotalFullDayLeavesWithAbsent" [(ngModel)]="Entity.p.TotalFullDayLeavesWithAbsent"
            placeholder="Total Leaves" disabled />
        </div>
        <div class="col-md-4">
          <label>Half Day Leaves</label>
          <input type="number" name="HalfDayLeaves" class="form-control" id="HalfDayLeaves"
            [(ngModel)]="Entity.p.HalfDayLeaves" placeholder="Half Day Leaves" disabled />
        </div>
        <div class="col-md-4">
          <label>Full Day Worked</label>
          <input type="number" name="FullDayWorked" class="form-control" id="FullDayWorked"
            [(ngModel)]="Entity.p.FullDayWorked" placeholder="Full Day Worked" disabled />
        </div>
        <div class="col-md-4">
          <label>Per Day Salary</label>
          <input type="number" name="TotalFullDaysSalary" class="form-control" id="TotalFullDaysSalary"
            [(ngModel)]="Entity.p.TotalFullDaysSalary" placeholder="Per Day Salary" disabled />
        </div>
        <div class="col-md-4">
          <label>Half Days Including Late Marks</label>
          <input type="number" name="HalfDaysIncludingLateMarks" class="form-control" id="HalfDaysIncludingLateMarks"
            [(ngModel)]="Entity.p.HalfDaysIncludingLateMarks" placeholder="Half Days Including Late Marks" disabled />
        </div>
        <div class="col-md-4">
          <label>Total Half Days And Late Mark Days Salary</label>
          <input type="number" name="TotalHalfDaysAndLateMarkDaysSalary" class="form-control"
            id="TotalHalfDaysAndLateMarkDaysSalary" [(ngModel)]="Entity.p.TotalHalfDaysAndLateMarkDaysSalary"
            placeholder="Total Half Days And Late Mark Days Salary" disabled />
        </div>
        <div class="col-md-4">
          <label>Total Over Time Hours</label>
          <input type="text" name="DisplayTotalOverTimeHrs" class="form-control" id="DisplayTotalOverTimeHrs"
            [(ngModel)]="Entity.p.DisplayTotalOverTimeHrs" placeholder="Display Total Over Time Hrs" disabled />
        </div>
        <div class="col-md-4">
          <label>OverTime Hours Rate</label>
          <input type="number" name="OverTimeHrsRate" disabled class="form-control" id="OverTimeHrsRate"
            [(ngModel)]="Entity.p.OverTimeHrsRate" placeholder="OverTime Hours Rate"
            (ngModelChange)="calculategrosstotal()" (click)="selectAllValue($event)" />
        </div>
        <div class="col-md-4">
          <label>Over Time Salary</label>
          <input type="number" name="TotalOverTimeSalary" disabled class="form-control" id="TotalOverTimeSalary"
            [(ngModel)]="Entity.p.TotalOverTimeSalary" placeholder="Over Time Salary"
            (ngModelChange)="calculategrosstotal()" (click)="selectAllValue($event)" />
        </div>
        <div class="col-md-4">
          <label>Allowance</label>
          <input type="number" name="TotalAllowance" class="form-control" id="TotalAllowance"
            [(ngModel)]="Entity.p.TotalAllowance" placeholder="Enter Total Allowance" (click)="selectAllValue($event)"
            (ngModelChange)="calculategrosstotal()" />
        </div>
        <div class="col-md-4">
          <label>Total Incentive</label>
          <input type="number" name="TotalIncentive" class="form-control" id="TotalIncentive"
            [(ngModel)]="Entity.p.TotalIncentive" placeholder="Enter Total Incentive" (click)="selectAllValue($event)"
            (ngModelChange)="calculategrosstotal()" />
        </div>
        <div class="col-md-4">
          <label>Other</label>
          <input type="number" name="Other" class="form-control" id="Other" [(ngModel)]="Entity.p.Other"
            placeholder="Enter Other" required (click)="selectAllValue($event)"
            (ngModelChange)="calculategrosstotal()" />
        </div>
        <div class="col-md-4">
          <label>Gross Total</label>
          <input type="number" name="GrossTotal" class="form-control" id="GrossTotal" [(ngModel)]="Entity.p.GrossTotal"
            placeholder="Enter Gross Total" disabled />
        </div>
      </div>
      <div style="width: 100%" class="d-flex justify-content-center" style="margin-top: 1rem">
        <hr style="border: 2px solid brown" width="20%" />
      </div>
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem">
          <label>TDS</label>
          <input type="number" name="TDS" class="form-control" id="TDS" [(ngModel)]="Entity.p.TDS"
            placeholder="Enter TDS" required (click)="selectAllValue($event)"
            (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>PF</label>
          <input type="number" name="PF" class="form-control" id="PF" [(ngModel)]="Entity.p.PF" placeholder="Enter PF"
            required (click)="selectAllValue($event)" (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Total Leave Deduction</label>
          <input type="number" name="TotalLeaveDeduction" class="form-control" id="TotalLeaveDeduction"
            [(ngModel)]="Entity.p.TotalLeaveDeduction" placeholder="Enter Total Leave Deduction" required disabled
            (click)="selectAllValue($event)" (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Advance Payment</label>
          <input type="number" name="AdvancePayment" class="form-control" id="AdvancePayment"
            [(ngModel)]="Entity.p.AdvancePayment" placeholder=" Advance Payment" disabled />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Advance Deduction</label>
          <input type="number" name="AdvanceDeduction" class="form-control" id="AdvanceDeduction"
            [(ngModel)]="Entity.p.AdvanceDeduction" placeholder="Enter Advance Deduction" required
            (click)="selectAllValue($event)" (ngModelChange)="calculatetotaldeduction()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Total Deduction</label>
          <input type="number" name="TotalDeduction" class="form-control" id="TotalDeduction"
            [(ngModel)]="Entity.p.TotalDeduction" placeholder="Enter Total Deduction" disabled />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Net Salary</label>
          <input type="number" name="NetSalary" class="form-control" id="NetSalary" [(ngModel)]="Entity.p.NetSalary"
            placeholder="Enter Net Salary" disabled />
        </div>
      </div>
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button type="button" class="btn" (click)="SaveSalaryGeneration()">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackSalaryGenaration()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
