<!-- <app-loader *ngIf="isLoading"></app-loader> -->
<app-header-with-back-handler title="Leave Requests"
  backRoute="mobile-app/tabs/attendance"></app-header-with-back-handler>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Present/Absent Summary -->
  <ion-card class="Leaves-dashboard-card">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-between">
          <ion-col size="3">
            <ion-row class="ion-align-items-center">
              <!-- <ion-col size="auto"><ion-icon name="person-add-outline" class="person-icon"></ion-icon></ion-col> -->
              <ion-col>
                <div class="Leaves-card-header">
                  <label>Pending</label>
                  <span>{{ pendingCount || '0'}}</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="auto">
            <div class="vertical-line-grid"></div>
          </ion-col>

          <ion-col size="3">
            <ion-row class="ion-align-items-center">
              <!-- <ion-col size="auto"><ion-icon name="person-remove-outline" class="person-icon"></ion-icon></ion-col> -->
              <ion-col>
                <div class="Leaves-card-header">
                  <label>Approved</label>
                  <span>{{ approvedCount || '0' }}</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="auto">
            <div class="vertical-line-grid"></div>
          </ion-col>

          <ion-col size="3">
            <ion-row class="ion-align-items-center">
              <!-- <ion-col size="auto"><ion-icon name="person-remove-outline" class="person-icon"></ion-icon></ion-col> -->
              <ion-col>
                <div class="Leaves-card-header">
                  <label>Rejected</label>
                  <span>{{rejectedCount || '0' }}</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- Status Filter -->
  <ion-segment [(ngModel)]="selectedStatus" class="modern-segment" (ngModelChange)="filterRequestsByStatus()">
    <ion-segment-button *ngFor="let status of statusOptions" [value]="status.value">
      <ion-label>{{ status.label }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Leave Requests List -->
  <div class="Leaves">
    <ion-card *ngFor="let leave of filteredRequests" class="Leaves-card">
      <ion-card-header>
        <div class="card-header-flex">
          <ion-card-title class="leave-title">
            <ion-icon name="document-text-outline" class="title-icon"></ion-icon>
            {{ leave.p.LeaveRequestName }}
          </ion-card-title>
          <div class="button-group">
            <ion-button fill="clear" size="small" color="primary" (click)="openModal(leave)">
              <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" color="primary" (click)="onDeleteClicked(leave)"
              *ngIf="(leave.p.IsCancelled == 0 && leave.p.IsApproved == 0)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="Leave-details">
          <div *ngIf="leave.p.LeaveRequestType != LeaveRequestTypeEnum.HalfDay">
            <ion-icon name="calendar-outline" class="detail-icon"></ion-icon>
            <small><strong>From Date:</strong> {{ formatDate(leave.p.FromDate) }}</small><br />
            <ion-icon name="calendar-outline" class="detail-icon"></ion-icon>
            <small><strong>To Date:</strong> {{ formatDate(leave.p.ToDate) }}</small><br />
          </div>
          <div *ngIf="leave.p.LeaveRequestType == LeaveRequestTypeEnum.HalfDay">
            <ion-icon name="calendar-outline" class="detail-icon"></ion-icon>
            <small><strong>Date:</strong> {{ formatDate(leave.p.HalfDayDate) }}</small><br />
          </div>
          <ion-icon name="person-outline" class="detail-icon"></ion-icon>
          <small><strong>Status:</strong>{{ (leave.p.IsApproved == 1)?'Approved':(leave.p.IsCancelled == 1 &&
            leave.p.IsApproved == 0)?'Rejected':'Pending'}}</small>
        </div>
      </ion-card-content>
    </ion-card>
    <!-- Show "Data not found" if list is empty -->
    <div *ngIf="filteredRequests.length === 0 && !loadingService.isLoaderActive()" class="no-data-mobile-app">
      <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
      <p>No Leave Request records found.</p>
    </div>
  </div>


  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addLeaveRequest()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Leave Details Modal -->
  <ion-modal [isOpen]="modalOpen" (didDismiss)="closeModal()" class="custom-modal-mobile-app">
    <ng-template>
        <ion-header  class="modal-toolbar-mobile-app">
          <ion-toolbar color="primary">
            <ion-title>Leave Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <!-- Scrollable Body -->
          <ion-content scroll-y="true" class="ion-padding modal-content-mobile-app">
            <div class="info-row-of-model-mobile-app">
              <strong class="label-mobile-app">Employee Name:</strong>
              <span class="value-mobile-app">{{ selectedLeave.p.EmployeeName }}</span>
            </div>

            <div class="info-row-of-model-mobile-app" *ngIf="selectedLeave.p.LeaveRequestType != LeaveRequestTypeEnum.HalfDay">
              <strong class="label-mobile-app">From date:</strong>
              <span class="value-mobile-app">{{formatDate(selectedLeave.p.FromDate)}}</span>
            </div>

            <div class="info-row-of-model-mobile-app" *ngIf="selectedLeave.p.LeaveRequestType != LeaveRequestTypeEnum.HalfDay">
              <strong class="label-mobile-app">To date:</strong>
              <span class="value-mobile-app">{{ formatDate(selectedLeave.p.ToDate)}}</span>
            </div>
            <div class="info-row-of-model-mobile-app" *ngIf="selectedLeave.p.LeaveRequestType == LeaveRequestTypeEnum.HalfDay">
              <strong class="label-mobile-app">Date:</strong>
              <span class="value-mobile-app">{{ formatDate(selectedLeave.p.HalfDayDate) }}</span>
            </div>
            <div class="info-row-of-model-mobile-app">
              <strong class="label-mobile-app">Days:</strong>
              <span class="value-mobile-app">{{ selectedLeave.p.Days ? selectedLeave.p.Days : '-' }}</span>
            </div>
            <div class="info-row-of-model-mobile-app">
              <strong class="label-mobile-app">Leave Hours:</strong>
              <span class="value-mobile-app">{{ selectedLeave.p.LeaveHours ? selectedLeave.p.LeaveHours : '-'
                }}</span>
            </div>

            <div class="info-row-of-model-mobile-app">
              <strong class="label-mobile-app">Status</strong>
              <span class="value-mobile-app">{{ selectedLeave.p.IsApproved == 1?'Approved':'Pending'}}</span>
            </div>

            <div class="info-row-of-model-mobile-app">
              <strong class="label-mobile-app">Description:</strong>
              <span class="value-mobile-app">{{ selectedLeave.p.Description ? selectedLeave.p.Description : '-'
                }}</span>
            </div>
          </ion-content>

        <ion-footer class="modal-footer-mobile-app">
          <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
            Close
          </ion-button>
        </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>