<app-header-with-back-handler title="Profile"></app-header-with-back-handler>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="h-100">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-col size="12" size-sm="10" size-md="6" size-lg="4" class="ion-text-center">

        <!-- Profile Picture Upload -->
        <div class="profile-image-wrapper">
          <img *ngIf="imagePreviewUrl; else placeholderImage" [src]="imagePreviewUrl" class="profile-img"
            alt="Profile" />
          <ng-template #placeholderImage>
            <ion-icon name="person-circle-outline" class="placeholder-icon"></ion-icon>
          </ng-template>
          <ion-button fill="clear" size="small" (click)="addImage()">Change Photo</ion-button>
        </div>

        <!-- Profile Form -->
        <form [formGroup]="employeeForm" (ngSubmit)="SaveProfile()" class="form-wrapper">

          <app-input-field label="Name" controlName="name" type="text" [formGroup]="employeeForm"
            placeholder="Enter your name" customClass="input-wrapper">
          </app-input-field>

          <app-input-field label="Email" controlName="email" type="email" [formGroup]="employeeForm"
            placeholder="Enter your email" customClass="input-wrapper">
          </app-input-field>

          <app-input-field label="Mobile Number" controlName="mobilenumber" type="tel" [formGroup]="employeeForm"
            placeholder="Enter your phone" customClass="input-wrapper">
          </app-input-field>

          <app-input-field label="Address" controlName="address" type="text" [formGroup]="employeeForm"
            placeholder="Enter your address" customClass="input-wrapper">
          </app-input-field>

          <!-- <app-input-field label="Date of Birth" controlName="DOB" type="date" [formGroup]="employeeForm"
            placeholder="Select DOB" customClass="input-wrapper">
          </app-input-field> -->
          
          <app-date-field label="Date of Birth" controlName="DOB" [formGroup]="employeeForm"
          displayFormat="dd MMM yyyy" placeholder="Choose your birthdate" presentation="date" customClass="input-wrapper">
          </app-date-field>

          <app-input-field label="Gender" controlName="gender" type="text" [formGroup]="employeeForm"
            placeholder="Enter your Gender" customClass="input-wrapper">
          </app-input-field>

          <ion-item lines="none" class="input-wrapper">
            <ion-label>Gender</ion-label>
            <ion-select formControlName="gender" placeholder="Select Gender">
              <ion-select-option *ngFor="let gender of GenderList" [value]="gender.Ref">
                {{ gender.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <app-custom-button label="Update Profile" type="submit" [loading]="isLoggingIn" color="primary" icon="save"
            iconPosition="end" shape="round" fill="solid" [disabled]="employeeForm.invalid">
          </app-custom-button>

        </form>

        <ion-button fill="clear" expand="full" class="Button-In-loginPage" (click)="BackProfile()">Back to
          Home</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>