
<div class="card-body">'
  <div class="card" style="padding: 1rem">
    <div class="row">
  <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
    <button type="button" class="backbtn" (click)="Back()">
      <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
    </button>
  </div>
  <div class="col-md-11">
    <span class="detail_title">Change Password</span>
  </div>
</div>
      <div style=" display: flex; align-items: center; height: 100%;">
        <div class="card-input">
          <form autocomplete="off">
            <label>Old Password</label>
            <input id="OldPassword" type="text" id="OldPassword" name="OldPassword" placeholder="Enter Old Password" [(ngModel)]="OldPassword" />
            <label>New Password</label>
            <input id="NewPassword" type="text" id="NewPassword" name="NewPassword" placeholder="Enter New Password" [(ngModel)]="NewPassword" />
            <label>Confirm Password</label>
            <input id="ConfirmPassword" type="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password"  [(ngModel)]="ConfirmPassword" />
            <div>
              <button
                style="padding: 9px; margin-bottom: 3%; width: 100%;  border-radius: 8px; background-color: #781616; color: white;"
                (click)="Save(OldPassword,NewPassword, ConfirmPassword)">Save</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
