<div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
      <h5 style="padding-top: 3px;" class="title title_light">Office Duty Time</h5>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 search-container_light">
      <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus [(ngModel)]="SearchString" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 btn-container" routerLinkActive="active">
      <nz-button nz-button class="btn1">
       Create Salary Slip
      </nz-button>
    </div>
    <div>
    </div>
  </div>
</div>
