<app-header-with-back-handler title={{DetailsFormTitle}}></app-header-with-back-handler>

<ion-content class="form-container">
  <ion-list lines="none" class="ion-padding">
    <!--  Date -->
    <!-- <ion-item class="input-item">
            <ion-label>Select Date</ion-label>
            <ion-datetime-button datetime="FromDate" trigger="entry-date-modal"></ion-datetime-button>
        </ion-item>
        <ion-modal keepContentsMounted="true" trigger="entry-date-modal">
            <ng-template>
                <ion-datetime id="FromDate" presentation="date" [(ngModel)]="Date" show-default-buttons="true"
                    (ionChange)="onDateChange($event.detail.value)"></ion-datetime>
            </ng-template>
        </ion-modal> -->
    <!-- Date -->
    <ion-item (click)="showFromPicker = true" class="input-item">
      <ion-label>Date</ion-label>
      <ion-label slot="end">{{ DisplayDate || 'Please select...' }}</ion-label>
    </ion-item>
    <app-date-picker [show]="showFromPicker" [selectedDate]="Date" [defaultToday]="true"
      (dateChanged)="onDateChange($event)" (dateSelected)="DisplayDate = $event; showFromPicker = false"
      (modalDismissed)="showFromPicker = false" />


    <!-- Select site -->
    <ion-item class="input-item" button (click)="selectSiteBottomsheet()">
      <ion-label>Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ SiteName|| 'Select' }}
      </ion-text>

      <!-- Dropdown icon (chevron) on the right -->
      <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
    </ion-item>

    <!-- Material List Header -->
    <ion-grid class="ion-margin-top">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <h5><strong>Requisition Material List</strong></h5>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-button fill="outline" size="small" (click)="ismaterialModalOpen = true">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Add Material
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Material Table -->
    <ng-container *ngIf="Entity.p.MaterialRequisitionDetailsArray.length > 0; else noMaterials">
      <!-- <ion-grid>
                <ion-row class="material-header ion-padding-top">
                    <ion-col size="1"><strong>#</strong></ion-col>
                    <ion-col size="4"><strong>Material</strong></ion-col>
                    <ion-col size="3"><strong>Unit</strong></ion-col>
                    <ion-col size="2"><strong>Qty</strong></ion-col>
                    <ion-col size="3"><strong>Actions</strong></ion-col>
                </ion-row>

                <ion-row *ngFor="let material of Entity.p.MaterialRequisitionDetailsArray; let i = index"
                    class="material-row">
                    <ion-col size="1">{{ i + 1 }}</ion-col>
                    <ion-col size="4">{{ material.MaterialName }}</ion-col>
                    <ion-col size="3">{{ material.UnitName }}</ion-col>
                    <ion-col size="2">{{ material.EstimatedQty }}</ion-col>
                    <ion-col size="2" class="ion-text-end">
                        <ion-icon name="create-outline" color="warning" size="small"
                            style="margin-right: 12px; cursor: pointer" (click)="editMaterial(i)"></ion-icon>
                        <ion-icon name="trash-outline" color="danger" size="small" style="cursor: pointer"
                            (click)="removeMaterial(i)"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid> -->
      <div class="table-container">
        <div class="table-scroll">
          <table class="custom-table">
            <thead>
              <tr>
                <th class="sticky-col sticky-header">#</th>
                <th *ngFor="let item of tableHeaderData" class="sticky-header">{{ item }}</th>
                <th class="sticky-col sticky-header">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Entity.p.MaterialRequisitionDetailsArray; let i = index">
                <td class="sticky-col">{{i + 1 }}</td>
                <td>
                  {{ item.MaterialName }}
                </td>
                <td>
                  {{ item.UnitName || '-' }}
                </td>
                <td>
                  {{ item.RequisitionQty || '-' }}
                </td>
                <td>
                  <ion-icon name="create-outline" color="warning" size="small"
                    style="margin-right: 12px; cursor: pointer" (click)="editMaterial(i)"></ion-icon>
                  <ion-icon name="trash-outline" color="danger" size="small" style="cursor: pointer"
                    (click)="removeMaterial(i)"></ion-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-template #noMaterials>
      <div class="ion-padding ion-text-center">
        <ion-text color="medium">
          <p>No material data available</p>
        </ion-text>
      </div>
    </ng-template>

    <ion-modal [isOpen]="ismaterialModalOpen" (didDismiss)="closeModal(100)" class="modal-card">
      <ng-template>
        <div class="modal-container">
          <ion-header>
            <ion-toolbar color="primary">
              <ion-title>Material Details</ion-title>
              <ion-buttons slot="end">
                <ion-button fill="clear" (click)="closeModal(100)">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">
            <ion-list lines="none">
              <!-- Material Dropdown -->
              <ion-item class="input-item" button (click)="selectMaterialBottomsheet()" *ngIf="!ModalEditable">
                <ion-label>Material Name</ion-label>

                <!-- Text showing the selected status -->
                <ion-text slot="end" class="status-text">
                  {{ MaterialName|| 'Select' }}
                </ion-text>

                <!-- Dropdown icon (chevron) on the right -->
                <ion-icon name="chevron-down-outline" slot="end" class="dropdown-icon"></ion-icon>
              </ion-item>

              <!-- Material input-->
              <ion-item class="input-item" *ngIf="ModalEditable">
                <ion-input label="Material Name" labelPlacement="floating" placeholder="Enter Material Name"
                  [(ngModel)]="newRequisition.MaterialName" readonly></ion-input>
              </ion-item>

              <!-- Unit -->
              <ion-item class="input-item">
                <ion-input label="Unit" labelPlacement="floating" placeholder="Enter Unit"
                  [(ngModel)]="newRequisition.UnitName" readonly></ion-input>
              </ion-item>

              <!-- Quantity -->
              <ion-item class="input-item">
                <ion-input label="Required Qty" labelPlacement="floating" type="number" placeholder="Enter Quantity"
                  [(ngModel)]="newRequisition.RequisitionQty" clearInput="true" clearOnEdit="true"></ion-input>
              </ion-item>
            </ion-list>
          </ion-content>

          <ion-footer>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button expand="block" color="primary" shape="round" (click)="closeModal(100)">
                    Close
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" color="primary" shape="round" (click)="addMaterial()">
                    {{ModalEditable ? "Update" : "Save"}}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-footer>
        </div>
      </ng-template>
    </ion-modal>

    <!-- Main Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="goBack()" class="submit-button cancel-button">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="SaveMaterialRequisition()" class="submit-button primary-button">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>