<div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
      <h5 style="padding-top: 3px;" class="title title_light">Government Office</h5>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 search-container_light">
      <!-- <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus
        [(ngModel)]="SearchString" /> -->
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 btn-container" routerLinkActive="active">
      <!-- <nz-button nz-button class="btn1" (click)='AddDocument ()'>
        Add Document
      </nz-button> -->
    </div>
    <div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
      <nz-steps [nzCurrent]="3" nzDirection="vertical" class="custom-steps">
        <nz-step nzTitle="TP Office" nzDescription=""></nz-step>
        <nz-step nzTitle="परिशिष्ठ A (NA)" nzDescription=""></nz-step>
        <nz-step nzTitle="मोजणी" nzDescription=""></nz-step>
        <nz-step nzTitle="ULC" nzDescription=""></nz-step>
        <nz-step nzTitle="Final Layout" nzDescription=""></nz-step>
        <nz-step nzTitle="क जा पा" nzDescription=""></nz-step>
      </nz-steps>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
    </div>

  </div>
