<!-- <ion-content [fullscreen]="true" class="new-password-content ion-padding"> -->
  <app-header-with-back-handler [title]="'Change Password'"></app-header-with-back-handler>
  
  <ion-content class="form-container ">
  <ion-grid class="h-50 gap-10">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-col size="12" size-sm="10" size-md="6" size-lg="4" class="ion-text-center">
        <!-- Login Form -->
        <form [formGroup]="passwordForm" (ngSubmit)="onUpdatePassword()" class="form-wrapper">

          <app-input-field label="Old Password" controlName="oldPassword" type="password" icon="lock-closed"
            [formGroup]="passwordForm" placeholder="Enter your old password" [maxlength]="20"
            customClass="input-wrapper">
          </app-input-field>

          <app-input-field label="New Password" controlName="newPassword" type="password" icon="lock-closed"
            [formGroup]="passwordForm" placeholder="Enter your new password" [maxlength]="20"
            [pattern]="'^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}$'" customClass="input-wrapper">
          </app-input-field>

          <app-input-field label="confirm Password" controlName="confirmPassword" type="password" icon="lock-closed"
            [formGroup]="passwordForm" placeholder="Enter your confirm password" [maxlength]="20"
            [pattern]="'^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}$'" customClass="input-wrapper">
          </app-input-field>

          <!-- Login Button -->
          <app-custom-button label="Update Password" type="submit" [loading]="isUpdating" color="primary" icon="log-in"
            iconPosition="end" shape="round" fill="solid" [disabled]="passwordForm.invalid">
          </app-custom-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>