.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 26px;
}

.forgot-password-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -24px;
    /* Slightly pull up closer to password input */
    margin-bottom: 4px;

    ion-button {
        font-size: 12px;
        height: auto;
        padding: 0 6px;
        line-height: 1.2;
        color: #000;
    }
}

.Button-In-loginPage {
    color: #000;
}

// Input field wrapper class
.input-wrapper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 8px;

    ion-input {
        font-size: 16px;
    }

    ion-icon {
        color: #555;
    }
}

// Responsive logo size
@media (max-width: 599px) {
    .logo-img {
        width: 120px;
    } }