::ng-deep .custom-modal {
  --width: 300px;
  --height:400px;
  --border-radius: 16px;
  --background: #ffffff;

  .custom-datetime {
    --background: #fff;
    --highlight-color-focused: #3c82f6;
    --min-height: 300px;
    width: 100%;
  }

  .custom-header {
    border-bottom: 1px solid #ccc;
  }
}
