<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
    <h5 style="padding-top: 3px;" class="title title_light">Stage Master</h5>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
    <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
    <button nz-button class="btn1 mt-1" (click)= 'AddStage()'>
      Add Stages
    </button>
  </div>
</div>
  
  <div class="table-container" style="margin-top: 2rem;">
    <nz-table #basicTable nzSize="small" class="no-hover-table" 
      Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">HALF ROUND GUTTER NALE</td>
          <!-- <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px"/>
              </span>
            <span style="margin-left: 9px;">
              <img
                src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
