<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">All Stages</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
        <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1" (click)="AddStages()">
          Add Stages
        </nz-button>
      </div>
    </div>
    <div class="row" style="margin-top: 1rem; ">
      <div class="col-md-4" style="margin-top: 1rem; ">
        <label for="FromDate"><b>From Date</b></label>
        <input type="date" name="FromDate" class="form-control" id="FromDate" [(ngModel)]="FromDate"
          (ngModelChange)="getActualStageListByAllFilters()" />
      </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
        <label for="ToDate"><b>To Date</b></label>
        <input type="date" name="ToDate" class="form-control" id="ToDate" [(ngModel)]="ToDate"
          (ngModelChange)="getActualStageListByAllFilters()" />
      </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
        <div>
          <label for="SiteRef"><b>site</b></label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
            name="SiteRef" id="SiteRef" [(ngModel)]="Entity.p.SiteRef"
            (ngModelChange)="getActualStageListByAllFilters()">
            <nz-option [nzValue]="0" nzLabel="All"></nz-option>
            <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
        <div>
          <label for="VendorRef"><b>Vendor</b></label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
            name="VendorRef" id="VendorRef" [(ngModel)]="Entity.p.VendorRef"
            (ngModelChange)="getActualStageListByAllFilters()">
            <nz-option [nzValue]="0" nzLabel="All"></nz-option>
            <nz-option *ngFor="let vendor of VendorList" [nzValue]="vendor.p.Ref" [nzLabel]="vendor.p.Name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
        <div>
          <label for="StageRef"><b>Stage</b></label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
            name="StageRef" id="StageRef" [(ngModel)]="Entity.p.StageRef"
            (ngModelChange)="getActualStageListByAllFilters()">
            <nz-option [nzValue]="0" nzLabel="All"></nz-option>
            <nz-option *ngFor="let stage of StageList" [nzValue]="stage.p.Ref" [nzLabel]="stage.p.Name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
        <label><b>Expense Type</b></label>
        <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="ExpenseTypeRef"
          name="ExpenseTypeRef" [nzSize]="'large'" [(ngModel)]="Entity.p.ExpenseTypeRef"
          (ngModelChange)="getActualStageListByAllFilters()">
          <nz-option [nzValue]="0" nzLabel="All"></nz-option>
          <nz-option *ngFor="let Expense of ExpenseTypeList" [nzValue]="Expense.p.ExpenseType"
            [nzLabel]="Expense.p.Name"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Machinary Expense</label>
      </div>
    </div>

    <ng-template #noDataTpl>
      <div class="no-data-text">Data Not Found</div>
    </ng-template>

    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      [nzData]="paginatedList('machinary')" nzFrontPagination="false" [nzShowSizeChanger]="false"
      [nzNoResult]="noDataTpl">
      <thead>
        <tr>
          <th *ngFor="let Header of MachinaryHeaders" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let MachinaryExpense of paginatedList('machinary'); index as i">
          <td class="tbldata" style="white-space: nowrap;">{{ (currentPage.machinary - 1) * pageSize.machinary + i + 1
            }}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.Date}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.ChalanNo}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.VehicleNo}}</td>
          <td Class="tbldata">{{MachinaryExpense.p.Description}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.VendorName}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.Rate}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.UnitName}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.Quantity}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{MachinaryExpense.p.Amount}}</td>
          <td class="tbldata" style="white-space: nowrap;">
            <Edit-Icon (editClick)="onEditClicked(MachinaryExpense)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(MachinaryExpense)" />
            <span style="margin-left: 9px; cursor: pointer;" (click)="navigateToPrint(MachinaryExpense)">
              <img src="\assets\icons\printer.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
        <tr *ngIf="paginatedList('machinary').length > 0">
          <td class="tbldata" colspan="8"></td>
          <td class="tbldata"><b>Total</b></td>
          <td class="tbldata"><b>{{ totalMachinaryAmount | currency: 'INR' }}</b></td>
          <td class="tbldata"></td>
        </tr>
      </tbody>
    </nz-table>
    <div class="pagination">
      <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="onPageChange('machinary',$event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
      </nz-pagination>
    </div>
  </div>

  <!-- Labour Expense -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Labour Expense</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      [nzData]="paginatedList('labour')" nzFrontPagination="false" [nzShowSizeChanger]="false" [nzNoResult]="noDataTpl">
      <thead>
        <tr>
          <th *ngFor="let Header of LabourHeaders" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let LabourExpense of  paginatedList('labour'); index as i">
          <td class="tbldata" style="white-space: nowrap;">{{ (currentPage.labour - 1) * pageSize.labour + i + 1 }}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{LabourExpense.p.Date}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{LabourExpense.p.ChalanNo}}</td>
          <td Class="tbldata">{{LabourExpense.p.Description}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{LabourExpense.p.VendorName}}</td>
          <!-- <td Class="tbldata">{{LabourExpense.p.Rate}}</td>
          <td Class="tbldata">{{LabourExpense.p.Quantity}}</td> -->
          <td Class="tbldata" style="white-space: nowrap;">{{LabourExpense.p.Amount}}</td>
          <td class="tbldata" style="white-space: nowrap;">
            <Edit-Icon (editClick)="onEditClicked(LabourExpense)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(LabourExpense)" />
            <span style="margin-left: 9px; cursor: pointer;" (click)="navigateToPrint(LabourExpense)">
              <img src="\assets\icons\printer.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
        <tr *ngIf="paginatedList('labour').length > 0">
          <td class="tbldata" colspan="4"></td>
          <td class="tbldata"><b>Total</b></td>
          <td class="tbldata"><b>{{ totalLabourAmount | currency: 'INR' }}</b></td>
          <td class="tbldata"></td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Other Expense -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Other Expense</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      [nzData]="paginatedList('other')" nzFrontPagination="false" [nzShowSizeChanger]="false" [nzNoResult]="noDataTpl">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let OtherExpense of  paginatedList('other'); index as i">
          <td class="tbldata">{{ (currentPage.other - 1) * pageSize.other + i + 1 }}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{OtherExpense.p.Date}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{OtherExpense.p.ChalanNo}}</td>
          <td Class="tbldata">{{OtherExpense.p.Description}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{OtherExpense.p.VendorName}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{OtherExpense.p.Rate}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{OtherExpense.p.Quantity}}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{OtherExpense.p.Amount}}</td>
          <td class="tbldata" style="white-space: nowrap;">
            <span>
              <Edit-Icon (editClick)="onEditClicked(OtherExpense)" />
            </span>
            <span>
              <Delete-Icon (deleteClicked)="onDeleteClicked(OtherExpense)" />
            </span>
            <span style="margin-left: 9px; cursor: pointer;" (click)="navigateToPrint(OtherExpense)">
              <img src="\assets\icons\printer.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
        <tr *ngIf="paginatedList('other').length > 0">
          <td class="tbldata" colspan="6"></td>
          <td class="tbldata"><b>Total</b></td>
          <td class="tbldata"><b>{{ totalOtherAmount | currency: 'INR' }}</b></td>
          <td class="tbldata"></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
