<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">All Stages</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
        <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1" (click)="AddStages()">
          Add Stages
        </nz-button>
      </div>
    </div>
    <div class="row" style="margin-top: 1rem; ">
      <div class="col-md-4" style="margin-top: 1rem; ">
         <label for="FromDate"><b>From Date</b></label>
         <input type="date" name="FromDate" class="form-control" id="FromDate" [(ngModel)]="FromDate"/>
       </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
         <label for="ToDate"><b>To Date</b></label>
         <input type="date" name="ToDate" class="form-control" id="ToDate" [(ngModel)]="ToDate"/>
       </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
         <div>
           <label for="SiteRef"><b>site</b></label>
           <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
             name="SiteRef" [(ngModel)]="Entity.p.SiteRef" required id="SiteRef">
             <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
           </nz-select>
         </div>
       </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
         <div>
           <label for="VendorRef"><b>Vendor</b></label>
           <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
             name="VendorRef" [(ngModel)]="Entity.p.VendorRef" required id="VendorRef">
             <nz-option *ngFor="let vendor of VendorList" [nzValue]="vendor.p.Ref" [nzLabel]="vendor.p.Name"></nz-option>
           </nz-select>
         </div>
       </div>
      <div class="col-md-4" style="margin-top: 1rem; ">
         <div>
           <label for="StageRef"><b>Stage</b></label>
           <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
             name="StageRef" [(ngModel)]="Entity.p.StageRef" required id="StageRef">
             <nz-option *ngFor="let stage of StageList" [nzValue]="stage.p.Ref" [nzLabel]="stage.p.Name"></nz-option>
           </nz-select>
         </div>
       </div>
       <div class="col-md-4" style="margin-top: 1rem; ">
        <label><b>Expense Type</b></label>
        <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="ExpenseTypeRef" name="ExpenseTypeRef"
          [nzSize]="'large'" [(ngModel)]="Entity.p.ExpenseTypeRef">
          <nz-option *ngFor="let Expense of ExpenseTypeList" [nzValue]="Expense.p.ExpenseType"
            [nzLabel]="Expense.p.Name"></nz-option>
        </nz-select>
      </div>
       </div>
  </div>
  <!-- Machinary Expense -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Machinary Expense</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheadersecond">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Labour Expense -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Labour Expense</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Labour_Expense of Labour_Expense" class="tblheadersecond">{{ Labour_Expense }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Other Expense  -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Other Expense</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Other_Expense of Other_Expense" class="tblheadersecond">{{ Other_Expense }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Office Details  -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Other Expense</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Office_Details of Office_Details" class="tblheadersecond">{{ Office_Details }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Government Details -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Government Details</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Government_Details of Government_Details" class="tblheadersecond">{{ Government_Details }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>