<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackEmployee()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Name</label>
            <input type="text" name="Name " [(ngModel)]="Entity.p.Name " class="form-control" id="Name " required
              placeholder="Enter First Name" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Date of Birth</label>
            <input type="date" name="DOB " [(ngModel)]="dob " class="form-control" id="DOB " required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Gender</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="gender" name="gender" [nzSize]="'large'" [(ngModel)]="Entity.p.Gender">
              <nz-option *ngFor="let gender of GenderList" [nzValue]="gender.Ref" [nzLabel]="gender.Name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Contact Nos</label>
            <input type="text" name="ContactNos" class="form-control" [(ngModel)]="Entity.p.ContactNos" id="ContactNos"
              required placeholder="Enter Contact Nos" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Personal Email Id</label>
            <input type="text" name="PersonalEmailId" [(ngModel)]="Entity.p.PersonalEmailId" class="form-control"
              id="PersonalEmailId" required placeholder="Enter Personal Email Id" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Official Email Id</label>
            <input type="text" name="OfficialEmailId" [(ngModel)]="Entity.p.OfficialEmailId" class="form-control"
              id="OfficialEmailId" required placeholder="Enter Official Email Id" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Address Line 1</label>
            <input type="text" name="address" [(ngModel)]="Entity.p.AddressLine1" class="form-control" id="address"
              required placeholder="Enter Address" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Address Line 2</label>
            <input type="text" name="address" [(ngModel)]="Entity.p.AddressLine2" class="form-control" id="address"
              required placeholder="Enter Address" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="CountryRef"><b>Country</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" [nzSize]="'large'" name="CountryRef" required id="CountryRef"
              [(ngModel)]="Entity.p.CountryRef" (ngModelChange)="getStateListByCountryRef(Entity.p.CountryRef)">
              <nz-option *ngFor="let country of CountryList" [nzLabel]="country.p.Name"
                [nzValue]="country.p.Ref"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label for="StateRef"><b>State</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="StateRef" name="StateRef" [nzSize]="'large'" [(ngModel)]="Entity.p.StateRef"
              (ngModelChange)="getCityListByStateRef(Entity.p.StateRef)">
              <nz-option *ngFor="let state of StateList" [nzValue]="state.p.Ref" [nzLabel]="state.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="CityRef"><b>City</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="CityRef" name="CityRef" [nzSize]="'large'" [(ngModel)]="Entity.p.CityRef">
              <nz-option *ngFor="let city of CityList" [nzValue]="city.p.Ref" [nzLabel]="city.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Emergency Contact Name</label>
            <input type="text" name="EmergencyContactName " [(ngModel)]="Entity.p.EmergencyContactName "
              class="form-control" id="EmergencyContactName " required />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Emergency Contact No</label>
            <input type="text" name="EmergencyContactNo " [(ngModel)]="Entity.p.EmergencyContactNo "
              class="form-control" id="EmergencyContactNo " required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Marital Status</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="MaritalStatus" name="MaritalStatus" [nzSize]="'large'"
              [(ngModel)]="Entity.p.MaritalStatus">
              <nz-option *ngFor="let status of MaritalStatusList" [nzValue]="status.Ref"
                [nzLabel]="status.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Department Name </label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="DepartmentName" [(ngModel)]="Entity.p.DepartmentRef" (ngModelChange)="getDesignationListByDepartmentRef()"
              name="DepartmentName" [nzSize]="'large'">
              <nz-option *ngFor="let department of DepartmentList" [nzValue]="department.p.Ref"
                [nzLabel]="department.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label for="DesignationRef">Designation</label>
            <nz-select class="nzSelect-light" [disabled]="Entity.p.DepartmentRef == 0" [nzNotFoundContent]="noDataTpl"
              nzShowSearch nzAllowClear nzPlaceHolder="Select" id="DesignationRef " name="DesignationRef "
              [nzSize]="'large'" [(ngModel)]="Entity.p.DesignationRef ">
              <nz-option *ngFor="let designation of DesignationList" [nzValue]="designation.p.Ref"
                [nzLabel]="designation.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="OfficeDutyTimeRef">Office Duty Time</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="OfficeDutyTimeRef" name="OfficeDutyTimeRef" [nzSize]="'large'"
              [(ngModel)]="Entity.p.OfficeDutyTimeRef">
              <nz-option *ngFor="let OfficeDutyTime of OfficeDutyTimeList" [nzValue]="OfficeDutyTime.p.Ref"
                [nzLabel]="OfficeDutyTime.p.ShortName"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Date Of Joining</label>
            <input type="date" name="DateOfJoining " [(ngModel)]="dateofjoining " class="form-control"
              id="DateOfJoining " required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Salary Per Month</label>
            <input type="number" name="SalaryPerMonth  " [(ngModel)]="Entity.p.SalaryPerMonth  " class="form-control"
              id="SalaryPerMonth  " required />
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="row" style="margin-top: 1rem; "> -->
        <div class="col-md-4">
          <div>
            <label>Salary Per Year</label>
            <input type="number" name="SalaryPerYear  " [(ngModel)]="Entity.p.SalaryPerYear  " class="form-control"
              id="SalaryPerYear  " required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Bank Name</label>
            <input type="text" name="BankName  " [(ngModel)]="Entity.p.BankName  " class="form-control" id="BankName  "
              required />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Branch Name</label>
            <input type="text" name="BranchName" [(ngModel)]="Entity.p.BranchName" class="form-control" id="BranchName"
              required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>IFSC</label>
            <input type="text" name="IFSC" [(ngModel)]="Entity.p.IFSC" class="form-control" id="IFSC" required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Banck Account No</label>
            <input type="text" name="BanckAccountNo" [(ngModel)]="Entity.p.BanckAccountNo" class="form-control"
              id="BanckAccountNo" required />
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveEmployeeMaster()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackEmployee()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
