<app-header-with-back-handler title="Customer Enquiry"></app-header-with-back-handler>

<ion-content [fullscreen]="true">

  <!-- Customer List -->
  <ion-list class="Data-list">
    <ion-card *ngFor="let item of customerList" class="Data-card">
      <ion-card-content>
        <div class="info-row"><strong>Date:</strong> {{ item.date }}</div>
        <div class="info-row"><strong>Name:</strong> {{ item.name }}</div>
        <div class="info-row"><strong>Contact No:</strong> {{ item.contact }}</div>
        <div class="info-row"><strong>Status:</strong> {{ item.status }}</div>
        <div class="info-row"><strong>Site Name:</strong> {{ item.siteName }}</div>
        <div class="info-row"><strong>Plot No:</strong> {{ item.plotNo }}</div>

        <div class="btn-row">
          <ion-button size="small" fill="outline" color="primary" (click)="onView(item)">
            <ion-icon name="eye-outline" slot="start"></ion-icon> View
          </ion-button>
          <ion-button size="small" fill="outline" color="secondary" (click)="onEdit(item)">
            <ion-icon name="create-outline" slot="start"></ion-icon> Edit
          </ion-button>
          <ion-button size="small" fill="outline" color="danger" (click)="onDelete(item)">
            <ion-icon name="trash-outline" slot="start"></ion-icon> Delete
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Floating Button (FAB) -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="addTask()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="filterCustomerList()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Modal -->
  <ion-modal [isOpen]="ModalOpen" (didDismiss)="ModelClose()" class="modal-card">
    <ng-template>
      <div class="modal-container">
        <ion-header>
          <ion-toolbar color="primary" class="modal-toolbar">
            <ion-title>Customer Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="ModelClose()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <!-- Scrollable area -->
        <div class="modal-body">
          <ion-content scroll-y="true" class="modal-scroll-content ion-padding">
            <div class="info-row-of-model"><strong class="label">Date:</strong><span class="value">{{ selectedItem?.date
                }}</span></div>
            <div class="info-row-of-model"><strong class="label">Name:</strong> <span class="value">{{
                selectedItem?.name }}</span></div>
            <div class="info-row-of-model"><strong class="label">Contact No:</strong> <span class="value">{{
                selectedItem?.contact }}</span></div>
            <div class="info-row-of-model"><strong class="label">Status:</strong><span class="value">{{
                selectedItem?.status }}</span> </div>
            <div class="info-row-of-model"><strong class="label">Site Name:</strong> <span class="value">{{
                selectedItem?.siteName }}</span></div>
            <div class="info-row-of-model"><strong class="label">Plot No:</strong> <span class="value">{{
                selectedItem?.plotNo }}</span></div>
          </ion-content>
        </div>

        <ion-footer class="modal-footer">
          <ion-button expand="block" color="primary" shape="round" (click)="ModelClose()">
            Close
          </ion-button>
        </ion-footer>
      </div>
    </ng-template>
  </ion-modal>


</ion-content>