<div class="container-fluid">
  <div class="card-body">
    <div class="card" style="padding: 1rem">
      <form>
        <div class="row">
          <div class="col-md-4">
            <h5 class="title">Material Master</h5>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
          <div class="col-md-6">
            <div>
              <label><b>Material Name</b></label>
              <input
                type="text"
                name="materialnm"
                class="form-control"
                id="name1"
                required
                placeholder="Enter Material Name"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label><b>Material Unit</b> </label>
              <input
                type="text"
                name="materialunit"
                class="form-control"
                id="name2"
                required
                placeholder="Enter Material Unit"
              />
            </div>
          </div>
        </div>
        <div style="justify-content: center; display: flex; gap: 2rem;"   >
            <div>
              <button type="button" class="btn">Save</button>
            </div>
            <div>
              <button type="button" class="btn" routerLink="/homepage/dashboard">Back</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
