<div class="container-fluid">
  <div class="card-body">
    <div class="card" style="padding: 1rem">
      <form>
        <div class="row">
          <div class="col-md-4">
            <h5 class="title">Material Master</h5>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
          <div class="col-md-6">
            <div>
              <label><b>Material Name</b></label>
              <input
                type="text"
                name="materialnm"
                class="form-control"
                id="name1"
                required
                placeholder="Enter Material Name"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label><b>Material Unit</b> </label>
              <input
                type="text"
                name="materialunit"
                class="form-control"
                id="name2"
                required
                placeholder="Enter Material Unit"
              />
            </div>
          </div>
        </div>
        <div style="justify-content: center; display: flex; gap: 2rem;"   >
            <div>
              <button type="button" class="btn">Save</button>
            </div>
            <div>
              <button type="button" class="btn" routerLink="/homepage/dashboard">Back</button>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-container" style="margin-top: 2rem;">
    <nz-table #basicTable nzSize="small" class="no-hover-table" 
      Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th Class="tblheader">Sr.No.</th>
          <th Class="tblheader">Name</th>
          <th Class="tblheader">IP Address
          </th>
          <th Class="tblheader">ONVIF Port
          </th>
          <th Class="tblheader">Camera
            UserName</th>
          <th Class="tblheader">Camera
            Password</th>
          <th Class="tblheader">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">
            1</td>
          <td Class="tbldata">
            </td>
          <td Class="tbldata">
           </td>
          <td Class="tbldata">
           </td>
          <td Class="tbldata">
            </td>
          <td Class="tbldata">
            </td>
          <!-- <td [ngClass]="themeService.IsDarkModeSignal() ? 'tbldatacell1_dark' : 'tbldata'">
            <span style="margin-left: 9px;" (click)="onEditClicked(surveillance);">
              <img src="\assets\icons\editiconwhite.png" alt="logo" title="Edit" width="20px" height="20px"
                *ngIf="themeService.IsDarkModeSignal()" />
              <img src="\assets\icons\editiconbtndark.png" alt="logo" title="Edit" width="20px" height="20px"
                *ngIf="!themeService.IsDarkModeSignal()" /> </span>
            <span style="margin-left: 9px;" (click)="onDeleteClicked(surveillance);"><img
                src="\assets\icons\deleteiconbtn.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
