<div class="row">
  <div class="col-4 mb-2">
    <h1 style="padding-top: 3px" class="title title_light">Expense</h1>
  </div>
  <div class="col-4 mb-2 search-container_light">
    <app-shared-filter [masterList]="MasterList"
      [filterFields]="['Date', 'SiteName', 'LedgerName','SubLedgerName','RecipientName','Reason','InvoiceAmount','GivenAmount','RemainingAmount','ShreesBalance','ModeOfPaymentName']"
      (filteredList)="onFilteredList($event)"></app-shared-filter>
  </div>
  <div class="col-4 mb-2" routerLinkActive="active">
    <nz-button nz-button class="btn1" (click)="AddExpense()">
      Add Expense
    </nz-button>
  </div>
</div>
<div class="row" *ngIf="DisplayMasterList.length > 0">
  <div class="col-4"></div>
  <div class="col-4"></div>
  <div class="col-4 text-end">
    <img class="no-print" src="/assets/icons/printer.png" alt="Print" title="Print" width="30px" height="30px"
      style="cursor: pointer; padding-top: 4px" (click)="printReport()" />
  </div>
</div>
<ng-template #noDataTpl>
  <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
</ng-template>
<div class="row row-cols-5 g-1">
  <div class="col">
    <label for="StartDate"><b>From Date</b></label>
    <input type="date" [(ngModel)]="StartDate" name="StartDate" class="form-control" id="StartDate"
      placeholder="Enter Start Date" (ngModelChange)="FetchEntireListByFilters()" />
  </div>
  <div class="col">
    <label for="EndDate"><b>To Date</b></label>
    <input type="date" [(ngModel)]="EndDate" name="EndDate" class="form-control" id="EndDate"
      placeholder="Enter End Date" (ngModelChange)="FetchEntireListByFilters()" />
  </div>
  <div class="col">
    <label for="SiteRef"><b>Site</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      [nzSize]="'large'" name="SiteRef" [(ngModel)]="Entity.p.SiteRef" required id="SiteRef"
      (ngModelChange)="FetchEntireListByFilters(); ClearRef()">
      <nz-option nzLabel="All" [nzValue]="0"></nz-option>
      <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>Ledger</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="LedgerRef" name="LedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.LedgerRef"
      (ngModelChange)="getSubLedgerListByLedgerRef(Entity.p.LedgerRef)"
      (ngModelChange)="FetchEntireListByFilters(); ClearRef()">
      <nz-option *ngFor="let ledger of LedgerList" [nzValue]="ledger.p.Ref" [nzLabel]="ledger.p.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>Sub Ledger</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="SubLedgerRef" name="SubLedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SubLedgerRef"
      (ngModelChange)="FetchEntireListByFilters(); ClearRef()">
      <nz-option *ngFor="let sub of SubLedgerList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>Mode of Payment</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="ExpenseModeOfPayment" name="ExpenseModeOfPayment" [nzSize]="'large'"
      [(ngModel)]="Entity.p.ExpenseModeOfPayment"
      (ngModelChange)="Entity.p.BankAccountRef = 0; FetchEntireListByFilters(); ClearRef();">
      <nz-option [nzValue]="ModeOfPayments.Cash" [nzLabel]="'Cash'"></nz-option>
      <nz-option [nzValue]="ModeOfPayments.Cheque" [nzLabel]="'Bank'"></nz-option>
    </nz-select>
  </div>
  <div class="col"
    *ngIf="Entity.p.ExpenseModeOfPayment == ModeOfPayments.Cheque">
    <div>
      <label><b>Bank Name</b></label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        id="BankAccountRef" name="BankAccountRef" [nzSize]="'large'" [(ngModel)]="Entity.p.BankAccountRef"
        (ngModelChange)="FetchEntireListByFilters()">
        <nz-option *ngFor="let bank of BankList" [nzValue]="bank.p.BankAccountRef"
          [nzLabel]="bank.p.BankName"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="col">
    <label><b>To Whom Type</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="RecipientType" name="RecipientType" [nzSize]="'large'" [(ngModel)]="Entity.p.RecipientType"
      (ngModelChange)="getRecipientListByRecipientTypeRef(); Entity.p.RecipientRef = 0">
      <nz-option *ngFor=" let type of RecipientTypesList" [nzValue]="type.Ref" [nzLabel]="type.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <label><b>To Whom</b></label>
    <div class="d-flex align-items-center">
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        id="RecipientRef" name="RecipientRef" [nzSize]="'large'" [(ngModel)]="Entity.p.RecipientRef"
        (ngModelChange)="FetchEntireListByFilters(); ">
        <nz-option *ngFor="let recipient of RecipientList" [nzValue]="recipient.p.Ref"
          [nzLabel]="recipient.p.RecipientName | titleCase" nzCustomContent>
          <span [ngClass]="recipient.p.IsSiteRef == 1 ? 'site' : 'nonsite'">
            {{ recipient.p.RecipientName | titleCase }}
          </span>
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div class="col">
    <label><b>Reason</b></label>
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      id="Ref" name="Ref" [nzSize]="'large'" [(ngModel)]="Entity.p.Ref" (ngModelChange)="filterByReason()">
      <nz-option *ngFor="let sub of AllList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Reason">
      </nz-option>
    </nz-select>
  </div>
</div>
<div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
      [nzScroll]="{ x: 'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Expense of paginatedList(); index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata" style="white-space: nowrap;">{{ formatDate(Expense.p.Date) }}</td>
          <td Class="tbldata">{{ Expense.p.SiteName}}</td>
          <td Class="tbldata">{{ Expense.p.LedgerName}}</td>
          <td Class="tbldata">{{ Expense.p.SubLedgerName }}</td>
          <td Class="tbldata">{{ Expense.p.RecipientName | titleCase}}</td>
          <td Class="tbldata">{{ Expense.p.Reason }}</td>
          <td Class="tbldata">{{ Expense.p.InvoiceAmount| currency : "INR" }}</td>
          <td Class="tbldata"> {{ Expense.p.GivenAmount | currency : "INR" }}</td>
          <td Class="tbldata"> {{ Expense.p.RemainingAmount | currency : "INR" }}</td>
          <td Class="tbldata"> {{ Expense.p.ShreesBalance | currency : "INR" }}</td>
          <td Class="tbldata">{{ Expense.p.ModeOfPaymentName }}</td>
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(Expense)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(Expense)" />
          </td>
        </tr>
        <tr>
          <td class="tbldata" colspan="2"><b>Total Expense</b></td>
          <td class="tbldata" colspan="5"></td>
          <td class="tbldata">
            <b>{{TotalInvoiceAmount| currency : "INR" }}</b>
          </td>
          <td class="tbldata">
            <b>{{ TotalGivenAmount | currency : "INR" }}</b>
          </td>
          <td class="tbldata">
            <b>{{ RemainingAmountOfGrandTotal | currency : "INR" }}</b>
          </td>
          <td class="tbldata" colspan="3"></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <Pagination [pageSize]="pageSize" [total]="total" [(currentPage)]="currentPage" (pageChange)="onPageChange($event)" />
</div>
<div *ngIf="DisplayMasterList.length === 0">
  <Data-Not-Found />
</div>

<!-- Print Section with automatic page breaks -->
<div id="print-section" style="display: none;">
  <h2>Expense</h2>
  <table class="table table-bordered print-table">
    <thead>
      <tr>
        <th *ngFor="let header of printheaders" style="background-color: maroon; color: white;">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Expense of DisplayMasterList; index as i">
        <td class="tbldata">{{ i + 1 }}</td>
        <td Class="tbldata" style="white-space: nowrap;">{{ formatDate(Expense.p.Date) }}</td>
        <td Class="tbldata">{{ Expense.p.SiteName }}</td>
        <td Class="tbldata">{{ Expense.p.LedgerName }}</td>
        <td Class="tbldata">{{ Expense.p.SubLedgerName }}</td>
        <td Class="tbldata">{{ Expense.p.RecipientName | titleCase}}</td>
        <td Class="tbldata">{{ Expense.p.Reason }}</td>
        <td Class="tbldata"> {{ Expense.p.InvoiceAmount| currency : "INR" }}</td>
        <td Class="tbldata"> {{ Expense.p.GivenAmount | currency : "INR" }}</td>
        <td Class="tbldata"> {{ Expense.p.RemainingAmount | currency : "INR" }}</td>
        <td Class="tbldata"> {{ Expense.p.ShreesBalance | currency : "INR" }}</td>
        <td Class="tbldata">{{ Expense.p.ModeOfPaymentName }}</td>
      </tr>
      <tr>
        <td class="tbldata" colspan="2"><b>Total Expense</b></td>
        <td class="tbldata" colspan="5"></td>
        <td class="tbldata">
          <b>{{TotalInvoiceAmount| currency : "INR" }}</b>
        </td>
        <td class="tbldata">
          <b>{{ TotalGivenAmount | currency : "INR" }}</b>
        </td>
        <td class="tbldata">
          <b>{{ RemainingAmountOfGrandTotal | currency : "INR" }}</b>
        </td>
        <td class="tbldata" colspan="3"></td>
      </tr>
    </tbody>
  </table>
</div>
