<app-header-with-back-handler title={{DetailsFormTitle}}></app-header-with-back-handler>

<ion-content class="form-container">
  <ion-list lines="none" class="ion-padding">
    <!--  Date -->
    <!-- <ion-item class="input-item">
      <ion-label>Select Date</ion-label>
      <ion-datetime-button datetime="FromDate" trigger="entry-date-modal"></ion-datetime-button>
    </ion-item>
    <ion-modal keepContentsMounted="true" trigger="entry-date-modal">
      <ng-template>
        <ion-datetime id="FromDate" presentation="date" [(ngModel)]="Date" show-default-buttons="true"
          (ionChange)="onDateChange($event.detail.value)"></ion-datetime>
      </ng-template>
    </ion-modal> -->
    <ion-item (click)="showBillingDatePicker = true" class="input-item">
      <ion-label>Date</ion-label>
      <ion-label slot="end">{{ DisplayBillingDate || 'Select Date' }}</ion-label>
    </ion-item>
    <app-date-picker [show]="showBillingDatePicker" [selectedDate]="BillingDate" [defaultToday]="true"
      (dateChanged)="onBillingDateChange($event)"
      (dateSelected)="DisplayBillingDate = $event; showBillingDatePicker = false"
      (modalDismissed)="showBillingDatePicker = false" />

    <!-- Billing Number-->
    <ion-item class="input-item">
      <ion-input label="Bill No" labelPlacement="floating" placeholder="Enter Bill No" [(ngModel)]="Entity.p.InvoiceNo"
        [disabled]="'true'"></ion-input>
    </ion-item>

    <!-- Select site -->
    <ion-item class="input-item" button detail (click)="selectSiteBottomsheet()" [disabled]="SiteList.length === 0">
      <ion-label>Site</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ SiteName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select Ledger -->
    <ion-item class="input-item" button detail (click)="selectLedgerBottomsheet()" [disabled]="LedgerList.length === 0">
      <ion-label>Ledger</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ LedgerName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select Sub Ledger -->
    <ion-item class="input-item" button detail (click)="selectSubLedgerBottomsheet()" [disabled]="SubLedgerList.length === 0">
      <ion-label>Sub Ledger</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ SubLedgerName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Select Expense Type -->
    <ion-item class="input-item" button detail (click)="selectExpenseTypeBottomsheet()" [disabled]="ExpenseTypeList.length === 0">
      <ion-label>Expense Type</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ ExpenseTypeName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Description -->
    <ion-item class="input-item">
      <ion-input label="Description" labelPlacement="floating" placeholder="Enter Description"
        [(ngModel)]="Entity.p.Description" clearInput="true"></ion-input>
    </ion-item>

    <!-- Select Recipient Type -->
    <ion-item class="input-item" button detail (click)="selectRecipientTypeBottomsheet()"
      *ngIf="Entity.p.ExpenseType == OtherExpenseRef" [disabled]="RecipientTypesList.length === 0">
      <ion-label>Recipient Type</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ RecipientTypeName|| 'Select' }}
      </ion-text>
    </ion-item>


    <!-- Select Recipient Name -->
    <ion-item class="input-item" button detail
      *ngIf="Entity.p.ExpenseType != MachinaryExpenseRef && Entity.p.ExpenseType != LabourExpenseRef && !RecipientNameInput">
      <ion-label (click)="selectRecipientNameBottomsheet()">Recipient Name</ion-label>

      <!-- Selected Text -->
      <ion-text slot="end" class="status-text" (click)="selectRecipientNameBottomsheet()">
        {{ RecipientName || 'Select' }}
      </ion-text>
      <!-- Inline Add Button -->
      <ion-button slot="end" fill="solid" size="small" (click)="AddRecipientName()"
        style="--background: var(--ion-color-primary); --border-radius: 8px; --padding-start: 6px; --padding-end: 6px; margin-left: 6px;"
        *ngIf="Entity.p.RecipientType == TypeRecipient">
        <ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Add New Recipient Name Input and Action Buttons -->
    <ion-grid *ngIf="RecipientNameInput && !RecipientNameReadOnly">
      <ion-row class="ion-align-items-center ion-justify-content-between" style="gap: 8px;">

        <!-- Input Field -->
        <ion-col size="12" size-sm="12" size-md="12">
          <ion-item class="input-item">
            <ion-input label="Recipient Name" labelPlacement="floating" placeholder="Enter Recipient Name"
              [(ngModel)]="RecipientEntity.p.Name"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-between" style="gap: 8px;">
        <!-- Confirm Button -->
        <ion-col size="4" size-sm="2" size-md="2" class="ion-text-start">
          <ion-button expand="block" fill="solid" size="small" (click)="SaveNewRecipientName()"
            *ngIf="RecipientNameInput" style="--background: var(--ion-color-primary); --border-radius: 8px;">
            <ion-icon slot="icon-only" name="checkmark-outline" color="light"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Cancel Button -->
        <ion-col size="4" size-sm="2" size-md="2" class="ion-text-end">
          <ion-button expand="block" fill="solid" size="small" (click)="cancelRecipientName()"
            *ngIf="RecipientNameInput" style="--background: var(--ion-color-medium); --border-radius: 8px;">
            <ion-icon slot="icon-only" name="close-outline" color="light"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

    <!-- Reason -->
    <ion-item class="input-item">
      <ion-input label="Reason" labelPlacement="floating" placeholder="Enter Reason" [(ngModel)]="Entity.p.Reason"
        clearInput="true"></ion-input>
    </ion-item>

    <!-- Select Vendor -->
    <ion-item class="input-item" button detail (click)="selectVendorBottomsheet()"
      *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef || Entity.p.ExpenseType == LabourExpenseRef" [disabled]="VendorList.length === 0">
      <ion-label>Vendor</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ VendorName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Vendor Service -->
    <ion-item class="input-item" button detail (click)="selectVendorServiceBottomsheet()"
      *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef || Entity.p.ExpenseType == LabourExpenseRef"
      [disabled]="!VendorName && VendorServiceList.length === 0">
      <ion-label>Vendor Service</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ VendorServiceName|| 'Select' }}
      </ion-text>

    </ion-item>

    <!-- Vehical No. input-->
    <ion-item class="input-item" *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef">
      <ion-input label="Vehical No." labelPlacement="floating" placeholder="Enter Vehical No."
        [(ngModel)]="Entity.p.VehicleNo"></ion-input>
    </ion-item>

    <!-- Unit -->
    <ion-item class="input-item" button detail (click)="selectUnitBottomsheet()" [disabled]="UnitList.length === 0">
      <ion-label>Unit</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ UnitName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!--Machinary Details Header -->
    <ion-grid class="ion-margin-top"
      *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef && Entity.p.UnitRef == TimeUnitRef">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <h5><strong>Machinary Details</strong></h5>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-button fill="outline" size="small" (click)="isTimeModalOpen = true">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Machinary Details Table -->
    <ng-container
      *ngIf="Entity.p.MachineUsageDetailsArray.length > 0 &&( Entity.p.ExpenseType == MachinaryExpenseRef && Entity.p.UnitRef == TimeUnitRef)">
      <div class="table-container">
        <div class="table-scroll">
          <table class="custom-table ion-text-center">
            <thead>
              <tr>
                <th class="sticky-col sticky-header">#</th>
                <th *ngFor="let item of timeheaders" class="sticky-header">{{ item }}</th>
                <th class="sticky-col sticky-header">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Entity.p.MachineUsageDetailsArray; let i = index">
                <td class="sticky-col">{{i + 1 }}</td>
                <td>
                  {{ convertTo12HourFormat(item.StartTime) || '-' }}
                </td>
                <td>
                  {{ convertTo12HourFormat(item.EndTime) || '-' }}
                </td>
                <td>
                  {{ item.DisplayWorkedHours|| '-' }}
                </td>

                <td>
                  <ion-icon name="create-outline" color="warning" size="small"
                    style="margin-right: 12px; cursor: pointer" (click)="EditTime(i)"></ion-icon>
                  <ion-icon name="trash-outline" color="danger" size="small" style="cursor: pointer"
                    (click)="RemoveTime(i)"></ion-icon>
                </td>
              </tr>
              <tr>
                <td class="sticky-col" colspan="3"><b>Total Hours</b></td>
                <!-- <td colspan="2"><b>Total Hours</b></td> -->
                <td><b>{{ DisplayTotalWorkingHrs }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-container
      *ngIf="Entity.p.MachineUsageDetailsArray.length === 0 &&( Entity.p.ExpenseType == MachinaryExpenseRef && Entity.p.UnitRef == TimeUnitRef)">
      <div class="ion-padding ion-text-center">
        <ion-text color="medium">
          <p>No Machinery Details data available</p>
        </ion-text>
      </div>
    </ng-container>


    <!--Labour Time Details Header -->
    <ion-grid class="ion-margin-top" *ngIf="Entity.p.ExpenseType == LabourExpenseRef">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <h5><strong>Labour Time Details</strong></h5>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-button fill="outline" size="small" (click)="isLabourTimeModalOpen = true">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Labour Time Details Table -->
    <ng-container *ngIf="Entity.p.LabourExpenseDetailsArray.length > 0 && Entity.p.ExpenseType == LabourExpenseRef">
      <div class="table-container">
        <div class="table-scroll">
          <table class="custom-table ion-text-center">
            <thead>
              <tr>
                <th class="sticky-col sticky-header">#</th>
                <th *ngFor="let item of labourtimeheaders" class="sticky-header">{{ item }}</th>
                <th class="sticky-col sticky-header">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Entity.p.LabourExpenseDetailsArray; let i = index">
                <td class="sticky-col">{{i + 1 }}</td>
                <td>
                  {{ item.LabourTypeName || '-' }}
                </td>
                <td>
                  {{ convertTo12HourFormat(item.LabourFromTime) || '-' }}
                </td>
                <td>
                  {{ convertTo12HourFormat(item.LabourToTime) || '-' }}
                </td>
                <td>
                  {{ convertHoursToReadableTime(item.LabourWorkedHours) || '-' }}
                </td>
                <td>
                  {{ item.LabourQty || '-' }}
                </td>
                <td>
                  {{ item.LabourRate || '-' }}
                </td>
                <td>
                  {{ item.LabourAmount || '-' }}
                </td>
                <td>
                  <ion-icon name="create-outline" color="warning" size="small"
                    style="margin-right: 12px; cursor: pointer" (click)="EditLabourTime(i)"></ion-icon>
                  <ion-icon name="trash-outline" color="danger" size="small" style="cursor: pointer"
                    (click)="RemoveLabourTime(i)"></ion-icon>
                </td>
              </tr>
              <tr>
                <td class="sticky-col" colspan="2"><b>Grand Total</b></td>
                <td colspan="2"></td>
                <td><b>{{ convertHoursToReadableTime(getTotalLabourWorkedHours()) }}</b></td>
                <td><b>{{ getTotalLabourQuantity() }}</b></td>
                <td></td>
                <td><b>{{ getTotalLabourAmount() }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="Entity.p.LabourExpenseDetailsArray.length === 0 && Entity.p.ExpenseType == LabourExpenseRef">
      <div class="ion-padding ion-text-center">
        <ion-text color="medium">
          <p>No Labour Time Details data available</p>
        </ion-text>
      </div>
    </ng-container>

    <!--Material Details Header -->
    <ion-grid class="ion-margin-top" *ngIf="Entity.p.ExpenseType == StockExpenseRef">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <h5><strong>Material Details</strong></h5>
        </ion-col>
        <!-- <ion-col size="6" class="ion-text-right">
          <ion-button fill="outline" size="small" (click)="isLabourTimeModalOpen = true">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Add
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>

    <!-- Material Details Table -->
    <ng-container *ngIf="Entity.p.MaterialInvoiceDetailsArray.length > 0 && Entity.p.ExpenseType == StockExpenseRef">
      <div class="table-container">
        <div class="table-scroll">
          <table class="custom-table ion-text-center">
            <thead>
              <tr>
                <th class="sticky-col sticky-header">#</th>
                <th *ngFor="let item of materialheaders" class="sticky-header">{{ item }}</th>
                <!-- <th class="sticky-col sticky-header">Actions</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Entity.p.MaterialInvoiceDetailsArray; let i = index">
                <td class="sticky-col">{{i + 1 }}</td>
                <td>
                  {{ item.MaterialName || '-' }}
                </td>
                <td>
                  {{ item.UnitName || '-' }}
                </td>
                <td>
                  {{ item.Qty || '-' }}
                </td>
                <td>
                  {{ (item.Rate | currency : "INR") || '-' }}
                </td>
                <td>
                  {{ (item.DiscountedRate | currency : "INR") || '-' }}
                </td>
                <td>
                  {{ (item.DeliveryCharges | currency : "INR") || '-' }}
                </td>
                <td>
                  {{ (item.TotalAmount | currency : "INR") || '-' }}
                </td>
                <!-- <td>
                  <ion-icon name="create-outline" color="warning" size="small"
                    style="margin-right: 12px; cursor: pointer" (click)="EditLabourTime(i)"></ion-icon>
                  <ion-icon name="trash-outline" color="danger" size="small" style="cursor: pointer"
                    (click)="RemoveLabourTime(i)"></ion-icon>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="Entity.p.MaterialInvoiceDetailsArray.length == 0 && Entity.p.ExpenseType == StockExpenseRef">
      <div class="ion-padding ion-text-center">
        <ion-text color="medium">
          <p>No Material Details data available</p>
        </ion-text>
      </div>
    </ng-container>

    <!-- Quantity input-->
    <ion-item class="input-item"
       *ngIf="Entity.p.ExpenseType != LabourExpenseRef && !(Entity.p.ExpenseType == MachinaryExpenseRef&& Entity.p.UnitRef == TimeUnitRef)">
      <ion-input label="Quantity" labelPlacement="floating" placeholder="Enter Quantity" [(ngModel)]="Entity.p.Qty"
        (ngModelChange)="CalculateAmount()" clearInput="true" clearOnEdit="true" type="number"></ion-input>
    </ion-item>

    <!-- Rate input-->
    <ion-item class="input-item" *ngIf="Entity.p.ExpenseType != LabourExpenseRef">
      <ion-input label="Rate" labelPlacement="floating" placeholder="Enter Rate" [(ngModel)]="Entity.p.Rate"
        (ngModelChange)="CalculateAmount()" clearInput="true" clearOnEdit="true" type="number"></ion-input>
    </ion-item>

    <!-- Diesel Calculation -->
    <ion-grid *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef">
      <ion-row>
        <ion-col size="12">
          <ion-checkbox [(ngModel)]="Entity.p.IsDieselPaid" (ionChange)="DiselPaid(Entity.p.IsDieselPaid)">Diesel
            Calculation</ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isDieselPaid">
        <ion-col size="4">
          <!-- Diesel Ltr -->
          <ion-item class="input-item">
            <ion-input type="number" label="Ltr" labelPlacement="floating" placeholder="Enter Diesel Ltr"
              [(ngModel)]="Entity.p.DieselQty" (ngModelChange)="CalculateDieselAmount()" clearInput="true"
              clearOnEdit="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Diesel Rate -->
          <ion-item class="input-item">
            <ion-input type="number" label="Rate" labelPlacement="floating" placeholder="Enter Diesel Rate"
              [(ngModel)]="Entity.p.DieselRate" (ngModelChange)="CalculateDieselAmount()" clearInput="true"
              clearOnEdit="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <!-- Diesel Amount -->
          <ion-item class="input-item">
            <ion-input type="number" [disabled]="'true'" label="Amount" labelPlacement="floating"
              placeholder="Enter Diesel Amount" [(ngModel)]="Entity.p.DieselAmount"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Billing Amount -->
    <ion-item class="input-item">
      <ion-input label="Billing Amount" labelPlacement="floating" placeholder="Enter Billing Amount"
        [(ngModel)]="Entity.p.InvoiceAmount" [disabled]="'true'"></ion-input>
    </ion-item>

    <!-- Unit -->
    <ion-item class="input-item" button detail (click)="selectInvoiceModeOfPaymentBottomsheet()" [disabled]="ModeofPaymentList.length === 0">
      <ion-label>Mode of Payment</ion-label>

      <!-- Text showing the selected status -->
      <ion-text slot="end" class="status-text">
        {{ InvoiceModeOfPaymentName|| 'Select' }}
      </ion-text>
    </ion-item>

    <!-- Narration -->
    <ion-item class="input-item">
      <ion-input label="Narration" labelPlacement="floating" placeholder="Enter Narration"
        [(ngModel)]="Entity.p.Narration" clearInput="true" clearOnEdit="true"></ion-input>
    </ion-item>

    <!-- add time Machine Details Modal -->
    <ion-modal [isOpen]="isTimeModalOpen" (didDismiss)="CloseTimeModal(100)" class="custom-modal-mobile-app">
      <ng-template>
        <ion-header class="modal-toolbar-mobile-app">
          <ion-toolbar color="primary">
            <ion-title>Add Machine Time Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="CloseTimeModal(100)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content scroll-y="true" class="ion-padding modal-content-mobile-app">
          <ion-list lines="none">
            <ion-item class="input-item">
              <ion-label>From Time</ion-label>
              <ion-datetime-button datetime="machinestartTime"></ion-datetime-button>
            </ion-item>
            <!-- <ion-datetime id="startTime" presentation="time" [(ngModel)]="StartTime"
              (ngModelChange)="StartTimeChange($event)" show-default-buttons="true">
            </ion-datetime> -->
            <ion-modal keepContentsMounted="true">
              <ng-template>
                <ion-datetime id="machinestartTime" presentation="time" [(ngModel)]="MachineStartTime"
                  (ngModelChange)="MachineStartTimeChange($event)" hour-cycle="h12" prefer-wheel="true"
                  show-default-buttons="true">
                </ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-item class="input-item">
              <ion-label>To Time</ion-label>
              <ion-datetime-button datetime="machineendTime"></ion-datetime-button>
            </ion-item>
            <!-- <ion-datetime id="endTime" presentation="time" [(ngModel)]="EndTime" (ngModelChange)="EndTimeChange($event)"
              show-default-buttons="true">
            </ion-datetime> -->
            <ion-modal keepContentsMounted="true">
              <ng-template>
                <ion-datetime id="machineendTime" presentation="time" [(ngModel)]="MachineEndTime"
                  (ngModelChange)="MachineEndTimeChange($event)" hour-cycle="h12" prefer-wheel="true"
                  show-default-buttons="true">
                </ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-item class="input-item">
              <ion-label color="primary">Total Working Hours</ion-label>
              <!-- <ion-text color="dark"><strong>{{ convertHoursToReadableTime(MachineTimeEntity.WorkedHours) }}
                </strong></ion-text> -->
              <ion-text color="dark"><strong>{{ MachineTimeEntity.DisplayWorkedHours }}
                </strong></ion-text>
            </ion-item>
          </ion-list>
        </ion-content>

        <ion-footer class="modal-footer-mobile-app">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="medium" shape="round" (click)="CloseTimeModal(100)">Close</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="primary" shape="round" (click)="SaveTime()">
                  {{ 'Save' }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <!-- add time Labour Details Modal -->
    <ion-modal [isOpen]="isLabourTimeModalOpen" (didDismiss)="CloseLabourTimeModal(200)"
      class="custom-modal-mobile-app">
      <ng-template>
        <ion-header class="modal-toolbar-mobile-app">
          <ion-toolbar color="primary">
            <ion-title>Add Labour Time Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="CloseLabourTimeModal(200)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content scroll-y="true" class="ion-padding modal-content-mobile-app">
          <ion-list lines="none">
            <!-- Labour Type -->
            <ion-item class="input-item" button detail (click)="selectLabourTypeBottomsheet()" [disabled]="LabourTypeList.length === 0">
              <ion-label>Labour Type</ion-label>
              <ion-text slot="end" class="status-text">
                {{ LabourTypeName || 'Select' }}
              </ion-text>
            </ion-item>


            <ion-item class="input-item">
              <ion-label>From Time</ion-label>
              <ion-datetime-button datetime="LabourstartTime"></ion-datetime-button>
            </ion-item>
            <!-- <ion-datetime id="startTime" presentation="time" [(ngModel)]="StartTime"
                  (ngModelChange)="StartTimeChange($event)" show-default-buttons="true">
                </ion-datetime> -->
            <ion-modal keepContentsMounted="true">
              <ng-template>
                <ion-datetime id="LabourstartTime" presentation="time" [(ngModel)]="LabourStartTime"
                  (ngModelChange)="LabourStartTimeChange($event)" hour-cycle="h12" prefer-wheel="true"
                  show-default-buttons="true">
                </ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-item class="input-item">
              <ion-label>To Time</ion-label>
              <ion-datetime-button datetime="LabourendTime"></ion-datetime-button>
            </ion-item>
            <!-- <ion-datetime id="endTime" presentation="time" [(ngModel)]="EndTime" (ngModelChange)="EndTimeChange($event)"
                  show-default-buttons="true">
                </ion-datetime> -->
            <ion-modal keepContentsMounted="true">
              <ng-template>
                <ion-datetime id="LabourendTime" presentation="time" [(ngModel)]="LabourEndTime"
                  (ngModelChange)="LabourEndTimeChange($event)" hour-cycle="h12" prefer-wheel="true"
                  show-default-buttons="true">
                </ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-item class="input-item">
              <ion-label color="primary">Total Working Hours</ion-label>
              <ion-text color="dark"><strong>{{ convertHoursToReadableTime(LabourTimeEntity.LabourWorkedHours) }}
                </strong></ion-text>
            </ion-item>

            <!-- Labour Quantity -->
            <ion-item class="input-item">
              <ion-input type="number" label="Labour Quantity" labelPlacement="floating"
                placeholder="Enter Labour Quantity" [(ngModel)]="LabourTimeEntity.LabourQty"
                (ngModelChange)="CalculateLabourAmount()" clearInput="true" clearOnEdit="true">
              </ion-input>
            </ion-item>

            <!-- Labour Rate -->
            <ion-item class="input-item">
              <ion-input type="number" label="Labour Rate" labelPlacement="floating" placeholder="Enter Labour Rate"
                [(ngModel)]="LabourTimeEntity.LabourRate" (ngModelChange)="CalculateLabourAmount()" clearInput="true"
                clearOnEdit="true">
              </ion-input>
            </ion-item>

            <!-- Labour Amount -->
            <ion-item class="input-item">
              <ion-input type="number" label="Labour Amount" labelPlacement="floating" placeholder="Enter Labour Amount"
                [(ngModel)]="LabourTimeEntity.LabourAmount" [disabled]="'true'">
              </ion-input>
            </ion-item>

          </ion-list>
        </ion-content>

        <ion-footer class="modal-footer-mobile-app">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="medium" shape="round"
                  (click)="CloseLabourTimeModal(200)">Close</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="primary" shape="round" (click)="SaveLabourTime()">
                  {{ 'Save' }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <!-- Main Buttons -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="medium" (click)="goBack()" class="submit-button cancel-button">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="!Entity.p.IsInvoiceAutoGenerated">
          <ion-button expand="block" color="primary" (click)="SaveInvoiceMaster()" class="submit-button primary-button" [disabled]="Entity.p.ExpenseType == StockExpenseRef">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>