/* Modern Header */
.modern-header {
    // --background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-secondary));
    // --background: var(--ion-color-primary);
    --background:linear-gradient(to bottom right, #7c2424, #c0392b);
    
    display: flex;
    align-items: center;
    color: var(--ion-text-color-dark);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Logo Styling */
.logo-button {
    display: flex;
    align-items: center;
    padding: 0;
}

.logo-img {
    height: 40px;
    width: auto;
}

/* Title Styling */
.mobile-app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

/* User Avatar */
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Action Buttons */
.icon-button {
    font-size: 1.4rem;
    --color: var(--ion-text-color-dark);
}
.icon-button-back{
    --color: var(--ion-text-color-dark);
}   