<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-button (click)="goBack()" class="icon-button-back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="header-title">{{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button class="notification-button" (click)="goToNotificationPage()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>