<app-loader *ngIf="isLoading"></app-loader>

<app-header-with-back-handler title="Customer Follow-Up" backRoute="app_homepage/tabs/crm">
</app-header-with-back-handler>

<ion-content [fullscreen]="true" class="followup-content">

  <!-- Pull to Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Follow-Up List -->
  <ion-list class="followup-list">

  </ion-list>
  <!-- Customer List -->
  <ion-list class="data-list">
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="FilterFollowupList.length > 0 ; else noData">
        <ion-card *ngFor="let item of FilterFollowupList" class="data-card">
          <ion-card-header>
            <ion-card-title class="info-row"><strong>Customer Name : </strong>{{ item.p.CustomerName }}</ion-card-title>
            <ion-card-subtitle class="info-row"><strong>Contact No : </strong>{{ item.p.ContactNos
              }}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Reminder Date : </strong>{{
              formatDate(item.p.ReminderDate)}}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Customer Status : </strong>{{
              item.p.CustomerStatusName}}</ion-card-subtitle>
            <ion-card-subtitle class="info-row"><strong>Requirement : </strong>{{
              item.p.CustomerRequirement}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="btn-row">
              <ion-button fill="clear" size="small" color="primary" (click)="onFollowUpClick(item)">
                <ion-icon slot="start" name="people-outline"></ion-icon> Follow up
              </ion-button>
              <!-- <ion-button fill="clear" size="small" color="secondary" (click)="onEditClicked(item)">
                <ion-icon slot="start" name="create-outline"></ion-icon> Edit
              </ion-button>
              <ion-button fill="clear" size="small" color="danger" (click)="onDeleteClicked(item)">
                <ion-icon slot="start" name="trash-outline"></ion-icon> Delete
              </ion-button> -->
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>

    <!-- No Data Template
    <ng-template #noData>
      <ion-card class="data-card">
        <ion-card-content class="text-center">
          <ion-icon name="information-circle-outline" size="large" color="medium"></ion-icon>
          <div>No Customer Follow up data found.</div>
        </ion-card-content>
      </ion-card>
    </ng-template> -->
    <!-- No Data Template -->
    <ng-template #noData>
      <ion-card class="data-card">
        <ion-card-content class="text-center">
          <ion-icon name="information-circle-outline" size="large" color="medium"
            style="align-self: center;"></ion-icon>
          <div>No Customer Follow up data found.</div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-list>

  <!-- Floating Action Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openFilterSheet()">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>