<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackDepartment()">
          <img
            src="/assets/icons/arrow-button.png"
            alt=""
            width="34px"
            height="34px"
          />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6">
          <div>
           <label>Name</label>
            <input
              type="text"
              [(ngModel)]="Entity.p.Name"
              name="Name"
              class="form-control"
              id="Name"
              required
              placeholder="Enter Name"
            />
          </div>
        </div>
        <div class="col-md-6">
          <label>Company</label>
          <input  class="form-control" type="text" [attr.value]="companyName()" placeholder="Company Name" readonly />
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
          <div>
            <button type="button" class="btn" (click)="SaveDepartmentMaster()">Save</button>
          </div>
          <div>
            <button type="button" class="btn"  (click)="BackDepartment()">Back</button>
          </div>
      </div>
    </form>
  </div>
</div>