.top-card {
  // background: linear-gradient(135deg, var(--ion-color-tertiary), var(--ion-color-primary));
  background: linear-gradient(to bottom right, #7c2424, #c0392b);
  color: var(--ion-text-color-dark);
  border-radius: 0 0 24px 24px;
  padding: 16px;

  h2 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .label {
      font-size: 14px;
      opacity: 0.8;
      font-weight: 600;
    }

    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
    }
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .label {
      font-size: 14px;
      opacity: 0.8;
      font-weight: 600;
    }

    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.top-card.disabled {
  opacity: 0.5;
  pointer-events: none; // Prevent interaction
  filter: grayscale(0.3);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 0 8px;
}

.attendance-table-card {
  margin: 12px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow: hidden;

  ion-card-header {
    background: linear-gradient(to bottom right, #7c2424, #c0392b);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 8px 12px;

    .header-row {
      display: flex;
      align-items: center;
    }

    .header-title {
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      margin: 0;
    }
  }

  .week-select {
    max-width: 130px;
    font-size: 14px;
    --padding-start: 8px;
    --padding-end: 8px;
    --background: #fff;
    --border-radius: 12px;
    --color: #333;
  }

  .attendance-table-header {
    ion-row {
      background-color: var(--ion-background-color);
      border: 1px solid #333;
      border-radius: 8px;
      padding: 6px 0;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      text-align: center;
    }
  }

  .attendance-table-body {
    .attendance-row {
      background-color: var(--ion-item-background);
      padding: 6px 0;
      border-bottom: 1px solid #ececec;
      font-size: 13px;
      align-items: center;
      display: flex;
      text-align: center;

      .date-cell {
        font-weight: 500;
        color: #444;
      }
    }
  }

  .text-center {
    text-align: center;
  }

  .no-data-box {
    text-align: center;
    padding: 16px;
    color: #888;

    ion-icon {
      font-size: 24px;
      margin-bottom: 4px;
      color: #c0392b;
    }
  }
}

.punch-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.5);
}

.punch-modal::part(content) {
  --background: var(--ion-background-color-step-50);
  --width: 90%;
  --height: 50%;
  --max-width: 400px;
  --border-radius: 20px;
  --box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-toolbar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// ion-item {
//     --background: var(--ion-background-color);
//     border-radius: 10px;
// }

// .photo-upload {
//     ion-label {
//         font-size: 14px;
//         margin: 8px 0 6px;
//         display: block;
//     }

//     ion-button {
//         margin-bottom: 12px;
//     }
// }
.photo-upload {
  margin-top: 16px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.photo-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.preview-img {
  margin-top: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.employee-select {
  max-width: 130px;
  font-size: 14px;
  --padding-start: 8px;
  --padding-end: 8px;
  --background: #fff;
  --border-radius: 12px;
  --color: #333;
}
