<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row mb-3">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackProgressReport()">
          <img src="/assets/icons/arrow-button.png" alt="Back" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Final Layout</span>
      </div>
    </div>

    <!-- If file not selected -->
    <ng-template #NoFile>
      No file selected
    </ng-template>

    <!-- Fallback: If file is missing entirely -->
    <ng-template #defaultImage>
      <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
    </ng-template>

    <!-- Fallback: If file is not an image (e.g., PDF/DOC) -->
    <ng-template #defaultDocImage>
      <img src="/assets/icons/doc-placeholder.png" alt="Document File" class="file-preview" />
    </ng-template>
    <form autocomplete="off">
      <!---------------------------------------------------------------- Form Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- Form -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>Form</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsFromSubmit">Submit</label>
            <input type="checkbox" id="IsFromSubmit" [(ngModel)]="Entity.p.IsFromSubmit" name="IsFromSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!---------------------------------------------------------------- 7/12 Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- 7/12 -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>7/12</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsSaatBaaraUtaraSubmit">Submit</label>
            <input type="checkbox" id="IsSaatBaaraUtaraSubmit" [(ngModel)]="Entity.p.IsSaatBaaraUtaraSubmit"
              name="IsSaatBaaraUtaraSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  Tentative ऑर्डर व नकाशा Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- Tentative ऑर्डर व नकाशा -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>Tentative ऑर्डर व नकाशा</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsTentativeOrdervaNakashaSubmit">Submit</label>
            <input type="checkbox" id="IsTentativeOrdervaNakashaSubmit"
              [(ngModel)]="Entity.p.IsTentativeOrdervaNakashaSubmit" name="IsTentativeOrdervaNakashaSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  सनद (बिनशेती) Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- सनद (बिनशेती) -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>सनद (बिनशेती)</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsSanadBinshetiSubmit">Submit</label>
            <input type="checkbox" id="IsSanadBinshetiSubmit" [(ngModel)]="Entity.p.IsSanadBinshetiSubmit"
              name="IsSanadBinshetiSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  क प्रत Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- क प्रत -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>क प्रत</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsKaPratSubmit">Submit</label>
            <input type="checkbox" id="IsKaPratSubmit" [(ngModel)]="Entity.p.IsKaPratSubmit" name="IsKaPratSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  ULC Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- ULC -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>ULC</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsULCSubmit">Submit</label>
            <input type="checkbox" id="IsULCSubmit" [(ngModel)]="Entity.p.IsULCSubmit" name="IsULCSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  हमी पत्र Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- हमी पत्र -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>हमी पत्र</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsHamiPatraSubmit">Submit</label>
            <input type="checkbox" id="IsHamiPatraSubmit" [(ngModel)]="Entity.p.IsHamiPatraSubmit"
              name="IsHamiPatraSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  बंध पत्र Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- बंध पत्र -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>बंध पत्र</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsBandhPatraSubmit">Submit</label>
            <input type="checkbox" id="IsBandhPatraSubmit" [(ngModel)]="Entity.p.IsBandhPatraSubmit"
              name="IsBandhPatraSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  रस्ता व खुली जागा कब्जेपट्टी Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- रस्ता व खुली जागा कब्जेपट्टी -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>रस्ता व खुली जागा कब्जेपट्टी</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsRastavaKhuliJagaKabjepattiSubmit">Submit</label>
            <input type="checkbox" id="IsRastavaKhuliJagaKabjepattiSubmit"
              [(ngModel)]="Entity.p.IsRastavaKhuliJagaKabjepattiSubmit" name="IsRastavaKhuliJagaKabjepattiSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>


      <!---------------------------------------------------------- रोड NOC Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">

        <!-- रोड NOC -->
        <div class="row mb-3 p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-4 text-start">
            <label> रोड NOC</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsRoadNOCSubmit">Yes</label>
            <input type="checkbox" id="IsRoadNOCSubmit" [(ngModel)]="Entity.p.IsRoadNOCSubmit" name="IsRoadNOCSubmit"
              class="custom-checkbox" />
          </div>
        </div>

        <!---------------------------------------------------------- अर्ज Box ------------------------------------------------>
        <div *ngIf="Entity.p.IsRoadNOCSubmit" class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">

          <!-- अर्ज -->
          <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
            <div class="col-4 text-start">
              <label> अर्ज</label>
            </div>
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <label for="IsArjInwardSubmit">Submit</label>
              <input type="checkbox" id="IsArjInwardSubmit" [(ngModel)]="Entity.p.IsArjInwardSubmit"
                name="IsArjInwardSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-md-4">
              <label>Inward No.</label>
              <input type="text" name="ArjInwardNo" class="form-control date-input" id="ArjInwardNo"
                [(ngModel)]="Entity.p.ArjInwardNo" placeholder="Select No." />
            </div>
            <div class="col-md-4">
              <label>Date</label>
              <input type="date" name="ArjInwardDate" class="form-control date-input" id="ArjInwardDate"
                [(ngModel)]="Entity.p.ArjInwardDate" placeholder="Select Date" />
            </div>
          </div>

          <!-- 7/12 -->
          <div class="row p-1" style="border-radius: 8px 8px 0px 0px">
            <div class="col-4 text-start">
              <label> 7/12</label>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <label for="IsRoadNOCSaatBaaraUtaraSubmit">Submit</label>
              <input type="checkbox" id="IsRoadNOCSaatBaaraUtaraSubmit"
                [(ngModel)]="Entity.p.IsRoadNOCSaatBaaraUtaraSubmit" name="IsRoadNOCSaatBaaraUtaraSubmit"
                class="custom-checkbox" />
            </div>
          </div>

          <!-- Tentative Order व नकाशा -->
          <div class="row p-1" style="border-radius: 8px 8px 0px 0px">
            <div class="col-4 text-start">
              <label> Tentative Order व नकाशा</label>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <label for="IsRoadNOCTentativeOrdervaNakashaSubmit">Submit</label>
              <input type="checkbox" id="IsRoadNOCTentativeOrdervaNakashaSubmit"
                [(ngModel)]="Entity.p.IsRoadNOCTentativeOrdervaNakashaSubmit"
                name="IsRoadNOCTentativeOrdervaNakashaSubmit" class="custom-checkbox" />
            </div>
          </div>
        </div>

      </div>

      <br>

      <!---------------------------------------------------------------- Surveyar Remark Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- Surveyar Remark -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>Surveyar Remark</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsSurveyarRemarkSubmit">Submit</label>
            <input type="checkbox" id="IsSurveyarRemarkSubmit" [(ngModel)]="Entity.p.IsSurveyarRemarkSubmit"
              name="IsSurveyarRemarkSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  ATP Site Visit Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- ATP Site Visit -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>ATP Site Visit</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsATPSiteVisitSubmit">Submit</label>
            <input type="checkbox" id="IsATPSiteVisitSubmit" [(ngModel)]="Entity.p.IsATPSiteVisitSubmit"
              name="IsATPSiteVisitSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  ADTP Site Visit Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- ADTP Site Visit -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-6 text-start">
            <label>ADTP Site Visit</label>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <label for="IsADTPSiteVisitSubmit">Submit</label>
            <input type="checkbox" id="IsADTPSiteVisitSubmit" [(ngModel)]="Entity.p.IsADTPSiteVisitSubmit"
              name="IsADTPSiteVisitSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!---------------------------------------------------------------- Outward Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- Outward -->
        <div class="row mb-2 p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-6 text-start">
            <label>Outward</label>
          </div>
        </div>

        <!-- Details -->
        <div class="row">
          <div class="col-md-4">
            <label>Outward No.</label>
            <input type="text" name="OutwardNo" class="form-control date-input" id="OutwardNo"
              [(ngModel)]="Entity.p.OutwardNo" placeholder="Select No." />
          </div>
          <div class="col-md-4">
            <label>Date</label>
            <input type="date" name="OutwardDate" class="form-control date-input" id="OutwardDate"
              [(ngModel)]="Entity.p.OutwardDate" placeholder="Select Date" />
          </div>
        </div>

        <!----------------------------------------------------------------  Gram Sevak Box ------------------------------------------------>
        <div class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">
          <!-- Gram Sevak -->
          <div class="row mb-2 p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
            <div class="col-6 text-start">
              <label>Gram Sevak</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <label for="IsGramSevakSubmit">Submit</label>
              <input type="checkbox" id="IsGramSevakSubmit" [(ngModel)]="Entity.p.IsGramSevakSubmit"
                name="IsGramSevakSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-md-6">
              <label>Inward No.</label>
              <input type="text" name="GramSevakInwardNo" class="form-control date-input" id="GramSevakInwardNo"
                [(ngModel)]="Entity.p.GramSevakInwardNo" placeholder="Select No." />
            </div>
            <div class="col-md-6">
              <label>Date</label>
              <input type="date" name="GramSevakInwardDate" class="form-control date-input" id="GramSevakInwardDate"
                [(ngModel)]="Entity.p.GramSevakInwardDate" placeholder="Select No." />
            </div>
          </div>
        </div>

        <!----------------------------------------------------------------  Tahshil Box ------------------------------------------------>
        <div class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">
          <!-- Tahshil -->
          <div class="row mb-2 p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
            <div class="col-6 text-start">
              <label>Tahshil</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <label for="IsTahshilSubmit">Submit</label>
              <input type="checkbox" id="IsTahshilSubmit" [(ngModel)]="Entity.p.IsTahshilSubmit" name="IsTahshilSubmit"
                class="custom-checkbox" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-md-6">
              <label>Inward No.</label>
              <input type="text" name="TahsilInwardNo" class="form-control date-input" id="TahsilInwardNo"
                [(ngModel)]="Entity.p.TahsilInwardNo" placeholder="Select No." />
            </div>
            <div class="col-md-6">
              <label>Date</label>
              <input type="date" name="TahsilInwardDate" class="form-control date-input" id="TahsilInwardDate"
                [(ngModel)]="Entity.p.TahsilInwardDate" placeholder="Select Date" />
            </div>
          </div>
        </div>

        <!----------------------------------------------------------------  मोजिनी Box ------------------------------------------------>
        <div class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">
          <!-- मोजिनी -->
          <div class="row mb-2 p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
            <div class="col-6 text-start">
              <label>मोजिनी</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <label for="IsMojniSubmit">Submit</label>
              <input type="checkbox" id="IsMojniSubmit" [(ngModel)]="Entity.p.IsMojniSubmit" name="IsMojniSubmit"
                class="custom-checkbox" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-md-6">
              <label>Inward No.</label>
              <input type="text" name="MojniInwardNo" class="form-control date-input" id="MojniInwardNo"
                [(ngModel)]="Entity.p.MojniInwardNo" placeholder="Select No." />
            </div>
            <div class="col-md-6">
              <label>Date</label>
              <input type="date" name="MojniInwardDate" class="form-control date-input" id="MojniInwardDate"
                [(ngModel)]="Entity.p.MojniInwardDate" placeholder="Select Date" />
            </div>
          </div>
        </div>

        <!---------------------------------------------------------------- Copy Receive Box ------------------------------------------------>
        <div class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">
          <!-- Copy Receive -->
          <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
            <div class="col-6 text-start">
              <label>Copy Receive</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <label for="IsCopyReceiveSubmit">Submit</label>
              <input type="checkbox" id="IsCopyReceiveSubmit" [(ngModel)]="Entity.p.IsCopyReceiveSubmit"
                name="IsCopyReceiveSubmit" class="custom-checkbox" />
            </div>
          </div>
        </div>

      </div>

      <br>

      <!-------------------------------------------------------------  Submit Box -------------------------------------------------------->
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button type="submit" class="btn" (click)="SaveFinalLayout()" [disabled]="isSaveDisabled">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackProgressReport()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
