@media print {
  .no-print {
    display: none !important;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}

.balance_title {
  color: var(--ion-color-primary-tint);
  font-weight: 600;
  background-clip: text;
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
  font-size: 1.5vw;
}