<div>
  <div class="row">
    <div class="col-4 mb-2">
      <h1 style="padding-top: 3px;" class="title title_light">Employee Overtime</h1>
    </div>
    <div class="col-4 mb-2 search-container_light">
      <app-shared-filter [masterList]="MasterList"
        [filterFields]="['Date', 'EmployeeName', 'FromTime', 'ToTime','DisplayOverTime']"
        (filteredList)="onFilteredList($event)"></app-shared-filter>
    </div>
    <div class="col-4 mb-2" routerLinkActive="active">
      <nz-button nz-button class="btn1" (click)='AddEmployeeOvertime()'>
        Add Overtime
      </nz-button>
    </div>
    <div>
    </div>
  </div>
  <div class="table-wrapper tblcard_light" *ngIf="DisplayMasterList.length > 0">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
        [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th *ngFor="let header of headers" class="tblheader">{{header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let overtime of paginatedList(); index as i">
            <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td Class="tbldata" style="white-space: nowrap;">{{formatDate(overtime.p.Date)}}</td>
            <td Class="tbldata">{{overtime.p.EmployeeName}}</td>
            <td Class="tbldata">{{convertTo12Hour(overtime.p.FromTime)}}</td>
            <td Class="tbldata">{{convertTo12Hour(overtime.p.ToTime)}}</td>
            <td Class="tbldata">{{overtime.p.DisplayOverTime}}</td>
            <td Class="tbldata">
              <!-- PENDING -->
              <span class="status" ngClass="pending" *ngIf="!overtime.p.IsOverTimeVerified" style="cursor: pointer;"
                (click)="ChangeOvertimeStatus(overtime)">
                Pending
              </span>

              <!-- APPROVED -->
              <span class="status" *ngIf="overtime.p.IsOverTimeVerified" ngClass="approved">
                Approved
              </span>
            </td>
            <td class="tbldata">
              <span style="margin-left: 9px;" (click)="onEditClicked(overtime);">
                <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
              </span>
              <span style="margin-left: 9px;" (click)="onDeleteClicked(overtime);">
                <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="fixed-pagination">
      <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
      </nz-pagination>
    </div>
  </div>

  <div *ngIf="DisplayMasterList.length === 0">
    <Data-Not-Found />
  </div>
