.btn2 {
  background-color: brown;
  color: white;
  padding: 8px 16px;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  justify-self: right;
  width: auto;
}

.btn2:hover {
  background-color: darkred;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
