.change-password-content {
    --background:
        radial-gradient(circle at 2% 7%, rgba(123, 34, 28, 0.5) 0%, transparent 25%),
        radial-gradient(circle at 2% 90%, rgba(123, 34, 28, 0.5) 0%, transparent 25%),
        radial-gradient(circle at 100% 30%, rgba(123, 34, 28, 0.5) 0%, transparent 25%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    .password-container {
        width: 100%;
        max-width: 500px;
        margin: auto;
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 24px;
    }

    .logo-wrapper {
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .logo-img {
        width: 160px;
        height: auto;
    }

    .password-title {
        font-size: 24px;
        font-weight: 600;
        color: #000;
        text-align: center;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    ion-item {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 44px;
        border-radius: 8px;
        font-size: small;
    }

    ion-icon {
        color: #000;
    }

    .change-button {
        --background: linear-gradient(90deg, #702623, #d67b73);
        --border-radius: 10px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 8px;
    }

    .error-text {
        font-size: 12px;
        margin-left: 8px;
    }

    @media screen and (max-width: 768px) {
        .password-title {
            font-size: 20px;
        }

        .logo-img {
            width: 120px;
        }

        .password-container {
            padding: 16px;
        }
    }
}