<ion-content class="ion-padding change-password-content" fullscreen>
  <div class="password-container">
    <!-- Logo -->
    <div class="logo-wrapper">
      <img src="assets/logos/ShreeIcon.png" class="logo-img" alt="Shree Logo" />
    </div>

    <!-- Heading -->
    <h2 class="password-title">Change Password</h2>

    <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
      <!-- Old Password -->
      <ion-label position="stacked"><strong>Old Password</strong></ion-label>
      <ion-item lines="none">
        <ion-input placeholder="Old Password" [type]="showOld ? 'text' : 'password'"
          formControlName="oldPassword"></ion-input>
        <ion-icon slot="end" [name]="showOld ? 'eye-off-outline' : 'eye-outline'"
          (click)="showOld = !showOld"></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('oldPassword')">
        <p class="error-text">Old Password is required</p>
      </ion-text>

      <!-- New Password -->
      <ion-label position="stacked"><strong>New Password</strong></ion-label>
      <ion-item lines="none">
        <ion-input placeholder="New Password" [type]="showNew ? 'text' : 'password'"
          formControlName="newPassword"></ion-input>
        <ion-icon slot="end" [name]="showNew ? 'eye-off-outline' : 'eye-outline'"
          (click)="showNew = !showNew"></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('newPassword')">
        <p class="error-text">New Password is required and must be at least 6 characters</p>
      </ion-text>

      <!-- Confirm Password -->
      <ion-label position="stacked"><strong>Confirm Password</strong></ion-label>
      <ion-item lines="none">
        <ion-input placeholder="Confirm Password" [type]="showConfirm ? 'text' : 'password'"
          formControlName="confirmPassword"></ion-input>
        <ion-icon slot="end" [name]="showConfirm ? 'eye-off-outline' : 'eye-outline'"
          (click)="showConfirm = !showConfirm"></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('confirmPassword')">
        <p class="error-text">Confirm Password is required</p>
      </ion-text>

      <!-- Submit Button -->
      <ion-button expand="block" class="change-button" type="submit" [disabled]="passwordForm.invalid">
        Update Password
      </ion-button>
    </form>
  </div>
</ion-content>