.last-detail-row td {
  border-bottom: 2px solid #343a40;
  /* dark line */
}

.status {
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  width: 100px;
  border: 1px solid;
  display: inline-block;
  color: black;

  &.approved {
    border-color: green;
    background-color: #e6ffe6;
  }

  &.pending {
    border-color: rgb(180, 180, 2);
    background-color: rgb(252, 252, 213);
  }

  &.rejected {
    border-color: red;
    background-color: #ffe6e6;
  }
}
