<app-header-with-back-handler title="Stock Inward"
  backRoute="mobile-app/tabs/dashboard/stock-management"></app-header-with-back-handler>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="requisition-list" [lines]="'none'">
    <ion-item *ngFor="let stockInward of DisplayMasterList" class="requisition-item" button detail
      (click)="openModal(stockInward)">
      <ion-label>
        <h2>Site : {{ stockInward.p.SiteName || 'Unknown Site' }}</h2>
        <p class="date-label">Vendor : {{ stockInward.p.VendorName || '-' }}</p>
        <!-- <p class="date-label">Trade Name : {{ stockInward.p.VendorTradeName || '-' }}</p> -->
        <p class="date-label">Ordered Date : {{ formatDate(stockInward.p.PurchaseOrderDate) || '-' }}</p>
        <!-- <p class="date-label" *ngIf="stockInward.p.InwardDate">Inward Date : {{ formatDate(stockInward.p.InwardDate) || '-' }}</p> -->
      </ion-label>

      <div class="action-buttons" slot="end" (click)="$event.stopPropagation()">
        <ion-button fill="clear" size="small" color="primary" (click)="onEditClicked(stockInward)">
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" (click)="onDeleteClicked(stockInward)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" (click)="navigateToPrint(stockInward)">
          <ion-icon name="print-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <!-- Show "Data not found" if list is empty -->
  <div *ngIf="DisplayMasterList.length === 0 " class="no-data-mobile-app">
    <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
    <p>No Stock Inward records found.</p>
  </div>


  <!-- Modal -->
  <ion-modal [isOpen]="modalOpen" (didDismiss)="closeModal()" class="modal-card">
    <ng-template>
      <div class="modal-container">
        <!-- Header -->
        <ion-header>
          <ion-toolbar color="primary" class="modal-toolbar">
            <ion-title>Inward Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <!-- Body -->
        <ion-content class="ion-padding modal-body">
          <!-- Info Rows -->
          <div class="info-row-of-model">
            <span class="label">Chalan No:</span>
            <span class="value">{{ SelectedStockInward.p.ChalanNo || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Site:</span>
            <span class="value">{{ SelectedStockInward.p.SiteName || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Order Date:</span>
            <span class="value">{{ formatDate(SelectedStockInward.p.PurchaseOrderDate) || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Inward Date:</span>
            <span class="value">{{ formatDate(SelectedStockInward.p.InwardDate) || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Vendor:</span>
            <span class="value">{{ SelectedStockInward.p.VendorName || '-' }}</span>
          </div>
          <div class="info-row-of-model">
            <span class="label">Trade Name:</span>
            <span class="value">{{ SelectedStockInward.p.VendorTradeName || '-' }}</span>
          </div>
          <!-- <div class="info-row-of-model">
                <span class="label">Vendor Mobile No</span>
                <span class="value">{{ SelectedStockInward.p.VendorMobNo || '-' }}</span>
              </div>
              <div class="info-row-of-model">
                <span class="label">Vehicle No:</span>
                <span class="value">{{ SelectedStockInward.p.VehicleNo || '-' }}</span>
              </div> -->
          <!-- Invoice Preview Button -->
          <div class="info-row-of-model" *ngIf="SelectedStockInward?.p?.MaterialInwardInvoiceFile">
            <span class="label">Invoice:</span>
            <ion-button size="small" fill="clear" color="primary"
              (click)="prepareInvoiceUrl(SelectedStockInward.p.MaterialInwardInvoiceFile)">
              <ion-icon [name]="showInvoicePreview?'eye-outline':'eye-off-outline'" slot="icon-only"></ion-icon>
            </ion-button>
          </div>

          <!-- Invoice Viewer Section -->
          <div *ngIf="showInvoicePreview" class="invoice-preview-container">
            <ng-container *ngIf="isPDF(SelectedStockInward.p.MaterialInwardInvoiceFile); else imageBlock">
              <iframe [src]="sanitizedInvoiceUrl" width="100%" height="400px" style="border: none;"></iframe>
            </ng-container>

            <ng-template #imageBlock>
              <img [src]="sanitizedInvoiceUrl" alt="Invoice Image" class="invoice-image" />
            </ng-template>
          </div>
          <div class="info-row-of-model">
            <span class="label">Material Details</span>
          </div>

          <div class="table-container">
            <div class="table-scroll">
              <table class="custom-table">
                <thead>
                  <tr>
                    <th class="sticky-col sticky-header">#</th>
                    <th *ngFor="let item of tableHeaderData" class="sticky-header">{{ item }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of SelectedStockInward.p.MaterialInwardDetailsArray; let i = index">
                    <td class="sticky-col">{{i + 1 }}</td>
                    <td>
                      {{ item.MaterialName || '-' }}
                    </td>
                    <td>
                      {{ item.UnitName || '-' }}
                    </td>
                    <td>
                      {{ item.PurchaseOrderQty }}
                    </td>
                    <td>
                      {{ item.InwardQty }}
                    </td>
                    <td>
                      {{ item.PurchaseOrderRemainingQty }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ion-content>

        <!-- Footer -->
        <ion-footer class="modal-footer">
          <div class="action-buttons">
            <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
              Close
            </ion-button>
          </div>
        </ion-footer>
      </div>
    </ng-template>
  </ion-modal>


  <!-- Floating Action Button for adding new stock inward -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>