<div style="background-color: white; padding: 5px">
  <div class="row m-2">
    <div class="col-md-2">
      <button type="button" class="backbtn" (click)="BackStockInward()">
        <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
      </button>
    </div>
    <div class="col-md-9"></div>
    <div class="col-md-1">
      <div (click)="printSection()">
        <img src="/assets/icons/printer.png" alt="" style="cursor: pointer;" width="34px" height="34px" />
      </div>
    </div>
  </div>

  <div #PrintContainer
    style="font-family: sans-serif; margin: 0; padding: 10px; font-size: 14px; color: #000; text-transform: capitalize;">

    <div style="max-width: full; margin: auto; border: 2px solid black;">
      <!-- Header -->
      <div style="padding-bottom: 10px;">
        <h2 style="color: maroon; text-align: center; margin-top: 10px; font-weight: 500;"> <b>Inward Receipt</b></h2>
      </div>

      <!-- Logo & Info -->
      <div>
        <table style="width: 100%;">
          <tr>
            <td style="vertical-align: top; text-align: left; width: 40%; padding: 5px; border-width:  1px;">
              <strong>
                <div><i class="fa-solid fa-file-lines" style="color: maroon; margin-right: 10px;"></i> पोहोच पावती</div>
                <div> <i class="fa-solid fa-phone" style="color: maroon; margin-right: 10px;"></i>
                  {{ Entity.p.CompanyPhoneNo }}
                </div>
              </strong>
              <br>
              <div>
                <strong>Chalan No - {{Entity.p.ChalanNo}}</strong>
              </div>
            </td>
            <td style="width: 10%; border-width:  1px; padding: 5px;">
              <img src="/assets/logos/ShreeIcon.png" alt="Company Logo" height="80" class="mb-2" />
            </td>
            <td style="vertical-align: center; text-align: start; border-width:  1px; padding: 5px;">
              <strong>ऑफिस पत्ता :<br>
                {{ Entity.p.CompanyAddressLine1 }} <br>
                {{ Entity.p.CompanyAddressLine2 }}
              </strong>
            </td>
          </tr>
        </table>
      </div>

      <!-- Bill To Section -->
      <div style="display: flex; justify-content: center;">
        <table style="width: 100%;">
          <tr>
            <td style="width: 40%; text-align: left; vertical-align: top; padding: 5px; border-width: 1px;">
              <div>
                <strong>Site Name - {{ Entity.p.SiteName }}</strong>
              </div>
              <br>
              <div>
                <strong>Address - {{ Entity.p.SiteAddressLine1 }}</strong>
              </div>
              <br>
              <div>
                <strong>Date - {{formatDate(Entity.p.InwardDate )}}</strong>
              </div>
              <br>
            </td>
            <td style="text-align: left; vertical-align: top; padding: 5px; border-width: 1px;">
              <div>
                <strong>Vendor Name - {{Entity.p.VendorName}}</strong>
              </div>
              <br>
              <div>
                <strong>Trade Name - {{Entity.p.VendorTradeName}}</strong>
              </div>
              <br>
              <div>
                <strong>Address - {{Entity.p.VendorAddressLine1}}</strong>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Table Header -->
      <table style="width: 100%; border-collapse: collapse; text-align: center">
        <thead>
          <tr style="background-color: maroon; color: white">
            <th style="padding: 8px; border: none">Sr.No</th>
            <th style="padding: 8px; border: none">Material Name</th>
            <th style="padding: 8px; border: none">Unit</th>
            <th style="padding: 8px; border: none">Ordered Qty.</th>
            <th style="padding: 8px; border: none">Rate</th>
            <th style="padding: 8px; border: none">Inward Qty.</th>
            <th style="padding: 8px; border: none">Remaining Qty.</th>
            <th style="padding: 8px; border: none">Net Discount</th>
            <th style="padding: 8px; border: none">Net Amount</th>
            <th style="padding: 8px; border: none">GST</th>
            <th style="padding: 8px; border: none">Delivery Charges</th>
            <th style="padding: 8px; border: none">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let material of Entity.p.MaterialInwardDetailsArray;
              let i = index
            ">
            <td style="padding: 8px; border: none">{{ i + 1 }}</td>
            <td style="padding: 8px; border: none">
              {{ material.MaterialName }}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.UnitName }}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.PurchaseOrderQty }}
            </td>
            <td style="padding: 8px; border: none">
              {{ !material.DiscountedRate ? (material.Rate | currency : "INR") : (material.DiscountedRate
              | currency : "INR")}}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.InwardQty }}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.PurchaseOrderRemainingQty }}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.DiscountOnNetAmount | currency : "INR"}}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.NetAmount | currency : "INR"}}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.Gst }}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.DeliveryCharges| currency : "INR" }}
            </td>
            <td style="padding: 8px; border: none">
              {{ material.TotalAmount | currency : "INR"}}
            </td>
          </tr>
          <!-- Total -->
          <tr>
            <td colspan="11"
              style="padding: 8px; border: none; text-align: center; font-weight: bold; background-color: #fef4d4;">
              <strong>TOTAL</strong>
            </td>
            <td style="padding: 8px; border: none; font-weight: bold; background-color: #fef4d4;"><strong>
                {{Entity.p.GrandTotal | currency : "INR" }}</strong>
            </td>
          </tr>
          <tr>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
            <td colspan="10" style="padding: 8px; border: none; text-align: center;"><strong>Inwords - {{
                this.totalAmountInWords(Entity.p.GrandTotal) }}</strong></td>
          </tr>
        </tbody>
      </table>

      <!-- Comments -->
      <div style="margin-top: 5px">
        <p style="
            background-color: #fef4d4;
            padding-left: 5%;
            padding-top: 10px;
            padding-bottom: 10px;
          ">
          <strong>OTHER COMMENTS</strong>
        </p>
        <div style="margin-top: 5px; padding-left: 5%">
          <p style="line-height: 0.5">
            1. वरील तपशिला प्रमाणे माल ताब्यात मिळाला.
          </p>
          <p style="line-height: 0.5">
            2. ही पावती सेवा पुरवठादाराच्या नोंदीसाठी प्रदान करण्यात आली आहे..
          </p>
          <p style="line-height: 0.5">
            3. ही पावती भविष्यातील लेखाजोखासाठी जतन करावी.
          </p>
        </div>
      </div>

      <!-- Footer Signature -->
      <div style="margin-top: 30px; display: flex; justify-content: space-between">
        <p style="margin-left: 5%">
          <strong>Stamp : {{ Entity.p.CompanyName }}</strong>
        </p>
        <p style="margin-right: 5%">
          <strong>Sign : {{ Entity.p.CreatedByName }}</strong>
        </p>
      </div>

      <p style="text-align: center; line-height: 0.5">
        If you have any questions about this invoice, please contact
      </p>
      <h5 style="text-align: center; line-height: 0.5">
        <strong><i>Thank You For Your Business!</i></strong>
      </h5>
      <blockquote style="text-align: center; line-height: 0.5; margin-top: 2%; font-size: 12px;">
        <i>Computer Generated Print</i>
      </blockquote>
    </div>
  </div>
</div>
