<div>
  <div class="row">
     <div class="col-4 mb-2">
      <h1 class="title title_light">Site Work Group Master</h1>
    </div>
     <div class="col-4 mb-2 search-container_light">
      <app-shared-filter [masterList]="MasterList" [filterFields]="['Name', 'DisplayOrder']"
        (filteredList)="onFilteredList($event)"></app-shared-filter>
    </div>
    <div class="col-4 mb-2" routerLinkActive="active">
      <nz-button nz-button class="btn1" (click)='AddSiteWorkGroup()'>
        Add Site Group
      </nz-button>
    </div>
  </div>
  <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList"
        [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let SiteWorkGroup of paginatedList; index as i">
            <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td Class="tbldata">{{SiteWorkGroup.p.Name}}</td>
            <td Class="tbldata">{{SiteWorkGroup.p.DisplayOrder}}</td>
            <td class="tbldata">
              <Edit-Icon (editClick)="onEditClicked(SiteWorkGroup)" />
              <Delete-Icon (deleteClicked)="onDeleteClicked(SiteWorkGroup)" />
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="fixed-pagination">
      <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
      </nz-pagination>
    </div>
  </div>
  <div *ngIf="DisplayMasterList.length === 0">
    <Data-Not-Found />
  </div>
