<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row align-items-center">
      <!-- Back Button Column -->
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <button type="button" class="backbtn" (click)="BackSubStage()">
          <img src="/assets/icons/arrow-button.png" alt="Back" class="backbtnimg" />
        </button>
      </div>

      <!-- Title Column -->
      <div class="col-10 col-md-11">
        <span class="detail_title text-truncate d-block">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <label>Stage</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="StageRef" name="StageRef" [nzSize]="'large'" [(ngModel)]="Entity.p.StageRef"
            (ngModelChange)="onStageChange(Entity.p.StageRef)">
            <nz-option *ngFor="let stage of StageList" [nzValue]="stage.p.Ref" [nzLabel]="stage.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label>Stage Type</label>
          <input type="text" [(ngModel)]="Entity.p.StageTypeName" name="StageTypeName" class="form-control"
            id="StageTypeName" disabled placeholder="Stage Type" />
        </div>
        <div class="col-md-4">
          <div>
            <label>Sub Stage Name</label>
            <input type="text" [(ngModel)]="Entity.p.Name" name="Name" class="form-control" id="Name" required
              placeholder="Enter Sub Stage Name" #NameCtrl="ngModel" required
              (blur)="NameCtrl.control.markAsTouched()"/>
              <div *ngIf="(NameCtrl.invalid && (NameCtrl.touched || NameCtrl.dirty))">
              <span class="validation-text" *ngIf="NameCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="submit" class="btn" (click)="SaveSubStageMaster()" [disabled]="isSaveDisabled">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackSubStage()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
