<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">Marketing Management</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
        <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1" (click)="AddMarketing()">
          Add Marketing
        </nz-button>
      </div>
    </div>
  </div>
  <!-- Digital -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Digital</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Electronics -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Electronics</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Outdoor -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Outdoor</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Printing Media  -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Printing Media</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Agent/Broker -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Agent/Broker</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">SAMAPLE1</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td Class="tbldata">20</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
            </span>
            <span style="margin-left: 9px;">
              <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>