<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">Marketing Management</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
        <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1" (click)="AddMarketing()">
          Add Marketing
        </nz-button>
      </div>
    </div>
  </div>
  <!-- Digital -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Digital</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let digital of DigitalList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{digital.p.SiteName}}</td>
          <td Class="tbldata">{{digital.p.Date}}</td>
          <td Class="tbldata">{{digital.p.MarketingTypeName}}</td> 
          <td Class="tbldata">{{digital.p.VendorName}}</td> 
          <td Class="tbldata">{{digital.p.Rate}}</td> 
          <td Class="tbldata">{{digital.p.Quantity}}</td> 
          <td Class="tbldata">{{digital.p.Total}}</td> 
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(digital)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(digital)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Electronics -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Electronics</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let electronics of ElectronicsList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{electronics.p.SiteName}}</td>
          <td Class="tbldata">{{electronics.p.Date}}</td>
          <td Class="tbldata">{{electronics.p.MarketingTypeName}}</td> 
          <td Class="tbldata">{{electronics.p.VendorName}}</td> 
          <td Class="tbldata">{{electronics.p.Rate}}</td> 
          <td Class="tbldata">{{electronics.p.Quantity}}</td> 
          <td Class="tbldata">{{electronics.p.Total}}</td> 
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(electronics)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(electronics)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Outdoor -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Outdoor</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let outdoor of OutdoorList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{outdoor.p.SiteName}}</td>
          <td Class="tbldata">{{outdoor.p.Date}}</td>
          <td Class="tbldata">{{outdoor.p.MarketingTypeName}}</td> 
          <td Class="tbldata">{{outdoor.p.VendorName}}</td> 
          <td Class="tbldata">{{outdoor.p.Rate}}</td> 
          <td Class="tbldata">{{outdoor.p.Quantity}}</td> 
          <td Class="tbldata">{{outdoor.p.Total}}</td> 
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(outdoor)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(outdoor)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Printing Media  -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Printing Media</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let printingmedia of PrintingMediaList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{printingmedia.p.SiteName}}</td>
          <td Class="tbldata">{{printingmedia.p.Date}}</td>
          <td Class="tbldata">{{printingmedia.p.MarketingTypeName}}</td> 
          <td Class="tbldata">{{printingmedia.p.VendorName}}</td> 
          <td Class="tbldata">{{printingmedia.p.Rate}}</td> 
          <td Class="tbldata">{{printingmedia.p.Quantity}}</td> 
          <td Class="tbldata">{{printingmedia.p.Total}}</td> 
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(printingmedia)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(printingmedia)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Agent/Broker -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Agent/Broker</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblheadersecond">{{ Header }}
          </th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let broker of BrokerList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{broker.p.SiteName}}</td>
          <td Class="tbldata">{{broker.p.Date}}</td>
          <td Class="tbldata">{{broker.p.MarketingTypeName}}</td> 
          <td Class="tbldata">{{broker.p.VendorName}}</td> 
          <td Class="tbldata">{{broker.p.Rate}}</td> 
          <td Class="tbldata">{{broker.p.Quantity}}</td> 
          <td Class="tbldata">{{broker.p.Total}}</td> 
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(broker)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(broker)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>