<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">Marketing Management</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
        <!-- <input type="text" Class="search-box_light" placeholder="Search..." autofocus /> -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1" (click)="AddMarketing()">
          Add Marketing
        </nz-button>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top: 1rem; ">
    <div class="col-md-4" style="margin-top: 1rem; ">
      <label for="FromDate"><b>From Date</b></label>
      <input type="date" name="FromDate" class="form-control" id="FromDate" [(ngModel)]="FromDate"  (ngModelChange)="getActualStageListByAllFilters()" />
    </div>
    <div class="col-md-4" style="margin-top: 1rem; ">
      <label for="ToDate"><b>To Date</b></label>
      <input type="date" name="ToDate" class="form-control" id="ToDate" [(ngModel)]="ToDate"  (ngModelChange)="getActualStageListByAllFilters()" />
    </div>
    <div class="col-md-4" style="margin-top: 1rem; ">
      <div>
        <label for="SiteRef"><b>site</b></label>
        <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
          nzPlaceHolder="Select" [nzSize]="'large'" name="SiteRef" [(ngModel)]="Entity.p.SiteRef" required id="SiteRef"  (ngModelChange)="getActualStageListByAllFilters()" >
          <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 1rem; ">
      <div>
        <label for="VendorRef"><b>Vendor</b></label>
        <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
          nzPlaceHolder="Select" [nzSize]="'large'" name="VendorRef" [(ngModel)]="Entity.p.VendorRef" required
          id="VendorRef"  (ngModelChange)="getActualStageListByAllFilters()" >
          <nz-option *ngFor="let vendor of VendorList" [nzValue]="vendor.p.Ref" [nzLabel]="vendor.p.Name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 1rem; ">
      <label><b>Marketing Type</b></label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        id="MarketingType" name="MarketingType" [nzSize]="'large'" [(ngModel)]="Entity.p.MarketingType"  (ngModelChange)="getActualStageListByAllFilters()" >
        <nz-option *ngFor="let Mode of MarketingModesList" [nzValue]="Mode.Ref" [nzLabel]="Mode.Name"></nz-option>
      </nz-select>
    </div>
  </div>

   <ng-template #noDataTpl>
      <div class="no-data-text">Data Not Found</div>
  </ng-template>

  <!-- Digital -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Digital</label>
      </div>
    </div>
    <nz-table #basicTable nzSize="small" [nzNoResult]="noDataTpl" class="no-hover-table bgtable_light"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="DigitalList">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblsubheader">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let digital of DigitalList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{digital.p.SiteName}}</td>
          <td class="tbldata">{{formatShortDate(digital.p.Date)}}</td>
          <td Class="tbldata">{{digital.p.VendorName}}</td>
          <td Class="tbldata">{{digital.p.Rate}}</td>
          <td Class="tbldata">{{digital.p.Quantity}}</td>
          <td Class="tbldata">{{digital.p.Total}}</td>
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(digital)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(digital)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Electronics -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Electronics</label>
      </div>
    </div>
    <nz-table #basicTable [nzNoResult]="noDataTpl" nzSize="small" class="no-hover-table bgtable_light"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="ElectronicsList">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblsubheader">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let electronics of ElectronicsList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{electronics.p.SiteName}}</td>
          <td Class="tbldata">{{electronics.p.Date}}</td>
          <td Class="tbldata">{{electronics.p.VendorName}}</td>
          <td Class="tbldata">{{electronics.p.Rate}}</td>
          <td Class="tbldata">{{electronics.p.Quantity}}</td>
          <td Class="tbldata">{{electronics.p.Total}}</td>
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(electronics)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(electronics)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Outdoor -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Outdoor</label>
      </div>
    </div>
    <nz-table #basicTable [nzNoResult]="noDataTpl" nzSize="small" class="no-hover-table bgtable_light"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="OutdoorList">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblsubheader">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let outdoor of OutdoorList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{outdoor.p.SiteName}}</td>
          <td Class="tbldata">{{outdoor.p.Date}}</td>
          <td Class="tbldata">{{outdoor.p.VendorName}}</td>
          <td Class="tbldata">{{outdoor.p.Rate}}</td>
          <td Class="tbldata">{{outdoor.p.Quantity}}</td>
          <td Class="tbldata">{{outdoor.p.Total}}</td>
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(outdoor)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(outdoor)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Printing Media  -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Printing Media</label>
      </div>
    </div>
    <nz-table #basicTable [nzNoResult]="noDataTpl" nzSize="small" class="no-hover-table bgtable_light"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="PrintingMediaList">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblsubheader">{{ Header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let printingmedia of PrintingMediaList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{printingmedia.p.SiteName}}</td>
          <td Class="tbldata">{{printingmedia.p.Date}}</td>
          <td Class="tbldata">{{printingmedia.p.VendorName}}</td>
          <td Class="tbldata">{{printingmedia.p.Rate}}</td>
          <td Class="tbldata">{{printingmedia.p.Quantity}}</td>
          <td Class="tbldata">{{printingmedia.p.Total}}</td>
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(printingmedia)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(printingmedia)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Agent/Broker -->
  <div class="table-container" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-12">
        <label class="TableHeading">
          Agent/Broker</label>
      </div>
    </div>
    <nz-table #basicTable [nzNoResult]="noDataTpl" nzSize="small" class="no-hover-table bgtable_light"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="BrokerList">
      <thead>
        <tr>
          <th *ngFor="let Header of Headers" class="tblsubheader">{{ Header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let broker of BrokerList; index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{broker.p.SiteName}}</td>
          <td Class="tbldata">{{broker.p.Date}}</td>
          <td Class="tbldata">{{broker.p.VendorName}}</td>
          <td Class="tbldata">{{broker.p.Rate}}</td>
          <td Class="tbldata">{{broker.p.Quantity}}</td>
          <td Class="tbldata">{{broker.p.Total}}</td>
          <td class="tbldata">
            <Edit-Icon (editClick)="onEditClicked(broker)" />
            <Delete-Icon (deleteClicked)="onDeleteClicked(broker)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
