<div class="container-fluid">
  <div class="headers">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
        <h5 style="padding-top: 3px;" class="title title_light">All Plots</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
        <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
        <nz-button nz-button class="btn1" (click)="AddPlot()">
          Add Plot
        </nz-button>
      </div>
    </div>
    <div class="row">
      <div class="card-body" style="margin-left: 14px;">
        <form autocomplete="off">
          <div class="row">
            <div class="col-md-4">
              <label for="SiteRef"><b>Site Name</b></label>
              <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="SiteRef"
                name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef"
                (ngModelChange)="getPlotListBySiteRef(Entity.p.SiteRef)">
                <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
              </nz-select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- <div class="table-container" style="margin-top: 2rem;">
      <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{x:'auto' }"
        nzFrontPagination="false" [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td Class="tbldata">1</td>
            <td Class="tbldata">SMAPLE1</td>
            <td Class="tbldata">20</td>
            <td Class="tbldata">20</td>
            <td class="tbldata">
              <span style="margin-left: 9px;">
                <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
              </span>
              <span style="margin-left: 9px;">
                <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div> -->
  </div>
</div>