.plotbooked {
  padding: 4px 4px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  width: 70%;
  border: 1px solid;
  display: inline-block;
  color: black;
  border-color: #ff9900;
  background-color: #fff5e6;
}

.plotsold {
  padding: 4px 4px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  width: 70%;
  border: 1px solid;
  display: inline-block;
  color: black;
  border-color: green;
  background-color: #e6ffe6;
}
