<app-header-with-back-handler [title]="'Change Password'"></app-header-with-back-handler>

<ion-content class="change-password-content" [fullscreen]="true" [scrollEvents]="true" [scrollY]="true">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-sm="10" size-md="6" size-lg="4">
        <form [formGroup]="passwordForm" (ngSubmit)="onUpdatePassword()" class="form-wrapper">

          <!-- <h2 class="form-title">Update Your Password</h2> -->

          <app-input-field label="Old Password" controlName="oldPassword" type="password" icon="lock-closed"
            [formGroup]="passwordForm" placeholder="Enter your old password" [maxlength]="20"
            customClass="input-wrapper"></app-input-field>

          <app-input-field label="New Password" controlName="newPassword" type="password" icon="lock-closed"
            [formGroup]="passwordForm" placeholder="Enter a new password" [maxlength]="20"
            [pattern]="'^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}$'" customClass="input-wrapper"></app-input-field>

          <app-input-field label="Confirm Password" controlName="confirmPassword" type="password" icon="lock-closed"
            [formGroup]="passwordForm" placeholder="Confirm your new password" [maxlength]="20"
            [pattern]="'^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}$'" customClass="input-wrapper"></app-input-field>

          <div class="button-wrapper">
            <app-custom-button label="Update Password" type="submit" [loading]="isUpdating" color="primary" icon="key"
              iconPosition="end" shape="round" fill="solid" [disabled]="passwordForm.invalid"></app-custom-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>