<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row align-items-center">
      <!-- Back Button Column -->
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <button type="button" class="backbtn" (click)="BackInvoice()">
          <img src="/assets/icons/arrow-button.png" alt="Back" class="backbtnimg" />
        </button>
      </div>

      <!-- Title Column -->
      <div class="col-10 col-md-11">
        <span class="detail_title text-truncate d-block">{{
          DetailsFormTitle
          }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
    </ng-template>
    <form autocomplete="off" #invoiceForm="ngForm">
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Date</label>
          <input type="date" [(ngModel)]="Entity.p.Date" name="Date" class="form-control" id="Date"
            placeholder="Enter Date" #DateCtrl="ngModel" (blur)="DateCtrl.control.markAsTouched()" />
          <div style="height: 25px" *ngIf="DateCtrl.invalid && (DateCtrl.touched || DateCtrl.dirty)">
            <span class="validation-text" *ngIf="DateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Bill No</b></label>
          <input type="number" [(ngModel)]="Entity.p.InvoiceNo" name="InvoiceNo" class="form-control" id="InvoiceNo"
            placeholder="Bill No" disabled />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Site Name</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef">
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="LedgerRef" name="LedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.LedgerRef"
            (ngModelChange)="
              getSubLedgerListByLedgerRef(Entity.p.LedgerRef); OnLedgerChange()
            ">
            <nz-option *ngFor="let ledger of LedgerList" [nzValue]="ledger.p.Ref" [nzLabel]="ledger.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Sub Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SubLedgerRef" name="SubLedgerRef" [nzSize]="'large'"
            [(ngModel)]="Entity.p.SubLedgerRef">
            <nz-option *ngFor="let sub of SubLedgerList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Expense Type</label>
          <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="ExpenseType"
            name="ExpenseType" [nzSize]="'large'" [(ngModel)]="Entity.p.ExpenseType"
            (ngModelChange)="ClearInputsOnExpenseChange()">
            <nz-option *ngFor="let expense of ExpenseTypeList" [nzValue]="expense.Ref"
              [nzLabel]="expense.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label for="Description"><b>Description</b></label>
          <input type="text" [(ngModel)]="Entity.p.Description" name="Description" class="form-control" id="Description"
            placeholder="Enter Description" #DescriptionCtrl="ngModel"
            (blur)="DescriptionCtrl.control.markAsTouched()" />
          <div style="height: 25px"
            *ngIf="DescriptionCtrl.invalid && (DescriptionCtrl.touched || DescriptionCtrl.dirty)">
            <span class="validation-text" *ngIf="DescriptionCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
         <div class="col-md-4" style="margin-top: 1rem;" *ngIf="Entity.p.ExpenseType != MachinaryExpenseRef && Entity.p.ExpenseType != LabourExpenseRef">
          <label>Recipient Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="RecipientType" name="RecipientType" [nzSize]="'large'"
            [(ngModel)]="Entity.p.RecipientType" (ngModelChange)="getRecipientListByRecipientTypeRef(); onTypeChange()">
            <nz-option *ngFor="let type of RecipientTypesList" [nzValue]="type.Ref" [nzLabel]="type.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem"
          *ngIf="Entity.p.ExpenseType != MachinaryExpenseRef && Entity.p.ExpenseType != LabourExpenseRef">
          <label>Recipient Name</label>
          <div class="d-flex align-items-center">
            <nz-select *ngIf="!RecipientNameInput && !RecipientNameReadOnly" class="nzSelect-light"
              [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="RecipientMasterRef"
              name="RecipientName" [nzSize]="'large'" [(ngModel)]="Entity.p.RecipientMasterRef">
              <nz-option *ngFor="let name of RecipientList" [nzValue]="name.p.Ref"
                [nzLabel]="name.p.RecipientName | titleCase"></nz-option>
            </nz-select>
            <!-- <input *ngIf="RecipientNameReadOnly" type="text" [(ngModel)]="Entity.p.RecipientName" name="RecipientName"
              class="form-control" id="RecipientName" required placeholder="Recipient Name" readonly/> -->
            <input *ngIf="RecipientNameInput && !RecipientNameReadOnly" type="text" [(ngModel)]="RecipientEntity.p.Name"
              name="Name" class="form-control" id="Name" required placeholder="Enter Recipient Name" />
            <span *ngIf="!RecipientNameInput && !RecipientNameReadOnly && Entity.p.RecipientType == TypeRecipient" (click)="AddRecipientName()"
              class="ms-2 mb-0.5 d-flex justify-content-center align-items-center border rounded"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-plus" style="color: blue;"></i>
            </span>
            <span *ngIf="RecipientNameInput && !RecipientNameReadOnly" (click)="SaveNewRecipientName()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded text-success"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-check"></i>
            </span>
            <span *ngIf="RecipientNameInput && !RecipientNameReadOnly" (click)="cancelRecipientName()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded text-danger"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <div>
            <label>Reason</label>
            <input type="text" [(ngModel)]="Entity.p.Reason" name="Reason" class="form-control" id="Reason" required
              placeholder="Enter Reason" />
          </div>
        </div>
      </div>
      <div style="width: 100%" class="d-flex justify-content-center">
        <hr style="border: 2px solid brown" width="20%" />
      </div>
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem"
          *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef || Entity.p.ExpenseType == LabourExpenseRef">
          <label>Vendor</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="VendorRef" name="VendorRef" [nzSize]="'large'" [(ngModel)]="Entity.p.VendorRef"
            (ngModelChange)="getVendorServiceListByVendorRef(Entity.p.VendorRef)">
            <nz-option *ngFor="let Vendor of VendorList" [nzValue]="Vendor.p.Ref" [nzLabel]="Vendor.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem"
          *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef || Entity.p.ExpenseType == LabourExpenseRef">
          <label>Vendor Service</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl"
            [disabled]="VendorServiceListByVendor.length == 0" nzShowSearch nzAllowClear nzPlaceHolder="Select"
            id="VendorServiceRef" name="VendorServiceRef" [nzSize]="'large'" [(ngModel)]="Entity.p.VendorServiceRef">
            <nz-option *ngFor="let VendorServices of VendorServiceListByVendor" [nzValue]="VendorServices.p.Ref"
              [nzLabel]="VendorServices.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem" *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef">
          <label><b>Vehical No.</b></label>
          <input type="text" [(ngModel)]="Entity.p.VehicleNo" name="VehicleNo" class="form-control" id="VehicleNo"
            placeholder="Enter Vehicle No" #VehicleNoCtrl="ngModel" (blur)="VehicleNoCtrl.control.markAsTouched()" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Unit</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="UnitRef" name="UnitRef" [nzSize]="'large'" [(ngModel)]="Entity.p.UnitRef"
            (ngModelChange)="ClearMachineTimeTable()">
            <nz-option *ngFor="let unit of UnitList" [nzValue]="unit.p.Ref" [nzLabel]="unit.p.Name"></nz-option>
          </nz-select>
        </div>


        <!-- time table start -->
        <div class="row" style="margin-top: 2rem; padding: 1rem"
          *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef && Entity.p.UnitRef == TimeUnitRef">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
            <h5 style="padding-top: 3px; color: black">
              <b>Machinary Details</b>
            </h5>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container"
            style="display: flex; justify-content: end" routerLinkActive="active">
            <nz-button nz-button class="btn1" (click)="isTimeModalOpen = true">Add Machine Hours </nz-button>
          </div>
        </div>
        <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem"
          *ngIf="Entity.p.MachineUsageDetailsArray.length > 0 && Entity.p.ExpenseType == MachinaryExpenseRef && Entity.p.UnitRef == TimeUnitRef">
          <div class="table-container" style="margin-top: 2rem">
            <div class="row">
              <div class="col-12">
                <h3 class="TableHeading"> Time Details Table</h3>
              </div>
            </div>
            <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{ x: 'auto' }"
              nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.MachineUsageDetailsArray">
              <thead>
                <tr>
                  <th *ngFor="let header of timeheaders" class="tblsubheader">
                    {{ header }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="   let time of Entity.p.MachineUsageDetailsArray;   let i = index ">
                  <td Class="tbldata">{{ i + 1 }}</td>
                  <td Class="tbldata">{{ time.StartTime}}</td>
                  <td Class="tbldata">{{ time.EndTime }}</td>
                  <td Class="tbldata">{{ time.DisplayWorkedHours }}</td>
                  <td class="tbldata">
                    <span style="margin-left: 9px" (click)="EditTime(i)">
                      <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
                    </span>
                    <span style="margin-left: 9px" (click)="RemoveTime(i)">
                      <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
                  </td>
                </tr>
                <tr>
                  <td class="tbldata" colspan="2"></td>
                  <td class="tbldata"><b>Total Hours</b></td>
                  <td class="tbldata"><b>{{ DisplayTotalWorkingHrs }}</b></td>
                  <td class="tbldata"><b></b></td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
        <div
          *ngIf="Entity.p.MachineUsageDetailsArray.length === 0 && Entity.p.ExpenseType == MachinaryExpenseRef && Entity.p.UnitRef == TimeUnitRef"
          class="card-body_light">
          <div style="height: 200px; background-color: white" class="d-flex align-items-center justify-content-center">
            <span class="title_light"> Data Not Found</span>
          </div>
        </div>
        <!-- time table Ends -->

        <!-- Labour time table start -->
        <div class="row" style="margin-top: 2rem; padding: 1rem" *ngIf="Entity.p.ExpenseType == LabourExpenseRef">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
            <h5 style="padding-top: 3px; color: black">
              <b>Labour Time Details</b>
            </h5>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container"
            style="display: flex; justify-content: end" routerLinkActive="active">
            <nz-button nz-button class="btn1" (click)="isLabourTimeModalOpen = true">Add Labour Time </nz-button>
          </div>
        </div>
        <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem"
          *ngIf="Entity.p.LabourExpenseDetailsArray.length > 0 && Entity.p.ExpenseType == LabourExpenseRef">
          <div class="table-container" style="margin-top: 2rem">
            <div class="row">
              <div class="col-12">
                <h3 class="TableHeading"> Labour Time Details</h3>
              </div>
            </div>
            <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{ x: 'auto' }"
              nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.LabourExpenseDetailsArray">
              <thead>
                <tr>
                  <th *ngFor="let header of labourtimeheaders" class="tblsubheader">
                    {{ header }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="   let time of Entity.p.LabourExpenseDetailsArray;   let i = index ">
                  <td Class="tbldata">{{ i + 1 }}</td>
                  <td Class="tbldata">{{ time.LabourTypeName }}</td>
                  <td Class="tbldata">{{ time.LabourFromTime }}</td>
                  <td Class="tbldata">{{ time.LabourToTime }}</td>
                  <td Class="tbldata">{{ time.LabourQty}}</td>
                  <td Class="tbldata">{{ time.LabourRate}}</td>
                  <td Class="tbldata">{{ time.LabourAmount}}</td>
                  <td class="tbldata">
                    <span style="margin-left: 9px" (click)="EditLabourTime(i)">
                      <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
                    </span>
                    <span style="margin-left: 9px" (click)="RemoveLabourTime(i)">
                      <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
                  </td>
                </tr>
                <!-- <tr>
                  <td class="tbldata" colspan="2"></td>
                  <td class="tbldata"><b>Total Hours</b></td>
                  <td class="tbldata"><b>{{ getTotalWorkedHours() }}</b></td>
                  <td class="tbldata"><b></b></td>
                </tr> -->
              </tbody>
            </nz-table>
          </div>
        </div>
        <div *ngIf="Entity.p.LabourExpenseDetailsArray.length === 0 && Entity.p.ExpenseType == LabourExpenseRef"
          class="card-body_light">
          <div style="height: 200px; background-color: white" class="d-flex align-items-center justify-content-center">
            <span class="title_light"> Data Not Found</span>
          </div>
        </div>
        <!-- Labour time table Ends -->


        <div class="col-md-4" style="margin-top: 1rem"
          *ngIf="Entity.p.ExpenseType != LabourExpenseRef && !(Entity.p.ExpenseType == MachinaryExpenseRef&& Entity.p.UnitRef == TimeUnitRef) ">
          <div>
            <label>Quantity</label>
            <input type="number" [(ngModel)]="Entity.p.Qty" name="Qty" class="form-control" id="Qty" required
              placeholder="Enter Quantity" #QtyCtrl="ngModel" (blur)="QtyCtrl.control.markAsTouched()"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateAmount()" />
            <div *ngIf="QtyCtrl.invalid && (QtyCtrl.touched || QtyCtrl.dirty)">
              <span class="validation-text" *ngIf="QtyCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem" *ngIf="Entity.p.ExpenseType != LabourExpenseRef">
          <div>
            <label>Rate</label>
            <input type="number" [(ngModel)]="Entity.p.Rate" name="Rate" class="form-control" id="Rate" required
              placeholder="Enter Rate" #RateCtrl="ngModel" (blur)="RateCtrl.control.markAsTouched()"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateAmount()" />
            <div *ngIf="RateCtrl.invalid && (RateCtrl.touched || RateCtrl.dirty)">
              <span class="validation-text" *ngIf="RateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
            </div>
          </div>
        </div>
        <div class="" style="margin-top: 2.6rem" *ngIf="Entity.p.ExpenseType == MachinaryExpenseRef">
          <div class="d-flex align-items-center mb-2">
            <label for="IsDieselPaid"><b>Diesel Paid</b></label>
            <input type="checkbox" id="IsDieselPaid" [(ngModel)]="Entity.p.IsDieselPaid" name="IsDieselPaid"
              class="form-check-input me-4 mb-2 large-dark-checkbox" (ngModelChange)="DiselPaid(Entity.p.IsDieselPaid)"
              style="width: 20px; height: 20px; margin-left: 1rem" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem" *ngIf="isDieselPaid">
          <label>Diesel Quantity</label>
          <input type="number" [(ngModel)]="Entity.p.DieselQty" name="DieselQty" class="form-control" id="DieselQty"
            required placeholder="Enter Diesel Quantity" #DieselQtyCtrl="ngModel"
            (blur)="DieselQtyCtrl.control.markAsTouched()" (click)="selectAllValue($event)"
            (ngModelChange)="CalculateDieselAmount()" />
          <div *ngIf="
              DieselQtyCtrl.invalid &&
              (DieselQtyCtrl.touched || DieselQtyCtrl.dirty)
            ">
            <span class="validation-text" *ngIf="DieselQtyCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem" *ngIf="isDieselPaid">
          <label>Diesel Rate</label>
          <input type="number" [(ngModel)]="Entity.p.DieselRate" name="DieselRate" class="form-control" id="DieselRate"
            required placeholder="Enter Diesel Rate" #DieselRateCtrl="ngModel"
            (blur)="DieselRateCtrl.control.markAsTouched()" (click)="selectAllValue($event)"
            (ngModelChange)="CalculateDieselAmount()" />
          <div *ngIf="
              DieselRateCtrl.invalid &&
              (DieselRateCtrl.touched || DieselRateCtrl.dirty)
            ">
            <span class="validation-text" *ngIf="DieselRateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem" *ngIf="isDieselPaid">
          <label>Diesel Amount</label>
          <input type="number" [(ngModel)]="Entity.p.DieselAmount" name="DieselAmount" class="form-control"
            id="DieselAmount" required placeholder="Diesel Amount" />
        </div>
      </div>
      <div style="width: 100%" class="d-flex justify-content-center">
        <hr style="border: 2px solid brown" width="20%" />
      </div>
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem">
          <div>
            <label>Billing Amount</label>
            <input type="number" [(ngModel)]="Entity.p.InvoiceAmount" name="InvoiceAmount" class="form-control"
              id="InvoiceAmount" required placeholder="Enter InvoiceAmount" disabled />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem; ">
          <label>Mode of Payment</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="InvoiceModeOfPayment" name="InvoiceModeOfPayment" [nzSize]="'large'"
            [(ngModel)]="Entity.p.InvoiceModeOfPayment">
            <nz-option *ngFor="let mode of ModeofPaymentList" [nzValue]="mode.Ref" [nzLabel]="mode.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <div>
            <label>Narration</label>
            <input type="text" [(ngModel)]="Entity.p.Narration" name="Narration" class="form-control" id="Narration"
              required placeholder="Enter Narration" />
          </div>
        </div>
      </div>
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div *ngIf="!Entity.p.IsInvoiceAutoGenerated">
          <button type="button" class="btn" (click)="SaveInvoiceMaster()">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackInvoice()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isTimeModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>Add Machine Hours</h5>
      <button type="button" class="btn-close" (click)="CloseTimeModal('machinetime')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-4">
            <div>
              <label for="StartTime">Start Time</label>
              <input type="time" name="StartTime" class="form-control" id="StartTime"
                [(ngModel)]="MachineTimeEntity.StartTime" (ngModelChange)="calculateWorkedHours()"
                placeholder="Enter Start Time " #StartTimeCtrl="ngModel" required
                (blur)="StartTimeCtrl.control.markAsTouched()" />
              <!-- <i class="fa fa-clock"></i> -->
              <div *ngIf="(StartTimeCtrl.invalid && (StartTimeCtrl.touched || StartTimeCtrl.dirty))">
                <span class="validation-text" *ngIf="StartTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="EndTime">End Time </label>
              <input type="time" name="EndTime" class="form-control" id="EndTime"
                [(ngModel)]="MachineTimeEntity.EndTime" (ngModelChange)="calculateWorkedHours()"
                placeholder="Enter To Time" #EndTimeCtrl="ngModel" required
                (blur)="EndTimeCtrl.control.markAsTouched()" />
              <!-- <i class="fa fa-clock"></i> -->

              <div *ngIf="(EndTimeCtrl.invalid && (EndTimeCtrl.touched || EndTimeCtrl.dirty))">
                <span class="validation-text" *ngIf="EndTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="DisplayWorkedHours">Total Working Hours</label>
              <input type="text" name="DisplayWorkedHours" class="form-control" id="DisplayWorkedHours"
                [(ngModel)]="MachineTimeEntity.DisplayWorkedHours" placeholder="Total Working Hours" disabled />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <nz-button nz-button class="btn1" (click)="SaveTime()">Save</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="CloseTimeModal('machinetime')">
            Close
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isLabourTimeModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>Add Labour Time</h5>
      <button type="button" class="btn-close" (click)="CloseLabourTimeModal('labourtime')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row">
          <div class="col-md-4" style="margin-top: 2rem; ">
            <label>Labour Type</label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="LabourType"
              name="LabourType" [nzSize]="'large'" [(ngModel)]="LabourTimeEntity.LabourType"
              (ngModelChange)="ClearInputsOnLabourType()">
              <nz-option *ngFor="let labour of LabourTypeList" [nzValue]="labour.Ref"
                [nzLabel]="labour.Name"></nz-option>
            </nz-select>
          </div>
          <div class="col-md-4" style="margin-top: 2rem">
            <div>
              <label for="LabourFromTime">From Time</label>
              <input type="time" name="LabourFromTime" class="form-control" id="LabourFromTime"
                [(ngModel)]="LabourTimeEntity.LabourFromTime" placeholder="From Time " #LabourFromTimeCtrl="ngModel"
                required (blur)="LabourFromTimeCtrl.control.markAsTouched()" />
              <!-- <i class="fa fa-clock"></i> -->
              <div *ngIf="(LabourFromTimeCtrl.invalid && (LabourFromTimeCtrl.touched || LabourFromTimeCtrl.dirty))">
                <span class="validation-text"
                  *ngIf="LabourFromTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top: 2rem">
            <div>
              <label for="LabourToTime">To Time </label>
              <input type="time" name="LabourToTime" class="form-control" id="LabourToTime"
                [(ngModel)]="LabourTimeEntity.LabourToTime" placeholder="To Time" #LabourToTimeCtrl="ngModel" required
                (blur)="LabourToTimeCtrl.control.markAsTouched()" />
              <!-- <i class="fa fa-clock"></i> -->
              <div *ngIf="(LabourToTimeCtrl.invalid && (LabourToTimeCtrl.touched || LabourToTimeCtrl.dirty))">
                <span class="validation-text" *ngIf="LabourToTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top: 2rem">
            <div>
              <label for="LabourQty">Labour Quantity</label>
              <input type="number" name="LabourQty" class="form-control" id="LabourQty"
                [(ngModel)]="LabourTimeEntity.LabourQty" (ngModelChange)="calculateWorkedHours()"
                placeholder="Enter Quantity " #LabourQtyCtrl="ngModel" (ngModelChange)="CalculateLabourAmount()"
                required (blur)="LabourQtyCtrl.control.markAsTouched()" (click)="selectAllValue($event)" />
              <!-- <i class="fa fa-clock"></i> -->
              <div *ngIf="(LabourQtyCtrl.invalid && (LabourQtyCtrl.touched || LabourQtyCtrl.dirty))">
                <span class="validation-text" *ngIf="LabourQtyCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top: 2rem">
            <div>
              <label for="LabourRate">Labour Rate</label>
              <input type="number" name="LabourRate" class="form-control" id="LabourRate"
                [(ngModel)]="LabourTimeEntity.LabourRate" (ngModelChange)="calculateWorkedHours()"
                placeholder="Enter Rate " #LabourRateCtrl="ngModel" (ngModelChange)="CalculateLabourAmount()" required
                (blur)="LabourRateCtrl.control.markAsTouched()" (click)="selectAllValue($event)" />
              <!-- <i class="fa fa-clock"></i> -->
              <div *ngIf="(LabourRateCtrl.invalid && (LabourRateCtrl.touched || LabourRateCtrl.dirty))">
                <span class="validation-text" *ngIf="LabourRateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top: 2rem">
            <div>
              <label for="LabourAmount">Labour Amount</label>
              <input type="number" name="LabourAmount" class="form-control" id="LabourAmount"
                [(ngModel)]="LabourTimeEntity.LabourAmount" placeholder="Amount" disabled />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <nz-button nz-button class="btn1" (click)="SaveLabourTime()">Save</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="CloseLabourTimeModal('labourtime')">
            Close
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>
