.material-header {
    background-color: var(--ion-color-light);
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
}

.material-row {
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}
::ng-deep .custom-modal {
    --width: 90%;
    --height: auto;
    --max-height: 80%;
    --border-radius: 16px;
    --background: var(--ion-background-color);

    .modal-toolbar {
        border-radius: 16px 16px 0 0;
    }

    .modal-body {
        overflow-y: auto;
        max-height: 60vh;
    }

    .modal-footer {
        padding: 1rem;
        border-top: 1px solid var(--ion-color-step-150);
    }

    ion-item {
        margin-bottom: 12px;
    }
}