<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackStockInward()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
    </ng-template>
    <!-- If file not selected -->
    <ng-template #NoFile> No file selected </ng-template>

    <!-- Fallback: If file is missing entirely -->
    <ng-template #defaultImage>
      <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
    </ng-template>

    <!-- Fallback: If file is not an image (e.g., PDF/DOC) -->
    <ng-template #defaultDocImage>
      <img src="/assets/icons/doc-placeholder.png" alt="Document File" class="file-preview" />
    </ng-template>

    <form autocomplete="off" #requisitionForm="ngForm">
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
          <label>Inward Date</label>
          <input type="date" name="InwardDate" class="form-control" id="InwardDate" [(ngModel)]="InwardDate"
            #InwardDateCtrl="ngModel" disabled (blur)="InwardDateCtrl.control.markAsTouched()"
            placeholder="Enter Site Name" [min]="Entity.p.PurchaseOrderDate" />
          <div *ngIf="InwardDateCtrl.invalid && (InwardDateCtrl.touched || InwardDateCtrl.dirty)">
            <span class="validation-text" *ngIf="InwardDateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <label><b>Chalan No</b></label>
          <input type="number" [(ngModel)]="Entity.p.ChalanNo" name="ChalanNo" class="form-control" id="ChalanNo"
            placeholder="Chalan No" disabled />
        </div>
        <div class="col-md-4">

          <label for="SiteRef"><b>Site</b></label>
          <nz-select class="nzSelect-light" [disabled]="!this.IsNewEntity" [nzNotFoundContent]="noDataTpl" nzShowSearch
            nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'" name="SiteRef" id="SiteRef"
            [(ngModel)]="Entity.p.SiteRef" (ngModelChange)="getOrderIdListByCompanySiteAndVendorRef()">
            <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label for="VendorRef"><b>Vendor</b></label>
          <nz-select class="nzSelect-light" [disabled]="!this.IsNewEntity" [nzNotFoundContent]="noDataTpl" nzShowSearch
            nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'" name="VendorRef" id="VendorRef"
            [(ngModel)]="Entity.p.VendorRef"
            (ngModelChange)="getOrderIdListByCompanySiteAndVendorRef(); onVendorSelection(Entity.p.VendorRef);">
            <nz-option *ngFor="let Vendor of VendorList" [nzValue]="Vendor.p.Ref" [nzLabel]="Vendor.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label><b>Vendor Trade Name</b></label>
          <input type="text" [(ngModel)]="Entity.p.VendorTradeName" name="VendorTradeName" class="form-control"
            id="VendorTradeName" placeholder="Vendor Trade Name" disabled />
        </div>
        <div class="col-md-4">
          <label><b>Vendor Mobile No</b></label>
          <input type="text" [(ngModel)]="Entity.p.VendorPhoneNo" name="VendorPhoneNo" class="form-control"
            id="VendorPhoneNo" placeholder="Vendor Mob No" disabled />
        </div>

        <div class="col-md-4">
          <label><b>Vehicle No</b></label>
          <input type="text" [(ngModel)]="Entity.p.VehicleNo" name="VehicleNo" class="form-control" id="VehicleNo"
            placeholder="Vehicle No" />
        </div>
        <div class="col-md-4">
          <label for="MaterialPurchaseOrderRef"><b>Purchase ID</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" [disabled]="!this.IsNewEntity" nzShowSearch
            nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'" name="MaterialPurchaseOrderRef"
            id="MaterialPurchaseOrderRef" [(ngModel)]="Entity.p.MaterialPurchaseOrderRef"
            (ngModelChange)="getMaterialListByCompanySiteVendorRefAndPurchaseOrderID();">
            <nz-option *ngFor="let OrderId of PurchaseOrderIdList" [nzValue]="OrderId.p.Ref"
              [nzLabel]="OrderId.p.DisplayPurchaseOrderId"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <label>Invoice</label>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-between">
          <!-- Upload icon triggers file input -->
          <img src="/assets/icons/upload.png" alt="Invoice" title="Upload Invoice" class="Upload-Icon"
            (click)="triggerFileInput()" />

          <ng-container *ngIf="selectedFileName; else NoFile">
            <span style="cursor: pointer" (click)="fileNavigation(Entity.p.MaterialInwardInvoicePath)">
              {{ selectedFileName }}
            </span>
          </ng-container>

          <!-- Hidden File Input -->
          <input type="file" #fileInput accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
            (change)="onFileUpload($event)" />

          <!-- Invoice File Display -->
          <ng-container *ngIf="Entity.p.MaterialInwardInvoicePath; else AddDocImage">
            <img [src]="
                isImageFile(Entity.p.MaterialInwardInvoicePath)
                  ? imagePostView
                  : '/assets/icons/doc-placeholder.png'" alt="Invoice" title="Invoice"
              (click)="fileNavigation(Entity.p.MaterialInwardInvoicePath)" [class]="
                isImageFile(Entity.p.MaterialInwardInvoicePath)
                  ? 'img-preview'
                  : 'file-preview'" />
          </ng-container>

          <ng-template #AddDocImage>
            <ng-container *ngIf="imagePreView; else defaultImage">
              <img [src]="
                  isImageFile(selectedFileName)
                    ? imagePreView
                    : '/assets/icons/doc-placeholder.png'" alt="Invoice" title="Invoice"
                (click)="fileNavigation(this.Entity.p.MaterialInwardInvoicePath)" [class]="
                  isImageFile(selectedFileName) ? 'img-preview' : 'file-preview'" />
            </ng-container>
          </ng-template>
        </div>
      </div>
      <div class="row" style="margin-top: 2rem; padding: 1rem">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
          <h5 style="padding-top: 3px; color: black">
            <b>Inwarded Material List</b>
          </h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" *ngIf="IsNewEntity"
          style="display: flex; justify-content: end" routerLinkActive="active">
          <nz-button nz-button class="btn1" (click)="openModal('material')">Add Material</nz-button>
        </div>
      </div>

      <div class="table-wrapper tblcard_light"
        *ngIf="Entity.p.MaterialInwardDetailsArray.length > 0">
        <div class="table-container" style="margin-top: 2rem">
          <div class="row">
            <div class="col-12">
              <h3 class="TableHeading">Materials Details</h3>
            </div>
          </div>
          <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{ x: 'auto' }"
            nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.MaterialInwardDetailsArray">
            <thead>
              <tr>
                <th *ngFor="let header of materialheaders" class="tblsubheader">
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let material of Entity.p.MaterialInwardDetailsArray;
                  let i = index">
                <td Class="tbldata">{{ i + 1 }}</td>
                <td Class="tbldata">{{formatDate(material.Date)}}</td>
                <td Class="tbldata">{{ material.MaterialName }}</td>
                <td Class="tbldata">{{ material.UnitName }}</td>
                <td Class="tbldata">{{ material.PurchaseOrderQty }}</td>
                <td Class="tbldata">{{ material.InwardQty }}</td>
                <td Class="tbldata">{{ material.PurchaseOrderRemainingQty}}</td>
                <td Class="tbldata">{{ material.Rate | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.DiscountedRate | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.Gst }}%</td>
                <td Class="tbldata">{{ material.DeliveryCharges | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.DiscountOnNetAmount | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.NetAmount | currency : "INR"}}</td>
                <td Class="tbldata">{{ material.TotalAmount | currency : "INR"}}</td>
                <td class="tbldata">
                  <span style="margin-left: 9px" (click)="removeMaterial(i)">
                    <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
                </td>
              </tr>
              <tr>
                <td class="tbldata" colspan="2"><b>Grand Total</b></td>
                <td class="tbldata" colspan="11"></td>
                <td class="tbldata">
                  <b>{{ getGrandTotal() | currency : "INR"}}</b>
                </td>
                <td class="tbldata"><b></b></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div *ngIf="Entity.p.MaterialInwardDetailsArray.length === 0" class="card-body_light">
        <div style="height: 200px; background-color: white" class="d-flex align-items-center justify-content-center">
          <span class="title_light"> Data Not Found</span>
        </div>
      </div>
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button type="button" class="btn" (click)="SaveStockInward()" [disabled]="!IsNewEntity">
            Save
          </button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="BackStockInward()">
            Cancel
          </nz-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="ismaterialModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>{{ ModalEditable ? "Edit Material" : "Add Material" }}</h5>
      <button type="button" class="btn-close" (click)="closeModal('material')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row">
          <div class="col-md-4 col-6 mb-1">
            <label>Date</label>
            <input type="date" name="Date" class="form-control" id="Date" [(ngModel)]="newInward.Date"
              placeholder="Ordered Date" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Material Name</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="MaterialRef" [nzSize]="'large'" name="MaterialRef"
              [(ngModel)]="newInward.MaterialRef" (ngModelChange)="OnMaterialSelection()" [nzDisabled]="ModalEditable"
              placeholder="Select Material">

              <nz-option *ngFor="let material of MaterialList" [nzValue]="material.p.MaterialRef"
                [nzLabel]="material.p.MaterialName">
              </nz-option>
            </nz-select>
            <input *ngIf="ModalEditable" type="text" name="MaterialName" class="form-control" disabled
              [(ngModel)]="newInward.MaterialName" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Unit</label>
            <input type="text" name="UnitRef" class="form-control" [(ngModel)]="newInward.UnitName" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Ordered Quantity</label>
            <input type="text" appCommaFormat name="PurchaseOrderQty" class="form-control"
              [(ngModel)]="newInward.PurchaseOrderQty" required placeholder="Ordered Quantity"
              (click)="selectAllValue($event)" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Inward Quantity</label>
            <input type="text" appCommaFormat name="InwardQty" class="form-control" [(ngModel)]="newInward.InwardQty"
              required placeholder="Inward Quantity" (click)="selectAllValue($event)" (ngModelChange)="
                CalculateRemainingQty(
                  newInward.InwardQty,
                  newInward.PurchaseOrderRemainingQty
                )" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Remaining Quantity</label>
            <input type="text" appCommaFormat name="RemainingQty" class="form-control" [(ngModel)]="NewRemainingQty"
              required placeholder="Remaining Quantity" (click)="selectAllValue($event)" disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Rate</label>
            <input type="text" appCommaFormat name="Rate" class="form-control" [(ngModel)]="newInward.Rate"
              #RateCtrl="ngModel" required (blur)="RateCtrl.control.markAsTouched()" placeholder="Enter Rate"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateNetAmountAndTotalAmount()" />
            <div *ngIf="RateCtrl.invalid && (RateCtrl.touched || RateCtrl.dirty)">
              <span class="validation-text" *ngIf="RateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Discount Rate</label>
            <input type="text" appCommaFormat name="DiscountedRate" class="form-control"
              [(ngModel)]="newInward.DiscountedRate" (ngModelChange)="CalculateNetAmountAndTotalAmount()"
              #DiscountedRateCtrl="ngModel" required (blur)="DiscountedRateCtrl.control.markAsTouched()"
              placeholder="Enter Discount Rate" (click)="selectAllValue($event)" />
            <div *ngIf="
                DiscountedRateCtrl.invalid &&
                (DiscountedRateCtrl.touched || DiscountedRateCtrl.dirty)">
            </div>
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Net Discount</label>
            <input type="text" appCommaFormat name="DiscountOnNetAmount" class="form-control"
              [(ngModel)]="newInward.DiscountOnNetAmount" placeholder="Enter Delivery Charges"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateNetAmountAndTotalAmount()" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Net Amount</label>
            <input type="text" appCommaFormat name="NetAmount" class="form-control" [(ngModel)]="newInward.NetAmount"
              disabled />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <div>
              <label for="Gst"><b>GST</b></label>
              <nz-select class="nzSelect-light" nzShowSearch nzAllowClear [nzNotFoundContent]="noDataTpl"
                nzPlaceHolder="Select" [nzSize]="'large'" name="Gst" required id="Gst" [(ngModel)]="newInward.Gst"
                (ngModelChange)="CalculateNetAmountAndTotalAmount()">
                <nz-option nzLabel="None" [nzValue]="0"></nz-option>
                <nz-option nzLabel="5%" [nzValue]="5"></nz-option>
                <nz-option nzLabel="9%" [nzValue]="9"></nz-option>
                <nz-option nzLabel="18%" [nzValue]="18"></nz-option>
                <nz-option nzLabel="27%" [nzValue]="27"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Delivery Charges</label>
            <input type="text" appCommaFormat name="DeliveryCharges" class="form-control"
              [(ngModel)]="newInward.DeliveryCharges" placeholder="Enter Delivery Charges"
              (click)="selectAllValue($event)" (ngModelChange)="CalculateNetAmountAndTotalAmount()" />
          </div>
          <div class="col-md-4 col-6 mb-1">
            <label>Total Amount</label>
            <input type="text" appCommaFormat name="TotalAmount" class="form-control"
              [(ngModel)]="newInward.TotalAmount" disabled />
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <nz-button nz-button class="btn1" (click)="addMaterial()">{{
            ModalEditable ? "Upadte" : "Save"
            }}</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('material')">
            Cancel
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>
