<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackStockInward()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
    </ng-template>
    <!-- If file not selected -->
    <ng-template #NoFile> No file selected </ng-template>

    <!-- Fallback: If file is missing entirely -->
    <ng-template #defaultImage>
      <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
    </ng-template>

    <!-- Fallback: If file is not an image (e.g., PDF/DOC) -->
    <ng-template #defaultDocImage>
      <img src="/assets/icons/doc-placeholder.png" alt="Document File" class="file-preview" />
    </ng-template>

    <form autocomplete="off" #requisitionForm="ngForm">
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Site Name</label>
          <nz-select class="nzSelect-light" nzShowSearch [nzNotFoundContent]="noDataTpl" nzAllowClear
            nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef"
            required (ngModelChange)="getMaterialListByCompanyRef(Entity.p.SiteRef)">
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Ordered Date</label>
          <input type="date" name="PurchaseOrderDate" class="form-control" id="PurchaseOrderDate" [(ngModel)]="Entity.p.PurchaseOrderDate"
            #PurchaseOrderDateCtrl="ngModel" required (blur)="PurchaseOrderDateCtrl.control.markAsTouched()"
            placeholder="Enter Site Name" readonly />
          <div *ngIf="
              PurchaseOrderDateCtrl.invalid &&
              (PurchaseOrderDateCtrl.touched || PurchaseOrderDateCtrl.dirty)
            ">
            <span class="validation-text" *ngIf="PurchaseOrderDateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label>Inward Date</label>
          <input type="date" name="InwardDate" class="form-control" id="InwardDate" [(ngModel)]="Entity.p.InwardDate"
            #InwardDateCtrl="ngModel" required (blur)="InwardDateCtrl.control.markAsTouched()"
            placeholder="Enter Site Name" [min]="Entity.p.PurchaseOrderDate" />
          <div *ngIf="
              InwardDateCtrl.invalid &&
              (InwardDateCtrl.touched || InwardDateCtrl.dirty)
            ">
            <span class="validation-text" *ngIf="InwardDateCtrl.errors?.['required']">{{ RequiredFieldMsg }}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Vendor Name</b></label>
          <input type="text" [(ngModel)]="Entity.p.VendorName" name="VendorName" class="form-control" id="VendorName"
            placeholder="Vendor Name" />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Vendor Trade Name</b></label>
          <input type="text" [(ngModel)]="Entity.p.VendorTradeName" name="VendorTradeName" class="form-control"
            id="VendorTradeName" placeholder="Vendor Trade Name" readonly />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Vendor Mob No</b></label>
          <input type="text" [(ngModel)]="Entity.p.VendorMobNo" name="VendorMobNo" class="form-control" id="VendorMobNo"
            placeholder="Vendor Mob No" readonly />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Chalan No</b></label>
          <input type="number" [(ngModel)]="Entity.p.ChalanNo" name="ChalanNo" class="form-control" id="ChalanNo"
            placeholder="Chalan No" readonly />
        </div>
        <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Vehicle No</b></label>
          <input type="text" [(ngModel)]="Entity.p.VehicleNo" name="VehicleNo" class="form-control" id="VehicleNo"
            placeholder="Vehicle No" />
        </div>
        <!-- <div class="col-md-4" style="margin-top: 1rem">
          <label><b>Remaining Required Quantity</b></label>
          <input type="number" [(ngModel)]="Entity.p.RemainingQty" name="RemainingQty" class="form-control" id="RemainingQty"
            placeholder="Remaining Required Quantity" />
        </div> -->
      </div>
      <div class="row mt-3">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <label>Invoice</label>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-between">
          <!-- Upload icon triggers file input -->
          <img src="/assets/icons/upload.png" alt="Invoice" title="Upload Invoice" class="Upload-Icon"
            (click)="triggerFileInput()" />

          <ng-container *ngIf="selectedFileName; else NoFile">
            <span style="cursor: pointer" (click)="fileNavigation(Entity.p.InvoicePath)">
              {{ selectedFileName }}
            </span>
          </ng-container>

          <!-- Hidden File Input -->
          <input type="file" #fileInput accept=".jpg,.jpeg,.png,.gif,.pdf" style="display: none"
            (change)="onFileUpload($event)" />

          <!-- Customer Aadhar Image Display -->
          <ng-container *ngIf="Entity.p.InvoicePath; else AddDocImage">
            <img [src]="
                isImageFile(Entity.p.InvoicePath)
                  ? imagePostView
                  : '/assets/icons/doc-placeholder.png'
              " alt="Invoice" title="Invoice" (click)="fileNavigation(Entity.p.InvoicePath)" [class]="
                isImageFile(Entity.p.InvoicePath)
                  ? 'img-preview'
                  : 'file-preview'
              " />
          </ng-container>

          <ng-template #AddDocImage>
            <ng-container *ngIf="imagePreView; else defaultImage">
              <img [src]="
                  isImageFile(selectedFileName)
                    ? imagePreView
                    : '/assets/icons/doc-placeholder.png'
                " alt="Invoice" title="Invoice" (click)="fileNavigation(this.Entity.p.InvoicePath)" [class]="
                  isImageFile(selectedFileName) ? 'img-preview' : 'file-preview'
                " />
            </ng-container>
          </ng-template>
        </div>
      </div>
      <div class="row" style="margin-top: 2rem; padding: 1rem">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
          <h5 style="padding-top: 3px; color: black">
            <b>Inwarded Material List</b>
          </h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" *ngIf="!isSaveDisabled"
          style="display: flex; justify-content: end" routerLinkActive="active">
          <nz-button nz-button class="btn1" (click)="openModal('material')">Add Material</nz-button>
        </div>
      </div>

      <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem"
        *ngIf="Entity.p.MaterialInwardDetailsArray.length > 0">
        <div class="table-container" style="margin-top: 2rem">
          <div class="row">
            <div class="col-12">
              <h3 class="TableHeading">Materials Details</h3>
            </div>
          </div>
          <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{ x: 'auto' }"
            nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.MaterialInwardDetailsArray">
            <thead>
              <tr>
                <th *ngFor="let header of materialheaders" class="tblsubheader">
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let material of Entity.p.MaterialInwardDetailsArray;
                  let i = index
                ">
                <td Class="tbldata">{{ i + 1 }}</td>
                <td Class="tbldata">{{ material.MaterialName }}</td>
                <td Class="tbldata">{{ material.UnitName }}</td>
                <td Class="tbldata">{{ material.OrderedQty }}</td>
                <td Class="tbldata">{{ material.InwardQty }}</td>
                <td Class="tbldata">{{ material.RemainingQty }}</td>
                <td class="tbldata">
                  <!-- <span style="margin-left: 9px" (click)="editMaterial(i)">
                    <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
                  </span> -->
                  <span style="margin-left: 9px" (click)="removeMaterial(i)">
                    <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div *ngIf="Entity.p.MaterialInwardDetailsArray.length === 0" class="card-body_light">
        <div style="height: 200px; background-color: white" class="d-flex align-items-center justify-content-center">
          <span class="title_light"> Data Not Found</span>
        </div>
      </div>
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button  type="button" class="btn" (click)="SaveStockInward()" [disabled]="isSaveDisabled">
            Save
          </button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="BackStockInward()">
            Cancel
          </nz-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="ismaterialModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>{{ ModalEditable ? "Edit Material" : "Add Material" }}</h5>
      <button type="button" class="btn-close" (click)="closeModal('material')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row">
          <div class="col-md-6" style="margin-top: 1rem">
            <label>Material Name</label>
            <nz-select *ngIf="!ModalEditable" class="nzSelect-light" nzShowSearch [nzNotFoundContent]="noDataTpl"
              nzAllowClear nzPlaceHolder="Select" id="MaterialRef "
              name="MaterialRef " [nzSize]="'large'"
              [(ngModel)]="newInward.MaterialRef " required (ngModelChange)="
                getUnitByMaterialRef(newInward.MaterialRef )
              ">
              <nz-option *ngFor="let material of MaterialList" [nzValue]="material.p.MaterialRef "
                [nzLabel]="material.p.MaterialName"></nz-option>
            </nz-select>
            <input *ngIf="ModalEditable" type="text" name="MaterialName" class="form-control" readonly
              [(ngModel)]="newInward.MaterialName" />
          </div>
          <div class="col-md-6" style="margin-top: 1rem">
            <label>Unit</label>
            <input type="text" name="UnitRef" class="form-control" [(ngModel)]="newInward.UnitName" readonly />
          </div>
          <div class="col-md-6" style="margin-top: 1rem">
            <label>Ordered Quantity</label>
            <input type="number" name="OrderedQty" class="form-control" [(ngModel)]="newInward.OrderedQty" required
              placeholder="Ordered Quantity" (click)="selectAllValue($event)" />
          </div>
          <div class="col-md-6" style="margin-top: 1rem">
            <label>Inward Quantity</label>
            <input type="number" name="InwardQty" class="form-control" [(ngModel)]="newInward.InwardQty" required
              placeholder="Inward Quantity" (click)="selectAllValue($event)" (ngModelChange)="
                CalculateRemainingQty(
                  newInward.InwardQty,
                  newInward.RemainingQty
                )
              " />
          </div>
          <div class="col-md-6" style="margin-top: 1rem">
            <label>Remaining Quantity</label>
            <input type="number" name="RemainingQty" class="form-control" [(ngModel)]="NewRemainingQty" required
              placeholder="Remaining Quantity" (click)="selectAllValue($event)" readonly />
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <nz-button nz-button class="btn1" (click)="addMaterial()">{{
            ModalEditable ? "Upadte" : "Save"
            }}</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('material')">
            Cancel
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>