<div class="chip-scroll-container">
  <ng-container *ngFor="let filter of filters">
    <div class="chip-with-clear">
      <ion-select [interface]="'popover'" [mode]="'ios'" [multiple]="filter.multi" [value]="filter.selected"
        (ionChange)="onFilterChange(filter.key, $event.detail.value)" [placeholder]="getSelectedNames(filter)"
        class="chip-select">
        <!-- Show this if no options -->
        <ion-select-option disabled *ngIf="!filter.options?.length">
          No options available
        </ion-select-option>

        <!-- Render actual options -->
        <ion-select-option *ngFor="let option of filter.options" [value]="option.Ref">
          {{ option.Name }}
        </ion-select-option>
      </ion-select>

      <!-- ✅ SINGLE & MULTI clear -->
    <ion-icon
      *ngIf="(filter.multi && filter.selected?.length > 0) || (!filter.multi && filter.selected !== null && filter.selected !== undefined)"
      name="close-circle" class="clear-icon" color="primary" (click)="onClearClick($event, filter.key)">
    </ion-icon>

    </div>
  </ng-container>

  <!-- Clear All Button -->
  <ion-button size="small" fill="outline" (click)="clearAllFilters()">
    Clear All
  </ion-button>
</div>