<div class="chip-scroll-container">
  <ng-container *ngFor="let filter of filters">
    <div class="chip-with-clear">
      <ion-select [interface]="'popover'" [multiple]="filter.multi" [value]="filter.selected"
        (ionChange)="onFilterChange(filter.key, $event.detail.value)" [placeholder]="getSelectedNames(filter)"
        class="chip-select">
        <ion-select-option *ngFor="let option of filter.options" [value]="option.Ref">
          {{ option.Name }}
        </ion-select-option>
      </ion-select>

      <!-- Show ❌ only if something is selected -->
      <ion-icon *ngIf="(filter.multi && filter.selected.length) || (!filter.multi && filter.selected)"
        name="close-circle" class="clear-icon" (click)="clearFilter(filter.key)"></ion-icon>
    </div>
  </ng-container>

  <!-- Clear All Button -->
  <ion-button size="small" fill="outline" (click)="clearAllFilters()">
    Clear All
  </ion-button>
</div>