<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackCustomerEnquiry()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Customer Enquiry</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form #myForm="ngForm" autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <!-- Todays Date  -->
        <div class="col-md-4 mt-2" *ngIf="IsNewEntity">
          <div>
            <label>Date</label>
            <input type="date" name="Date" class="form-control" id="Date" [(ngModel)]="Date" required readonly />
          </div>
        </div>
        <!-- Name  -->
        <div class="col-md-4 mt-2">
          <div>
            <label>Name</label>
            <input type="text" name="Name" class="form-control" id="Name " [(ngModel)]="Entity.p.Name" required
              placeholder="Enter First Name" (focus)="selectAll($event)" pattern="{{NameWithNosAndSpace}}"
              #NameCtrl="ngModel" required (blur)="NameCtrl.control.markAsTouched()" />
            <div *ngIf="(NameCtrl.invalid && (NameCtrl.touched || NameCtrl.dirty))">
              <span class="validation-text" *ngIf="NameCtrl.errors?.['pattern']">{{NameWithoutNosMsg}}</span>
              <span class="validation-text" *ngIf="NameCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <!-- Contact No -->
        <div class="col-md-4 mt-2">
          <div>
            <label for="ContactNos">Contact Nos</label>
            <input type="text" name="ContactNos" class="form-control" [(ngModel)]="Entity.p.ContactNos" id="ContactNos"
              required placeholder="Enter Contact Nos" (focus)="selectAll($event)" />
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="row" style="margin-top: 1rem; "> -->
        <!-- Country -->
        <div class="col-md-4 mt-2">
          <div>
            <label for="CountryRef"><b>Country</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" [nzSize]="'large'" name="CountryRef" required id="CountryRef"
              [(ngModel)]="Entity.p.CountryRef" (ngModelChange)="getStateListByCountryRef(Entity.p.CountryRef)">
              <nz-option *ngFor="let country of CountryList" [nzLabel]="country.p.Name"
                [nzValue]="country.p.Ref"></nz-option>
            </nz-select>
          </div>
        </div>
        <!-- State -->
        <div class="col-md-4 mt-2">
          <div>
            <label for="StateRef"><b>State</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="StateRef" name="StateRef" [nzSize]="'large'" [(ngModel)]="Entity.p.StateRef"
              (ngModelChange)="getCityListByStateRef(Entity.p.StateRef)">
              <nz-option *ngFor="let state of StateList" [nzValue]="state.p.Ref" [nzLabel]="state.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <!-- City  -->
        <div class="col-md-4 mt-2">
          <div>
            <label for="CityRef"><b>City</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="CityRef" name="CityRef" [nzSize]="'large'" [(ngModel)]="Entity.p.CityRef">
              <nz-option *ngFor="let city of CityList" [nzValue]="city.p.Ref" [nzLabel]="city.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <!-- </div>
      <div class="row" style="margin-top: 1rem; "> -->
        <!-- Address  -->
        <div class="col-md-4 mt-2">
          <div>
            <label>Address</label>
            <input type="text" name="address" class="form-control" [(ngModel)]="Entity.p.Address" id="address" required
              placeholder="Enter Address" (focus)="selectAll($event)" />
          </div>
        </div>
        <!-- Pin Code  -->
        <div class="col-md-4 col-md-4 col-sm-12 mt-2">
          <label>Pin Code</label>
          <input type="text" name="PinCode" class="form-control" [(ngModel)]="Entity.p.PinCode" id="PinCode" required
            placeholder="Enter Pin Code" (focus)="selectAll($event)" pattern="{{PinCode}}" #PinCodeCtrl="ngModel"
            required (blur)="PinCodeCtrl.control.markAsTouched()" />
          <div *ngIf="(PinCodeCtrl.invalid && (PinCodeCtrl.touched || PinCodeCtrl.dirty))">
            <span class="validation-text" *ngIf="PinCodeCtrl.errors?.['pattern']">{{PinCodeWithoutMsg}}</span>
            <span class="validation-text" *ngIf="PinCodeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <!-- Customer Requirement  -->
        <div class="col-md-4 col-md-4 col-sm-12 mt-2" *ngIf="IsNewEntity">
          <label>Customer Requirement</label>
          <textarea type="text" rows="1" name="CustomerRequirement" class="form-control"
            [(ngModel)]="Entity.p.CustomerFollowUps[0].CustomerRequirement" id="CustomerRequirement" required
            placeholder="Enter Customer Requirement">
          </textarea>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;" *ngIf="IsNewEntity">
        <!-- Intrested Site  -->
        <div class="col-md-4">
          <div>
            <label for="SiteManagementRef"><b>Interested site</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" [nzSize]="'large'" name="SiteManagementRef" [(ngModel)]="SiteManagementRef"
              id="SiteManagementRef" (ngModelChange)="getPlotBySiteRefList(SiteManagementRef)">
              <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
            </nz-select>
            <!--
            [required]="isSIteVisitSelected()"
            <div *ngIf="isSIteVisitSelected() && !SiteManagementRef" class="text-danger mt-1">
              Interested site is required
            </div> -->
          </div>
        </div>
        <!-- Intrested Plot  -->
        <div class="col-md-4">
          <div>
            <label for="InterestedPlotRef"><b>Interested Plots</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="InterestedPlotRef" name="InterestedPlotRef" [(ngModel)]="InterestedPlotRef"
              [nzSize]="'large'">
              <nz-option *ngFor="let Plot of PlotList" [nzValue]="Plot.p.Ref" [nzLabel]="Plot.p.PlotNo"></nz-option>
            </nz-select>
            <!--   [required]="isSIteVisitSelected()"
            <div *ngIf="isSIteVisitSelected() && !InterestedPlotRef" class="text-danger mt-1">
              Interested plot is required
            </div> -->
          </div>
        </div>
        <!-- Add button  -->
        <div class="col-md-4" style="margin-top: 33px;">
          <div>
            <button type="button" class="btn" (click)="addDataToTable()">Add</button>
          </div>
        </div>
      </div>
      <!-- Table For SIte and Plot details -->
      <div class="table-container" style="margin-top: 2rem" *ngIf="IsPlotDetails && IsNewEntity">
        <div class="row">
          <div class="col-12">
            <label class="TableHeading">Intrested Plots</label>
          </div>
        </div>
        <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{ x: 'auto' }"
          nzFrontPagination="false" [nzShowSizeChanger]="false"
          [nzData]="Entity.p.CustomerFollowUps[0].CustomerFollowUpPlotDetails">
          <thead>
            <tr>
              <th *ngFor="let header of Plotheaders" class="tblheadersecond">
                {{header}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plot of Entity.p.CustomerFollowUps[0].CustomerFollowUpPlotDetails; let i = index">
              <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td Class="tbldata">{{ plot.SiteRef }}</td>
              <td Class="tbldata">{{ plot.PlotAreaInSqm }}</td>
              <td Class="tbldata">{{ plot.PlotAreaInSqft }}</td>
              <td class="tbldata">
                <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
                  nzPlaceHolder="Select" name="{{plot.PlotName.trim() + '_' + i + 100}}"
                  [(ngModel)]="plot.CustomerStatus" [nzSize]="'large'">
                  <nz-option *ngFor="let customerstatus of CustomerStatusList" [nzValue]="customerstatus.Ref"
                    [nzLabel]="customerstatus.Name"></nz-option>
                </nz-select>
              </td>
              <td class="tbldata">
                <input type="text" name="{{plot.PlotName.trim() + '_' + i + 1000}}" class="form-control"
                  [(ngModel)]="plot.Reason" required placeholder="Enter Reason" />
              </td>
              <!-- <td Class="tbldata">{{ plot.CustomerStatus }}</td> -->
              <!-- <td Class="tbldata">{{ plot.Reason }}</td> -->
              <!-- <td Class="tbldata">{{ plot.p.BookingRemark }}</td>  -->
            </tr>
          </tbody>
        </nz-table>
      </div>

      <hr style="color: black;">

      <div class="row" style="margin-top: 1rem;" *ngIf="IsNewEntity">
        <!-- Lead Source  -->
        <div class="col-md-4">
          <div>
            <label for="LeadSourceRef"><b>Lead Source</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" [nzSize]="'large'" name="LeadSourceRef" required id="LeadSourceRef"
              [(ngModel)]="Entity.p.CustomerFollowUps[0].LeadSource"
              (ngModelChange)="onLeadSourceChange(Entity.p.CustomerFollowUps[0].LeadSource)">
              <nz-option *ngFor="let Mode of MarketingModesList" [nzValue]="Mode.Ref" [nzLabel]="Mode.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <!-- Additional input field for Agent Broker -->
        <div class="col-md-4" *ngIf="showAgentBrokerInput">
          <div>
            <label for="AgentName"><b>Agent Name</b></label>
            <input type="text" name="AgentName" class="form-control" id="AgentName"
              [(ngModel)]="Entity.p.CustomerFollowUps[0].BrokerName" required placeholder="Enter Agent Name">
          </div>
        </div>
        <!-- End -->

        <!-- Lead Handle By  -->
        <div class="col-md-4">
          <div>
            <label for="LeadHandledByRef"><b>Lead Handled By</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="LeadHandledByRef" name="LeadHandledByRef"
              [(ngModel)]="Entity.p.CustomerFollowUps[0].LeadHandleBy" [nzSize]="'large'">
              <nz-option *ngFor="let Employee of EmployeeList" [nzValue]="Employee.p.Ref"
                [nzLabel]="Employee.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <!-- Contact Mode  -->
        <div class="col-md-4" *ngIf="!showAgentBrokerInput">
          <div>
            <label for="ContactModeRef"><b>Contact Mode</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="ContactModeRef" name="ContactModeRef"
              [(ngModel)]="Entity.p.CustomerFollowUps[0].ContactMode" [nzSize]="'large'">
              <nz-option *ngFor="let contactmode of ContactModeList" [nzValue]="contactmode.Ref"
                [nzLabel]="contactmode.Name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;" *ngIf="IsNewEntity">
        <div class="col-md-4" *ngIf="showAgentBrokerInput">
          <div>
            <label for="ContactModeRef"><b>Contact Mode</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="ContactModeRef" name="ContactModeRef"
              [(ngModel)]="Entity.p.CustomerFollowUps[0].ContactMode" [nzSize]="'large'">
              <nz-option *ngFor="let contactmode of ContactModeList" [nzValue]="contactmode.Ref"
                [nzLabel]="contactmode.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <!-- Reason  -->
        <div class="col-md-4" *ngIf="IsNewEntity">
          <div>
            <label>Reason</label>
            <textarea type="text" name="Reason" [(ngModel)]="Entity.p.CustomerFollowUps[0].Reason" class="form-control"
              id="Reason " required placeholder="Enter Reason">
            </textarea>
          </div>
        </div>
        <!-- Customer Status  -->
        <div class="col-md-4">
          <div>
            <label for="CustomerStatusRef"><b>Customer Status</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="CustomerStatusRef" name="CustomerStatusRef"
              [(ngModel)]="Entity.p.CustomerFollowUps[0].CustomerStatus" (ngModelChange)="onStatusChange($event)"
              [nzSize]="'large'">
              <ng-container *ngFor="let customerstatus of CustomerStatusList">
                <nz-option *ngIf="customerstatus.Ref !== 30 && customerstatus.Ref !== 40" [nzValue]="customerstatus.Ref"
                  [nzLabel]="customerstatus.Name"></nz-option>
              </ng-container>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;" *ngIf="IsNewEntity">
        <!-- Remark  -->
        <div class="col-md-4">
          <div>
            <label>Remark</label>
            <input type="text" name="Remark" [(ngModel)]="Entity.p.CustomerFollowUps[0].Remark" class="form-control"
              id="Remark " required placeholder="Enter Remark" />
          </div>
        </div>
        <!-- Next Site Visit Date  -->
        <div class="col-md-4">
          <div>
            <label for="localSiteVisitDate">Next Site Visit Date</label>
            <input type="Date" name="localSiteVisitDate" [(ngModel)]="localSiteVisitDate" [min]="today"
              class="form-control" id="localSiteVisitDate" required />
          </div>
        </div>

        <!-- Next Office Visit Date -->
        <div class="col-md-4">
          <div>
            <label for="localOfficeVisitDate">Next Office Visit Date</label>
            <input type="Date" name="localOfficeVisitDate" [(ngModel)]="localOfficeVisitDate" [min]="today"
              class="form-control" id="localOfficeVisitDate" required />
          </div>
        </div>
        <!-- Reminder Date  -->
        <div class="col-md-4">
          <div>
            <label>Reminder Date</label>
            <input type="Date" name="localReminderDate" [(ngModel)]="localReminderDate" class="form-control"
              id="localReminderDate" [required]="isReminderRequired" #reminderDateField="ngModel"
              (ngModelChange)="markTouched(reminderDateField)" [min]="today" />
            <div *ngIf="isReminderRequired && reminderDateField.invalid && reminderDateField.touched"
              class="text-danger">
              {{ reminderMessage }}
            </div>

          </div>
        </div>
      </div>

      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveCustomerEnquiry()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackCustomerEnquiry()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>
