<app-header-with-back-handler title="Stock Transfer"
  backRoute="mobile-app/tabs/dashboard/stock-management"></app-header-with-back-handler>
  <app-chip-filter-mobile-app [filters]="filters" (filtersChanged)="onFiltersChanged($event)">
  </app-chip-filter-mobile-app>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="requisition-list" [lines]="'none'">
    <ion-item *ngFor="let StockTransfer of DisplayMasterList" class="requisition-item" button detail
      (click)="openModal(StockTransfer)">
      <ion-label>
        <h3>Date : {{ formatDate(StockTransfer.p.Date) || '-' }}</h3>
        <p class="date-label">From Site : {{ StockTransfer.p.FromSiteName || '-' }}</p>
        <p class="date-label">To Site : {{ StockTransfer.p.ToSiteName || '-' }}</p>
        <p class="date-label">Material : {{ StockTransfer.p.MaterialName || '-' }}</p>
        <p class="date-label">QTY. : {{ StockTransfer.p.TransferredQuantity + " " + StockTransfer.p.UnitName
          }}
        </p>
        </ion-label>

      <div class="action-buttons" slot="end" (click)="$event.stopPropagation()">
        <ion-button fill="clear" size="small" color="primary" (click)="onEditClicked(StockTransfer)">
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" (click)="onDeleteClicked(StockTransfer)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <!-- Show "Data not found" if list is empty -->
  <div *ngIf="DisplayMasterList.length === 0 && !loadingService.isLoaderActive()" class="no-data-mobile-app">
    <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
    <p>No Stock Transfer records found.</p>
  </div>


  <!-- Modal -->
  <ion-modal [isOpen]="modalOpen" (didDismiss)="closeModal()" class="custom-modal-mobile-app">
    <ng-template>
        <!-- Header -->
        <ion-header class="modal-toolbar-mobile-app">
          <ion-toolbar color="primary">
            <ion-title>Transfer Details</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <!-- Body -->
          <ion-content scroll-y="true" class="ion-padding modal-content-mobile-app">
          <!-- Info Rows -->
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">Consumption Date:</span>
            <span class="value-mobile-app">{{ formatDate(SelectedStockTransfer.p.Date) || '-' }}</span>
          </div>
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">From Site Name:</span>
            <span class="value-mobile-app">{{ SelectedStockTransfer.p.FromSiteName || '-' }}</span>
          </div>
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">To Site Name:</span>
            <span class="value-mobile-app">{{ SelectedStockTransfer.p.ToSiteName || '-' }}</span>
          </div>
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">Material Name:</span>
            <span class="value-mobile-app">{{ SelectedStockTransfer.p.MaterialName || '-' }}</span>
          </div>
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">Unit Name :</span>
            <span class="value-mobile-app">{{ SelectedStockTransfer.p.UnitName || '-' }}</span>
          </div>
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">Consumed Quantity :</span>
            <span class="value-mobile-app">{{ SelectedStockTransfer.p.TransferredQuantity || '-' }}</span>
          </div>
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">Current Quantity :</span>
            <span class="value-mobile-app">{{ SelectedStockTransfer.p.CurrentQuantity || '-' }}</span>
          </div>
          <div class="info-row-of-model-mobile-app">
            <span class="label-mobile-app">Remaining Quantity :</span>
            <span class="value-mobile-app">{{ SelectedStockTransfer.p.RemainingQuantity || '-' }}</span>
          </div>
        </ion-content>

        <!-- Footer -->
      <ion-footer class="modal-footer-mobile-app">
          <ion-button expand="block" color="primary" shape="round" (click)="closeModal()">
            Close
          </ion-button>
        </ion-footer>
    </ng-template>
  </ion-modal>


  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="AddStockTransfer()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>