<ion-content [fullscreen]="true" scrollY="true" [scrollEvents]="true" class="login-content ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-sm="10" size-md="6" size-lg="4" class="ion-text-center">

        <!-- Logo -->
        <div class="logo-wrapper">
          <img src="assets/logos/ShreeIcon.png" class="logo-img" alt="Shree Logo" loading="lazy" />
        </div>

        <!-- Heading -->
        <h2 class="login-title">Log In</h2>

        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-wrapper">

          <!-- Email Input -->
          <app-input-field label="Email" controlName="email" type="email" icon="mail" placeholder="Enter your email"
            [clearInput]="true" [formGroup]="loginForm" customClass="input-wrapper">
          </app-input-field>

          <!-- Password Input -->
          <app-input-field label="Password" controlName="password" type="password" icon="lock-closed"
            placeholder="Enter your password" [maxlength]="20" [formGroup]="loginForm" customClass="input-wrapper">
          </app-input-field>

          <!-- Forgot Password -->
          <div class="forgot-password-wrapper ion-text-right">
            <ion-button fill="clear" size="small" (click)="goToForgotPassword()">
              Forgot Password?
            </ion-button>
          </div>

          <!-- Login Button -->
          <app-custom-button label="Login" type="submit" [loading]="isLoggingIn" color="primary" icon="log-in"
            iconPosition="end" shape="round" fill="solid" [disabled]="loginForm.invalid">
          </app-custom-button>
        </form>

        <!-- Optional: New User Info -->
        <ion-text class="new-user-text">
          New User? <span>Contact Admin</span>
        </ion-text>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>