.bill-container {
  max-width: 800px;
  margin: auto;
  background: #fff;

  .bill-title {
    font-weight: 700;
    text-transform: uppercase;
  }

  .bill-table {
    th, td {
      vertical-align: middle;
    }

    th {
      background-color: #f8f9fa;
    }
  }

  ul.list-group {
    li {
      background: #f9f9f9;
      font-weight: 500;
    }
  }
}


.receipt-container {
  .table th, .table td {
    vertical-align: middle;
    padding: 0.5rem;
    font-size: 0.95rem;
  }

  .bg-light {
    background-color: #f8f9fa !important;
  }

  .text-danger {
    color: #a70000 !important;
  }
}
