ul {
  li {
    background: #f9f9f9;
    font-weight: 500;
    font-size: small;
    font-family: 'Courier New';
  }
}

.receipt-container {

  .table th,
  .table td {
    vertical-align: middle;
    padding: 0.5rem;
    font-size: 0.95rem;
  }

  .MaroonBGHeading {
    background-color: maroon;
    color: white;
  }

  .FaintMaroonBGHeading {
    background-color: #dd7e6b;
    padding: 5px;
  }

  .bg-light {
    background-color: #f8f9fa !important;
  }

  .text-danger {
    color: maroon !important;
  }

  @media (max-width: 576px) {
    .detail_title {
      font-size: 1.2rem;
    }
  }
}
