<div style="background-color: white; padding: 5px;">
  <div class="row m-2">
    <div class="col-md-2">
      <button type="button" class="backbtn" (click)="BackActualStage()">
        <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
      </button>
    </div>
    <div class="col-md-9"></div>
    <div class="col-md-1">
      <button type="button" class="backbtn" (click)="printSection()">
        <img src="/assets/icons/printer.png" alt="" width="34px" height="34px" />
      </button>
    </div>
  </div>

  <div #PrintContainer style="font-family: Arial, sans-serif; margin: 0; padding: 20px; font-size: 14px; color: #000;">

    <div style="max-width: full; margin: auto; border: 1px solid #ccc;">

      <!-- Header -->
      <div style="padding-bottom: 10px; margin-bottom: 20px;">
        <h2 style="color: maroon; text-align: center; margin-top: 10px; font-weight: 500;"> <b>Receipt</b></h2>
      </div>

      <!-- Logo & Info -->
      <div style="display: flex; justify-content: center;">
        <table style="width: 90%; margin-bottom: 20px;">
          <tr>
            <td style="vertical-align: top; width: 70%;">
              <img src="/assets/logos/ShreeIcon.png" style="margin-left: 30px;" alt="Company Logo" height="80"
                class="mb-2" />
              <strong>
                <div>{{Entity.p.CompanyName}}</div>
                <div>{{Entity.p.AddressLine1}}</div>
                <div>{{Entity.p.AddressLine2}}</div>
                <div>{{Entity.p.CityName}} - {{Entity.p.PinCode}}</div>
                <div>{{Entity.p.Contacts}}</div>
              </strong>
            </td>
            <td style="vertical-align: center;">
              <div style="display: flex; justify-content: space-between;"><strong>DATE</strong> <strong>{{
                  this.Entity.p.Date }}</strong> </div>
              <br>
              <div style="display: flex; justify-content: space-between;"><strong>Challan No</strong> <strong>{{
                  this.Entity.p.ChalanNo }}</strong> </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Bill To Section -->

      <div
        style="background-color: maroon; color: white; font-weight: bold; padding: 5px 10px; width: fit-content; margin-left: 5%; width: 40%;">
        BILL TO
      </div>
      <div style="display: flex; justify-content: center;">
        <table style="width: 90%; margin: 10px 0 20px 0;">
          <tr>
            <td style="width: 60%; vertical-align: top;">
              <strong>
                <div> {{ Entity.p.VendorName }}</div>
                <div>{{ Entity.p.VendorCompanyName }}</div>
                <div>{{ Entity.p.VendorAddressLine1 }}</div>
                <div>{{ Entity.p.VendorAddressLine2 }}</div>
                <div>{{ Entity.p.VendorPhone }}</div>
              </strong>
            </td>
            <td style="text-align: right; vertical-align: top;">
              <strong>
                <div>{{ Entity.p.VendorCompanyName }}</div>
                <div>{{ Entity.p.StageName }}</div>
                <div>{{ Entity.p.VendorCompanyName }}</div>
                <div>{{ Entity.p.VehicleNo }}</div>
              </strong>
            </td>
            <!-- <td style="text-align: left; vertical-align: top;">
              <div>Site Name: {{ Entity.p.VendorCompanyName }}</div>
              <div>Stage Name: {{ Entity.p.StageName }}</div>
              <div>Service Type: {{ Entity.p.VendorCompanyName }}</div>
              <div>Vehicle No: {{ Entity.p.VehicleNo }}</div>
            </td> -->
          </tr>
        </table>
      </div>

      <!-- Table Header -->
      <table style="width: 100%; border-collapse: collapse; text-align: center;">
        <thead>
          <tr style="background-color: maroon; color: white;">
            <th style="padding: 8px; border: 1px solid #000;">Sr.No</th>
            <th style="padding: 8px; border: 1px solid #000;">DESCRIPTION</th>
            <th style="padding: 8px; border: 1px solid #000;">Qty.</th>
            <th style="padding: 8px; border: 1px solid #000;">
              UNIT</th>
            <th style="padding: 8px; border: 1px solid #000;">RATE</th>
            <th style="padding: 8px; border: 1px solid #000;">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding: 8px;">1.</td>
            <td style="padding: 8px;">General</td>
            <td style="padding: 8px;">{{ Entity.p.Quantity }}</td>
            <td style="padding: 8px;">{{ Entity.p.UnitName }}</td>
            <td style="padding: 8px;">{{ Entity.p.Rate }}</td>
            <td style="padding: 8px;">{{ Entity.p.Amount }}</td>
          </tr>
          <tr *ngIf="Entity.p.ExpenseTypeRef == MachinaryExpenseRef">
            <td style="padding: 8px;">2.</td>
            <td style="padding: 8px;">Disel</td>
            <td style="padding: 8px;">{{ Entity.p.DieselQuantity }}</td>
            <td style="padding: 8px;">{{ Entity.p.UnitName }}</td>
            <td style="padding: 8px;">{{ Entity.p.DieselRate }}</td>
            <td style="padding: 8px;">{{ Entity.p.DieselTotalAmount }}</td>
          </tr>
          <tr *ngIf="Entity.p.ExpenseTypeRef == LabourExpenseRef">
            <td style="padding: 8px;">2.</td>
            <td style="padding: 8px;">Skilled</td>
            <td style="padding: 8px;">{{ Entity.p.SkillQuantity }}</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">{{ Entity.p.SkillRate }}</td>
            <td style="padding: 8px;">{{ Entity.p.SkillAmount }}</td>
          </tr>
          <tr *ngIf="Entity.p.ExpenseTypeRef == LabourExpenseRef">
            <td style="padding: 8px;">3.</td>
            <td style="padding: 8px;">Unskilled</td>
            <td style="padding: 8px;">{{ Entity.p.UnskillQuantity }}</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">{{ Entity.p.UnskillRate }}</td>
            <td style="padding: 8px;">{{ Entity.p.UnskillAmount }}</td>
          </tr>
          <tr *ngIf="Entity.p.ExpenseTypeRef == LabourExpenseRef">
            <td style="padding: 8px;">4.</td>
            <td style="padding: 8px;">Ladies</td>
            <td style="padding: 8px;">{{ Entity.p.LadiesQuantity }}</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">{{ Entity.p.LadiesRate }}</td>
            <td style="padding: 8px;">{{ Entity.p.LadiesAmount }}</td>
          </tr>
          <tr *ngIf="Entity.p.ExpenseTypeRef == OtherExpenseRef">
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">Other</td>
            <td style="padding: 8px;">{{ Entity.p.Quantity }}</td>
            <td style="padding: 8px;">{{ Entity.p.UnitName }}</td>
            <td style="padding: 8px;">{{ Entity.p.Rate }}</td>
            <td style="padding: 8px;">{{ Entity.p.Amount }}</td>
          </tr>

          <!-- Total -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="padding: 8px; text-align: center; font-weight: bold; background-color: #fef4d4;">
              <strong>TOTAL</strong>
            </td>
            <td style="padding: 8px; font-weight: bold; background-color: #fef4d4;"><strong>₹
                {{Entity.p.GrandTotal}}</strong>
            </td>
          </tr>
          <!-- In Words -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="padding: 8px; text-align: start;"><strong>Inwords</strong></td>
          </tr>
        </tbody>
      </table>

      <!-- Comments -->
      <div style="margin-top: 5px; ">
        <p style="background-color: #fef4d4; padding-left: 5%; padding-top: 10px; padding-bottom: 10px;"><strong>OTHER
            COMMENTS</strong> </p>
        <ol style="margin-top: 5px; padding-left: 5%;">
          <p>1. वरील तपशिला प्रमाणे माल ताब्यात मिळाला.</p>
          <p>2. ही पावती सेवा पुरवठादाराच्या नोंदीसाठी प्रदान करण्यात आली आहे..</p>
          <p>3. ही पावती भविष्यातील लेखाजोखासाठी जतन करावी.</p>
        </ol>
      </div>

      <!-- Footer Signature -->
      <div style="margin-top: 30px; display: flex; justify-content: space-between">
        <p style="margin-left: 5%;"><strong>Sign : {{Entity.p.CompanyName}}</strong></p>
        <p style="margin-right: 5%;"> <strong>{{Entity.p.CompanyName}}</strong>
        </p>
      </div>

      <p style="text-align: center;">If you have any questions about this invoice, please contact</p>
      <p style="text-align: center;">{{Entity.p.CompanyName}} {{Entity.p.Contacts}} </p>
      <h5 style="text-align: center;"><strong><i>Thank You For Your Business!</i></strong></h5>

    </div>

  </div>
</div>
