<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" (click) = "BackRegisteredCustomer()"/>
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Registered Customer</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6">
          <div>
            <label>Site Name</label>
            <input type="text" name="SiteName" class="form-control" id="SiteName" [(ngModel)]="Entity.p.SiteName" readonly placeholder="Enter Site Name"/>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label>Register Customer Name</label>
            <input type="text" name="CustomerName" class="form-control" id="CustomerName" [(ngModel)]="Entity.p.CustomerName" readonly placeholder="Enter Register Customer Name"  />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-12">
          <label class="TableHeading"> Customer Details</label>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Address</label>
            <input type="text" name="CustomerAddress" class="form-control" id="CustomerAddress" [(ngModel)]="Entity.p.CustomerAddress" readonly placeholder="Enter Address" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Mobile No.</label>
            <input type="text" name="CustomerMobileNo" class="form-control" id="MobNo" [(ngModel)]="Entity.p.CustomerMobileNo" readonly placeholder="Enter Mobile No." />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Visited Date</label>
            <input type="text" name="SiteVisitDate" class="form-control" id="SiteVisitDate" [(ngModel)]="Entity.p.SiteVisitDate" readonly placeholder="Enter Visited Date" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Lead Source</label>
            <input type="text" name="LeadSourceName" class="form-control" id="LeadSourceName" [(ngModel)]="Entity.p.LeadSourceName" readonly placeholder="Enter Lead Source" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Lead By</label>
            <input type="text" name="LeadHandleByName" class="form-control" id="LeadHandleByName" [(ngModel)]="Entity.p.LeadHandleByName" readonly placeholder="Enter Lead By" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-12">
          <label class="TableHeading">Plot Details</label>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Plot Number</label>
            <input type="text" name="PlotName" class="form-control" id="PlotName" [(ngModel)]="Entity.p.PlotName" readonly placeholder="Enter Plot Number" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Basic Rate</label>
            <input type="text" name="BasicRatePerSqft" class="form-control" id="BasicRatePerSqft" [(ngModel)]="Entity.p.BasicRatePerSqft" readonly placeholder="Enter Basic Rate" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Area Sqmt</label>
            <input type="text" name="AreaInSqm" class="form-control" id="AreaInSqm" [(ngModel)]="Entity.p.AreaInSqm"  readonly placeholder="Enter Area Sqmt" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Area Sqft</label>
            <input type="text" name="AreaInSqft" class="form-control" id="AreaInSqft" [(ngModel)]="Entity.p.AreaInSqft"  readonly placeholder="Enter Area Sqft" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Discounted Rate On Area </label>
            <input type="number" name="DiscountedRateOnArea " class="form-control" id="DiscountedRateOnArea " [(ngModel)]="Entity.p.DiscountedRateOnArea" (ngModelChange)="calculateTotalPlotAmount()"  placeholder="Enter Discounted Rate"   (click)="selectAllValue($event)"/>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Discount On Total Plot Amount </label>
            <input type="number" name="DiscountOnTotalPlotAmount " class="form-control" id="DiscountOnTotalPlotAmount " [(ngModel)]="Entity.p.DiscountOnTotalPlotAmount" (ngModelChange)="calculateTotalPlotAmount()" required placeholder="Enter Discount" (click)="selectAllValue($event)"/>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Total Plot Amount</label>
            <input type="number" name="TotalPlotAmount" class="form-control" id="TotalPlotAmount" [(ngModel)]="Entity.p.TotalPlotAmount" readonly placeholder="Enter Total Plot Amount" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-12">
          <label class="TableHeading">Agreement Value & Legal Charges</label>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Register Date</label>
            <input type="date" name="localRegisterDate" class="form-control" id="localRegisterDate" [(ngModel)]="localRegisterDate"  required placeholder="Enter Register Date" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Register By</label>
            <input type="text" name="RegisterBy" class="form-control" id="RegisterBy" [(ngModel)]="Entity.p.RegisterBy"  required placeholder="Enter Register By" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Government Recknor</label>
            <input type="number" name="GovermentRatePerSqm" class="form-control" id="GovermentRatePerSqm" [(ngModel)]="Entity.p.GovermentRatePerSqm"  readonly placeholder="Enter Government Recknor" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Government Value</label>
            <input type="number" name="GovernmentValue" class="form-control" id="GovernmentValue" [(ngModel)]="Entity.p.GovernmentValue" readonly placeholder="Enter Government Value" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Value Of Agreement</label>
            <input type="number" name="ValueOfAgreement" class="form-control" id="ValueOfAgreement" [(ngModel)]="Entity.p.ValueOfAgreement"  (ngModelChange)="calculateStampDuties()"  required placeholder="Enter Value Of Agreement" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Tax Value In %</label>
            <input type="number" name="TaxValueInPercentage" class="form-control" id="TaxValueInPercentage" [(ngModel)]="Entity.p.TaxValueInPercentage" readonly placeholder="Enter Tax Value In %" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Stamp Duties</label>
            <input type="number" name="StampDuties" class="form-control" id="StampDuties" [(ngModel)]="Entity.p.StampDuties" readonly placeholder="Enter Stamp Duties" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Reg. Tax Values in %</label>
            <input type="text" name="RegTaxValuesInPercentage" class="form-control" id="RegTaxValuesInPercentage" [(ngModel)]="Entity.p.RegTaxValuesInPercentage" readonly placeholder="Enter Reg. Tax Values in %" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Registration Fees</label>
            <input type="number" name="RegistrationFees" class="form-control" id="RegistrationFees" [(ngModel)]="Entity.p.RegistrationFees"  readonly placeholder="Enter Registration Fees" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Goods & Services Tax (GST)</label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
            name="GoodsServicesTax" [(ngModel)]="Entity.p.GoodsServicesTax" required id="GoodsServicesTax" (ngModelChange)="calculateGrandTotal()">
            <nz-option
            *ngFor="let goodsservices of GoodandServicesTaxList"
            [nzValue]="goodsservices.Ref"
            [nzLabel]="goodsservices.Name"
          ></nz-option>
          </nz-select> 
        </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Legal Charges</label>
            <input type="number" name="LegalCharges" class="form-control" id="LegalCharges" [(ngModel)]="Entity.p.LegalCharges"  (ngModelChange)="calculateExtraCharges()"  required placeholder="Enter Legal Charges"  (click)="selectAllValue($event)"/>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Total Extra Charges</label>
            <input type="number" name="TotalExtraCharges" class="form-control" id="TotalExtraCharges" [(ngModel)]="Entity.p.TotalExtraCharges"  required placeholder="Enter Total Extra Charges" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Grand Total</label>
            <input type="number" name="GrandTotal" class="form-control" id="GrandTotal" [(ngModel)]="Entity.p.GrandTotal"  readonly placeholder="Enter Grand Total" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Gst Total Amount </label>
            <input type="number" name="GstToatalAmount " class="form-control" id="GstToatalAmount " [(ngModel)]="Entity.p.GstToatalAmount"  required placeholder="Enter Gst Total Amount" />
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div>
            <label>Amount Paid</label>
            <input type="number" name="AmountPaid" class="form-control" id="AmountPaid" [(ngModel)]="Entity.p.AmountPaid"  required placeholder="Enter Amount Paid" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Remaining Amount</label>
            <input type="number" name="RemainingAmount" class="form-control" id="RemainingAmount" [(ngModel)]="Entity.p.RemainingAmount"  required placeholder="Enter Remaining Amount" />
          </div>
        </div> -->
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click) = "SaveRegisteredCustomer()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click) = "BackRegisteredCustomer()">Back</button>
        </div>
      </div>
    </form>
  </div>
