<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
    <h5 style="padding-top: 3px;" class="title title_light">Country Master</h5>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
    <input type="text" Class="search-box_light" placeholder="Search..." autofocus />
  </div>
    <!-- <div class="card-body" style="margin-left: 14px;">
        <form autocomplete="off">
          <div class="row">
            <div class="col-md-4">
               <label>Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  required
                  placeholder="Enter Country Name"
                />
              </div>
          <div class="col-md-2" style="justify-content: center; display: flex; gap: 2rem; margin-top : 5vh">
              <div>
                <button type="button" class="btn">Save</button>
              </div>
          </div>
        </div>
        </form>
      </div> -->
    </div>
<div class="table-container" style="margin-top: 2rem;" *ngIf="DisplayMasterList.length > 0">
  <nz-table #basicTable nzSize="small"  class="no-hover-table bgtable_light" [nzData]="paginatedList" [nzScroll]="{x:'auto' }"
    nzFrontPagination="false" [nzShowSizeChanger]="false">
    <thead>
      <tr>
        <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of paginatedList; index as i">
        <td Class="tbldata">{{i+1}}</td>
        <td Class="tbldata">{{country.p.Name}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>