<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px"
            (click)="BackCustomerFollowUp()" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Customer Follow Up</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Contact Mode</label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="ContactMode"
              name="ContactMode" [nzSize]="'large'" [(ngModel)]="Entity.p.ContactMode">
              <nz-option *ngFor="let Mode of ContactModesList" [nzValue]="Mode.Ref" [nzLabel]="Mode.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Reason</label>
            <input type="text" name="reason" class="form-control" id="reason" [(ngModel)]="Entity.p.Reason" required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Customer Name</label>
            <input type="text" name="CustomerName" class="form-control" id="CustomerName"
              [(ngModel)]="Entity.p.CustomerName" required placeholder="Enter Customer Name" readonly />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Contact Nos</label>
            <input type="text" name="ContactNos" class="form-control" id="ContactNos" required
              [(ngModel)]="Entity.p.ContactNos" placeholder="Enter Contact Nos" readonly />
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div>
            <label>Email Id</label>
            <input type="text" name="PersonalEmailId" class="form-control" id="PersonalEmailId" required
              [(ngModel)]="Entity.p.EmailId" placeholder="Enter Personal Email Id" />
          </div>
        </div> -->
        <div class="col-md-4">
          <div>
            <label for="CountryRef"><b>Country</b></label>
            <input type="text" name="CountryRef" class="form-control" id="CountryRef" [(ngModel)]="Entity.p.CountryName"
              readonly />
            <!-- <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              name="CountryRef" required id="CountryRef" [(ngModel)]="CustomerEnquiryEntity.p.CountryRef">
              <nz-option></nz-option>
            </nz-select> -->
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label for="StateRef"><b>State</b></label>
            <input type="text" name="StateRef" class="form-control" id="StateRef" [(ngModel)]="Entity.p.StateName"
              readonly />
            <!-- <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="StateRef"
              name="StateRef" [nzSize]="'large'"  [(ngModel)]="CustomerEnquiryEntity.p.StateRef">
              <nz-option></nz-option>
            </nz-select> -->
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="CityRef"><b>City</b></label>
            <input type="text" name="CityRef" class="form-control" id="CityRef" [(ngModel)]="Entity.p.CityName"
              readonly />
            <!-- <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="CityRef"
              name="CityRef" [nzSize]="'large'"  [(ngModel)]="CustomerEnquiryEntity.p.CityRef">
              <nz-option></nz-option>
            </nz-select> -->
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Address</label>
            <input type="text" name="address" class="form-control" id="address" required placeholder="Enter Address"
              [(ngModel)]="Entity.p.Address" readonly>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <label>Pin Code</label>
          <input type="text" name="PinCode" class="form-control" id="PinCode" required [(ngModel)]="Entity.p.PinCode"
            placeholder="Enter Pin Code" readonly />
        </div>
        <div class="col-md-4">
          <div>
            <label>Customer Requirement</label>
            <input type="text" name="CustomerRequirement" class="form-control" id="CustomerRequirement"
              [(ngModel)]="Entity.p.CustomerRequirement" required placeholder="Enter Customer Requirement" readonly />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="SiteManagementRef"><b>Interested site</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              name="SiteManagementRef" [(ngModel)]="SiteManagementRef" required id="SiteManagementRef"
              (ngModelChange)="getPlotBySiteRefList(SiteManagementRef)">
              <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <div>
            <label for="InterestedPlotRef"><b>Interested Plots</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="InterestedPlotRef"
              name="InterestedPlotRef" [(ngModel)]="InterestedPlotRef" [nzSize]="'large'">
              <nz-option *ngFor="let Plot of PlotList" [nzValue]="Plot.p.Ref" [nzLabel]="Plot.p.PlotNo"></nz-option>
            </nz-select>
          </div>

        </div>
        <div class="col-md-4" style="margin-top: 33px;">
          <div>
            <button type="button" class="btn" (click)="addDataToCustomerFollowUpPlotDetail()">Add</button>
          </div>
        </div>
      </div>
      <div class="table-container" style="margin-top: 2rem">
        <div class="row">
          <div class="col-12">
            <label class="TableHeading">Follow Up Plots</label>
          </div>
        </div>
        <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{ x: 'auto' }"
          nzFrontPagination="false" [nzShowSizeChanger]="false">
          <thead>
            <tr>
              <th *ngFor="let header of Plotheaders" class="tblheadersecond">
                {{header}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plot of Entity.p.CustomerFollowUpPlotDetails; let i = index">
              <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td Class="tbldata">{{ plot.SiteName }}</td>
              <td Class="tbldata">{{ plot.PlotName }}</td>
              <td Class="tbldata">{{ plot.PlotAreaInSqm }}</td>
              <td Class="tbldata">{{ plot.PlotAreaInSqft }}</td>
              <td class="tbldata">
                <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select"
                  name="{{plot.PlotName.trim() + '_' + i + 100}}" [(ngModel)]="plot.CustomerStatus" [nzSize]="'large'">
                  <nz-option *ngFor="let customerstatus of CustomerStatusList" [nzValue]="customerstatus.Ref"
                    [nzLabel]="customerstatus.Name"></nz-option>
                </nz-select>
              </td>
              <td class="tbldata">
                <input type="text" name="{{plot.PlotName.trim() + '_' + i + 1000}}" class="form-control"
                  [(ngModel)]="plot.Reason" required placeholder="Enter Reason" />
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <hr style="color: black;">

      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <div>
            <label for="LeadSource"><b>Lead Source</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              name="LeadSource" [(ngModel)]="Entity.p.LeadSource" required id="LeadSource"
              (ngModelChange)="onLeadSourceChange(Entity.p.LeadSource)">
              <nz-option *ngFor="let lead of LeadSourceList" [nzValue]="lead.Ref" [nzLabel]="lead.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4" *ngIf="showAgentBrokerInput">
          <div>
            <label for="AgentName"><b>Agent Name</b></label>
            <input type="text" name="AgentName" class="form-control" id="AgentName" [(ngModel)]="Entity.p.BrokerName"
              required placeholder="Enter Agent Name">
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="LeadHandleBy"><b>Lead Handled By</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="LeadHandleBy"
              name="LeadHandleBy" [(ngModel)]="Entity.p.LeadHandleBy" [nzSize]="'large'">
              <nz-option *ngFor="let employee of EmployeeList" [nzValue]="employee.p.Ref"
                [nzLabel]="employee.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4" *ngIf="!showAgentBrokerInput">
          <label>Remark</label>
          <input type="text" name="Remark" class="form-control" id="Remark " required placeholder="Enter Remark"
            [(ngModel)]="Entity.p.Remark" />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4" *ngIf="showAgentBrokerInput">
          <label>Remark</label>
          <input type="text" name="Remark" class="form-control" id="Remark " required placeholder="Enter Remark"
            [(ngModel)]="Entity.p.Remark" />
        </div>
        <div class="col-md-4">
          <div>
            <label for="CustomerStatus"><b>Customer Status</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="CustomerStatus"
              name="CustomerStatus" [(ngModel)]="Entity.p.CustomerStatus" [nzSize]="'large'">
              <nz-option *ngFor="let status of CustomerStatusList" [nzValue]="status.Ref"
                [nzLabel]="status.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <!-- Next site visit date  -->
        <div class="col-md-4" *ngIf="Entity.p.CustomerStatus !== 30 && Entity.p.CustomerStatus !== 40">
          <div>
            <label>Next Site Visit Date</label>
            <input type="date" name="localSiteVisitDate" class="form-control" id="localSiteVisitDate" [min]="today"
              [(ngModel)]="localSiteVisitDate" required />
          </div>
        </div>
        <!-- Next Office visit date  -->
        <div class="col-md-4" *ngIf="Entity.p.CustomerStatus !== 30 && Entity.p.CustomerStatus !== 40">
          <div>
            <label>Next Office Visit Date</label>
            <input type="date" name="localOfficeVisitDate" class="form-control" id="localOfficeVisitDate" [min]="today"
              [(ngModel)]="localOfficeVisitDate" required />
          </div>
        </div>
        <!--Reminder Date  -->
        <div class="col-md-4" *ngIf="Entity.p.CustomerStatus !== 30 && Entity.p.CustomerStatus !== 40">
          <div>
            <label>Reminder Date</label>
            <input type="Date" name="localReminderDate" class="form-control" id="localReminderDate" [min]="today"
              [(ngModel)]="localReminderDate" required />
          </div>
        </div>
      </div>

      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveCustomerFollowUp()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackCustomerFollowUp()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>
