<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Customer Enquiry</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Contact Mode</label>
            <nz-select
            class="nzSelect-light"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select"
            id="ContactMode"
            name="ContactMode"
            [nzSize]="'large'"
          >
            <nz-option
              *ngFor="let Mode of ContactModesList"
              [nzValue]="Mode.Ref"
              [nzLabel]="Mode.Name"
            ></nz-option>
          </nz-select> 
        </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Reason</label>
            <input type="text" name="reason" class="form-control" id="reason" [(ngModel)]="Entity.p.Reason" required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Customer Name</label>
            <input type="text" name="CustomerName" class="form-control" id="CustomerName" required
              placeholder="Enter Contact Nos" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Contact Nos</label>
            <input type="text" name="ContactNos" class="form-control" id="ContactNos" required
              placeholder="Enter Contact Nos" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Email Id</label>
            <input type="text" name="PersonalEmailId" class="form-control" id="PersonalEmailId" required
              placeholder="Enter Personal Email Id" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="CountryRef"><b>Country</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              name="CountryRef" required id="CountryRef">
              <nz-option></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label for="StateRef"><b>State</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="StateRef"
              name="StateRef" [nzSize]="'large'">
              <nz-option></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="CityRef"><b>City</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="CityRef"
              name="CityRef" [nzSize]="'large'">
              <nz-option></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Address</label>
            <input type="text" name="address" class="form-control" id="address" required placeholder="Enter Address" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <label>Pin Code</label>
          <input type="text" name="PinCode" class="form-control" id="PinCode" required
            placeholder="Enter Pin Code" />
        </div>
        <div class="col-md-4">
          <div>
            <label>Customer Requirement</label>
            <input type="text" name="CustomerRequirement" class="form-control" id="CustomerRequirement" [(ngModel)]="Entity.p.CustomerRequirement" required placeholder="Enter Customer Requirement" />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="InterestedSiteRef"><b>Interested site</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              name="InterestedSiteRef" required id="InterestedSiteRef">
              <nz-option></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <div>
            <label for="InterestedPlotRef"><b>Interested Plots</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="InterestedPlotRef"
              name="InterestedPlotRef" [nzSize]="'large'">
              <nz-option></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="table-container" style="margin-top: 2rem">
        <div class="row">
          <div class="col-12">
            <label class="TableHeading">Follow Up Plots</label>
          </div>
        </div>
        <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{ x: 'auto' }"
          nzFrontPagination="false" [nzShowSizeChanger]="false">
          <thead>
            <tr>
              <th *ngFor="let header of Plotheaders" class="tblheadersecond">
                {{header}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td Class="tbldata">1</td>
              <td Class="tbldata">4</td>
              <td Class="tbldata">500</td>
              <td Class="tbldata">500</td>
              <td Class="tbldata">Deal</td>
              <td Class="tbldata">abc</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      
      <hr style="color: black;">

      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <div>
            <label for="LeadSource"><b>Lead Source</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              name="LeadSource" [(ngModel)]="Entity.p.LeadSource" required id="LeadSource">
              <nz-option
              *ngFor="let lead of LeadSourceList"
              [nzValue]="lead.Ref"
              [nzLabel]="lead.Name"
            ></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="LeadHandelBy"><b>Lead Handled By</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="LeadHandelBy"
              name="LeadHandelBy" [(ngModel)]="Entity.p.LeadHandelBy" [nzSize]="'large'">
              <nz-option
              *ngFor="let employee of EmployeeList"
              [nzValue]="employee.p.Ref"
              [nzLabel]="employee.p.Name"
            ></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <label>Remark</label>
          <input type="text" name="Remark" class="form-control" id="Remark " required placeholder="Enter Remark" />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <div>
            <label for="CustomerStatus"><b>Customer Status</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="CustomerStatus"
              name="CustomerStatus" [(ngModel)]="Entity.p.CustomerStatus" [nzSize]="'large'">
              <nz-option
              *ngFor="let status of CustomerStatusList"
              [nzValue]="status.Ref"
              [nzLabel]="status.Name"
            ></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Next Site/Office Visit Date</label>
            <input type="date" name="Date" class="form-control" id="Date" [(ngModel)]="Entity.p.SiteVisitDate" required />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Reminder Date</label>
            <input type="Date" name="ReminderDate" class="form-control" id="ReminderDate" [(ngModel)]="Entity.p.ReminderDate" required />
          </div>
        </div>
      </div>

      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn">Save</button>
        </div>
        <div>
          <button type="button" class="btn">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>