<div>
  <div class="row">
    <div class="col-4 mb-2">
      <h1 style="padding-top: 3px;" class="title title_light">Salary Generation</h1>
    </div>
    <div class="col-4 mb-2 search-container_light">
      <app-shared-filter [masterList]="MasterList"
        [filterFields]="['EmployeeName', 'MonthName', 'TotalWorkingDays', 'BasicSalary', 'GrossTotal', 'TotalDeduction', 'NetSalary']"
        (filteredList)="onFilteredList($event)"></app-shared-filter>
    </div>
    <div class="col-4 mb-2" routerLinkActive="active" *ngIf="access.canAdd(featureRef)">
      <nz-button nz-button class="btn1" (click)='AddSalaryDetails()'>
        Add Salary Details
      </nz-button>
    </div>
  </div>
  <ng-template #noDataTpl>
    <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
      No Data
    </div>
  </ng-template>
  <div class="row" style="margin-top: 1rem;">
    <!-- Month -->
    <div class="col-12 col-md-4">
      <label class="form-label" for="Month">Month</label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        [nzSize]="'large'" [(ngModel)]="Month" name="Month" required id="Month"
        (ngModelChange)="getSalaryListByEmployeeAndMonth()">
        <nz-option *ngFor="let Month of MonthList" [nzLabel]="Month.Name" [nzValue]="Month.Ref"></nz-option>
      </nz-select>
    </div>
    <!-- Employee Dropdown -->
    <div class="col-12 col-md-4">
      <label class="form-label">Employee</label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        [nzSize]="'large'" [(ngModel)]="EmployeeRef" name="EmployeeRef" required id="EmployeeRef"
        (ngModelChange)="getSalaryListByEmployeeAndMonth();" [nzNotFoundContent]="'No data'">
        <nz-option *ngFor=" let Employee of EmployeeList" [nzLabel]="Employee.p.Name"
          [nzValue]="Employee.p.Ref"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="table-wrapper tblcard_light" *ngIf="DisplayMasterList.length > 0">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
        [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th class="tblheader" nzLeft>{{ "SR.No." }}</th>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salary of paginatedList(); index as i">
            <td Class="tbldata" nzLeft>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td Class="tbldata">{{salary.p.EmployeeName}}</td>
            <td Class="tbldata">{{salary.p.MonthName}}</td>
            <td Class="tbldata">{{salary.p.TotalWorkingDays}}</td>
            <td Class="tbldata">{{salary.p.BasicSalary | currency : "INR" }}</td>
            <td Class="tbldata">{{salary.p.GrossTotal | currency : "INR" }}</td>
            <td Class="tbldata">{{salary.p.TotalDeduction | currency : "INR" }}</td>
            <td Class="tbldata">{{salary.p.NetSalary | currency : "INR" }}</td>
            <td class="tbldata action-column" *ngIf="showActionColumn">
              <span style="margin-left: 9px;" (click)="onEditClicked(salary);" *ngIf="access.canEdit(featureRef)">
                <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
              </span>
              <span style="margin-left: 9px;" (click)="onDeleteClicked(salary);" *ngIf="access.canDelete(featureRef)">
                <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
              <span style="margin-left: 9px;" (click)="openSalarySlipModal(salary)" *ngIf="access.canPrint(featureRef)">
                <img src="\assets\icons\printer.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
            </td>
          </tr>
          <tr>
            <td class="tbldata" nzLeft><b>Total Salary</b></td>
            <td class="tbldata" colspan="6"></td>
            <td class="tbldata">
              <b>{{ getTotalSalary() | currency : "INR" }}</b>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="fixed-pagination">
      <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
      </nz-pagination>
    </div>
  </div>
  <div *ngIf="DisplayMasterList.length === 0">
    <Data-Not-Found />
  </div>


  <!-- Salary Slip Modal -->
  <div *ngIf="isModalVisible" class="custom-modal-overlay" (click)="isModalVisible=false">

    <div class="custom-modal" (click)="$event.stopPropagation()">

      <div id="salarySlip" class="salary-slip-container">

        <!-- Company Letterhead -->
        <div class="letterhead">
          <div class="letterhead-top">
            <div class="company-logo">
              <img src="/assets/logos/ShreeIcon.png" alt="Company Logo" />
            </div>

            <div class="company-info">
              <h4 class="company-name">{{ Entity.p.CompanyName || '--' }}</h4>
              <div class="company-address">
                {{ CompanyAddress1 || '--' }}<br />
                {{ CompanyAddress2 || '--' }}
              </div>
              <div class="company-contact">
                Contact: {{ CompanyContacts || '--' }} |
                Email: {{ CompanyEmail || '--' }}
              </div>
            </div>
          </div>

          <div class="letterhead-title">
            SALARY SLIP FOR THE MONTH OF {{ Entity.p.MonthName || '--' }}
          </div>
        </div>

        <!-- Personal & Statutory Details -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-success">
              <tr>
                <th colspan="2">Personal Details</th>
                <th colspan="2">Statutory Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Employee Name</td>
                <td>{{ Entity.p.EmployeeName || '--' }}</td>
                <td>Bank Name</td>
                <td>{{ EmployeeBankName || '--' }}</td>
              </tr>
              <tr>
                <td>Designation</td>
                <td>{{ EmployeeDesignation || '--' }}</td>
                <td>Bank Account</td>
                <td>{{ EmployeeBankAccountNo || '--' }}</td>
              </tr>
              <tr>
                <td>Department</td>
                <td>{{ EmployeeDepartmentName || '--' }}</td>
                <td>IFSC</td>
                <td>{{ EmployeeBankIFSCCode || '--' }}</td>
              </tr>
              <tr>
                <td>Date Of Joining</td>
                <td>{{ getEmployeeDateOfJoining(Entity.p.EmployeeRef) || '--' }}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Leave Details -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-success">
              <tr>
                <th>Total Days</th>
                <th>Paid Days</th>
                <th>Leaves</th>
                <th>Worked Days</th>
                <th>OT Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ Entity.p.TotalDays || 0 }}</td>
                <td>{{ Entity.p.TotalWorkingDays || 0 }}</td>
                <td>{{ Entity.p.TotalFullDayLeavesWithAbsent || 0 }}</td>
                <td>{{ Entity.p.TotalWorkedDays || 0 }}</td>
                <td>{{ Entity.p.TotalOverTimeHrs || 0 }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Earnings & Deductions -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-success">
              <tr>
                <th>Earnings</th>
                <th>Gross</th>
                <th>Actual</th>
                <th>Deductions</th>
                <th>Actual</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Basic Salary</td>
                <td>{{ Entity.p.BasicSalary || 0}}</td>
                <td>{{ (Entity.p.GrossTotal - (Entity.p.TotalAllowance + Entity.p.TotalIncentive + Entity.p.Other +
                  Entity.p.TotalOverTimeSalary)) || 0}}</td>
                <td>PF</td>
                <td>{{ Entity.p.PF || 0 }}</td>
              </tr>
              <tr>
                <td>Allowance</td>
                <td>{{ Entity.p.TotalAllowance || 0 }}</td>
                <td>{{ Entity.p.TotalAllowance || 0 }}</td>
                <td>TDS</td>
                <td>{{ Entity.p.TDS || 0 }}</td>
              </tr>
              <tr>
                <td>Incentive</td>
                <td>{{ Entity.p.TotalIncentive + Entity.p.TotalOverTimeSalary || 0 }}</td>
                <td>{{ Entity.p.TotalIncentive + Entity.p.TotalOverTimeSalary || 0 }}</td>
                <td>Advance Deduction</td>
                <td>{{ Entity.p.AdvanceDeduction || 0 }}</td>
              </tr>
              <tr>
                <td>Other</td>
                <td>{{ Entity.p.Other || 0 }}</td>
                <td>{{ Entity.p.Other || 0 }}</td>
              </tr>
              <tr class="fw-bold">
                <td>Gross Salary</td>
                <td> {{ ( Entity.p.BasicSalary + Entity.p.TotalAllowance + Entity.p.TotalIncentive + Entity.p.Other +
                  Entity.p.TotalOverTimeSalary ) | number:'1.2-2' }}</td>
                <td>{{ Entity.p.GrossTotal || 0 }}</td>
                <td>Total Deduction</td>
                <td>{{ (Entity.p.PF + Entity.p.TDS + Entity.p.AdvanceDeduction ) || 0 }}</td>
              </tr>
              <tr class="fw-bold">
                <td colspan="3">Net Salary Payable</td>
                <td colspan="2">{{ Entity.p.NetSalary || 0 }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p class="text-center fw-bold mt-2">
          This is a computer-generated payslip. No signature required.
        </p>

      </div>

      <div class="text-center mt-3 no-print">
        <button class="btn btn-secondary me-2" (click)="isModalVisible=false">Back</button>
        <button class="btn btn-primary" (click)="printSlip()">Print</button>
      </div>

    </div>
  </div>