<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackOfficeTime()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <form autocomplete="off" #officedutyandtimeForm="ngForm">
      <div class="row">
        <div class="col-md-6" style="margin-top: 1rem;">
          <div>
            <label for="FromTime">Working Time From:</label>
            <nz-time-picker [(ngModel)]="FromTime" name="FromTime" nzUse12Hours nzFormat="h:mm a"
              (ngModelChange)="getFromTime()" class="form-control">
            </nz-time-picker>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 1rem;">
          <div>
            <label for="ToTime">Working Time To:</label>
            <nz-time-picker [(ngModel)]="ToTime" name="ToTime" nzUse12Hours nzFormat="h:mm a"
              (ngModelChange)="getToTime()" class="form-control">
            </nz-time-picker>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 1rem;">
          <div>
            <label>Late Mark Grace Time (mins):</label>
            <input type="text" name="LateMarkGraceTimeInMins" class="form-control" id="LateMarkGraceTimeInMins"
              [(ngModel)]="Entity.p.LateMarkGraceTimeInMins" placeholder="Enter late Mark Grace" required
              #LateMarkGraceTimeInMinsCtrl="ngModel" (blur)="LateMarkGraceTimeInMinsCtrl.control.markAsTouched()" />
          </div>
        </div>
        <!-- <div class="col-md-6" style="margin-top: 1rem;">
          <div>
            <label>Overtime Grace Time (mins):</label>
            <input type="text" name="OvertimeGraceTimeInMins" class="form-control" id="OvertimeGraceTimeInMins "
              [(ngModel)]="Entity.p.OvertimeGraceTimeInMins" placeholder="Enter over time Grace"
              #OvertimeGraceTimeInMinsCtrl="ngModel" required
              (blur)="OvertimeGraceTimeInMinsCtrl.control.markAsTouched()" />
          </div>
        </div> -->
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="submit" class="btn" (click)="SaveOfficeDutyTimeMaster()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackOfficeTime()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
