<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackOfficeTime()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <form autocomplete="off" #officedutyandtimeForm="ngForm">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label for="FromTime">Working Time From:</label>
            <input type="time" name="FromTime" required class="form-control" id="FromTime" [(ngModel)]="Entity.p.FromTime"
              placeholder="Enter From Time " #FromTimeCtrl="ngModel" required (blur)="FromTimeCtrl.control.markAsTouched()" />
          <div *ngIf="(FromTimeCtrl.invalid && (FromTimeCtrl.touched || FromTimeCtrl.dirty))">
            <span class="validation-text" *ngIf="FromTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="ToTime">Working Time To:</label>
            <input type="time" name="ToTime" required class="form-control" id="ToTime" [(ngModel)]="Entity.p.ToTime"
              placeholder="Enter To Time" #ToTimeCtrl="ngModel" required (blur)="ToTimeCtrl.control.markAsTouched()" />
          <div *ngIf="(ToTimeCtrl.invalid && (ToTimeCtrl.touched || ToTimeCtrl.dirty))">
            <span class="validation-text" *ngIf="ToTimeCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Late Mark Grace Time (mins):</label>
            <input type="text" name="LateMarkGraceTimeInMins" class="form-control" id="LateMarkGraceTimeInMins" [(ngModel)]="Entity.p.LateMarkGraceTimeInMins"
              placeholder="Enter late Mark Grace" required #LateMarkGraceTimeInMinsCtrl="ngModel" (blur)="LateMarkGraceTimeInMinsCtrl.control.markAsTouched()" />
          <div *ngIf="(LateMarkGraceTimeInMinsCtrl.invalid && (LateMarkGraceTimeInMinsCtrl.touched || LateMarkGraceTimeInMinsCtrl.dirty))">
            <span class="validation-text" *ngIf="LateMarkGraceTimeInMinsCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-4">
          <div>
            <label>Overtime Grace Time (mins):</label>
            <input type="text" name="OvertimeGraceTimeInMins " class="form-control" id="OvertimeGraceTimeInMins " [(ngModel)]="Entity.p.OvertimeGraceTimeInMins"
              placeholder="Enter over time Grace" #OvertimeGraceTimeInMinsCtrl="ngModel" required (blur)="OvertimeGraceTimeInMinsCtrl.control.markAsTouched()" />
          <div *ngIf="(OvertimeGraceTimeInMinsCtrl.invalid && (OvertimeGraceTimeInMinsCtrl.touched || OvertimeGraceTimeInMinsCtrl.dirty))">
            <span class="validation-text" *ngIf="OvertimeGraceTimeInMinsCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveOfficeDutyTimeMaster()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackOfficeTime()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
