<h5 style="padding-top: 3px;" class="title title_light">Attendance Logs</h5>
<!-- Button Group -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2">
      <button type="button" [class]="isTodayAttendanceView ? 'btnglow' : 'mybtn'"
        (click)="setTodayViewStatus(); getViewStatus();">
        MY TEAM TODAY
      </button>
    </div>
    <div class="col-12 col-md-2">
      <button type="button" [class]="isDaysShow ? 'btnglow' : 'mybtn'"
        (click)="setWeeklyViewStatus(); getViewStatus(); selectWeek();">
        MY TEAM WEEKLY
      </button>
    </div>
    <div class="col-12 col-md-3">
      <button type="button" [class]="ToDispayMonthlyRequirement ? 'btnglow' : 'mybtn'"
        (click)="setMonthlyViewStatus(); getViewStatus(); selectMonth();">
        MY TEAM MONTHLY
      </button>
    </div>
    <div class="col-12 col-md-3"> </div>
    <div class="col-12 col-md-2" *ngIf="access.canAdd(featureRef)">
      <button type="button" class="mybtn" (click)="AddAttendance()">ADD ATTENDANCE</button>
    </div>
  </div>
</div>
<ng-template #noDataTpl>
  <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
    No Data
  </div>
</ng-template>
<hr class="border border-dark border-2 opacity-100 mb-4">
<!-- For Weekly  -->
<div class="p-3 rounded bg-light shadow-sm mb-3" *ngIf="ToDisplayWeeklyRequirement">
  <div class="row align-items-end g-3">
    <!-- Employee Dropdown -->
    <div class="col-md-4">
      <label for="EmployeeRef"><b>Employee Name</b></label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        [nzSize]="'large'" [(ngModel)]="Entity.p.EmployeeRef" name="EmployeeRef" required id="EmployeeRef"
        (ngModelChange)="getWeekWiseAttendanceLogByAttendanceListType()" [nzNotFoundContent]="'No data'">
        <nz-option *ngFor="let Employee of EmployeeList" [nzLabel]="Employee.p.Name"
          [nzValue]="Employee.p.Ref"></nz-option>
      </nz-select>
    </div>
  </div>
</div>
<!-- For Monthly -->
<div class="p-3 rounded bg-light shadow-sm mb-3" *ngIf="ToDispayMonthlyRequirement">
  <div class="row align-items-end g-3">
    <!-- Employee Dropdown -->
    <div class="col-12 col-md-4">
      <label class="form-label">Employee</label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        [nzSize]="'large'" [(ngModel)]="Entity.p.EmployeeRef" name="EmployeeRef" required id="EmployeeRef"
        (ngModelChange)="onEmployeeChange()" [nzNotFoundContent]="'No data'">
        <nz-option *ngFor=" let Employee of EmployeeList" [nzLabel]="Employee.p.Name"
          [nzValue]="Employee.p.Ref"></nz-option>
      </nz-select>
    </div>
    <!-- From Months -->
    <div class="col-12 col-md-4">
      <label class="form-label" for="Months">Month</label>
      <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
        [nzSize]="'large'" [(ngModel)]="Entity.p.Months" name="Months" required id="Months"
        [disabled]="!Entity.p.EmployeeRef" (ngModelChange)="getMonthWiseAttendanceLogByAttendanceListType()">
        <nz-option *ngFor="let Month of MonthList" [nzLabel]="Month.Name" [nzValue]="Month.Ref"></nz-option>
      </nz-select>
    </div>
  </div>
</div>
<!-- for table  -->
<div class="mb-5 p-3 border rounded shadow-sm bg-light">
  <div class="summary-label">Summary</div>
  <!-- ROW 2: Attendance Count -->
  <div class="p-3 rounded border bg-white shadow-sm">
    <div class="row g-3">
      <div class="col-6 col-md-3" *ngIf="!isDaysShow && !isDaysShowMonth">
        <button class="attbtn teamsize w-100">Team Size: <strong>{{ AttendanceLogCount.p.TeamSize }}</strong></button>
      </div>
      <div class="col-6 col-md-3" *ngIf="isDaysShow">
        <button class="attbtn days w-100">Days: <strong>7</strong></button>
      </div>
      <div class="col-6 col-md-3" *ngIf="isDaysShowMonth">
        <button class="attbtn days w-100">Days: <strong>{{ AttendanceLogCount.p.TotalDaysInMonth }}</strong></button>
      </div>
      <div class="col-6 col-md-3">
        <button class="attbtn present w-100">Present: <strong>{{ AttendanceLogCount.p.Present }}</strong></button>
      </div>
      <div class="col-6 col-md-3">
        <button class="attbtn absent w-100">Absent: <strong>{{ AttendanceLogCount.p.Absent }}</strong></button>
      </div>
      <div class="col-6 col-md-3">
        <button class="attbtn onleave w-100">On Leave: <strong>{{ AttendanceLogCount.p.OnLeave
            }}</strong></button>
      </div>
    </div>
  </div>
  <!-- For table  -->
  <div class="table-wrapper tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
        [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th class="tblheader" nzLeft>{{ 'SR.NO.' }}</th>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attendancelog of paginatedList(); let i = index">
            <td Class="tbldata" nzLeft>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td Class="tbldata">{{attendancelog.p.EmployeeName}}</td>
            <td Class="tbldata">{{attendancelog.p.AttendanceLogDetailsArray.length > 0 ?
              (attendancelog.p.AttendanceLogDetailsArray[0].AttendenceLocationType == LocationType.Office ? 'Office'
              : attendancelog.p.AttendanceLogDetailsArray[0].SiteName) : '--'}}</td>
            <td Class="tbldata">{{ formatDate(attendancelog.p.TransDateTime) }}</td>
            <td Class="tbldata">{{attendancelog.p.FirstCheckInTime ? convertTo12Hour(attendancelog.p.FirstCheckInTime) :
              "--"}}</td>
            <td Class="tbldata">{{attendancelog.p.LastCheckOutTime? convertTo12Hour(attendancelog.p.LastCheckOutTime) :
              "--"}}</td>
            <td Class="tbldata">{{attendancelog.p.TotalWorkingHrs?
              convertFractionTimeToHM(attendancelog.p.TotalWorkingHrs): "--"}}</td>
            <td Class="tbldata">
              <!-- Late -->
              <span class="day" ngClass="late" *ngIf="attendancelog.p.IsLateMark">
                Late
              </span>
              <!-- Not Late -->
              <span class="" ngClass="" *ngIf="!attendancelog.p.IsLateMark">
                --
              </span>
            </td>
            <td Class="tbldata">
              <!-- Half -->
              <span class="day" ngClass="half" *ngIf="attendancelog.p.IsHalfDay">
                Half
              </span>
              <!-- Full -->
              <span class="" ngClass="" *ngIf="!attendancelog.p.IsHalfDay">
                --
              </span>
            </td>
            <td Class="tbldata">{{attendancelog.p.LeaveType ? attendancelog.p.LeaveTypeName : '--'}}</td>
            <td Class="tbldata" *ngIf="attendancelog.p.IsAbsent == false && attendancelog.p.IsLeave == false">
              <!-- PENDING -->
              <span class="status" ngClass="pending" *ngIf="!attendancelog.p.IsAttendanceVerified"
                style="cursor: pointer;" (click)="access.canApprove(this.featureRef)?ChangeAttendanceStatus(attendancelog) : notAccess()">
                Pending
              </span>

              <!-- APPROVED -->
              <span class="status" *ngIf="attendancelog.p.IsAttendanceVerified" ngClass="approved">
                Approved
              </span>
            </td>
            <td Class="tbldata" *ngIf="attendancelog.p.IsLeave == true">
              <!-- Leave -->
              <span class="status" ngClass="leave">
                Leave
              </span>
            </td>
            <td Class="tbldata" *ngIf="attendancelog.p.IsAbsent == true">
              <!-- Absent -->
              <span class="status" ngClass="absent">
                Absent
              </span>
            </td>
            <td Class="tbldata action-column" *ngIf="showActionColumn">
              <span style="margin-left: 9px;" (click)="onEditClicked(attendancelog)">
                <img src="/assets/icons/edit.png" alt="Edit" title="Edit" width="20px" height="20px" />
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div *ngIf="DisplayMasterList.length === 0" class="card-body_light">
    <div style="height: 200px" class="d-flex align-items-center justify-content-center">
      <span class="title_light"> Data Not Found</span>
    </div>
  </div>
</div>
<div class="pagination-wrapper">
  <nz-pagination class="try light-theme" *ngIf="DisplayMasterList.length > 0" [nzTotal]="DisplayMasterList.length"
    [nzPageSize]="pageSize" [(nzPageIndex)]="currentPage" (nzPageIndexChange)="onPageChange($event)">
  </nz-pagination>
</div>
