.attbtn {
  // color: white;
  padding: 8px 16px;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  justify-self: right
}

.teamsize {
  background-color: #dbeef3;
}

.present {
  background-color: #cbecb0;
}

.days {
  background-color: #dbeef3;
}

.onleave {
  background-color: #f2a3a7;
}

.absent {
  background-color: #fbd5b5;
}


.attbtn:hover {
  background-color: maroon;
  color: white;
}

.btnglow {
  background-color: maroon !important;
  color: white !important;
  padding: 0.4rem 1.1rem !important;
  border: none !important;
  border-radius: 6px !important;
  width: 100%;
  cursor: pointer !important;
  font-size: 100% !important;
  font-weight: 500 !important;
  box-shadow: 0 4px 6px rgba(241, 25, 25, 0.2) !important;
  transition: background-color 0.1s ease, transform 0.2s ease, box-shadow 0.3s ease !important;
  // position: relative !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .btn {
    font-size: 3%;
    padding: 8px 12px;
  }

  .search-box_light {
    width: 100% !important;
  }

  .fixed-pagination {
    justify-content: center !important;
  }
}

.mybtn {
  color: white !important;
  background-color: brown;
  padding: 0.4rem 1.1rem !important;
  border: none !important;
  border-radius: 6px !important;
  width: 100%;
  cursor: pointer !important;
  font-size: 100% !important;
  font-weight: 500 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.1s ease, transform 0.2s ease, box-shadow 0.3s ease !important;
  // position: relative !important;
  overflow: hidden !important;
}

.summary-label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #6c757d;
  /* Bootstrap's text-muted */
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  padding-left: 4px;
  border-left: 3px solid #0d6efd;
  /* Primary-colored accent bar */
}

.table-wrapper {
  border-bottom: none !important;
  box-shadow: none !important;
}

.fixed-pagination {
  border-top: none !important;
  margin-top: 0px !important;
  box-shadow: none !important;
}

.pagination-wrapper {
  text-align: right;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}

.status {
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  width: 100px;
  border: 1px solid;
  display: inline-block;
  color: black;

  &.approved {
    border-color: green;
    background-color: #e6ffe6;
  }

  &.pending {
    border-color: rgb(180, 180, 2);
    background-color: rgb(252, 252, 213);
  }

  &.rejected {
    border-color: red;
    background-color: #ffe6e6;
  }

  &.completed {
    border-color: #007bff;
    background-color: #e6f0ff;
  }

  &.incomplete {
    border-color: #ff9900;
    background-color: #fff5e6;
  }

  &.ordered {
    border-color: #800080;
    background-color: #f3e6f9;
  }
}
