<ion-header class="ion-no-border modern-header">
  <ion-toolbar appSafeArea="top:2rem" class="modern-header">
    <!-- Left-aligned logo -->
    <ion-buttons slot="start">
      <ion-button class="logo-button" fill="clear">
        <img src="assets/logos/ShreeIcon.png" alt="Shree Developers" class="logo-img" />
      </ion-button>
    </ion-buttons>

    <!-- Company Selector -->
    <ion-item class="input-item" button detail="false" (click)="selectCountryBottomsheet()" [disabled]="IsDefaultUser"
      *ngIf="!IsDefaultUser" lines="none">
      <ion-text class="status-text">
        {{ CompanyName || 'Select Company' }}
      </ion-text>
    </ion-item>

    <ion-text class="status-text-user" *ngIf="IsDefaultUser">
      {{ CompanyName || 'Select Company' }}
    </ion-text>

    <!-- Right-side actions -->
    <ion-buttons slot="end">
      <ion-button class="icon-button" (click)="goToNotificationPage()" fill="clear">
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-avatar class="user-avatar" (click)="goToProfilePage()">
        <img *ngIf="imagePreviewUrl; else placeholderImage" [src]="imagePreviewUrl" alt="Profile" loading="lazy" />
        <ng-template #placeholderImage>
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ng-template>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>