/* Gradient background with modern look */
.modern-header {
    // --background: linear-gradient(135deg, #4c6ef5 0%, #15aabf 100%);
    color: #333;
    padding: 0 6px;
    /* small side padding */
    display: flex;
    align-items: center;
}

// ion-toolbar {
//     --ion-safe-area-top: 2rem;
//     padding-top: var(--ion-safe-area-top);
// }

/* Logo Button */
.logo-button {
    padding: 0;
    height: 100%;
}

.logo-img {
    height: 36px;
    width: auto;
}

/* Company Dropdown Styling */
.input-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
    color: var(--ion-text-color);
    border-radius: 8px;
    font-size: 0.95rem;
    margin: 0 8px;
}

.status-text {
    font-weight: 600;
    font-size: 1rem;
    padding-left: 6px;
}

.status-text-user {
    font-weight: 600;
    font-size: 1rem;
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Notification & Avatar */
.icon-button {
    color: var(--ion-color-primary);
    font-size: 1.4rem;
}

.user-avatar {
    width: 36px;
    height: 36px;
    border: 2px solid var(--ion-color-primary);
    margin-left: 8px;
}