<div class="row">
  <div class="col-4 mb-2">
    <h1 style="padding-top: 3px" class="title title_light">Bills Payable List</h1>
  </div>
  <div class="col-4 mb-2 search-container_light">
    <app-shared-filter [masterList]="MasterList"
      [filterFields]="['Date', 'InvoiceNo', 'SiteName','LedgerName','SubLedgerName','Description','RecipientName','InvoiceAmount']"
      (filteredList)="onFilteredList($event)"></app-shared-filter>
  </div>
  <div class="col-4 mb-2" routerLinkActive="active">
  </div>
</div>
<ng-template #noDataTpl>
  <div style="text-align: center; color: rgba(0, 0, 0, 0.25)">No Data</div>
</ng-template>

<div class="row row-cols-1 row-cols-md-4 g-2 filter-row">
  <div class="col">
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select"
      [nzSize]="'large'" name="SiteRef" [(ngModel)]="Entity.p.SiteRef" required id="SiteRef"
      (ngModelChange)="getInvoiceSumExpenseSumListByCompanySiteMonthFilterType();">
      <nz-option nzLabel="All Sites" [nzValue]="0"></nz-option>
      <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
      id="BillPayableFilterType" name="BillPayableFilterType" [nzSize]="'large'" [(ngModel)]="BillPayableFilterType"
      (ngModelChange)="getInvoiceSumExpenseSumListByCompanySiteMonthFilterType()">
      <nz-option [nzValue]="57" [nzLabel]="'Weekly'"> </nz-option>
      <nz-option [nzValue]="63" [nzLabel]="'Monthly'"> </nz-option>
    </nz-select>
  </div>
  <div class="col" *ngIf="BillPayableFilterType == 63">
    <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
      id="SelectedBillPayableMonths" name="SelectedBillPayableMonths" [nzSize]="'large'"
      [(ngModel)]="SelectedBillPayableMonths"
      (ngModelChange)="getInvoiceSumExpenseSumListByCompanySiteMonthFilterType()">
      <nz-option *ngFor="let SelectedBillPayableMonths of MonthList" [nzValue]="SelectedBillPayableMonths.Ref"
        [nzLabel]="SelectedBillPayableMonths.Name">
      </nz-option>
    </nz-select>
  </div>
</div>

<div class="table-wrapper tblcard_light" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
      [nzScroll]="{ x: 'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Invoice of paginatedList(); index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{ Invoice.p.RecipientName }}</td>
          <td Class="tbldata">
            {{ Invoice.p.SiteName }}
          </td>
          <td Class="tbldata">
            {{ Invoice.p.InvoiceAmount | currency : "INR" }}
          </td>
          <td Class="tbldata">
            {{ Invoice.p.GivenAmount | currency : "INR"}}
          </td>
          <td Class="tbldata">
            {{ Invoice.p.RemainingAmount | currency : "INR" }}
          </td>
          <td Class="tbldata">
            {{ Invoice.p.TotalCashReceived | currency : "INR" }}
          </td>
          <td Class="tbldata">
            {{ Invoice.p.TotalChequeReceived | currency : "INR" }}
          </td>
        </tr>
        <tr>
          <td class="tbldata" colspan="3"><b>Total</b></td>
          <td class="tbldata">
            <b>{{ totalInvoiceAmount | currency : "INR" }}</b>
          </td>
          <td class="tbldata">
            <b>{{ totalGivenAmount | currency : "INR" }}</b>
          </td>
          <td class="tbldata">
            <b>{{ totalRemainingAmount | currency : "INR" }}</b>
          </td>
          <td class="tbldata">
            <b>{{ totalCashReceived | currency : "INR" }}</b>
          </td>
          <td class="tbldata">
            <b>{{ totalChequeReceived | currency : "INR" }}</b>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <Pagination [pageSize]="pageSize" [total]="total" [(currentPage)]="currentPage" (pageChange)="onPageChange($event)" />
</div>
<div *ngIf="DisplayMasterList.length == 0">
  <Data-Not-Found />
</div>
