<app-header title="Attendance Management"></app-header>
<ion-content class="ion-padding">
  <div class="user-card">
    <div class="user-header">
      <div class="user-details">
        <h3>{{ employeeName || 'User' }}</h3>
        <p class="email-text">{{ employeeEmail || 'email' }}</p>
      </div>

      <ion-avatar class="avatar">
        <img *ngIf="imagePreviewUrl; else placeholderImage" [src]="imagePreviewUrl" alt="Profile" loading="lazy" />
        <ng-template #placeholderImage>
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ng-template>
      </ion-avatar>
    </div>

    <div class="info-pills">
      <ion-chip class="info-chip">
        <ion-label>
          <small>Role</small><br />
          <strong>{{Role ? Role: 'Role'}}</strong>
        </ion-label>
      </ion-chip>
      <ion-chip class="info-chip" (click)="openProfile()">
        <ion-label>
          <ion-icon name="create-outline" color="primary"></ion-icon><br />
          <strong>Edit Profile</strong>
        </ion-label>
      </ion-chip>
    </div>
  </div>

  <ion-list class="additional-list" lines="none">
    <ion-item *ngFor="let option of profileOptions" button detail (click)="option.action()">
      <ion-icon [name]="option.icon" slot="start" color="primary"></ion-icon>
      <ion-label>{{ option.title }}</ion-label>
      <!-- <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> -->
    </ion-item>
  </ion-list>

</ion-content>