.user-card {
    background: var(--ion-background-color-step-50);
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-2px);
    }

    .user-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .user-details {
            flex: 1;
            min-width: 60%;

            h3 {
                margin: 0 0 4px;
                font-size: 5vw;
                font-weight: bold;
                color: var(--ion-text-color);
            }

            .email-text {
                font-size: 3.5vw;
                color: #aaa;
                margin-bottom: 8px;
            }

            .edit-btn {
                --color: var(--ion-color-primary);
                font-size: 3.2vw;
                padding: 0;
                margin-top: 5px;
                --background: transparent;
                --box-shadow: none;
            }
        }

        .avatar {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 10px;
        }
    }

    .info-pills {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 20px;

        .info-chip {
            --background: var(--ion-background-color-step-100);
            --color: var(--ion-text-color);
            padding: 10px 14px;
            border-radius: 12px;
            font-size: 14px;
            text-align: center;

            ion-label {
                display: block;

                small {
                    color: var(--ion-color-primary);
                }

                strong {
                    color: var(--ion-text-color);
                    font-size: 14px;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .user-header .user-details {
            h3 {
                font-size: 20px;
            }

            .email-text {
                font-size: 14px;
            }

            .edit-btn {
                font-size: 14px;
            }
        }
    }
}


.additional-list ion-item {
    background: var(--ion-background-color-step-50);
    margin-top: 10px;
    border-radius: 12px;
    color: var(--ion-text-color);
    --padding-start: 16px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    ion-icon {
        font-size: 20px;
    }
}