<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackVehicle()">
          <img
            src="/assets/icons/arrow-button.png"
            alt=""
            width="34px"
            height="34px"
          />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Vehicle Master</span>
      </div>
    </div>
    <form>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6">
          <div>
           <label>Vehicle Name</label>
            <input
              type="text"
              name="vehicalname"
              class="form-control"
              id="vehicalname"
              required
              placeholder="Enter Vehical Name"
            />
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
          <div>
            <button type="button" class="btn">Save</button>
          </div>
          <div>
            <button type="button" class="btn"  (click)="BackVehicle()">Back</button>
          </div>
      </div>
    </form>
  </div>
</div>