<div class="card-body">
  <div class="card" style="padding: 1rem">
    <form>
      <div class="row">
        <div class="col-md-4">
          <h5 class="title">Vehicle Master</h5>
        </div>
      </div>
      <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
        <div class="col-md-6">
          <div>
            <label><b>Vehicle Name</b></label>
            <input
              type="text"
              name="vehicalname"
              class="form-control"
              id="vehicalname"
              required
              placeholder="Enter Vehical Name"
            />
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem;"   >
          <div>
            <button type="button" class="btn">Save</button>
          </div>
          <div>
            <button type="button" class="btn" routerLink="/homepage/dashboard" (click)="BackVehicle()">Back</button>
          </div>
      </div>
    </form>
  </div>
</div>