<ion-content>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Filters</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ng-container *ngFor="let filter of filters">
      <ion-item *ngIf="filter.type === 'select'">
        <ion-label>{{ filter.label }}</ion-label>
        <ion-select [(ngModel)]="filterData[filter.label]">
          <ion-select-option *ngFor="let option of filter.options" [value]="option">
            {{ option }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="filter.type === 'text'">
        <ion-label>{{ filter.label }}</ion-label>
        <ion-input [(ngModel)]="filterData[filter.label]"></ion-input>
      </ion-item>
      <!-- Existing dynamic filter rendering -->
      <ion-item *ngIf="filter.type === 'date'">
        <ion-label>{{ filter.label }}</ion-label>
        <ion-datetime [(ngModel)]="filterData[filter.label]" presentation="date" display-format="DD/MM/YYYY" max="9999-12-31">
        </ion-datetime>
      </ion-item>


      <!-- Add more types like date, checkbox, etc., as needed -->
    </ng-container>
  </ion-list>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="clearFilters()">Clear Filters</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="applyFilters()">Apply Filters</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-content>