<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackExternalUser()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-6">
          <div>
            <label>User Name</label>
            <input type="text" [(ngModel)]="Entity.p.Name" name="Name" class="form-control" id="Name"
              required placeholder="Enter User Name" />
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label>User ID/Email Id</label>
            <input type="text" [(ngModel)]="Entity.p.EmailId" name="EmailId" class="form-control" id="EmailId" required
              placeholder="Enter User ID/Email Id" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-6">
          <div>
            <label>Contact No</label>
            <input type="text" [(ngModel)]="Entity.p.Contacts" name="Contact" class="form-control" id="Contact" required
              placeholder="Enter Contact No" />
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label>Department Name </label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="DepartmentName"
              name="DepartmentName" [nzSize]="'large'" [(ngModel)]="Entity.p.DepartmentRef">
              <nz-option *ngFor="let department of DepartmentList" [nzValue]="department.p.Ref"
                [nzLabel]="department.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">

      </div>
      <div class="col-md-6">
        <label for="UserRoleRef"><b>User Role</b></label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
          [(ngModel)]="Entity.p.UserRoleRef" name="UserRoleRef" required id="UserRoleRef">
          <nz-option *ngFor="let userrole of UserRoleList" [nzLabel]="userrole.p.Name"
            [nzValue]="userrole.p.Ref"></nz-option>
        </nz-select>
      </div>
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button type="button" class="btn" (click)="SaveExternalUserMaster()">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackExternalUser()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
