<div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
      <h5 style="padding-top: 3px;" class="title title_light">Customer Follow Up</h5>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 search-container_light">
      <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus
        [(ngModel)]="SearchString" />
    </div>
    <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 btn-container" routerLinkActive="active">
      <nz-button nz-button class="btn1" (click)="add()">
        Add New
      </nz-button>
    </div> -->
    <div>
    </div>
  </div>
  <div class="row">
    <div class="card-body" style="margin-left: 14px;">
      <form autocomplete="off">
        <div class="row">
          <div class="col-md-4">
            <label for="date"><b>Date</b></label>
            <input type="date" name="date" class="form-control" id="date" [(ngModel)]="date"
              (ngModelChange)="DateToStandardDateTime(date)" />
          </div>
          <!-- <div class="col-md-4">
            <div>
              <label for="SiteManagementRef"><b>Interested site</b></label>
              <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
                name="SiteManagementRef" [(ngModel)]="SiteManagementRef" required id="SiteManagementRef"
                (ngModelChange)="getPlotBySiteRefList(SiteManagementRef)">
                <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="InterestedPlotRef"><b>Interested Plots</b></label>
              <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="InterestedPlotRef"
                name="InterestedPlotRef"  [(ngModel)]="InterestedPlotRef" (ngModelChange)="getCustomerFollowUpListByDateandPlotRef()" [nzSize]="'large'">
                <nz-option *ngFor="let Plot of PlotList" [nzValue]="Plot.p.Ref" [nzLabel]="Plot.p.PlotNo"></nz-option>
              </nz-select>
            </div>
          </div> -->
        </div>
      </form>
    </div>
  </div>
  <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{x:'auto' }"
        nzFrontPagination="false" [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let followup of followup; index as i">
            <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td Class="tbldata">{{followup.p.CustomerName}}</td>
            <td Class="tbldata">{{followup.p.ContactNos}}</td>
            <td class="tbldata">{{ formatDate(followup.p.ReminderDate) }}</td>

            <td Class="tbldata">{{followup.p.CustomerStatusName}}</td>
            <!-- <td Class="tbldata">{{followup.p.CustomerFollowUps[0].CustomerFollowUpPlotDetails[0].SiteName}}</td> -->
            <td class="tbldata">
              <!-- <span style="margin-left: 9px;" (click)="onEditClicked(followup);">
                <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
              </span> -->
              <nz-button nz-button class="btn2"
                (click)="onEditClicked(followup)">
                Follow Up?
              </nz-button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="fixed-pagination">
      <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
      </nz-pagination>
    </div>
  </div>
  <!-- <div *ngIf="DisplayMasterList.length === 0" class="card-body_light">
  <div style="height: 200px" class="d-flex align-items-center justify-content-center">
    <span class="title_light"> Data Not Found</span>
  </div>
</div> -->
