<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row mb-3">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackProgressReport()">
          <img src="/assets/icons/arrow-button.png" alt="Back" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">परिशिष्ठ A (NA)</span>
      </div>
    </div>

    <!-- If file not selected -->
    <ng-template #NoFile>
      No file selected
    </ng-template>

    <!-- Fallback: If file is missing entirely -->
    <ng-template #defaultImage>
      <img src="/assets/images/noimagelandscape.jpeg" alt="No Image" class="img-preview" />
    </ng-template>

    <!-- Fallback: If file is not an image (e.g., PDF/DOC) -->
    <ng-template #defaultDocImage>
      <img src="/assets/icons/doc-placeholder.png" alt="Document File" class="file-preview" />
    </ng-template>
    <form autocomplete="off">

      <!---------------------------------------------------------------- T.P. पत्र Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- T.P. पत्र -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-4 text-start">
            <label>T.P. पत्र</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsTPPatraSubmit">Submit</label>
            <input type="checkbox" id="IsTPPatraSubmit" [(ngModel)]="Entity.p.IsTPPatraSubmit" name="IsTPPatraSubmit"
              class="custom-checkbox" />
          </div>
        </div>

        <!-- Details -->
        <div class="row">
          <div class="col-md-4">
            <label>Inward No.</label>
            <input type="text" name="TPPatraInwardNo" class="form-control date-input" id="TPPatraInwardNo"
              [(ngModel)]="Entity.p.TPPatraInwardNo" placeholder="Select No." />
          </div>
          <div class="col-md-4">
            <label>Date</label>
            <input type="date" name="TPPatraInwardDate" class="form-control date-input" id="TPPatraInwardDate"
              [(ngModel)]="Entity.p.TPPatraInwardDate" placeholder="Select Date" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  प्राधिकरण Office पत्र Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- प्राधिकरण Office पत्र -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-4 text-start">
            <label>प्राधिकरण Office पत्र</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsPradhikaranOfficePatraSubmit">Submit</label>
            <input type="checkbox" id="IsPradhikaranOfficePatraSubmit"
              [(ngModel)]="Entity.p.IsPradhikaranOfficePatraSubmit" name="IsPradhikaranOfficePatraSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  Tentative Order व नकाशा Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- Tentative Order व नकाशा -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-4 text-start">
            <label>Tentative Order व नकाशा</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsTentativeOrderMapSubmit">Submit</label>
            <input type="checkbox" id="IsTentativeOrderMapSubmit" [(ngModel)]="Entity.p.IsTentativeOrderMapSubmit"
              name="IsTentativeOrderMapSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  झोन दाखला - नकाशा Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- झोन दाखला - नकाशा -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-4 text-start">
            <label>झोन दाखला - नकाशा</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsZoneDakhalaMapSubmit">Submit</label>
            <input type="checkbox" id="IsZoneDakhalaMapSubmit" [(ngModel)]="Entity.p.IsZoneDakhalaMapSubmit"
              name="IsZoneDakhalaMapSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  1949 पासुनचे सात बारा व फेरफार Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- 1949 पासुनचे सात बारा व फेरफार -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-4 text-start">
            <label>1949 पासुनचे सात बारा व फेरफार</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit">Submit</label>
            <input type="checkbox" id="IsEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit"
              [(ngModel)]="Entity.p.IsEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit"
              name="IsEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit" class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!----------------------------------------------------------------  ई पत्रक Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- ई पत्रक -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px">
          <div class="col-4 text-start">
            <label>ई पत्रक</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsEPatrakSubmit">Submit</label>
            <input type="checkbox" id="IsEPatrakSubmit" [(ngModel)]="Entity.p.IsEPatrakSubmit" name="IsEPatrakSubmit"
              class="custom-checkbox" />
          </div>
        </div>
      </div>

      <br>

      <!---------------------------------------------------------------- इनामपत्र Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- इनामपत्र -->
        <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-4 text-start">
            <label>इनामपत्र</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsInamPatraSubmit">Submit</label>
            <input type="checkbox" id="IsInamPatraSubmit" [(ngModel)]="Entity.p.IsInamPatraSubmit"
              name="IsInamPatraSubmit" class="custom-checkbox" />
          </div>
        </div>

        <div class="row p-1" style="border-radius: 8px 8px 0px 0px">
          <div class="col-4 text-start">
            <label>इनामपत्र</label>
          </div>
          <div class="col-4"></div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <label for="IsInamPatraSubmitTwo">Yes</label>
            <input type="checkbox" id="IsInamPatraSubmitTwo" [(ngModel)]="Entity.p.IsInamPatraSubmitTwo"
              name="IsInamPatraSubmitTwo" class="custom-checkbox" (ngModelChange)="ResetInampatra()" />
          </div>
        </div>

        <!----------------------------------------------------------  अर्ज Box ------------------------------------------------>
        <div *ngIf="Entity.p.IsInamPatraSubmitTwo" class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">

          <!-- अर्ज -->
          <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
            <div class="col-6 text-start">
              <label> अर्ज</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <label for="IsArjSubmit">Submit</label>
              <input type="checkbox" id="IsArjSubmit" [(ngModel)]="Entity.p.IsArjSubmit" name="IsArjSubmit"
                class="custom-checkbox" (ngModelChange)="ResetArj()" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-md-4">
              <label>Inward No.</label>
              <input type="text" name="ArjInwardNo" class="form-control date-input" id="ArjInwardNo"
                [(ngModel)]="Entity.p.ArjInwardNo" placeholder="Select No." />
            </div>
            <div class="col-md-4">
              <label>Date</label>
              <input type="date" name="ArjInwardDate" class="form-control date-input" id="ArjInwardDate"
                [(ngModel)]="Entity.p.ArjInwardDate" placeholder="Select Date" />
            </div>
          </div>

          <!-- 1949 पासुनचे सात बारा व फेरफार -->
          <div class="row">
            <div class="col-md-4">
              <label for="IsInamEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit">1949 पासुनचे सात बारा व फेरफार</label>
            </div>
            <div class="col-md-4">
              <label for="IsInamEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit">Submit</label>
              <input type="checkbox" id="IsInamEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit"
                [(ngModel)]="Entity.p.IsInamEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit"
                name="IsInamEkonisheEkonPanasPasuncheSatbaraVaFerfarSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- झोन दाखला - नकाशा -->
          <div class="row">
            <div class="col-md-4">
              <label for="IsInamZoneDakhalaMapSubmit">झोन दाखला - नकाशा</label>
            </div>
            <div class="col-md-4">
              <label for="IsInamZoneDakhalaMapSubmit">Submit</label>
              <input type="checkbox" id="IsInamZoneDakhalaMapSubmit" [(ngModel)]="Entity.p.IsInamZoneDakhalaMapSubmit"
                name="IsInamZoneDakhalaMapSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- प्रतिज्ञापत्र -->
          <div class="row">
            <div class="col-md-4">
              <label for="IsPratijnaPatraSubmit">प्रतिज्ञापत्र</label>
            </div>
            <div class="col-md-4">
              <label for="IsPratijnaPatraSubmit">Submit</label>
              <input type="checkbox" id="IsPratijnaPatraSubmit" [(ngModel)]="Entity.p.IsPratijnaPatraSubmit"
                name="IsPratijnaPatraSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- व्हॅल्युएशन Report -->
          <div class="row">
            <div class="col-md-4">
              <label for="IsValuationReportSubmit">व्हॅल्युएशन Report</label>
            </div>
            <div class="col-md-4">
              <label for="IsValuationReportSubmit">Submit</label>
              <input type="checkbox" id="IsValuationReportSubmit" [(ngModel)]="Entity.p.IsValuationReportSubmit"
                name="IsValuationReportSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- इनामपत्र -->
          <div class="row">
            <div class="col-md-4">
              <label for="IsInamPatraSubmitThree">इनामपत्र</label>
            </div>
            <div class="col-md-4">
              <label for="IsInamPatraSubmitThree">Submit</label>
              <input type="checkbox" id="IsInamPatraSubmitThree" [(ngModel)]="Entity.p.IsInamPatraSubmitThree"
                name="IsInamPatraSubmitThree" class="custom-checkbox" />
            </div>
          </div>

          <!-- चलन -->
          <div class="row">
            <div class="col-md-4">
              <label for="IsChalanSubmit">चलन</label>
            </div>
            <div class="col-md-4">
              <label for="IsChalanSubmit">Submit</label>
              <input type="checkbox" id="IsChalanSubmit" [(ngModel)]="Entity.p.IsChalanSubmit" name="IsChalanSubmit"
                class="custom-checkbox" />
            </div>
          </div>

          <!-- वर्ग 2 ते वर्ग 1 चा आदेश -->
          <div class="row">
            <div class="col-md-4">
              <label for="IsvargDonTeVargEkChaAadeshSubmit">वर्ग 2 ते वर्ग 1 चा आदेश</label>
            </div>
            <div class="col-md-4">
              <label for="IsvargDonTeVargEkChaAadeshSubmit">Submit</label>
              <input type="checkbox" id="IsvargDonTeVargEkChaAadeshSubmit"
                [(ngModel)]="Entity.p.IsvargDonTeVargEkChaAadeshSubmit" name="IsvargDonTeVargEkChaAadeshSubmit"
                class="custom-checkbox" />
            </div>
          </div>
        </div>

      </div>

      <br>

      <!----------------------------------------------------------------  Outward Box ------------------------------------------------>
      <div
        style="border: solid; border-color: brown; border-width: 1px; border-radius: 8px; margin-bottom: 2px; padding: 0px 12px;">
        <!-- Outward -->
        <div class="row mb-2 p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
          <div class="col-6 text-start">
            <label>Outward</label>
          </div>
        </div>

        <!----------------------------------------------------------  T.P.Office Box ------------------------------------------------>
        <div class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">

          <!-- T.P.Office -->
          <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
            <div class="col-6 text-start">
              <label> T.P.Office</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <label for="IsTPOfficeSubmit">Submit</label>
              <input type="checkbox" id="IsTPOfficeSubmit" [(ngModel)]="Entity.p.IsTPOfficeSubmit"
                name="IsTPOfficeSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-md-4">
              <label>Inward No.</label>
              <input type="text" name="TPOfficeInwardNo" class="form-control" id="TPOfficeInwardNo"
                [(ngModel)]="Entity.p.TPOfficeInwardNo" placeholder="Select No." />
            </div>
            <div class="col-md-4">
              <label>Date</label>
              <input type="date" name="TPOfficeInwardDate" class="form-control date-input" id="TPOfficeInwardDate"
                [(ngModel)]="Entity.p.TPOfficeInwardDate" placeholder="Select Date" />
            </div>
          </div>
        </div>

        <!----------------------------------------------------------  Talathi Office Box ------------------------------------------------>
        <div class="mb-3"
          style="border: solid; border-color: brown; border-width: 1px; border-radius: 5px; margin-bottom: 2px; padding: 0px 12px; width: 70%; margin-left: auto; margin-right: auto;">

          <!-- Talathi Office -->
          <div class="row p-1" style="background-color: #fbe6e6; border-radius: 8px 8px 0px 0px">
            <div class="col-6 text-start">
              <label> Talathi Office</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <label for="IsTalathiOfficeSubmit">Submit</label>
              <input type="checkbox" id="IsTalathiOfficeSubmit" [(ngModel)]="Entity.p.IsTalathiOfficeSubmit"
                name="IsTalathiOfficeSubmit" class="custom-checkbox" />
            </div>
          </div>

          <!-- Details -->
          <div class="row">
            <div class="col-md-4">
              <label>Inward No.</label>
              <input type="text" name="TalathiOfficeNo" class="form-control" id="TalathiOfficeNo"
                [(ngModel)]="Entity.p.TalathiOfficeNo" placeholder="Select No." />
            </div>
            <div class="col-md-4">
              <label>Date</label>
              <input type="date" name="TalathiOfficeDate" class="form-control date-input" id="TalathiOfficeDate"
                [(ngModel)]="Entity.p.TalathiOfficeDate" placeholder="Select Date" />
            </div>
          </div>
        </div>

      </div>

      <br>

      <!-------------------------------------------------------------  Submit Box -------------------------------------------------------->
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <button type="submit" class="btn" (click)="SaveNaLetter()" [disabled]="isSaveDisabled">
            Save
          </button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackProgressReport()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
