<ion-content [fullscreen]="true" class="login-content ion-padding">
  <!-- Company Logo -->
  <div class="logo-container">
    <img src="assets/logos/ShreeIcon.png" alt="Company Logo" />
  </div>

  <!-- Login Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-wrapper">
    <app-input-field label="Email" controlName="email" type="email" icon="mail" [clearInput]="true"
      [formGroup]="loginForm" placeholder="Enter your email"></app-input-field>

    <app-input-field label="Password" controlName="password" type="password" icon="lock-closed" [formGroup]="loginForm"
      placeholder="Enter your password" [maxlength]="20"
      [pattern]="'^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}$'"></app-input-field>

    <!-- Login Button -->
    <app-custom-button label="Login" type="submit" [loading]="isLoggingIn" color="primary" icon="log-in"
      iconPosition="end" shape="round" fill="solid" [disabled]="loginForm.invalid" [customStyle]="{
        'margin-top': '16px',
        'margin-bottom': '24px'
      }"></app-custom-button>
  </form>

  <ion-button fill="clear" expand="full" (click)="goToForgotPassword()">
    Forgot Password?
  </ion-button>
</ion-content>