.settings-card {
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    padding: 30px;
    margin-bottom: 25px;
    background-color: var(--ion-background-color);
}

.user-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    // border: 3px solid var(--ion-color-primary);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.user-avatar:hover {
    transform: scale(1.1);
}

ion-label h2 {
    font-size: 15x;
    font-weight: bold;
}

ion-label p {
    font-size: 12px;
    color: #888;
}

.settings-list ion-item {
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.settings-list ion-item:hover {
    background-color: var(--ion-color-light-tint);
    transform: translateY(-3px);
}

.logout-item {
    --color: var(--ion-color-danger);
    font-weight: bold;
}