<app-header title="Settings"></app-header>

<ion-content>
  <ion-card class="settings-card">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar class="user-avatar" slot="start" (click)="selectImage()">
          <img [src]="userImage || defaultAvatar" alt="User Avatar" />
        </ion-avatar>
        <ion-label>
          <h2><b>{{ employeeName || 'Your Name' }}</b></h2>
          <p>Admin</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-list class="settings-list ion-padding" lines="none">
    <ion-item (click)="openProfile()">
      <ion-icon name="person-circle-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Profile</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
    </ion-item>

    <ion-item (click)="openNotifications()">
      <ion-icon name="notifications-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
    </ion-item>

    <ion-item (click)="openPrivacy()">
      <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Privacy & Security</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
    </ion-item>

    <ion-item (click)="confirmLogout()" class="logout-item">
      <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
      <ion-label>Logout</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="danger"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
 