<app-header-with-back-handler [title]="'Customer Follow Up'"></app-header-with-back-handler>

<ion-content class="form-container">
  <form>
    <ion-list lines="none" class="ion-padding">

      <!-- Date -->
      <ion-item class="input-item" [disabled]="'true'">
        <ion-label>Select Date</ion-label>
        <ion-datetime-button datetime="EntryDate" trigger="entry-date-modal"></ion-datetime-button>
        <ion-checkbox slot="end" [(ngModel)]="Date" name="TransDate" [disabled]="true"></ion-checkbox>
      </ion-item>
      <ion-modal keepContentsMounted="true" trigger="entry-date-modal">
        <ng-template>
          <ion-datetime id="EntryDate" [name]="'EntryDate'" presentation="date" [(ngModel)]="Date"
            show-default-buttons="true"></ion-datetime>
        </ng-template>
      </ion-modal>

      <!-- Customer Name -->
      <ion-item class="input-item">
        <ion-input label="Customer Name" labelPlacement="floating" placeholder="Enter Customer Name"
          [(ngModel)]="Entity.p.CustomerName" name="customerName" [disabled]="true"></ion-input>
      </ion-item>

      <!-- Contact No -->
      <ion-item class="input-item">
        <ion-input label="Contact No" labelPlacement="floating" placeholder="Enter Contact No"
          [(ngModel)]="Entity.p.ContactNos" name="contactNos" minlength="10" [disabled]="true"></ion-input>
      </ion-item>

      <!-- Country / State / City / Address / PinCode -->
      <ion-item class="input-item">
        <ion-label>Country</ion-label>
        <ion-text slot="end" class="status-text">{{ Entity.p.CountryName }}</ion-text>
      </ion-item>
      <ion-item class="input-item">
        <ion-label>State</ion-label>
        <ion-text slot="end" class="status-text">{{ Entity.p.StateName }}</ion-text>
      </ion-item>
      <ion-item class="input-item">
        <ion-label>City</ion-label>
        <ion-text slot="end" class="status-text">{{ Entity.p.CityName }}</ion-text>
      </ion-item>
      <ion-item class="input-item">
        <ion-label>Address</ion-label>
        <ion-text slot="end" class="status-text">{{ Entity.p.Address }}</ion-text>
      </ion-item>
      <ion-item class="input-item">
        <ion-label>PinCode</ion-label>
        <ion-text slot="end" class="status-text">{{ Entity.p.PinCode }}</ion-text>
      </ion-item>

      <!-- Contact Mode -->
      <ion-item class="input-item" button detail (click)="selectContactModeBottomsheet()"
        [disabled]="ContactModesList.length === 0">
        <ion-label>Contact Mode</ion-label>
        <ion-text slot="end" class="status-text">{{ contactModeName || 'Select' }}</ion-text>
      </ion-item>

      <!-- Reason & Requirement -->
      <ion-item class="input-item">
        <ion-input label="Reason" labelPlacement="floating" placeholder="Enter Reason" [(ngModel)]="Entity.p.Reason"
          name="reason"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-input label="Customer Requirement" labelPlacement="floating" placeholder="Enter Customer Requirement"
          [(ngModel)]="Entity.p.CustomerRequirement" name="customerRequirement"></ion-input>
      </ion-item>

      <!-- Plot Add Section -->
      <ion-list class="plot-selection">
        <ion-item class="input-item" button detail (click)="selectInterestedSiteBottomsheet()"
          [disabled]="SiteList.length === 0">
          <ion-label>Interested Site</ion-label>
          <ion-text slot="end" class="status-text">{{ SiteManagementName || 'Select' }}</ion-text>
        </ion-item>
        <ion-item class="input-item" button detail (click)="selectInterestedPlotsBottomsheet()"
          [disabled]="PlotList.length === 0">
          <ion-label>Interested Plot</ion-label>
          <ion-text slot="end" class="status-text">{{ InterestedPlotNo || 'Select' }}</ion-text>
        </ion-item>

        <ion-button expand="block" class="submit-button primary-button" (click)="addDataToCustomerFollowUpPlotDetail()"
          [disabled]="!SiteManagementName || !InterestedPlotNo">
          Add Plots
        </ion-button>
      </ion-list>

      <!-- Plot Details Cards -->
      <ion-list *ngIf="Entity.p.CustomerFollowUpPlotDetails.length > 0" class="plot-details-list">
        <ion-item lines="none">
          <ion-label class="ion-text-center title-line">Follow‑Up Plots</ion-label>
        </ion-item>
        <ion-card *ngFor="let plot of Entity.p.CustomerFollowUpPlotDetails; let i = index">
          <ion-card-header>
            <ion-card-title>{{ plot.SiteName }}</ion-card-title>
            <ion-card-subtitle>Plot #{{ (currentPage - 1) * pageSize + i + 1 }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Plot No</ion-label>
              <ion-text>{{ plot.PlotName }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Area (sqm)</ion-label>
              <ion-text>{{ plot.PlotAreaInSqm }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Area (sqft)</ion-label>
              <ion-text>{{ plot.PlotAreaInSqft }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Status</ion-label>
              <ion-select interface="popover" [mode]="'iso'" [(ngModel)]="plot.CustomerStatus" name="status_{{i}}"
                (ngModelChange)="onCustomerStatusChange(plot)">
                <ion-select-option *ngFor="let status of CustomerStatusList" [value]="status.Ref">
                  {{ status.Name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Reason</ion-label>
              <ion-input name="reason_{{i}}" [(ngModel)]="plot.Reason" placeholder="Enter Reason"></ion-input>
            </ion-item>
            <ion-item *ngIf="plot.CustomerStatus === CustomerStatusEnum.ConvertToDeal">
              <ion-label position="stacked">Customer ID</ion-label>
              <ion-input name="custid_{{i}}" [(ngModel)]="plot.CustID" placeholder="Enter Customer ID"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>

      <!-- Lead Source, Agent, Handled By, Status -->
      <ion-item class="input-item" button detail (click)="selectLeadSourceBottomsheet()"
        [disabled]="LeadSourceList.length === 0">
        <ion-label>Lead Source</ion-label>
        <ion-text slot="end" class="status-text">{{ LeadSourceName || 'Select' }}</ion-text>
      </ion-item>

      <ion-item class="input-item" *ngIf="showAgentBrokerInput">
        <ion-input label="Agent Name" labelPlacement="floating" placeholder="Enter Agent Name"
          [(ngModel)]="Entity.p.BrokerName" name="brokerName"></ion-input>
      </ion-item>

      <ion-item class="input-item" button detail (click)="selectLeadHandleByBottomsheet()"
        [disabled]="EmployeeList.length === 0">
        <ion-label>Lead Handled By</ion-label>
        <ion-text slot="end" class="status-text">{{ LeadHandleByName || 'Select' }}</ion-text>
      </ion-item>

      <ion-item class="input-item">
        <ion-input label="Remark" labelPlacement="floating" placeholder="Enter Remark" [(ngModel)]="Entity.p.Remark"
          name="remark"></ion-input>
      </ion-item>

      <ion-item class="input-item" button detail (click)="selectCustomerStatusBottomsheet()"
        [disabled]="CustomerStatusList.length === 0">
        <ion-label>Customer Status</ion-label>
        <ion-text slot="end" class="status-text">
          {{CustomerStatusName || 'Select' }}
        </ion-text>
      </ion-item>

      <!-- Site / Office Visit & Reminder Dates -->
      <ng-container *ngIf="Entity.p.CustomerStatus !== CustomerStatusEnum.LeadClosed &&
               Entity.p.CustomerStatus !== CustomerStatusEnum.ConvertToDeal">
        <ion-item class="input-item">
          <ion-label>Next Site Visit Date</ion-label>
          <ion-datetime-button datetime="siteVisitDate" trigger="siteVisitModal"></ion-datetime-button>
                  <ion-checkbox slot="end" [(ngModel)]="localSiteVisitDate" name="SiteVisitDateCheckBox" [disabled]="true"></ion-checkbox>
        </ion-item>
        <ion-modal keepContentsMounted="true" trigger="siteVisitModal">
          <ng-template>
            <ion-datetime id="siteVisitDate" presentation="date" [(ngModel)]="localSiteVisitDate" name="siteVisitDate"
              show-default-buttons="true"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item class="input-item">
          <ion-label>Next Office Visit Date</ion-label>
          <ion-datetime-button datetime="officeVisitDate" trigger="officeVisitModal"></ion-datetime-button>
          <ion-checkbox slot="end" [(ngModel)]="localOfficeVisitDate" name="officeVisitDateCheckbox" [disabled]="true"></ion-checkbox>
        </ion-item>
        <ion-modal keepContentsMounted="true" trigger="officeVisitModal">
          <ng-template>
            <ion-datetime id="officeVisitDate" presentation="date" [(ngModel)]="localOfficeVisitDate"
              name="officeVisitDate" show-default-buttons="true"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item class="input-item">
          <ion-label>Reminder Date</ion-label>
          <ion-datetime-button datetime="reminderDate" trigger="reminderDateModal"></ion-datetime-button>
          <ion-checkbox slot="end" [(ngModel)]="localReminderDate" name="reminderDateCheckBox" [disabled]="true"></ion-checkbox>
        </ion-item>
        <ion-modal keepContentsMounted="true" trigger="reminderDateModal">
          <ng-template>
            <ion-datetime id="reminderDate" presentation="date" [(ngModel)]="localReminderDate" name="reminderDate"
              show-default-buttons="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ng-container>

      <!-- Action Buttons -->
      <ion-grid class="ion-margin-top">
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="medium" class="submit-button cancel-button"
              (click)="goBack()">Cancel</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="primary" class="submit-button primary-button"
              (click)="SaveCustomerFollowUp()">Save</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>