ion-tabs,
ion-tab-bar {}

ion-tab-button {
    --background: var(--ion-background-color-step-50);
    // --background: linear-gradient(to bottom right, #7c2424, #c0392b);
    // --color: var(--ion-color-primary-contrast);
}

.BottomBar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}