<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackAttendence()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6">
          <label>Date</label>
          <input type="date" name="Date" class="form-control date-input" id="Date" readonly
            [(ngModel)]="Date" placeholder="Select Date" />
        </div>
        <div class="col-6">
          <label>Employee</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="SiteInchargeRef" required id="SiteInchargeRef"
            [(ngModel)]="Entity.p.EmployeeRef">
            <nz-option *ngFor="let employee of EmployeeList" [nzLabel]="employee.p.Name"
              [nzValue]="employee.p.Ref"></nz-option>
          </nz-select>
        </div>
        <div class="col-6">
          <div>
            <label>From Time</label>
            <input type="time" [(ngModel)]="Entity.p.FromTime" name="FromDate" class="form-control" id="FromDate"
              required #FromDateCtrl="ngModel" (blur)="FromDateCtrl.control.markAsTouched()" />
            <div *ngIf="(FromDateCtrl.invalid && (FromDateCtrl.touched || FromDateCtrl.dirty))">
              <span class="validation-text" *ngIf="FromDateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <label>Attendance Location Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="AttendanceLocationType" required id="AttendanceLocationType"
            [(ngModel)]="Entity.p.AttendanceLocationType">
            <nz-option *ngFor="let Location of AttendanceLocationTypeList" [nzLabel]="Location.Name"
              [nzValue]="Location.Ref"></nz-option>
          </nz-select>
        </div>
        <div class="col-6" *ngIf="Entity.p.AttendanceLocationType == AttendanceLocationType.Site">
          <label for="SiteRef"><b>Site</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="SiteRef" [(ngModel)]="Entity.p.SiteRef" id="SiteRef">
            <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveAttendenceMaster()" [disabled]="isSaveDisabled">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackAttendence()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
