<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackAttendence()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem;">
        <div class="col-6">
          <label>Date</label>
          <input type="date" name="Date" class="form-control date-input" id="Date" [(ngModel)]="Date"
            placeholder="Select Date" />
        </div>
        <div class="col-6">
          <label>Employee</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="EmployeeRef" required id="EmployeeRef"
            [(ngModel)]="Entity.p.EmployeeRef" (ngModelChange)="getDefaultWorkingHrsByEmployeeRef()">
            <nz-option *ngFor="let employee of EmployeeList" [nzLabel]="employee.p.Name"
              [nzValue]="employee.p.Ref"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4 col-6">
          <div>
            <label>First Check In Time</label>
            <input type="text" [(ngModel)]="FirstCheckInTime" name="FirstCheckInTime" class="form-control"
              id="FirstCheckInTime" disabled />
          </div>
        </div>
        <div class="col-md-4 col-6">
          <div>
            <label>Last Check Out Time</label>
            <input type="text" [(ngModel)]="LastCheckOutTime" name="LastCheckOutTime" class="form-control"
              id="LastCheckOutTime" disabled />
          </div>
        </div>
        <div class="col-md-4 col-6">
          <div>
            <label>Total Working Hrs</label>
            <input type="text" disabled [(ngModel)]="Entity.p.DisplayTotalWorkingHrs" name="DisplayTotalWorkingHrs"
              class="form-control" id="DisplayTotalWorkingHrs" />
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <label style="color: white;">Is Late Mark</label>
          <div class="d-flex align-items-center">
            <input type="checkbox" id="IsLateMark" [(ngModel)]="Entity.p.IsLateMark" name="IsLateMark"
              class="form-check-input me-2 large-dark-checkbox" style="width: 20px; height: 20px;"
              (ngModelChange)="IsLateMarkChange()">
            <label for="IsLateMark" class="form-check-label mb-0">Is Late Mark</label>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <div>
            <label>Total Late Mark Hrs</label>
            <input type="text" disabled [(ngModel)]="Entity.p.DisplayTotalLateMarkHrs" name="DisplayTotalLateMarkHrs"
              class="form-control" id="DisplayTotalLateMarkHrs" (click)="selectAllValue($event)" />
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <label style="color: white;">Is Half Day</label>
          <div class="d-flex align-items-center">
            <input type="checkbox" id="IsHalfDay" [(ngModel)]="Entity.p.IsHalfDay" name="IsHalfDay"
              class="form-check-input me-2 large-dark-checkbox" style="width: 20px; height: 20px;"
              (ngModelChange)="IsLateMarkChange()">
            <label for="IsHalfDay" class="form-check-label mb-0">Is Half Mark</label>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 2rem">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 d-flex align-items-end">
          <h5 style="color: black; align-self: self-end">
            <b>Attendance Log List</b>
          </h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container"
          style="display: flex; justify-content: end" routerLinkActive="active">
          <nz-button nz-button class="btn1" (click)="openModal()">Add Attendance</nz-button>
        </div>
      </div>
      <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem"
        *ngIf="Entity.p.AttendanceLogDetailsArray.length > 0">
        <div class="table-container" style="margin-top: 2rem">
          <div class="row">
            <div class="col-12">
              <h3 class="TableHeading">Attendance Log Details</h3>
            </div>
          </div>
          <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzScroll]="{ x: 'auto' }"
            nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.AttendanceLogDetailsArray">
            <thead>
              <tr>
                <th *ngFor="let header of baseHeaders" class="tblsubheader">
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let Attendance of Entity.p.AttendanceLogDetailsArray;
                  let i = index
                ">
                <td Class="tbldata">{{ i + 1 }}</td>
                <td Class="tbldata">{{ Attendance.AttendenceLocationType == AttendanceLocationType.Site ?
                  Attendance.SiteName : 'Office' }}</td>
                <td Class="tbldata">{{ convertTo12Hour(Attendance.CheckInTime) }}</td>
                <td Class="tbldata">{{ convertTo12Hour(Attendance.CheckOutTime) }}</td>
                <td Class="tbldata">{{ Attendance.DisplayWorkingHrs }}</td>
                <td class="tbldata">
                  <span style="margin-left: 9px" (click)="editAttendane(i)">
                    <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
                  </span>
                  <span style="margin-left: 9px" (click)="removeAttendane(i)">
                    <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" />
                  </span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div *ngIf="Entity.p.AttendanceLogDetailsArray.length === 0" class="card-body_light">
        <div style="height: 20vh; background-color: white" class="d-flex align-items-center justify-content-center">
          <span class="title_light"> Data Not Found</span>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="submit" class="btn" (click)="SaveAttendence()" [disabled]="isSaveDisabled">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackAttendence()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div *ngIf="isModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5><b>{{ ModalEditable ? 'Edit Attendance' : 'Add Attendance'}}</b></h5>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row" style="margin-top: 1rem;">
          <div class="col-md-6">
            <label><b>Attendance Location Type</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="AttendenceLocationType" name="AttendenceLocationType" [nzSize]="'large'"
              [(ngModel)]="newAttendance.AttendenceLocationType">
              <nz-option *ngFor="let AttendanceLocationType of AttendanceLocationTypeList"
                [nzValue]="AttendanceLocationType.Ref" [nzLabel]="AttendanceLocationType.Name"></nz-option>
            </nz-select>
          </div>
          <div class="col-md-6" *ngIf="newAttendance.AttendenceLocationType == AttendanceLocationType.Site">
            <label><b>Site Name</b></label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="newAttendance.SiteRef"
              (ngModelChange)="onSiteSelection()">
              <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
            </nz-select>
          </div>
          <div class="col-6">
            <label>Check In Time</label>
            <nz-time-picker [(ngModel)]="CheckInTime" name="CheckInTime" nzUse12Hours nzFormat="h:mm a"
              (ngModelChange)="calculateWorkingHours()" class="form-control">
            </nz-time-picker>
          </div>
          <div class="col-6">
            <label>Check Out Time</label>
            <nz-time-picker [(ngModel)]="CheckOutTime" name="CheckOutTime" nzUse12Hours nzFormat="h:mm a"
              (ngModelChange)="calculateWorkingHours()" class="form-control">
            </nz-time-picker>
          </div>
          <div class="col-6 mb-1">
            <label>Working Hrs</label>
            <input type="text" name="WorkingHrs" disabled class="form-control"
              [(ngModel)]="newAttendance.DisplayWorkingHrs" />
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 1rem;
        ">
        <div>
          <button type="submit" class="btn" (click)="addAttendance()">Save</button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal()">
            Cancel
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>
