<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackStage()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <div>
            <label>Stage Name</label>
            <input type="text" [(ngModel)]="Entity.p.Name" name="Name" class="form-control" id="Name" required
              placeholder="Enter Stage Name" [pattern]="NameWithNosAndSpace" #NameCtrl="ngModel" required
              (blur)="NameCtrl.control.markAsTouched()" />
            <div *ngIf="(NameCtrl.invalid && (NameCtrl.touched || NameCtrl.dirty))">
              <span class="validation-text" *ngIf="NameCtrl.errors?.['pattern']">{{NameWithNosAndSpaceMsg}}</span>
              <span class="validation-text" *ngIf="NameCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label>Display Order</label>
            <input type="number" [(ngModel)]="Entity.p.DisplayOrder" name="DisplayOrder" class="form-control"
              id="DisplayOrder" required placeholder="Enter Display Order" #DisplayOrderCtrl="ngModel" required
              (blur)="DisplayOrderCtrl.control.markAsTouched()" (click)="selectAllValue($event)" />
            <div *ngIf="(DisplayOrderCtrl.invalid && (DisplayOrderCtrl.touched || DisplayOrderCtrl.dirty))">
              <span class="validation-text" *ngIf="DisplayOrderCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="Entity.p.IsStageTypeApplicable == true">
          <label>Stage Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="StageType" name="StageType" [nzSize]="'large'" [(ngModel)]="Entity.p.StageType">
            <nz-option *ngFor="let stage of StageTypeList" [nzValue]="stage.Ref" [nzLabel]="stage.Name"></nz-option>
          </nz-select>
        </div>
      </div>
      <hr style="margin-top: 2rem; margin-bottom: 2rem;">
      <div class="row">
        <div class="col-md-4" style="margin-bottom: 1.5rem; ">
          <input type="checkbox" id="IsStageTypeApplicable" [(ngModel)]="Entity.p.IsStageTypeApplicable"  (ngModelChange)="onStageTypeApplicableChange($event)"
            name="IsStageTypeApplicable" class="form-check-input me-2 large-dark-checkbox"
            style="width: 20px; height: 20px;">
          <label for="IsStageTypeApplicable" class="form-check-label mb-0">Has Stage Type</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 1.5rem; ">
          <input type="checkbox" id="IsSubStageApplicable" [(ngModel)]="Entity.p.IsSubStageApplicable"
            name="IsSubStageApplicable" class="form-check-input me-2 large-dark-checkbox"
            style="width: 20px; height: 20px;">
          <label for="IsSubStageApplicable" class="form-check-label mb-0">Has Sub Stage</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 1.5rem; ">
          <input type="checkbox" id="IsMachinaryExpenseApplicable" [(ngModel)]="Entity.p.IsMachinaryExpenseApplicable"
            name="IsMachinaryExpenseApplicable" class="form-check-input me-2 large-dark-checkbox"
            style="width: 20px; height: 20px;">
          <label for="IsMachinaryExpenseApplicable" class="form-check-label mb-0">Machinary expense</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 1.5rem; ">
          <input type="checkbox" id="IsLabourExpenseApplicable" [(ngModel)]="Entity.p.IsLabourExpenseApplicable"
            name="IsLabourExpenseApplicable" class="form-check-input me-2 large-dark-checkbox"
            style="width: 20px; height: 20px;">
          <label for="IsLabourExpenseApplicable" class="form-check-label mb-0">Labour Expense</label>
        </div>
        <div class="col-md-4" style="margin-bottom: 1.5rem; ">
          <input type="checkbox" id="IsOtherExpenseApplicable" [(ngModel)]="Entity.p.IsOtherExpenseApplicable"
            name="IsOtherExpenseApplicable" class="form-check-input me-2 large-dark-checkbox"
            style="width: 20px; height: 20px;">
          <label for="IsOtherExpenseApplicable" class="form-check-label mb-0">Other Expense</label>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveStageMaster()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackStage()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
