<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackMaterial()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">{{DetailsFormTitle}}</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-6">
          <div>
           <label>Material Name</label>
            <input type="text" [(ngModel)]="Entity.p.Name" name="Name" class="form-control" id="Name"
              required placeholder="Enter Material Name" />
          </div>
        </div>

      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <label> Material Unit</label>
        <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="UnitRef"
                name="UnitRef" [nzSize]="'large'" [(ngModel)]="Entity.p.UnitRef">
                <nz-option *ngFor="let Unit of UnitList" [nzValue]="Entity.p.UnitRef"
                  [nzLabel]="Unit.p.Name"></nz-option>
              </nz-select>
      </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="button" class="btn" (click)="SaveMaterialMaster()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackMaterial()">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>