<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
    <h5 style="padding-top: 3px;" class="title title_light">Financial Year</h5>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 search-container_light">
    <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus
      [(ngModel)]="SearchString" />
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 btn-container" routerLinkActive="active">
    <nz-button nz-button class="btn1"  (click)="isPasswordModalOpen = true">
      <!-- (click)='AddNewFinancialYear()' -->
      Create New Financial Year
    </nz-button>
  </div>
</div>
<div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="MasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table" [nzData]="paginatedList()" Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let financialyear of paginatedList(); index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{financialyear.p.FromDate}}</td>
          <td Class="tbldata">{{financialyear.p.ToDate}}</td>
          <td Class="tbldata">
             <button nz-button class="status"  (click)="isSetFinancialYearModalOpen = true" ngClass="pending">
              Set Financial Year
            </button>
       </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="fixed-pagination">
    <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
    </nz-pagination>
  </div>
</div>
<!-- <div *ngIf="DisplayMasterList.length === 0" class="card-body_light">
  <div style="height: 200px" class="d-flex align-items-center justify-content-center">
    <span class="title_light"> Data Not Found</span>
  </div>
</div> -->




<div *ngIf="isPasswordModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5> Create New Financial Year </h5>
      <button type="button" class="btn-close" (click)="closeModal('password')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">


         <!-- Password Field -->
      <div >
        <label for="password">Password</label>
        <div style="display: flex">
          <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" name="Password" required
            [(ngModel)]="localpassword" />
          <span (click)="togglePasswordVisibility()" class="input-icon"
            style="margin-top: 0.4rem; margin-left: 0.2rem; color: rgb(255, 255, 255); cursor: pointer;">
            <i class="fa-regular fa-eye" *ngIf="showPassword"></i>
            <i class="fa-regular fa-eye-slash" *ngIf="!showPassword"></i>
          </span>
        </div>
      </div>
      <span>
        <strong>Note :</strong> To create/set a new financial year, you must enter your login password.
      </span>
        <!-- <div class="row" style="margin-top: 1rem">
          <div class="col-md-12 mb-3">
            <label for="localpassword">Password</label>
            <input type="text" name="localpassword" id="localpassword" class="form-control" [(ngModel)]="localpassword" required
              placeholder="Enter Password" />
          </div>
          <span>
            <strong>Note :</strong> To create a new financial year, you must enter your login password.
          </span>
        </div> -->
        </form>
    </div>
    <div class="custom-modal-footer">
      <!-- <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Close</button> -->
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <nz-button nz-button class="btn1" (click)='AddNewFinancialYear()'>Save</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('owner')">
            Close
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="isSetFinancialYearModalOpen" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5> Set New Financial Year </h5>
      <button type="button" class="btn-close" (click)="closeModal('password')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">


         <!-- Password Field -->
      <div >
        <label for="password">Password</label>
        <div style="display: flex">
          <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" name="Password" required
            [(ngModel)]="localpassword" />
          <span (click)="togglePasswordVisibility()" class="input-icon"
            style="margin-top: 0.4rem; margin-left: 0.2rem; color: rgb(255, 255, 255); cursor: pointer;">
            <i class="fa-regular fa-eye" *ngIf="showPassword"></i>
            <i class="fa-regular fa-eye-slash" *ngIf="!showPassword"></i>
          </span>
        </div>
      </div>
      <span>
        <strong>Note :</strong> To set a new financial year, you must enter your login password.
      </span>
        <!-- <div class="row" style="margin-top: 1rem">
          <div class="col-md-12 mb-3">
            <label for="localpassword">Password</label>
            <input type="text" name="localpassword" id="localpassword" class="form-control" [(ngModel)]="localpassword" required
              placeholder="Enter Password" />
          </div>
          <span>
            <strong>Note :</strong> To create a new financial year, you must enter your login password.
          </span>
        </div> -->
        </form>
    </div>
    <div class="custom-modal-footer">
      <!-- <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Close</button> -->
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <nz-button nz-button class="btn1"  (click)='SetNewFinancialYear()'>Set</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('owner')">
            Close
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>