<div class="row">
  <div class="col-4 mb-2">
    <h1 style="padding-top: 3px;" class="title title_light">Financial Year</h1>
  </div>
  <div class="col-4 mb-2 search-container_light">
    <app-shared-filter [masterList]="MasterList"
      [filterFields]="['FromDate', 'ToDate']"
      (filteredList)="DisplayMasterList = $event"></app-shared-filter>
  </div>
  <div class="col-4 mb-2" routerLinkActive="active">
    <nz-button nz-button class="btn1" (click)="isPasswordModalOpen = true">
      Create New Financial Year
    </nz-button>
  </div>
</div>
<div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false" (nzPageIndexChange)="onPageChange($event)">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let financialyear of paginatedList(); index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{financialyear.p.FromDate}}</td>
          <td Class="tbldata">{{financialyear.p.ToDate}}</td>
          <td class="tbldata">
            <button style="color: black;" class="yearstatus" [disabled]="financialyear.p.IsCurrentYear === 1"
              [ngClass]="financialyear.p.IsCurrentYear === 1 ? 'current' : 'set'"
              (click)="isSetFinancialYearModalOpen = true; onSelectedFinanacialYear(financialyear);">
              {{financialyear.p.IsCurrentYear === 1 ? 'Current Financial Year' : 'Set Financial Year'}}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
   <div class="fixed-pagination">
    <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
    </nz-pagination>
  </div>
</div>
<div *ngIf="DisplayMasterList.length === 0" class="card-body_light">
  <div style="height: 200px" class="d-flex align-items-center justify-content-center">
    <span class="title_light"> Data Not Found</span>
  </div>
</div>



<!-- Modal Code for Both  Password Modal  Set Financial Year Modal  -->
<div *ngIf="isPasswordModalOpen || isSetFinancialYearModalOpen " class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5> {{isSetFinancialYearModalOpen ? ' Set New Financial Year' : 'Create New Financial Year'}}</h5>
      <button type="button" class="btn-close" (click)="closeModal('password')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div *ngIf="isSetFinancialYearModalOpen" class="col-md-12" style="margin-top: 1rem;">
          <div>
            <label>OpeningBalance</label>
            <input type="number" [(ngModel)]="OpeningBalance" name="OpeningBalance" class="form-control"
              id="OpeningBalance" required placeholder="Enter OpeningBalance" #OpeningBalanceCtrl="ngModel"
              (blur)="OpeningBalanceCtrl.control.markAsTouched()" (click)="selectAllValue($event)" />
            <div *ngIf="(OpeningBalanceCtrl.invalid && (OpeningBalanceCtrl.touched || OpeningBalanceCtrl.dirty))">
              <span class="validation-text" *ngIf="OpeningBalanceCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div style="margin-top: 12px; position: relative;">
          <label for="password">Password</label>
          <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" name="Password" required
            [(ngModel)]="localpassword" style="padding-right: 2.5rem;" />
          <span (click)="togglePasswordVisibility()"  style="position: absolute; top: 70%; right: 10px; transform: translateY(-50%); cursor: pointer; color: black;">
            <i class="fas fa-eye" *ngIf="showPassword"></i>
            <i class="fas fa-eye-slash" *ngIf="!showPassword"></i>
          </span>
        </div>
        <div style="margin-top: 8px;">
          <strong>Note :</strong> To {{isSetFinancialYearModalOpen ? 'set new ' : 'create a new '}}financial year, you
          must enter your login password.
        </div>
        <!-- <div class="row" style="margin-top: 1rem">
          <div class="col-md-12 mb-3">
            <label for="localpassword">Password</label>
            <input type="text" name="localpassword" id="localpassword" class="form-control" [(ngModel)]="localpassword" required
              placeholder="Enter Password" />
          </div>
          <span>
            <strong>Note :</strong> To create a new financial year, you must enter your login password.
          </span>
        </div> -->
      </form>
    </div>
    <div class="custom-modal-footer">
      <!-- <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Close</button> -->
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <nz-button nz-button class="btn1" (click)="handleFinancialYearFunctionCall()"> {{isSetFinancialYearModalOpen ?
            'Set ' : 'Save '}}</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('owner')">
            Cancel
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>