/* Modal Background */
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
  }
  
  /* Modal Box */
  .custom-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Header */
  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  /* Footer */
  .custom-modal-footer {
    margin-top: 15px;
    text-align: right;
  }
  /* Background */
.login-page {
  background-image: url('/assets/images/login.png');
  /* Add your custom background image here */
  // background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Box */
.login-box {
  background-color: transparent;
  /* Semi-transparent background */
  border-radius: 8px;
  padding: 2rem;
  width: 470px;
  text-align: center;
  position: relative;
  border: 2px solid white;
}

/* Logo and Title */
.login-logo img {
  max-width: 300px;
}

.login-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
  letter-spacing: 2px;
}

/* Labels */
.input-label {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  display: block;
  text-align: left;
}

/* Input Fields */
.input-field {
  position: relative;
  margin: 1.5rem 0;

}



.form-input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: white;

}

.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  width: 200px;
  border: 1px solid;
  cursor: copy;
  display: inline-block;
  color: white;

  &.approved {
    border-color: green;
    background-color: #e6ffe6;
  }

  &.pending {
    border-color: brown;
    background-color: brown;
  }
}

th, td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 50px;   /* Minimum width for all columns */
  max-width: 400px;  /* Maximum width for all columns */
}
