/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "../node_modules/bootstrap/scss/bootstrap";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// global css for Table

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: gray;
}

.ant-table-tbody > tr.ant-table-placeholder {
  text-align: center;
  background: gray !important;
}

.ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background: gray !important;
}
.ant-empty-description {
  font-size: larger;
  color: white;
}

// css for master
.title_dark {
  color: white;
  font-weight: bold;
  font-size: 26px;
  // text-shadow: 2px 2px 3px rgba(128, 127, 127, 0.4);
}
.title_light {
  color: black;
  font-weight: bold;
  font-size: 26px;
  // text-shadow: 2px 2px 3px rgba(128, 127, 127, 0.4);
}

.btn1 {
  // background: rgba(247, 128, 66, 1);
  color: white!important;
  border-radius: 5px 5px 5px 5px!important;
  font-weight: 600!important;
  font-size: 17px!important;
  align-content: center!important;
  // background-color: rgba(247, 128, 66, 1);
  background-image: linear-gradient(
    90deg,
    rgba(255, 125, 20, 1) 3%,
    rgba(238, 67, 40, 1) 93%
  )!important;
  width: auto;
}

.tblmiddlecell_dark {
  text-align: center !important;
  padding-left: 10px !important;
  font-weight: bold !important;
  border-top: 1px solid rgba(247, 128, 66, 1) !important;
  border-bottom: 1px solid rgba(247, 128, 66, 1) !important;
  background-color: rgb(34, 34, 34) !important;
  color: rgba(247, 128, 66, 1) !important;
  font-size: 14px !important;
  // height: 55px !important;
}
.tblmiddlecell_light {
  text-align: center !important;
  padding-left: 10px !important;
  font-weight: bold !important;
  border-top: 1px solid rgba(247, 128, 66, 1) !important;
  // border-left: 1.5px solid rgba(247, 128, 66, 1);
  // border-right: 1.5px solid rgba(247, 128, 66, 1);
  border-bottom: 1px solid rgba(247, 128, 66, 1) !important;
  background-color: rgb(229, 231, 235) !important;
  color: rgba(247, 128, 66, 1) !important;
  font-size: 14px !important;
  // height: 55px !important;
}

.tbldatacell1_dark {
  text-align: center !important;
  padding-left: 10px !important;
  font-size: medium !important;
  // border-bottom: 0.7px dashed gray;
  border-bottom: 1.3px solid rgba(255, 255, 255, 0.2) !important;
  // border-left: 0.7px solid rgb(34,34,34);
  // border-right: 0.7px solid rgb(34,34,34);
  background-color: rgb(34, 34, 34) !important;
  color: white !important;
  // height: 55px !important;
}
.tbldatacell1_light {
  text-align: center !important;
  padding-left: 10px !important;
  font-size: medium !important;
  // border-bottom: 0.7px rgb(34, 34, 34);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.2) !important;
  // border-left: 0.7px solid rgb(34,34,34);
  // border-right: 0.2px solid rgb(34,34,34);
  background-color: rgb(229, 231, 235) !important;
  color: rgb(34, 34, 34) !important;
  // height: 55px !important;
}

.modalbtn {
  text-align: right;
}

.tblcard_dark {
  // box-shadow: rgba(247, 128, 66, 1) 2px 2px 2px 2px;
  background-color: rgb(34, 34, 34);
}

.tblcard_light {
  // box-shadow: rgba(247, 128, 66, 1) 2px 2px 2px 2px;
  background-color: rgb(229, 231, 235);
}
.tblcardtitle {
  width: auto;
  // height: 40px;
  vertical-align: text-top !important;
}

@media only screen and (max-width: 667px) {
  .modalbtn {
    text-align: left;
  }
}
.searchbox {
  // border: 1px solid #A040F9;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
  background-color: white;
}

.searchbox::placeholder {
  color: black;
}

.bgtable_dark {
  background-color: transparent;
}
.bgtable_light {
  background-color: rgb(229, 231, 235);
}

// .clrbtn{
//   background-color: white;
// }

.card-body_dark {
  background-color: rgb(34, 34, 34);
}

.card-body_light {
  background-color: rgb(229, 231, 235);
}

.container-fluid_dark {
  background-color: white;
}
.container-fluid_light {
  background-color: rgb(229, 231, 235);
}
// end

// css for details
.container {
  max-width: 900px;
  margin-top: 50px;
}

.card {
  background-color: #2c2c2c;
  border: none;
}

.btn-back {
  background-image: linear-gradient(
    90deg,
    rgba(255, 125, 20, 1) 3%,
    rgba(238, 67, 40, 1) 93%
  );
  color: #fff;
}

.btn-back i {
  margin-right: 2px;
}

.formtitle_dark {
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.formtitle_light {
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.form-label_light {
  color: black;
}
.form-label_dark {
  color: white;
  // margin-bottom: 8px;
}

.form-control,
.btn,
.form-control:focus {
  background-color: inherit;
  box-shadow: none;
  color: inherit;
  // background-color: #2c2c2c;
  // border-color: Gray;
  // color: #fff;
  // outline: none;
  // color: white;
}

// New Css For Input Box

// .form-control:focus {
//   background-color: inherit;
// }

.orange-border:focus {
  border-color: orangered; /* Orange color */
  // outline: none; /* Remove the default outline */
}

// .form-control::placeholder {
//   color: green;
// }

.btn-cancel,
.btn-save {
  width: auto;
  // margin-top: auto;
  padding: 8px 20px 8px 20px;
}

// .btn-cancel {
//   color: #fff;
//   border-color: orangered !important;
//   border-width: 3px;
//   width: 13%;
//   background-color: rgb(34,34,34);
// }
.btn-cancel_dark {
  border: 2px solid orangered;
  background-color: transparent !important;
  color: #fff;
  // width: 13%;
  width: 100%;
  height: 100%;
  // cursor: pointer;
  border-radius: 5px;
  margin-right: 20px !important;
}
.btn-cancel_light {
  border: 2px solid orangered !important;
  background-color: transparent !important;
  color: black;
  // width: 13%;
  width: 100%;
  height: 100%;
  // cursor: pointer;
  border-radius: 5px;
  margin-right: 20px !important;
}

.btn-save {
  background-image: linear-gradient(
    90deg,
    rgba(255, 125, 20, 1) 3%,
    rgba(238, 67, 40, 1) 93%
  );
  color: #fff;
  border: orangered;
  // width: 13%;
  width: 100%;
}

.input_dark {
  background-color: rgb(34, 34, 34);
  border-color: white;
  color: white;
}
.input_dark:hover {
  border-color: orangered;
}
.input_light:hover {
  border-color: orangered;
}


.input_light:focus {
  background-color: white;
}

.input_light {
  background-color: white;
  border-color: black;
  color: black;
}

.select_dark {
  background-color: rgb(34, 34, 34);
  color: white;
}

.select_light {
  background-color: rgb(229, 231, 235);
  color: black;
}

.select_light:focus{
  background-color: white;
}

.select_option_dark {
  background-color: rgb(34, 34, 34);
  color: white;
}

.select_option_light {
  background-color: rgb(229, 231, 235);
  color: black;
}

// ------------------------select dropdown css end

// input[type="checkbox"] {
//   width: 1.5em;
//   height: 1.5rem;
//   accent-color: rgb(233, 161, 94);
//   color: orangered;
// }

//----------------------------- select dropdown checkbox start

.custom-checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

/* Hide default checkbox */
.custom-checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
// .custom-checkbox-container .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 20px;
//   width: 20px;
//   // background-color: rgb(248, 91, 6);

//   // background-color: rgb(240, 172, 136);
//   background-image: linear-gradient(90deg,
//   rgba(255, 125, 20, 1) 3%,
//   rgba(238, 67, 40, 1) 93%) !important;
//   border-radius: 4px;
// }

/* On checked, change background color */
.custom-checkbox-container input:checked ~ .checkmark {
  background-color: rgb(244, 43, 3);
}

/* Create the checkmark (hidden by default) */
.custom-checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark */
.custom-checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// /* Add a border when hovering */
// .custom-checkbox-container:hover .checkmark {
//   border: 2px solid #4CAF50; /* Green border on hover */
//   padding: 4px; /* Add padding on hover */
// }

//----------------------------------- select dropdown checkbox end


//------------------------- for Search box Start

.search-container_dark {
  position: relative;
  // width: auto;
  // width: 400px;
  /* Adjust width as needed */
}

.search-box_dark {
  width: 100%;
  padding: 5px 20px 5px 20px !important;
  /* Add space for icon */
  border-radius: 5px;
  /* Slightly rounded corners */
  font-size: 14px;
  /* Font size */
  outline: none;
  /* Remove blue outline on focus */
  border: 1px solid orangered !important;
  background-color: black;
}

.search-box_dark:focus {
  border-color: orangered;
  /* Change border color on focus */
}



.search-container_light {
  position: relative;
  // width: auto;
  //width: 400px;
  /* Adjust width as needed */
}

.search-box_light {
  width: 100%;
  padding: 5px 20px 5px 20px !important;
  /* Add space for icon */
  border-radius: 5px;
  /* Slightly rounded corners */
  font-size: 14px;
  /* Font size */
  outline: none;
  border: 1.5px solid orangered !important;
  background-color: white;
}

.search-box_light:focus {
  border-color: orangered;
  /* Change border color on focus */
}


// -------------------------------for Search box End

// -------------------------------for Select Dropdown  start
/* Light theme styles */
.select_light {
  background-color: #ffffff; /* White background */
  color: #000000;            /* Black text */
  // border-color: rgb(34, 34, 34);     /* Light border */
  border: 0.2px solid rgb(133, 130, 130); /* Darker border */
}

.select_option_light {
  // background-color: #ffffff; /* White background for options */
  // color: #000000;            /* Black
  //  text for options */
  background-color: #333333; /* Dark background for options */
  color: #ffffff;
}

.select_light:disabled {
  background-color: #e9ecef; /* Grayed out background when disabled */
  color: black;            /* Grayed out text */
  pointer-events: none;      /* Disable interaction */
  opacity: 1;
}

/* Dark theme styles */
.select_dark {
   background-color: rgb(34, 34, 34); /* Dark background */
  color: #ffffff;            /* White text */
  border: 0.2px solid rgb(133, 130, 130); /* Darker border */
}

.select_option_dark {
  background-color: #333333; /* Dark background for options */
  color: #ffffff;            /* White text for options */
}

.select_dark:disabled {
  background-color: rgb(34, 34, 34); /* Slightly lighter grayed out background when disabled */
  color: #ffffff;            /* Grayed out text */
  pointer-events: none;      /* Disable interaction */
  opacity: 1;
}

// -------------------------------for Select Dropdown  End

.pointer{
  cursor: pointer;
}

/* Create a custom checkbox */
.custom-checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  // background-color: rgb(240, 172, 136);
  background-image: linear-gradient(90deg,
  rgba(255, 125, 20, 1) 3%,
  rgba(238, 67, 40, 1) 93%) !important;
  border-radius: 4px;
}



//================================NZ-Searchable-Dropdown-Hover-Background-scc-starts==========================================
.ant-select-item {
  color: white;
}
.ant-select-dropdown {
  background-color:#323232 !important; /* Replace with your desired background color */
}

.ant-select-item-option-active {
  color: black !important;
  background-color: #bac8d6 !important;
}

.ant-empty-description {
  color: white !important; /* Color for light theme */
}

//================================NZ-Searchable-Dropdown-Hover-Background-scc-Ends==========================================

// -------------------------------for Input Field validation

.validation-text {
  color: red !important;
}

img {
  cursor: pointer;
}




