/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "../node_modules/bootstrap/scss/bootstrap";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// global css for Table
* {
    font-family: 'Poppins';
}


.bgtable_light {
    background-color: rgb(229, 231, 235);
  }

  .tblheader {
    text-align: center !important;
    padding-left: 10px !important;
    font-weight: bold !important;
    background-color: #FBD1D1 !important;
    color: #A52A2A !important;
    font-size: 14px !important;
  }
  .tblheadersecond{
    background-color: #FAFAFA;
}

  .tbldata {
    text-align: center !important;
    padding-left: 10px !important;
    font-size: medium !important;
    border-bottom: 1.5px solid rgba(200, 186, 186, 0.2) !important;
    background-color: white !important;
    color: black !important;
  }

  .btn {
    background-color: brown;
    color: white;
    padding: 0.4rem 2.1rem;
}

.btn:hover{
    background-color: brown;
    color: white;
}

.backbtn {
  background-color: rgb(252, 252, 252);
  border: 2px solid brown;
  color: white;
  padding: 1px 12px;
  border-radius: 6px;
}

.backbtn:hover{
  color: white;
}




.detail_title {
    color: brown;
    font-size: large;
    font-weight: 600;
    font-size: 24px;


}

form {
    label {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}
.table-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title_light {
  color: brown;
  font-weight: bold;
  font-size: 24px;
  font-weight: 600;

}

.tblcardtitle {
  width: auto;
  vertical-align: text-top !important;
}

/* ------------------------- Search Box Styles Start ------------------------- */
.search-container_light {
  position: relative;
}

.search-box_light {
  width: 100%;
  padding: 5px 20px !important;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  border: 1.5px solid #8B0000 !important;
  background-color: white;
}

.search-box_light:focus {
  border-color: #8B0000;
}

/* ------------------------- Search Box Styles End ------------------------- */

/* Responsive styles */
@media only screen and (max-width: 667px) {
  .modalbtn {
      text-align: left;
  }
}

/* Button styles */
.btn1 {
  background-color: brown;
  color: white;
  padding: 8px 16px;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  justify-self: right
}

.btn1:hover {
  background-color: darkred;
}

/* ------------------------- Search Box Styles End ------------------------- */
.mobile-btn{
  cursor: pointer;
  border-radius: 5px;
}

// For Table Heading 
.TableHeading {
  background-color: rgb(254, 169, 183);
  height: 36px;
  text-align: center;
  width: 100%;
  font-size: larger;
  font-weight: bold;
}
// For Date Input
input[type="date"] {
  position: relative;
  display: block;
  width: 100%;
  background: url('https://cdn-icons-png.flaticon.com/512/747/747310.png') no-repeat right 10px center;
  background-size: 20px 20px;
  padding-right: 35px;
  cursor: pointer;
  background-color: white!important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

// =========================== Nz Select Menu  Css start ==============================
nz-select {
  width: 100%;
}
.nzSelect-light ::ng-deep.ant-select-selector {
  background-color: #ffffff; /* White background */
  color: #000000;            /* Black text */
  // border-color: rgb(34, 34, 34);     /* Light border */
  border: 0.2px solid rgb(133, 130, 130); /* Darker border */
  border-radius: 7px !important;
}

.nzSelect-light ::ng-deep .ant-select-focused .ant-select-selector,
.nzSelect-light ::ng-deep .ant-select-selector:focus-within {
  border-color: orangered !important; /* Change border color on focus for light theme */
}

.nzSelect-light ::ng-deep .ant-select-clear {
  color: black !important; /* Change clear icon color in light theme */
}

.nzSelect-light ::ng-deep .anticon {
  color: black !important; /* Change icon color in light theme */
}

::ng-deep .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #8dd0f0!important
}

::ng-deep .ant-empty-description {
  color: black !important; /* Color for light theme */
}

// nz-table .ant-empty-image {
//   display: none !important;      // To remove table empty SVG
// }
// .ant-empty {
//   display: none !important;     // To remove table empty SVG Text
// }

/* Light theme disabled state */
.nzSelect-light-disabled ::ng-deep .ant-select-selector {
  background-color: rgb(229, 231, 235) !important;
  color: black !important;
  border: 0.2px solid rgb(133, 130, 130) !important; 
  border-radius: 7px !important; 
}

/* Dark theme disabled state */
.nzSelect-dark-disabled ::ng-deep .ant-select-selector {
  background-color: rgb(34, 34, 34)!important; 
  color: white !important;
  border: 0.2px solid rgb(133, 130, 130) !important; 
  border-radius: 7px !important;
}

.nzSelect-dark:hover ::ng-deep.ant-select-selector{
  border-color: orangered !important;
}
.nzSelect-light:hover ::ng-deep.ant-select-selector{
  border-color: orangered !important;
}

// =========================== Nz Select Menu  Css End ==============================
