<div style="background-color: white; padding: 5px;">
  <div class="row m-2">
    <div class="col-md-2">
      <button type="button" class="backbtn" (click)="BackInvoice()">
        <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
      </button>
    </div>
    <div class="col-md-9"></div>
    <div class="col-md-1">
      <!-- <button type="button" class="backbtn" (click)="printSection()">
      </button> -->
      <img src="/assets/icons/printer.png" alt="Print" style="cursor: pointer;" width="34px" height="34px"
        (click)="printSection()" />
    </div>
  </div>

  <div #PrintContainer
    style="font-family: sans-serif; margin: 0; padding: 10px; font-size: 14px; color: #000; text-transform: capitalize;">

    <div style="max-width: full; margin: auto; border: 2px solid black;">
      <!-- Header -->
      <div style="padding-bottom: 10px;">
        <h2 style="color: maroon; text-align: center; margin-top: 10px; font-weight: 500;"> <b>Bill Receipt</b></h2>
      </div>

      <!-- Logo & Info -->
      <div>
        <table style="width: 100%;">
          <tr>
            <td style="vertical-align: top; text-align: left; width: 40%; padding: 5px; border-width:  1px;">
              <strong>
                <div><i class="fa-solid fa-file-lines" style="color: maroon; margin-right: 10px;"></i> पोहोच पावती</div>
                <div> <i class="fa-solid fa-phone" style="color: maroon; margin-right: 10px;"></i> {{ Entity.p.Contacts
                  }}</div>
              </strong>
            </td>
            <td style="width: 10%; border-width:  1px; padding: 5px;">
              <img src="/assets/logos/ShreeIcon.png" alt="Company Logo" height="80" class="mb-2" />
            </td>
            <td style="vertical-align: center; text-align: start; border-width:  1px; padding: 5px;">
              <strong>ऑफिस पत्ता <br>
                {{ this.Entity.p.AddressLine1 }} <br>
                {{ this.Entity.p.AddressLine2 }}
              </strong>
            </td>
          </tr>
        </table>
      </div>

      <!-- Bill To Section -->

      <!-- <div
        style="background-color: maroon; color: white; font-weight: bold; padding: 5px 10px; width: fit-content; margin-left: 5%; width: 40%;">
        BILL TO
      </div> -->
      <div style="display: flex; justify-content: center;">
        <table style="width: 100%;">
          <tr>
            <td style="width: 40%; text-align: left; vertical-align: top; padding: 5px; border-width: 1px;">
              <div>
                <strong>Site Name - {{ Entity.p.SiteName }}</strong>
              </div>
              <br>
              <div>
                <strong>Main Ledger - {{ Entity.p.LedgerName }}</strong>
              </div>
              <br>
              <div>
                <strong>Sub Ledger - {{ Entity.p.SubLedgerName }}</strong>
              </div>
            </td>
            <td style="text-align: left; vertical-align: top; padding: 5px; border-width: 1px;">
              <div>
                <strong>Recipient Name - {{ Entity.p.RecipientName }}</strong>
              </div>
              <br>
              <div>
                <strong>Chalan No. - 123</strong>
              </div>
              <br>
              <div>
                <strong>Date - {{formatDate(Entity.p.Date)}}</strong>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Table Header -->
      <table style="width: 100%; border-collapse: collapse; text-align: center;">
        <thead>
          <tr style="background-color: maroon; color: white;">
            <th style="padding: 8px; border: none;">Sr.No</th>
            <th style="padding: 8px; border: none;">Details</th>
            <th style="padding: 8px; border: none;">Qty.</th>
            <th style="padding: 8px; border: none;">
              UNIT</th>
            <th style="padding: 8px; border: none;">RATE</th>
            <th style="padding: 8px; border: none;">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding: 8px; border: none;">1.</td>
            <td style="padding: 8px; border: none;">{{Entity.p.Description}}</td>
            <td style="padding: 8px; border: none;">{{ Entity.p.Qty }}</td>
            <td style="padding: 8px; border: none;">{{ Entity.p.UnitName }}</td>
            <td style="padding: 8px; border: none;"> {{ Entity.p.Rate | currency : "INR" }}</td>
            <td style="padding: 8px; border: none;"> {{ Entity.p.Qty * Entity.p.Rate | currency : "INR" }}</td>
          </tr>
          <tr *ngIf="Entity.p.DieselQty > 0">
            <td style="padding: 8px; border: none;">2.</td>
            <td style="padding: 8px; border: none;">Diesel Supplied by Shree</td>
            <td style="padding: 8px; border: none;">{{ Entity.p.DieselQty }}</td>
            <td style="padding: 8px; border: none;">Liter</td>
            <td style="padding: 8px; border: none;"> {{ Entity.p.DieselRate | currency : "INR" }}</td>
            <td style="padding: 8px; border: none;"> {{ Entity.p.DieselAmount | currency : "INR" }}</td>
          </tr>


          <!-- Total -->
          <tr>

            <td colspan="5"
              style="padding: 8px; border: none; text-align: center; font-weight: bold; background-color: #fef4d4;">
              <strong>TOTAL</strong>
            </td>
            <td style="padding: 8px; border: none; font-weight: bold; background-color: #fef4d4;"><strong>
                {{Entity.p.InvoiceAmount | currency : "INR" }}</strong>
            </td>
          </tr>
          <!-- In Words -->
          <tr>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
            <td colspan="3" style="padding: 8px; border: none; text-align: end;"><strong>Inwords - {{
                this.totalAmountInWords(Entity.p.InvoiceAmount) }}</strong></td>
          </tr>
        </tbody>
      </table>

      <!-- Comments -->
      <div style="margin-top: 5px; ">
        <p style="background-color: #fef4d4; padding-left: 5%; padding-top: 10px; padding-bottom: 10px;"><strong>OTHER
            COMMENTS</strong> </p>
        <div style="margin-top: 5px; padding-left: 5%;">
          <p style="line-height: 0.5;">1. वरील तपशिला प्रमाणे माल ताब्यात मिळाला.</p>
          <p style="line-height: 0.5;">2. ही पावती सेवा पुरवठादाराच्या नोंदीसाठी प्रदान करण्यात आली आहे..</p>
          <p style="line-height: 0.5;">3. ही पावती भविष्यातील लेखाजोखासाठी जतन करावी.</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <!-- Footer Signature -->
      <div style="margin-top: 30px; display: flex; justify-content: space-between">
        <p style="margin-left: 5%;"><strong>Sign : {{Entity.p.OwnerName}}</strong></p>
        <p style="margin-right: 5%;"> <strong>{{Entity.p.CreatedByName}}</strong>
        </p>
      </div>

      <p style="text-align: center; line-height: 0.5;">If you have any questions about this invoice, please contact</p>
      <p style="text-align: center; line-height: 0.5;">{{Entity.p.CompanyName}} {{Entity.p.Contacts}} </p>
      <h5 style="text-align: center; line-height: 0.5;"><strong><i>Thank You For Your Business!</i></strong></h5>
      <blockquote style="text-align: center; line-height: 0.5; margin-top: 2%;"><strong>Computer Generated
          Print</strong></blockquote>

    </div>

  </div>
</div>
