<div>
  <div class="row">
     <div class="col-4 mb-2">
      <h1 class="title title_light">Government Office</h1>
    </div>
     <div class="col-4 mb-2 search-container_light">
      <!-- <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus
        [(ngModel)]="SearchString" /> -->
    </div>
    <div class="col-4 mb-2" routerLinkActive="active">
      <!-- <nz-button nz-button class="btn1" (click)='AddDocument ()'>
        Add Document
      </nz-button> -->
    </div>
    <div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
      <nz-steps [nzCurrent]="3" nzDirection="vertical" class="custom-steps">
        <nz-step nzTitle="TP Office" nzDescription=""></nz-step>
        <nz-step nzTitle="परिशिष्ठ A (NA)" nzDescription=""></nz-step>
        <nz-step nzTitle="मोजणी" nzDescription=""></nz-step>
        <nz-step nzTitle="ULC" nzDescription=""></nz-step>
        <nz-step nzTitle="Final Layout" nzDescription=""></nz-step>
        <nz-step nzTitle="क जा पा" nzDescription=""></nz-step>
      </nz-steps>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
    </div>

  </div>
</div>


<div *ngFor="let group of GovermentList">
  <h4>{{ group.SiteWorkGroupName }}</h4>
  <ul>
    <li *ngFor="let siteWorkContainer of group.SiteWorks">
      <ul>
        <li *ngFor="let siteWork of siteWorkContainer.SiteWork">
          <strong>{{ siteWork.SiteWorkName }}</strong>
          <ul>
            <li *ngFor="let type of siteWork.ApplicableTypes">
              <!-- {{ type.SiteWorkApplicableTypeName }}: {{ type.Value || 'N/A' }} -->
              {{ type.SiteWorkApplicableTypeName }} : <!-- Checkbox Input -->
              <input *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'checkbox'"
                class="form-check-input" style="align-self: flex-end;" type="checkbox" [(ngModel)]="type.Value" [checked]="type.Value === 'true'">

              <!-- Radio Button Input -->
              <div *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'radio'">
                <input type="radio" name="{{siteWork.SiteWorkName}}" value="Option1" [(ngModel)]="type.Value"> Option 1
                <input type="radio" name="{{siteWork.SiteWorkName}}" value="Option2" [(ngModel)]="type.Value"> Option 2
              </div>

              <!-- Text Input (Default) -->
              <input *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'number'"
                class="form-control" [(ngModel)]="type.Value" [placeholder]="'N/A'" type="number">

              <!-- Date Input (Default) -->
              <input *ngIf="getTypeOnApplicableTypeName(type.SiteWorkApplicableTypeName) === 'date'"
                class="form-control" [(ngModel)]="type.Value" [placeholder]="'N/A'" type="date">
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>