<ion-content [fullscreen]="true" class="login-content ion-padding" scroll="true" scrollY="true" [scrollEvents]="true">
  <ion-grid class="h-100">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-col size="12" size-sm="10" size-md="6" size-lg="4" class="ion-text-center">

        <!-- Logo -->
        <div class="logo-wrapper">
          <img src="assets/logos/ShreeIcon.png" class="logo-img" alt="Shree Logo" loading="lazy" />
        </div>

        <!-- Heading -->
        <h2 class="login-title">Forgot Password</h2>

        <!-- Forget Password Flow Form -->
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="form-wrapper">

          <!-- Step 1: Email -->
          <ng-container *ngIf="step === 1">
            <app-input-field label="Email" controlName="email" type="email" icon="mail" [formGroup]="forgotForm"
              placeholder="Enter your email" customClass="input-wrapper">
            </app-input-field>
            <app-custom-button label="Send OTP" type="button" (click)="sendOtp()"
              [disabled]="forgotForm.get('email')?.invalid??false" color="primary">
            </app-custom-button>
            <ion-button fill="clear" expand="full" (click)="goToLogin()" class="Button-In-loginPage">go back to
              Login</ion-button>
          </ng-container>
          <!-- Step 2: Enter OTP -->
          <ng-container *ngIf="step === 2">
            <!-- <div class="otp-wrapper">
              <input *ngFor="let digit of otpArray; let i = index" type="text" inputmode="numeric" maxlength="1"
                class="otp-box" [(ngModel)]="otpDigits[i]" (input)="onOtpInput($event, i)"
                (keydown)="onOtpKeyDown($event, i)" />
            </div> -->
            <div class="otp-wrapper">
              <input *ngFor="let digit of otpArray; let i = index" type="text" inputmode="numeric" maxlength="1"
                class="otp-box" [(ngModel)]="otpDigits[i]" [ngModelOptions]="{ standalone: true }"
                (input)="onOtpInput($event, i)" (keydown)="onOtpKeyDown($event, i)" />
            </div>

            <div class="resend-section">
            <ion-button fill="clear" size="small" (click)="resendOtp()" [disabled]="!canResend">
              <span>Resend OTP</span>
              <span *ngIf="!canResend">&nbsp;in {{ resendTimer }}s</span>
            </ion-button>

            </div>

            <app-custom-button label="Verify OTP" type="button" (click)="verifyOtp()"
              [disabled]="otpDigits.includes('')" color="primary">
            </app-custom-button>
            <ion-button fill="clear" expand="full" (click)="goBack()" class="Button-In-loginPage">Change
              Email</ion-button>
          </ng-container>

          <!-- Step 3: New Password -->
          <ng-container *ngIf="step === 3">
            <app-input-field label="New Password" controlName="newPassword" type="password" icon="lock-closed"
              [formGroup]="forgotForm" placeholder="Create new password" customClass="input-wrapper"
              >
            </app-input-field>

            <app-input-field label="Confirm Password" controlName="confirmPassword" type="password" icon="lock-closed"
              [formGroup]="forgotForm" placeholder="Confirm password" customClass="input-wrapper">
            </app-input-field>

            <app-custom-button label="Reset Password" type="submit" [disabled]="forgotForm.invalid" color="primary">
            </app-custom-button>
            <ion-button fill="clear" expand="full" (click)="goToLogin()" class="Button-In-loginPage">go back to
              Login</ion-button>
          </ng-container>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>