::ng-deep .custom-modal {
    --width: 90%;
    --height: 35%;
    --border-radius: 16px;
    --background: #fff;

    .date-picker {
        --background: #fff;
        --highlight-color-focused: #007aff;
        --border-color: #ccc;
        --padding-start: 6px;
        --inner-padding-end: 6px;
        --min-height: 40px;
        --max-width: 100%;
        --max-height: 100%;
    }
}