<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
    <h5 style="padding-top: 3px;" class="title title_light">State Master</h5>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 search-container_light">
    <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus
      [(ngModel)]="SearchString" />
  </div>
  <ng-template #noDataTpl>
    <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
      No Data
    </div>
  </ng-template>
  <div class="card-body" style="margin-left: 14px;">
    <form autocomplete="off">
      <div class="row">
        <div class="col-md-4">
          <label for="CountryRef"><b>Country Name</b></label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" [(ngModel)]="Entity.p.CountryRef" name="CountryRef" required
            id="CountryRef" (ngModelChange)="getStateListByCountryRef(Entity.p.CountryRef)">
            <nz-option *ngFor="let country of CountryList" [nzLabel]="country.p.Name"
              [nzValue]="country.p.Ref"></nz-option>
          </nz-select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="table-wrapper" class="tblcard_light" style="margin-top: 1rem" *ngIf="DisplayMasterList.length > 0">
  <div class="table-container">
    <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
      [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of paginatedList(); index as i">
          <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td Class="tbldata">{{state.p.Name}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="fixed-pagination">
    <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
    </nz-pagination>
  </div>
</div>
<div *ngIf="DisplayMasterList.length === 0" class="card-body_light">
  <div style="height: 200px" class="d-flex align-items-center justify-content-center">
    <span class="title_light"> Data Not Found</span>
  </div>
</div>
