<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row align-items-center">
      <!-- Back Button Column -->
      <div class="col-2 col-md-1 d-flex justify-content-center">
        <button type="button" class="backbtn" (click)="BackExpense()">
          <img src="/assets/icons/arrow-button.png" alt="Back" class="backbtnimg" />
        </button>
      </div>

      <!-- Title Column -->
      <div class="col-10 col-md-11">
        <span class="detail_title text-truncate d-block">{{ DetailsFormTitle }}</span>
      </div>
    </div>
    <ng-template #noDataTpl>
      <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
        No Data
      </div>
    </ng-template>
    <form autocomplete="off">
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Date</label>
          <input type="date" [(ngModel)]="Date" name="Date" class="form-control" id="Date" required
            placeholder="Enter Date" #DateCtrl="ngModel" (blur)="DateCtrl.control.markAsTouched()" />
          <div *ngIf="(DateCtrl.invalid && (DateCtrl.touched || DateCtrl.dirty))">
            <span class="validation-text" *ngIf="DateCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Site Name</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SiteRef" name="SiteRef" [nzSize]="'large'" [(ngModel)]="Entity.p.SiteRef"
            (ngModelChange)="getRecipientListByRecipientTypeRef(); onSitechange();">
            <nz-option *ngFor=" let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="LedgerRef" name="LedgerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.LedgerRef"
            (ngModelChange)="getSubLedgerListByLedgerRef(Entity.p.LedgerRef); this.Entity.p.SubLedgerRef = 0;">
            <nz-option *ngFor="let ledger of LedgerList" [nzValue]="ledger.p.Ref" [nzLabel]="ledger.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Sub Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="SubLedgerRef" name="SubLedgerRef" [nzSize]="'large'"
            [(ngModel)]="Entity.p.SubLedgerRef">
            <nz-option *ngFor="let sub of SubLedgerList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>To Whom Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="RecipientType" name="RecipientType" [nzSize]="'large'"
            [(ngModel)]="Entity.p.RecipientType"
            (ngModelChange)="getRecipientListByRecipientTypeRef(); getTotalInvoiceAmountFromSiteAndRecipientRef(); onTypeChange()">
            <nz-option *ngFor="let type of RecipientTypesList" [nzValue]="type.Ref" [nzLabel]="type.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;" *ngIf="this.Entity.p.RecipientType == Employee ">
          <label>Payment Type</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="PaymentType" name="PaymentType" [nzSize]="'large'" [(ngModel)]="PaymentType"
            (ngModelChange)="onPaymentTypeSelection(); getTotalInvoiceAmountFromSiteAndRecipientRef();
            onRecipientChange();">
            <nz-option *ngFor="let type of TypeofEmployeePaymentList" [nzValue]="type.Ref"
              [nzLabel]="type.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <div>
            <label>Reason</label>
            <input type="text" [(ngModel)]="Entity.p.Reason" name="Reason" class="form-control" id="Reason" required
              placeholder="Enter Reason" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <label>Mode of Payment</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="ExpenseModeOfPayment" name="ExpenseModeOfPayment" [nzSize]="'large'"
            [(ngModel)]="Entity.p.ExpenseModeOfPayment" (ngModelChange)="OnModeChange()">
            <nz-option *ngFor="let mode of ModeofPaymentList" [nzValue]="mode.Ref" [nzLabel]="mode.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;"
          *ngIf="Entity.p.ExpenseModeOfPayment != Cash && Entity.p.ExpenseModeOfPayment">
          <div>
            <label>Bank Name</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="BankAccountRef" name="BankAccountRef" [nzSize]="'large'"
              [(ngModel)]="Entity.p.BankAccountRef">
              <nz-option *ngFor="let bank of BankList" [nzValue]="bank.p.BankAccountRef"
                [nzLabel]="bank.p.BankName"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>

      <div style="width: 100%" class="d-flex justify-content-center" style="margin-top: 1rem">
        <hr style="border: 2px solid brown" width="20%" />
      </div>
      <div class="row">
        <div class="col-md-4" style="margin-top: 1rem">
          <label>To Whom</label>
          <div class="d-flex align-items-center">
            <nz-select *ngIf="!RecipientNameInput && Entity.p.RecipientType == DealDoneCustomer" class="nzSelect-light"
              [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="RecipientRef"
              name="RecipientRef" [nzSize]="'large'" [(ngModel)]="PayerPlotNo" (ngModelChange)="onRecipientChange();">
              <nz-option *ngFor="let recipient of RecipientList index as i" [nzValue]="i + 1"
                [nzLabel]="recipient.p.RecipientName + ' - ' + recipient.p.PlotName | titleCase">
                <span *ngIf="Entity.p.RecipientType"
                  [ngClass]="recipient.p.IsRegisterCustomerRef == 1 ? 'sitecus' : 'nonsitecus'">
                  {{ recipient.p.RecipientName + ' - ' + recipient.p.PlotName| titleCase }}
                </span>
                <span *ngIf="Entity.p.RecipientType != DealDoneCustomer"
                  [ngClass]="recipient.p.IsRegisterCustomerRef == 1 ? 'sitecus' : 'nonsitecus'">
                  {{ recipient.p.RecipientName| titleCase }}
                </span>
              </nz-option>
            </nz-select>
            <nz-select *ngIf="!RecipientNameInput && Entity.p.RecipientType != DealDoneCustomer" class="nzSelect-light"
              [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="PayerRef"
              name="PayerRef" [nzSize]="'large'" [(ngModel)]="Entity.p.RecipientRef"
              (ngModelChange)="onRecipientChange();">
              <nz-option *ngFor="let recipient of RecipientList" [nzValue]="recipient.p.Ref"
                [nzLabel]="recipient.p.RecipientName">
                <span *ngIf="Entity.p.RecipientType != DealDoneCustomer"
                  [ngClass]="recipient.p.IsRegisterCustomerRef == 1 ? 'sitecus' : 'nonsitecus'">
                  {{ recipient.p.RecipientName| titleCase }}
                </span>
              </nz-option>
            </nz-select>

            <input *ngIf="RecipientNameInput" type="text" [(ngModel)]="RecipientEntity.p.Name" name="Name"
              class="form-control" id="Name" required placeholder="Enter Recipient Name" />
            <span *ngIf="!RecipientNameInput && Entity.p.RecipientType == RecipientType" (click)="AddRecipientName()"
              class="ms-2 mb-0.5 d-flex justify-content-center align-items-center border rounded"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-plus" style="color: blue;"></i>
            </span>
            <span *ngIf="RecipientNameInput" (click)="SaveNewRecipientName()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded text-success"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-check"></i>
            </span>
            <span *ngIf="RecipientNameInput" (click)="cancelRecipientName()"
              class="ms-2 d-flex justify-content-center align-items-center border rounded text-danger"
              style="width: 36px; height: 36px; cursor: pointer">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;"
          *ngIf="Entity.p.RecipientType == DealDoneCustomer && Entity.p.RecipientRef != 0">
          <div>
            <label>Plot Name</label>
            <input type="text" [(ngModel)]="Entity.p.PlotName" name="PlotName" class="form-control" id="PlotName"
              disabled placeholder="Enter PlotName" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;" *ngIf="this.Entity.p.RecipientType == Sites">
          <label>Income Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="IncomeLedgerRef" name="IncomeLedgerRef" [nzSize]="'large'"
            [(ngModel)]="Entity.p.IncomeLedgerRef"
            (ngModelChange)="getSubIncomeLedgerListByIncomeLedgerRef(Entity.p.IncomeLedgerRef); onChangeIncomeLedger(); Entity.p.IncomeSubLedgerRef = 0;">
            <nz-option *ngFor="let ledger of LedgerList" [nzValue]="ledger.p.Ref" [nzLabel]="ledger.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;" *ngIf="this.Entity.p.RecipientType == Sites  ">
          <label>Income Sub Ledger</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="IncomeSubLedgerRef" name="IncomeSubLedgerRef" [nzSize]="'large'"
            [(ngModel)]="Entity.p.IncomeSubLedgerRef">
            <nz-option *ngFor="let sub of IncomeSubLedgerList" [nzValue]="sub.p.Ref" [nzLabel]="sub.p.Name"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;"
          *ngIf="this.Entity.p.RecipientType == Employee && this.Entity.p.IsSalaryExpense">
          <div>
            <label>Balance Advance Amount</label>
            <input type="text" [(ngModel)]="Entity.p.RemainingAdvance" name="RemainingAdvance" class="form-control"
              id="RemainingAdvance" disabled placeholder="Enter Remaining Advance" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;" *ngIf="!Entity.p.IsAdvancePayment">
          <div>
            <label *ngIf="Entity.p.RecipientType == EmployeeType && !Entity.p.IsSalaryExpense">Bill Amount</label>
            <label *ngIf="Entity.p.RecipientType == EmployeeType &&  Entity.p.IsSalaryExpense">Net Salary</label>
            <label *ngIf="Entity.p.RecipientType != EmployeeType">Bill Amount</label>
            <input type="text" appCommaFormat [(ngModel)]="Entity.p.InvoiceAmount" name="InvoiceAmount"
              class="form-control" id="InvoiceAmount" required placeholder="Enter InvoiceAmount"
              #InvoiceAmountCtrl="ngModel" (blur)="InvoiceAmountCtrl.control.markAsTouched()"
              (click)="selectAllValue($event)" />
            <div *ngIf="(InvoiceAmountCtrl.invalid && (InvoiceAmountCtrl.touched || InvoiceAmountCtrl.dirty))">
              <span class="validation-text" *ngIf="InvoiceAmountCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <div>
            <label>Given Amount</label>
            <input type="text" appCommaFormat [(ngModel)]="Entity.p.GivenAmount" name="GivenAmount" class="form-control"
              id="GivenAmount" required placeholder="Enter GivenAmount" #GivenAmountCtrl="ngModel"
              (blur)="GivenAmountCtrl.control.markAsTouched()" (click)="selectAllValue($event)"
              (ngModelChange)="CalculateRemainingAmountandBalance()" />
            <div *ngIf="(GivenAmountCtrl.invalid && (GivenAmountCtrl.touched || GivenAmountCtrl.dirty))">
              <span class="validation-text" *ngIf="GivenAmountCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;" *ngIf="!Entity.p.IsAdvancePayment">
          <div>
            <label>Remaining Amount</label>
            <input type="text" appCommaFormat [(ngModel)]="Entity.p.RemainingAmount" disabled name="RemainingAmount"
              class="form-control" id="RemainingAmount" required placeholder="Enter RemainingAmount"
              #RemainingAmountCtrl="ngModel" (blur)="RemainingAmountCtrl.control.markAsTouched()"
              (click)="selectAllValue($event)" />
            <div *ngIf="(RemainingAmountCtrl.invalid && (RemainingAmountCtrl.touched || RemainingAmountCtrl.dirty))">
              <span class="validation-text" *ngIf="RemainingAmountCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <div>
            <label>Shree Balance</label>
            <input type="text" appCommaFormat [(ngModel)]="Entity.p.ShreesBalance" name="ShreesBalance"
              class="form-control" id="ShreesBalance" required placeholder="Enter ShreesBalance"
              #ShreesBalanceCtrl="ngModel" (blur)="ShreesBalanceCtrl.control.markAsTouched()"
              (click)="selectAllValue($event)" />
            <div *ngIf="(ShreesBalanceCtrl.invalid && (ShreesBalanceCtrl.touched || ShreesBalanceCtrl.dirty))">
              <span class="validation-text" *ngIf="ShreesBalanceCtrl.errors?.['required']">{{RequiredFieldMsg}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;">
          <div>
            <label>Narration</label>
            <input type="text" [(ngModel)]="Entity.p.Narration" name="Narration" class="form-control" id="Narration"
              required placeholder="Enter Narration" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;" *ngIf="this.Entity.p.RecipientType == Sites">
          <label>Mode of Payment</label>
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" id="ModeOfPaymentForIncome" name="ModeOfPaymentForIncome" [nzSize]="'large'"
            [(ngModel)]="Entity.p.ModeOfPaymentForIncome" (ngModelChange)="OnToModeChange()">
            <nz-option *ngFor="let mode of ModeofPaymentList" [nzValue]="mode.Ref" [nzLabel]="mode.Name"></nz-option>
          </nz-select>
        </div>
        <div
          *ngIf="this.Entity.p.RecipientType == Sites && Entity.p.ModeOfPaymentForIncome != Cash && Entity.p.ModeOfPaymentForIncome"
          class="col-md-4 d-flex align-items-center justify-content-center" style="margin-top: 1rem">
          <div>
            <label for="IsNewBankCreated"><b>New Bank Created</b></label>
            <input type="checkbox" id="IsNewBankCreated" [(ngModel)]="Entity.p.IsNewBankCreated" name="IsNewBankCreated"
              class="form-check-input me-4 large-dark-checkbox" style="width: 20px; height: 20px; margin-left: 1rem" />
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;"
          *ngIf="Entity.p.ModeOfPaymentForIncome != Cash && Entity.p.ModeOfPaymentForIncome">
          <div *ngIf="Entity.p.IsNewBankCreated">
            <label>Bank Name</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="IncomeBankRef" name="IncomeBankRef" [nzSize]="'large'"
              [(ngModel)]="Entity.p.IncomeBankRef">
              <nz-option *ngFor="let bank of IncomeBankList" [nzValue]="bank.p.Ref" [nzLabel]="bank.p.Name"></nz-option>
            </nz-select>
          </div>
          <div *ngIf="!Entity.p.IsNewBankCreated">
            <label>Bank Name</label>
            <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
              nzPlaceHolder="Select" id="IncomeBankRef" name="IncomeBankRef" [nzSize]="'large'"
              [(ngModel)]="Entity.p.IncomeBankRef">
              <nz-option *ngFor="let bank of BankList" [nzValue]="bank.p.BankAccountRef"
                [nzLabel]="bank.p.BankName"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 1rem;" *ngIf="this.Entity.p.RecipientType == Sites">
          <div>
            <label>Reason</label>
            <input type="text" [(ngModel)]="Entity.p.ReasonForIncome" name="ReasonForIncome" class="form-control"
              id="ReasonForIncome" required placeholder="Enter Reason" />
          </div>
        </div>
        <div class="" style="margin-top: 1rem">
          <div class="d-flex align-items-center mb-2">
            <label for="IsAutoInvoiceEnabled"><b>Invoice Enabled</b></label>
            <input type="checkbox" id="IsAutoInvoiceEnabled" [(ngModel)]="Entity.p.IsAutoInvoiceEnabled"
              name="IsAutoInvoiceEnabled" class="form-check-input me-4 mb-2 large-dark-checkbox"
              style="width: 20px; height: 20px; margin-left: 1rem" />
          </div>
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top : 2rem">
        <div>
          <button type="submit" class="btn" (click)="SaveExpense()">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackExpense()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
