<div class="container-fluid">
  <div class="card-body">
    <div class="card" style="padding: 1rem">
      <form>
        <div class="row">
          <div class="col-md-4">
            <h5 class="title">User Master</h5>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
          <div class="col-md-6">
            <div>
              <label><b>User Name</b></label>
              <select  type="text" name="username" class="form-control" id="username" required>
                <option>--Select User--</option>
                <option>Tushar</option>
                </select>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label><b>Email Id</b></label>
              <input
                type="text"
                name="emailid"
                class="form-control"
                id="emailid"
                required
                placeholder="Enter Email Id"
              />
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
          <div class="col-md-6">
            <div>
              <label><b>Mobile No</b></label>
              <input
                type="text"
                name="mobno"
                class="form-control"
                id="mobno"
                required
                placeholder="Enter Mobile No"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label><b>Role</b></label>
              <select  type="text" name="role" class="form-control" id="role" required>
                <option>--Select Role--</option>
                <option>Admin</option>
                </select>
            </div>
          </div>
        </div>
        <div style="justify-content: center; display: flex; gap: 2rem;"   >
            <div>
              <button type="button" class="btn">Save</button>
            </div>
            <div>
              <button type="button" class="btn" routerLink="/homepage/dashboard">Back</button>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-container" style="margin-top: 2rem;">
    <nz-table #basicTable nzSize="small" class="no-hover-table" 
      Class="bgtable_light" [nzScroll]="{x:'auto' }"
      nzFrontPagination="false" [nzShowSizeChanger]="false">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td Class="tbldata">1</td>
          <td Class="tbldata">TUSHAR</td>
          <td Class="tbldata">tushar&#64;gmail.com</td>
          <td Class="tbldata">9527572020</td>
          <td Class="tbldata">ADMIN</td>
          <td class="tbldata">
            <span style="margin-left: 9px;">
              <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px"/>
              </span>
            <span style="margin-left: 9px;">
              <img
                src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
