<div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
      <h5 style="padding-top: 3px;" class="title title_light">Leave Approval</h5>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 search-container_light">
      <input type="text" Class="search-box_light" placeholder="Search..." (input)="filterTable()" autofocus
        [(ngModel)]="SearchString" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 mb-2 btn-container" routerLinkActive="active">
    </div>
    <div class="card-body" style="margin-left: 14px;">
      <form autocomplete="off">
        <div class="row">
          <div class="col-md-4">
            <label for="EmployeeRef"><b>Employee Name</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              [(ngModel)]="Entity.p.EmployeeRef" name="EmployeeRef" required id="EmployeeRef"
              (ngModelChange)="getLeaveApprovalListByEmployeeRef()">
              <nz-option *ngFor="let Employee of EmployeeList" [nzLabel]="Employee.p.Name"
                [nzValue]="Employee.p.Ref"></nz-option>
            </nz-select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-wrapper" class="tblcard_light" style="margin-top: 2rem" *ngIf="DisplayMasterList.length > 0">
    <div class="table-container">
      <nz-table #basicTable nzSize="small" class="no-hover-table bgtable_light" [nzData]="paginatedList()"
        [nzScroll]="{x:'auto' }" nzFrontPagination="false" [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th *ngFor="let header of headers" class="tblheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leaverequest of paginatedList(); index as i">
            <td Class="tbldata">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td Class="tbldata">{{leaverequest.p.LeaveRequestName}}</td>
            <td class="tbldata">{{ formatDate(leaverequest.p.FromDate) }}</td>
            <td Class="tbldata" nzTooltipTitle="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nemo aspernatur ab, suscipit odio natus illum ut perspiciatis magnam quo, amet error soluta accusantium dicta tenetur perferendis minus quam unde quia eius quae voluptatibus. Quas necessitatibus ex sunt, facere ipsum sapiente corporis voluptas repellat et consectetur, iure officiis! Expedita suscipit ut nulla quam distinctio deserunt sed nostrum asperiores, quos molestiae animi a dolores ipsa, laborum exercitationem omnis alias voluptatibus ducimus. Consequatur minima, architecto dolores debitis officiis, sed corrupti nisi sit esse modi, fuga excepturi veritatis ipsa libero. Veniam veritatis, maxime sint amet, qui, modi neque est dolores quis iste quae.
            " nzTooltipPlacement="top" nz-button nz-tooltip>{{leaverequest.p.Description}}</td>
            <td class="tbldata">{{ formatDate(leaverequest.p.ToDate) }}</td>
            <td Class="tbldata">{{leaverequest.p.Days}}</td>
            <td Class="tbldata">{{leaverequest.p.LeaveHours}}</td>
            <td Class="tbldata">
              <button class="status" [disabled]="isSaveDisabled" *ngIf="leaverequest.p.IsApproved == 0"
                (click)="handleApproval(leaverequest)" ngClass="pending">
                Pending
              </button>
              <button class="status" *ngIf="leaverequest.p.IsApproved == 1" ngClass="approved">
                Approved
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="fixed-pagination">
      <nz-pagination class="try light-theme" [nzPageSize]="pageSize" [nzTotal]="total" [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="onPageChange($event)" [nzShowSizeChanger]="false" [nzResponsive]="true">
      </nz-pagination>
    </div>
  </div>
  <div *ngIf="DisplayMasterList.length === 0" class="card-body_light">
    <div style="height: 200px" class="d-flex align-items-center justify-content-center">
      <span class="title_light"> Data Not Found</span>
    </div>
  </div>
