.status {
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid;
  display: inline-block;
  color: black;

  &.approved {
    border-color: green;
    background-color: #e6ffe6;
  }

  &.pending {
    border-color: red;
    background-color: #ffe6e6;
  }
}

.tooltip {
  position: relative;
  cursor: help;
  color: #333;
  font-family: Arial, sans-serif;
}

.tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 300px;
  background-color: #222;
  color: #fff;
  text-align: left;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  bottom: 125%; /* above the td */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  white-space: normal;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
