<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackSiteManagement()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Site Management</span>
      </div>
    </div>
    <form autocomplete="off">
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
          <label>Site Name</label>
          <input type="text" name="Name" class="form-control" id="Name" [(ngModel)]="Entity.p.Name" required
            placeholder="Enter Site Name" />
        </div>
        <div class="col-md-4">
          <label>AddressLine 1</label>
          <input type="text" name="AddressLine1" class="form-control" id="AddressLine1"
            [(ngModel)]="Entity.p.AddressLine1" required placeholder="Enter AddressLine 1" />
        </div>
        <div class="col-md-4">
          <label>AddressLine 2</label>
          <input type="text" name="AddressLine2" class="form-control" id="AddressLine2"
            [(ngModel)]="Entity.p.AddressLine2" required placeholder="Enter AddressLine 2" />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
          <label>PinCode</label>
          <input type="text" name="PinCode" class="form-control" id="PinCode" [(ngModel)]="Entity.p.PinCode" required
            placeholder="Enter PinCode" />
        </div>
        <div class="col-md-4">
          <div>
            <label for="CountryRef"><b>Country</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
              name="CountryRef" required id="CountryRef" [(ngModel)]="Entity.p.CountryRef"
              (ngModelChange)="getStateListByCountryRefforSite(Entity.p.CountryRef)">
              <nz-option *ngFor="let country of CountryListforSite" [nzLabel]="country.p.Name"
                [nzValue]="country.p.Ref"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="StateRef"><b>State</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="StateRef"
              name="StateRef" [nzSize]="'large'" [(ngModel)]="Entity.p.StateRef"
              (ngModelChange)="getCityListByStateRefforSite(Entity.p.StateRef)">
              <nz-option *ngFor="let state of StateListforSite" [nzValue]="state.p.Ref" [nzLabel]="state.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
          <div>
            <label for="CityRef"><b>City</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="CityRef"
              name="CityRef" [nzSize]="'large'" [(ngModel)]="Entity.p.CityRef">
              <nz-option *ngFor="let city of CityListforSite" [nzValue]="city.p.Ref" [nzLabel]="city.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="col-md-4">
          <label>Site Incharge</label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
            name="SiteInchargeRef" required id="SiteInchargeRef" [(ngModel)]="Entity.p.SiteInchargeRef">
            <nz-option *ngFor="let employee of EmployeeList" [nzLabel]="employee.p.Name"
              [nzValue]="employee.p.Ref"></nz-option>
          </nz-select>
        </div>
        <div class="col-md-4">
          <label>Starting Date</label>
          <input type="date" name="EstimatedStartingDate" class="form-control date-input" id="EstimatedStartingDate"
            [(ngModel)]="Entity.p.EstimatedStartingDate" required placeholder="Select Date" />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
          <label>Estimated End Date</label>
          <input type="date" name="EstimatedEndDate" class="form-control date-input" id="EstimatedEndDate"
            [(ngModel)]="Entity.p.EstimatedEndDate" required placeholder="Select Date" />
        </div>
        <div class="col-md-4">
          <label>Estimated Cost</label>
          <input type="number" name="EstimatedCost" class="form-control" id="EstimatedCost"
            [(ngModel)]="Entity.p.EstimatedCost" required placeholder="Enter Estimated Cost" />
        </div>
        <div class="col-md-4">
          <label for="TotalLandAreaInSqm">Total Land Area in Sqm</label>
          <input type="number" class="form-control" name="TotalLandAreaInSqm" id="TotalLandAreaInSqm"
            [(ngModel)]="Entity.p.TotalLandAreaInSqm" 
            (ngModelChange)="convertSqmToSqft()" 
            required placeholder="Enter Total Land Area in Sqm"/>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
    <label for="TotalLandAreaInSqft">Total Land Area in Sq ft</label>
    <input type="number" class="form-control" name="TotalLandAreaInSqft" id="TotalLandAreaInSqft"
      [(ngModel)]="Entity.p.TotalLandAreaInSqft" 
      (ngModelChange)="convertSqftToSqm()" 
      required placeholder="Enter Total Land Area in Sqft"/>
  </div>     
        <div class="col-md-4">
          <label>Number Of Plots</label>
          <input type="number" name="NumberOfPlots" class="form-control" id="NumberOfPlots"
            [(ngModel)]="Entity.p.NumberOfPlots" required placeholder="Enter Plot Number" />
        </div>
      </div>

      <div class="row" style="margin-top: 2rem; padding: 1rem">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
          <h5 style="padding-top: 3px; color: black">
            <b>Add Owner Details</b>
          </h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 btn-container"
        style="display: flex; justify-content: end" routerLinkActive="active">
        <nz-button nz-button class="btn1" (click)="isModalOpen2 = true">Add Owner</nz-button>
      </div>
        <!-- <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 btn-container"
          style="display: flex; justify-content: end" routerLinkActive="active">
          <nz-button nz-button class="btn1" (click)="addplotvalidation()">Add Plot</nz-button>
        </div> -->
      </div>

      <!-- <div class="table-container" style="margin-top: 2rem">
        <div class="row">
          <div class="col-12">
            <label class="TableHeading"> Plot Details Table</label>
          </div>
        </div>
        <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{ x: 'auto' }"
          nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.PlotDetailsList">
          <thead>
            <tr>
              <th *ngFor="let header of plotheaders" class="tblheadersecond">
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plot of Entity.p.PlotDetailsList; let i = index">
              <td Class="tbldata">{{ i}}</td>
              <td Class="tbldata">{{ plot.PlotNo }}</td>
              <td Class="tbldata">{{ plot.AreaInSqm }}</td>
              <td Class="tbldata">{{ plot.AreaInSqft }}</td>
              <td Class="tbldata">{{ plot.GovermentRatePerSqft}}</td>
              <td Class="tbldata">{{ plot.BasicRatePerSqm}}</td>
              <td Class="tbldata">
                <button class="btn btn-danger btn-sm" (click)="removePlot(i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div> -->

      <div class="table-container" style="margin-top: 2rem">
        <div class="row">
          <div class="col-12">
            <label class="TableHeading"> Owner Details Table</label>
          </div>
        </div>
        <nz-table #basicTable nzSize="small" class="no-hover-table" Class="bgtable_light" [nzScroll]="{ x: 'auto' }"
          nzFrontPagination="false" [nzShowSizeChanger]="false" [nzData]="Entity.p.SiteManagementOwnerDetails">
          <thead>
            <tr>
              <th *ngFor="let header of ownerheaders" class="tblheadersecond">
                {{header}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let owner of Entity.p.SiteManagementOwnerDetails; let i = index">
              <td Class="tbldata">{{ i + 1}}</td>
              <td Class="tbldata">{{ owner.Name }}</td>
              <td Class="tbldata">{{ owner.ContactNo }}</td>
              <td Class="tbldata">{{ owner.EmailId }}</td>
              <td Class="tbldata">{{ owner.Address}}</td>
              <!-- <td Class="tbldata">{{ owner.CityRef }}</td> -->
              <td Class="tbldata">{{ owner.PinCode }}</td>
              <td class="tbldata">
                <span style="margin-left: 9px;" (click) = "editowner(i)">
                  <img src="\assets\icons\edit.png" alt="logo" title="Edit" width="20px" height="20px" />
                </span>
                <span style="margin-left: 9px;"  (click)="removeowner(i);">
                  <img src="\assets\icons\delete.png" alt="logo" title="Delete" width="20px" height="20px" /></span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div style="
          justify-content: center;
          display: flex;
          gap: 2rem;
          margin-top: 2rem;
        ">
        <div>
          <nz-button nz-button class="btn1" (click)="SaveSite()">Save</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="BackSiteManagement()">
            Back
          </nz-button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div *ngIf="isModalOpen1" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>Add Plot</h5>
      <button type="button" class="btn-close" (click)="closeModal('plot')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Plot No.</label>
            <input type="text" name="PlotNo" class="form-control" [(ngModel)]="newPlot.PlotNo" required
              placeholder="Enter Plot No." />
          </div>
          <div class="col-md-6">
            <label>Area sq.m</label>
            <input type="number" name="AreaInSqm" class="form-control" [(ngModel)]="newPlot.AreaInSqm" required
              placeholder="Enter Area sq.m" />
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Area sq.ft</label>
            <input type="number" name="AreaInSqft" class="form-control" [(ngModel)]="newPlot.AreaInSqft" required
              placeholder="Enter Area sq.ft" />
          </div>
          <div class="col-md-6">
            <label>Goverment Rate Per Sqm </label>
            <input type="number" name="GovermentRatePerSqm" class="form-control"
              [(ngModel)]="newPlot.GovermentRatePerSqm" required placeholder="Enter Goverment Rate Per Sqm " />
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Goverment Rate Per Sqft </label>
            <input type="number" name="GovermentRatePerSqft" class="form-control"
              [(ngModel)]="newPlot.GovermentRatePerSqft" required placeholder="Enter Goverment Rate Per Sqft " />
          </div>
          <div class="col-md-6">
            <label>Basic Rate Per Sqm </label>
            <input type="number" name="BasicRatePerSqm" class="form-control" [(ngModel)]="newPlot.BasicRatePerSqm"
              required placeholder="Enter Basic Rate Per Sqm" />
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Basic Rate Per Sqft </label>
            <input type="number" name="BasicRatePerSqft" class="form-control" [(ngModel)]="newPlot.BasicRatePerSqft"
              required placeholder="Enter Basic Rate Per Sqft" />
          </div>
          <div class="col-md-6">
            <label>Booking Remark</label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="BookingRemark"
              name="BookingRemark" [nzSize]="'large'" [(ngModel)]="newPlot.BookingRemark">
              <nz-option *ngFor="let bookingremark of BookingRemarkList" [nzValue]="bookingremark.Ref"
                [nzLabel]="bookingremark.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Customer Name</label>
            <input type="text" name="CustomerName" class="form-control" [(ngModel)]="newPlot.CustomerName" required
              placeholder="Enter Customer Name" />
          </div>
          <div class="col-md-6">
            <label>Address</label>
            <input type="text" name="Address" class="form-control" [(ngModel)]="newPlot.Address" required
              placeholder="Enter Address" />
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Mobile No</label>
            <input type="text" name="MobNo" class="form-control" [(ngModel)]="newPlot.MobNo" required
              placeholder="Enter Mobile No" />
          </div>
          <div class="col-md-6">
            <label>Reference</label>
            <input type="text" name="Reference" class="form-control" [(ngModel)]="newPlot.Reference" required
              placeholder="Enter Reference" />
          </div>
        </div>
      </form>
    </div>
    <div class="custom-modal-footer">
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <nz-button nz-button class="btn1" (click)="addPlot()">Save</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('plot')">
            Close
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div *ngIf="isModalOpen2" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>Add Owner</h5>
      <button type="button" class="btn-close" (click)="closeModal('owner')"></button>
    </div>
    <div class="custom-modal-body">
      <form autocomplete="off">
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Name</label>
            <input type="text" name="Name" class="form-control" [(ngModel)]="newOwner.Name" required
              placeholder="Enter Name" />
          </div>
          <div class="col-md-6">
            <label>Contact Nos</label>
            <input type="text" name="ContactNo" class="form-control" [(ngModel)]="newOwner.ContactNo" required
              placeholder="Enter Contact No" />
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Email Id</label>
            <input type="text" name="EmailId" class="form-control" [(ngModel)]="newOwner.EmailId" required
              placeholder="Enter Email Id" />
          </div>
          <div class="col-md-6">
            <div>
              <label for="CountryRef"><b>Country</b></label>
              <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" [nzSize]="'large'"
                name="CountryRef" required id="CountryRef" [(ngModel)]="newOwner.CountryRef"
                (ngModelChange)="getStateListByCountryRefforOwner(newOwner.CountryRef)">
                <nz-option *ngFor="let country of CountryListforOwner" [nzLabel]="country.p.Name"
                  [nzValue]="country.p.Ref"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <div>
              <label for="StateRef"><b>State</b></label>
              <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="StateRef"
                name="StateRef" [nzSize]="'large'" [(ngModel)]="newOwner.StateRef"
                (ngModelChange)="getCityListByStateRefforOwner(newOwner.StateRef)">
                <nz-option *ngFor="let state of StateListforOwner" [nzValue]="state.p.Ref"
                  [nzLabel]="state.p.Name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="col-md-6">
            <label for="CityRef"><b>City</b></label>
            <nz-select class="nzSelect-light" nzShowSearch nzAllowClear nzPlaceHolder="Select" id="CityRef"
              name="CityRef" [nzSize]="'large'" [(ngModel)]="newOwner.CityRef">
              <nz-option *ngFor="let city of CityListforOwner" [nzValue]="city.p.Ref" [nzLabel]="city.p.Name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="row" style="margin-top: 1rem">
          <div class="col-md-6">
            <label>Address</label>
            <input type="text" name="Address" class="form-control" [(ngModel)]="newOwner.Address" required
              placeholder="Enter Address" />
          </div>
          <!-- <div class="col-md-6">
            <label>AddressLine 2</label>
            <input type="text" name="AddressLine2" class="form-control" [(ngModel)]="newOwner.AddressLine2" required
              placeholder="Enter AddressLine 2" />
          </div> -->
          <div class="col-md-6">
            <label>Pin Code</label>
            <input type="text" name="PinCode" class="form-control" [(ngModel)]="newOwner.PinCode" required
              placeholder="Enter Pin Code" />
          </div>
        </div>
          <!-- <div class="row" style="margin-top: 1rem">
            <div class="col-md-6">
              <label>Pin Code</label>
              <input type="text" name="PinCode" class="form-control" [(ngModel)]="newOwner.PinCode" required
                placeholder="Enter Pin Code" />
            </div>
          </div> -->
      </form>
    </div>
    <div class="custom-modal-footer">
      <!-- <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Close</button> -->
      <div style="justify-content: center; display: flex; gap: 2rem; margin-top: 2rem;">
        <div>
          <nz-button nz-button class="btn1" (click)="addOwner()">Save</nz-button>
        </div>
        <div>
          <nz-button nz-button class="btn1" (click)="closeModal('owner')">
            Close
          </nz-button>
        </div>
      </div>
    </div>
  </div>
</div>