<div class="card-body">
  <div class="card" style="padding: 1rem">
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-6 col-xs-6">
        <button type="button" class="backbtn" (click)="BackSiteManagement()">
          <img src="/assets/icons/arrow-button.png" alt="" width="34px" height="34px" />
        </button>
      </div>
      <div class="col-md-11">
        <span class="detail_title">Site Management</span>
      </div>
    </div>
    <form>
      <div class="row" style="margin-top: 1rem; ">
        <div class="col-md-4">
          <label>Site Name</label>
          <input type="text" name="sitename" class="form-control" id="sitename" required
            placeholder="Enter Site Name" />
        </div>
        <div class="col-md-4">
          <label>Site Address</label>
          <input type="text" name="SiteAddress" class="form-control" id="SiteAddress" required
            placeholder="Enter Site Address" />
        </div>
        <div class="col-md-4">
          <label>Site Incharge</label>
          <input type="text" name="SiteIncharge" class="form-control" id="SiteIncharge" required
            placeholder="Enter Site Incharge" />
        </div>
      </div>
      <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
        <div class="col-md-4">
          <label>Starting Date</label>
          <input type="date" name="startdate" class="form-control date-input" id="startdate" required
            placeholder="Select Date" />
        </div>
        <div class="col-md-4">
          <label>Estimated End Date</label>
          <input type="date" name="Enddate" class="form-control date-input" id="Enddate" required
            placeholder="Select Date" />
        </div>
        <div class="col-md-4">
          <label>Estimated Cost</label>
          <input type="text" name="EstimatedCost" class="form-control" id="EstimatedCost" required
            placeholder="Enter Estimated Cost" />
        </div>
      </div>
      <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="col-md-4">
          <label>Total Land Area</label>
          <input type="text" name="landarea" class="form-control" id="landarea" required
            placeholder="Enter Total Land Area" />
        </div>
        <div class="col-md-4">
          <label>Number Of Plot</label>
          <input type="number" name="plotnumber" class="form-control" id="plotnumber" required
            placeholder="Enter Plot Number" />
        </div>
      </div>
      <div style="justify-content: center; display: flex; gap: 2rem;">
        <div>
          <button type="button" class="btn">Save</button>
        </div>
        <div>
          <button type="button" class="btn" (click)="BackSiteManagement()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>