<div>
  <div class="card-container">
    <!-- Shree Balance -->
    <div class="balance-card shree">
      <h4>Shree Balance</h4>
      <h2>₹ 8,00,000</h2>
      <p>Cash Balance + Bank Balance</p>
    </div>

    <!-- Cash Balance -->
    <div class="balance-card cash">
      <h4>Cash Balance</h4>
      <h2>₹ 3,00,000</h2>
    </div>

    <!-- All Bank -->
    <div class="balance-card bank">
      <select>
        <option>All Bank</option>
        <option>HDFC Bank</option>
        <option>SBI Bank</option>
      </select>
      <h2>₹ 4,00,000</h2>
    </div>
  </div>

</div>
