<div>
  <ng-template #noDataTpl>
    <div style="text-align: center; color: rgba(0, 0, 0, 0.25);">
      No Data
    </div>
  </ng-template>
  <div class="card-container">
    <!-- Shree Balance -->
    <div class="balance-card shree">
      <h4>Shree Balance</h4>
      <h2><span>{{ shreeBalance | currency : "INR" }}</span></h2>
      <p>Cash Balance + Bank Balance</p>
    </div>

    <!-- Cash Balance -->
    <div class="balance-card cash">
      <h4>Cash Balance</h4>
      <h2><span>{{ cashBalance | currency : "INR" }}</span></h2>
    </div>

    <!-- All Bank -->
    <div class="bank-card bank">
      <div>
        <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear id="BankAccountRef"
          name="BankAccountRef" [nzSize]="'large'" [(ngModel)]="BankAccountRef"
          (ngModelChange)="getBankCurrentBalance()">
          <nz-option [nzValue]="0" [nzLabel]="'All Banks'">
          </nz-option>
          <nz-option *ngFor="let bank of BankList" [nzValue]="bank.p.BankAccountRef" [nzLabel]="bank.p.BankName">
          </nz-option>
        </nz-select>
      </div>

      <div class="center">
        <h2><span>{{ bankBalance | currency : "INR" }}</span></h2>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <!-- Card 1 -->
    <div class="chart-card">
      <div class="chart-header">
        <p>Income VS Expense <br>
          <span style="font-size: 13px;">{{this.TotalIncome | currency : "INR"}} VS {{this.TotalExpense | currency :
            "INR"}}</span>
        </p>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear id="BarSiteRef"
            name="BarSiteRef" [nzSize]="'large'" [(ngModel)]="BarSiteRef" (ngModelChange)="getDashboardStats()">
            <nz-option [nzValue]="0" [nzLabel]="'All Site'">
            </nz-option>
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name">
            </nz-option>
          </nz-select>
        </div>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear id="BarFilterType"
            name="BarFilterType" [nzSize]="'large'" [(ngModel)]="BarFilterType"
            (ngModelChange)="getDashboardStats()">
            <nz-option [nzValue]="57" [nzLabel]="'Weekly'"> </nz-option>
            <nz-option [nzValue]="63" [nzLabel]="'Monthly'"> </nz-option>
          </nz-select>
        </div>
        <div *ngIf="BarFilterType == 63" style="width: 20%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            id="SelectedBarMonths" name="SelectedBarMonths" [nzSize]="'large'" [(ngModel)]="SelectedBarMonths"
            (ngModelChange)="getDashboardStats()">
            <nz-option *ngFor="let SelectedBarMonths of MonthList" [nzValue]="SelectedBarMonths.Ref"
              [nzLabel]="SelectedBarMonths.Name">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <canvas id="barChart"></canvas>
    </div>

    <!-- Card 2 -->
    <div class="chart-card">
      <div class="chart-header">
        <p>Expense Breakdown</p>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            id="DoughnutSiteRef" name="DoughnutSiteRef" [nzSize]="'large'" [(ngModel)]="DoughnutSiteRef"
            (ngModelChange)="getDashboardStats()">
            <nz-option [nzValue]="0" [nzLabel]="'All Site'">
            </nz-option>
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name">
            </nz-option>
          </nz-select>
        </div>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear id="DoughnutMonth"
            name="DoughnutMonth" [nzSize]="'large'" [(ngModel)]="DoughnutFilterType" (ngModelChange)="getDashboardStats()">
            <nz-option [nzValue]="57" [nzLabel]="'Weekly'"> </nz-option>
            <nz-option [nzValue]="63" [nzLabel]="'Monthly'"> </nz-option>
          </nz-select>
        </div>
        <div *ngIf="DoughnutFilterType == 63" style="width: 20%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            id="SelectedDoughnutMonths" name="SelectedDoughnutMonths" [nzSize]="'large'"
            [(ngModel)]="SelectedDoughnutMonths"
            (ngModelChange)="getDashboardStats()">
            <nz-option *ngFor="let SelectedDoughnutMonths of MonthList" [nzValue]="SelectedDoughnutMonths.Ref"
              [nzLabel]="SelectedDoughnutMonths.Name">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <canvas id="doughnutChart" class="doughnut"></canvas>
    </div>
  </div>

  <div class="w-full my-4">
    <!-- CRM Funnel -->
    <div class="card border-brown p-3 mb-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="text-brown fw-bold mb-0">CRM Funnel</h5>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear id="CRMSiteRef"
            name="CRMSiteRef" [nzSize]="'large'" [(ngModel)]="CRMSiteRef"
            (ngModelChange)="getDashboardStats()">
            <nz-option [nzValue]="0" [nzLabel]="'All Site'">
            </nz-option>
            <nz-option *ngFor="let site of SiteList" [nzValue]="site.p.Ref" [nzLabel]="site.p.Name">
            </nz-option>
          </nz-select>
        </div>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear id="CRMFilterType"
            name="CRMFilterType" [nzSize]="'large'" [(ngModel)]="CRMFilterType"
            (ngModelChange)="getDashboardStats()">
            <nz-option [nzValue]="57" [nzLabel]="'Weekly'"> </nz-option>
            <nz-option [nzValue]="63" [nzLabel]="'Monthly'"> </nz-option>
          </nz-select>
        </div>
        <div *ngIf="CRMFilterType == 63" style="width: 20%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            id="SelectedCRMMonths" name="SelectedCRMMonths" [nzSize]="'large'" [(ngModel)]="SelectedCRMMonths"
            (ngModelChange)="getDashboardStats()">
            <nz-option *ngFor="let SelectedCRMMonths of MonthList" [nzValue]="SelectedCRMMonths.Ref"
              [nzLabel]="SelectedCRMMonths.Name">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3">
          <div class="inner-card border-brown p-3 rounded">
            <p class="fw-semibold mb-2">Total Enquiry</p>
            <h4 class="text-danger fw-bold">🏠 {{TotalEnquiries}}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inner-card border-brown p-3 rounded">
            <p class="fw-semibold mb-2">Total Plots</p>
            <h4 class="text-danger fw-bold">🏠 {{TotalNoOfPlots}}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inner-card border-brown p-3 rounded">
            <p class="fw-semibold mb-2">Sold Plots</p>
            <h4 class="text-danger fw-bold">🏠 {{TotalNoOfSoldPlots}}</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="inner-card border-brown p-3 rounded">
            <p class="fw-semibold mb-2">Revenue Generated</p>
            <h4 class="text-danger fw-bold"> {{TotalRevenueGenerated | currency : "INR" }}</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Bills Payable Summary -->
    <div class="card border-brown p-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="text-brown fw-bold mb-0">Bills Payable Summary</h5>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            nzPlaceHolder="Select" [nzSize]="'large'" name="SiteRef" [(ngModel)]="BillsPayableSiteRef" required
            id="SiteRef" (ngModelChange)="'getInvoiceSumExpenseSumListByCompanySiteMonthFilterType()';">
            <nz-option nzLabel="All Sites" [nzValue]="0"></nz-option>
            <nz-option *ngFor="let Site of SiteList" [nzValue]="Site.p.Ref" [nzLabel]="Site.p.Name"></nz-option>
          </nz-select>
        </div>
        <div style="width: 25%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            id="BillPayableFilterType" name="BillPayableFilterType" [nzSize]="'large'"
            [(ngModel)]="BillPayableFilterType"
            (ngModelChange)="'getInvoiceSumExpenseSumListByCompanySiteMonthFilterType()'">
            <nz-option [nzValue]="57" [nzLabel]="'Weekly'"> </nz-option>
            <nz-option [nzValue]="63" [nzLabel]="'Monthly'"> </nz-option>
          </nz-select>
        </div>
        <div *ngIf="BillPayableFilterType == 63" style="width: 20%;">
          <nz-select class="nzSelect-light" [nzNotFoundContent]="noDataTpl" nzShowSearch nzAllowClear
            id="SelectedBillPayableMonths" name="SelectedBillPayableMonths" [nzSize]="'large'"
            [(ngModel)]="SelectedBillPayableMonths"
            (ngModelChange)="'getInvoiceSumExpenseSumListByCompanySiteMonthFilterType()'">
            <nz-option *ngFor="let SelectedBillPayableMonths of MonthList" [nzValue]="SelectedBillPayableMonths.Ref"
              [nzLabel]="SelectedBillPayableMonths.Name">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table align-middle text-center">
          <thead class="table-light">
            <tr>
              <th>Sr. No.</th>
              <th>Vendor Name</th>
              <th>Site</th>
              <th>Bill Amount</th>
              <th>Given Amount</th>
            </tr>
          </thead>
          <tbody *ngIf="InvoiceSumExpenseSumList.length > 0">
            <tr *ngFor="let rec of InvoiceSumExpenseSumList; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ rec.p.SiteName }}</td>
              <td>{{ rec.p.RecipientName }}</td>
              <td> {{ rec.p.InvoiceAmount | currency : "INR" }}</td>
              <td> {{ rec.p.GivenAmount | currency : "INR" }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="InvoiceSumExpenseSumList.length === 0" class="card-body_light">
          <div style="height: 200px" class="d-flex align-items-center justify-content-center">
            <span class="title_light"> Data Not Found</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
